
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--M95 {
  align-items: center;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:812b37c2986dfa328a98286f86163931ca97cef3');
  padding: 0rem 2.9rem 0rem 3rem;
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-color: #5a808a;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;

  .auto-group-2krk-3nb {
    row-gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 15.7rem;
    height: 67rem;

    .shuttle-school-ygF {
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .shuttle-school-uZu {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
    }
    .shuttle-school-Es5 {
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
    }
    .shuttle-school-ag3 {
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
    }
    .shuttle-school-X5V {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-nbj3-rtT {
    width: 41.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 15.8rem 9.4rem 0rem;

    .img7800-3-zDy {
      height: 24.2rem;
      position: relative;
      background-size: 113.462% 195.041%;
      background-position: -2.6rem -8.4rem;
      background-image: url('REPLACE_IMAGE:e7683c88483c6275b00d506a51756bc80726d9aa');
      flex-shrink: 0;
      width: 41.6rem;
    }
    .auto-group-x2pm-Hym {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 0.8rem 0rem 0.8rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-nujj-E8K {
        margin: 0rem 6.8rem 3.5rem 9.2rem;
        width: calc(100% - 16rem);
        height: 8.3rem;
        position: relative;
        flex-shrink: 0;

        .item--ZAb {
          height: 4.5rem;
          position: absolute;
          font-size: 3.2rem;
          color: #e1ac38;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          width: 23.4rem;
          left: 0.6rem;
          top: 0;
          font-weight: 700;
          line-height: 1.3999999762;
        }
        .item--qto {
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          left: 0;
          line-height: 1.2575;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Helvetica Neue, 'Source Sans Pro';
          width: 23.8rem;
          height: 2.1rem;
          top: 4.3rem;
        }
        .item--6Jw {
          width: 18.4rem;
          top: 6.2rem;
          font-size: 1.6rem;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.1rem;
          position: absolute;
          left: 2.3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
        }
      }
      .item--Mkf {
        line-height: 1.3999999762;
        color: #ffffff;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 2.2rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .rectangle-343-rSX {
        width: 100%;
        height: 0.3rem;
        background-color: #e1ac38;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-b56j-bf1 {
    height: 67rem;
    row-gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .shuttle-school-jWK {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .shuttle-school-gAf {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .shuttle-school-cq1 {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
    }
    .shuttle-school-xts {
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
    }
    .shuttle-school-Jhq {
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
  }
}
