
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 558.5rem;
}.item--5QX {
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #a6a6a6;
  display: flex;
  box-sizing: border-box;
  padding: 13.6rem 26rem 94.7rem 13.6rem;
  width: 100%;
  position: relative;

  .screenshot-2023-07-04-at-1447-1-PRD {
    flex-shrink: 0;
    margin: 0rem 0rem 8.1rem 314.8rem;
    width: 61.7rem;
    height: 36.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .auto-group-kgvp-hB1 {
    column-gap: 4rem;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 148.3rem 3rem 0rem;
    display: flex;

    .screenshot-2023-07-04-at-1502-1-DQF {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.5rem;
      width: 77rem;
      height: 31.2rem;
      object-fit: cover;
    }
    .screenshot-2023-07-05-at-1440-1-jdV {
      margin-top: 1.5rem;
      width: 81.5rem;
      height: 33.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-07-06-at-1351-1-GdR {
      margin-top: 1.5rem;
      width: 66rem;
      height: 28.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-07-07-at-1333-1-odM {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.5rem;
      width: 71.8rem;
      height: 26.6rem;
    }
    .screenshot-2023-07-08-at-1323-1-k2o {
      vertical-align: top;
      flex-shrink: 0;
      width: 57.3rem;
      height: 31.4rem;
      object-fit: cover;
    }
  }
  .auto-group-k9up-fQf {
    margin: 0rem 0rem 16.2rem 334.6rem;
    display: flex;
    column-gap: 2.9rem;
    align-items: flex-start;
    flex-shrink: 0;

    .screenshot-2023-07-17-at-1517-1-bJK {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 57.9rem;
      height: 32.7rem;
    }
    .screenshot-2023-07-17-at-1553-1-8JF {
      width: 62.7rem;
      height: 33.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-07-17-at-1553-2-4Bu {
      width: 57.9rem;
      height: 26.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .screenshot-2023-07-25-at-1316-ag3 {
    margin: 0rem 0rem 17.8rem 334.3rem;
    width: 62.4rem;
    height: 33.2rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-deg3-hVm {
    margin: 0rem 0rem 6.5rem 81.5rem;
    height: 35.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-zm4f-EVh {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 4.1rem;
      height: 100%;

      .screenshot-2023-07-26-at-1358-1-yiB {
        flex-shrink: 0;
        margin-right: 5.8rem;
        width: 90.3rem;
        height: 32rem;
        object-fit: cover;
        vertical-align: top;
      }
      .screenshot-2023-07-27-at-1759-1-7ZV {
        margin-right: 2.3rem;
        width: 67.6rem;
        height: 34.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screenshot-2023-07-28-at-1336-1-r1H {
        margin-right: 4.1rem;
        width: 82.3rem;
        height: 33.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screenshot-2023-07-29-at-1208-1-aT5 {
        width: 57.8rem;
        height: 31.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .screenshot-2023-07-31-at-1427-2-i3V {
      margin-right: 3.3rem;
      width: 62rem;
      height: 35.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-07-31-at-1427-1-qP1 {
      height: 27.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 57.8rem;
    }
  }
  .screenshot-2023-08-01-at-1008-1-AgB {
    margin-right: 441.6rem;
    width: 77.3rem;
    height: 34.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
