
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 551.2rem;
}.item--8Mh {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #959595;
  box-sizing: border-box;
  padding: 21.4rem 13rem 21.4rem 15.5rem;
  width: 100%;
  overflow: hidden;

  .auto-group-grkh-cnf {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 3.5rem 6.5rem 0rem 0rem;
    row-gap: 18.1rem;
    align-items: flex-end;

    .auto-group-ph1u-jMV {
      line-height: 1.2125;
      white-space: nowrap;
      background-repeat: no-repeat;
      font-family: Inter, 'Source Sans Pro';
      background-size: 100% 100%;
      background-position: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 21.6rem 4.5rem 12.4rem 4.5rem;
      font-weight: 400;
      background-image: url('REPLACE_IMAGE:e8b1d30f42a78759271abcd97cd98386ee7483d0');
      width: 81.6rem;
      font-size: 1.2rem;
      color: #000000;
    }
    .screenshot-2023-11-14-at-1208-1-zHR {
      width: 81.5rem;
      height: 31.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1rem;
    }
    .screenshot-2023-11-21-at-1428-1-Jou {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 81.5rem;
      height: 35rem;
    }
    .screenshot-2023-11-28-at-1751-1-eMy {
      height: 36.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 82.1rem;
    }
  }
  .auto-group-s1oh-NHy {
    margin: 6.8rem 6rem 0rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screenshot-2023-11-08-at-1741-1-W9H {
      margin: 0rem 0.1rem 14.1rem 0rem;
      width: 88.7rem;
      height: 39.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-11-15-at-1315-1-RGF {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 11rem 0.2rem;
      width: 89rem;
      height: 38.4rem;
      object-fit: cover;
    }
    .screenshot-2023-11-22-at-1726-1-wEb {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 17rem 0.5rem;
      width: 89.3rem;
      height: 36.1rem;
      object-fit: cover;
    }
    .screenshot-2023-11-29-at-1147-1-TTq {
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 89.2rem;
      height: 39.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-x6jw-ywy {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 3.6rem 64.7rem 0rem;

    .screenshot-2023-11-02-at-1133-1-KW3 {
      flex-shrink: 0;
      margin: 0rem 1rem 30.5rem 0rem;
      width: 77.6rem;
      height: 37.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .screenshot-2023-11-09-at-1537-1-E7D {
      margin: 0rem 0.9rem 20rem 0rem;
      width: 77.7rem;
      height: 33.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-11-16-at-1158-1-YNo {
      margin: 0rem 0rem 13.4rem 0.4rem;
      width: 78.2rem;
      height: 36.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-11-23-at-1152-1-G3u {
      margin: 0rem 0rem 17.6rem 1rem;
      width: 78.4rem;
      height: 34.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-11-30-at-1629-1-aqH {
      height: 36.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.4rem;
      width: 78rem;
    }
  }
  .auto-group-xxm9-huu {
    margin: 0rem 5rem 58.3rem 0rem;
    width: 91.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-8flf-S6o {
      color: #000000;
      margin: 0rem 0rem 22.9rem 0.6rem;
      width: 90.5rem;
      line-height: 1.2125;
      background-size: 100% 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 37.6rem 24.4rem 5.9rem 24.4rem;
      white-space: nowrap;
      background-position: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      background-repeat: no-repeat;
      font-size: 1.2rem;
      background-image: url('REPLACE_IMAGE:89fc08ae8d2168c34b23eedc13e96c8e5240461d');
    }
    .auto-group-wqu3-bdu {
      box-sizing: border-box;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9735dd976cf809da839a2e22127a04c2bf0b6600');
      margin: 0rem 0.3rem 10.1rem 0.2rem;
      background-size: 100% 100%;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      background-repeat: no-repeat;
      padding: 23rem 3.6rem 19.3rem 3.6rem;
      width: calc(100% - 0.5rem);
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .screenshot-2023-11-17-at-1146-1-3ko {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 10.4rem 0.1rem;
      width: 91rem;
      height: 39.7rem;
      object-fit: cover;
    }
    .screenshot-2023-11-24-at-1531-1-mRu {
      height: 40rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 11.9rem 0rem;
      width: 90.8rem;
    }
    .auto-group-5n9y-H9M {
      margin-right: 0.5rem;
      background-size: 100% 100%;
      background-position: center;
      box-sizing: border-box;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 400;
      white-space: nowrap;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:a39f8d13069bac4020667824c8862a7539d7f709');
      padding: 41.3rem 46.4rem 0.4rem 26.2rem;
      color: #000000;
    }
  }
  .auto-group-qud1-MQ7 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 3.8rem 115.6rem 0rem;
    align-items: center;

    .screenshot-2023-11-04-at-1130-1-66o {
      width: 76.1rem;
      height: 34.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.7rem 32.7rem 0rem;
    }
    .screenshot-2023-11-11-at-1201-1-oG7 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 17.3rem 1.7rem;
      width: 76.3rem;
      height: 37rem;
    }
    .screenshot-2023-11-18-at-1224-1-uK9 {
      flex-shrink: 0;
      margin: 0rem 0.7rem 12.8rem 0rem;
      width: 76.1rem;
      height: 36.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .screenshot-2023-11-25-at-1350-1-RHV {
      margin-right: 1.3rem;
      width: 76.7rem;
      height: 38.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-5y9m-x2X {
    flex-shrink: 0;
    margin-bottom: 109.9rem;
    display: flex;
    flex-direction: column;

    .auto-group-bv87-twm {
      box-sizing: border-box;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:29cf01ae6e13b4f972116be0cfc6da3434b67e0c');
      flex-shrink: 0;
      margin: 0rem 0rem 23.9rem 0.5rem;
      padding: 4.472rem 1.542rem 4.472rem 70.434rem;
      height: 43.6rem;
      background-repeat: no-repeat;
      background-position: center;

      .vector-20-c75 {
        width: 2.3235rem;
        height: 1.9775rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-4fnb-KnB {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.009rem 2.702rem 5.009rem 70.529rem;
      height: 42rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:718dc46a56ec7cd4309567ba42a2e1d5aac6f0ac');
      margin-bottom: 11.7rem;
      background-repeat: no-repeat;
      background-position: center;

      .vector-19-r1R {
        width: 1.5693rem;
        height: 1.8399rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .screenshot-2023-11-20-at-1231-1-yLw {
      flex-shrink: 0;
      margin: 0rem 0rem 11rem 0.3rem;
      width: 74.8rem;
      height: 39rem;
      object-fit: cover;
      vertical-align: top;
    }
    .screenshot-2023-11-27-at-1209-1-HsR {
      height: 44.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 1.9rem;
      width: 75.4rem;
    }
  }
}
