
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 500.8rem;
}.item--8fu {
  padding: 52.1rem 51.6rem 96rem 41.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #a6a6a6;
  box-sizing: border-box;

  .auto-group-rvhz-qqD {
    flex-shrink: 0;
    margin: 0rem 5rem 2.5rem 0rem;
    display: flex;
    flex-direction: column;

    .screen-shot-2023-05-02-at-1327-1-mym {
      width: 62.2rem;
      height: 31.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 12.5rem;
    }
    .screenshot-2023-05-09-at-1810-1-WRZ {
      width: 61.9rem;
      height: 34.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 15.9rem;
    }
    .screenshot-2023-05-16-at-1333-1-EcT {
      margin: 0rem 0rem 18.8rem 0.2rem;
      width: 62rem;
      height: 26.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-05-23-at-1253-Z8w {
      flex-shrink: 0;
      margin: 0rem 0rem 6.9rem 0.2rem;
      width: 63.1rem;
      height: 37.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .screenshot-2023-05-30-at-1111-1-UWo {
      width: 62.3rem;
      height: 33.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.2rem;
    }
  }
  .auto-group-zb31-Cxb {
    flex-shrink: 0;
    margin-right: 6.4rem;
    width: 65.6rem;
    height: 220rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-d5d5-8bM {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 15.4rem;
      width: 100%;

      .screen-shot-2023-05-03-at-1207-1-gMy {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 14.6rem 0.4rem;
        width: 65rem;
        height: 29rem;
        object-fit: cover;
      }
      .screenshot-2023-05-10-at-1825-1-CbD {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 8.7rem 0.4rem;
        width: 65rem;
        height: 41.5rem;
        object-fit: cover;
      }
      .screenshot-2023-05-17-at-1354-1-vGK {
        height: 31.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 13.3rem 0rem;
        width: 65.5rem;
      }
      .screenshot-2023-05-24-at-1413-1-EXu {
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 64.5rem;
        height: 29.4rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .screenshot-2023-05-31-at-1231-1-9um {
      width: 65.6rem;
      height: 36.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-uz8f-tMZ {
    margin: 0rem 5.9rem 5.6rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-05-04-at-1308-1-d4F {
      margin: 0rem 0rem 10.6rem 0.1rem;
      width: 65.5rem;
      height: 33rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-bevp-LUT {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:1cd49d0c87e75c774e8f28298987f3f7de7766b2');
      flex-shrink: 0;
      margin: 0rem 0.6rem 18.1rem 0rem;
      box-sizing: border-box;
      background-repeat: no-repeat;
      padding: 24.7rem 15rem 6.8rem 15.1rem;
      color: #000000;
      white-space: nowrap;
      background-position: center;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .screenshot-2023-05-18-at-1416-1-b9V {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 12.6rem 0.1rem;
      width: 66.1rem;
      height: 30.9rem;
    }
    .screenshot-2023-05-25-at-1315-1-JZh {
      margin-bottom: 14.8rem;
      width: 65.6rem;
      height: 30.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-06-01-at-1206-1-SA7 {
      width: 65.8rem;
      height: 30.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.3rem;
    }
  }
  .auto-group-xbqx-ZVd {
    margin: 0rem 5.2rem 93.2rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-05-05-at-1254-1-uJb {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 7.2rem 0.1rem;
      width: 62.6rem;
      height: 37.4rem;
      object-fit: cover;
    }
    .screenshot-2023-05-12-at-1248-1-Dq5 {
      width: 62rem;
      height: 31rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 18.2rem;
    }
    .screenshot-2023-05-19-at-1515-1-LPu {
      height: 33rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.7rem;
      width: 62.2rem;
    }
  }
  .auto-group-ghym-qbZ {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 6.6rem 46rem 0rem;
    display: flex;

    .screen-shot-2023-05-06-at-1242-1-ZnT {
      margin: 0rem 0rem 9.4rem 1.2rem;
      width: 57.1rem;
      height: 35.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .screenshot-2023-05-13-at-1233-1-UPd {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 21.4rem 0.4rem;
      width: 56.7rem;
      height: 27.8rem;
      object-fit: cover;
    }
    .screenshot-2023-05-20-at-1345-ahZ {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 11.1rem;
      width: 57.1rem;
      height: 33.3rem;
      object-fit: cover;
    }
    .screenshot-2023-05-27-at-1154-1-i35 {
      width: 57.2rem;
      height: 35.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-1qyb-Sjm {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 51.7rem;
    width: 62.3rem;
    align-items: center;

    .auto-group-q8dh-BhM {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 15.2rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .screenshot-2023-05-08-at-1342-1-vuq {
        width: 62rem;
        height: 32.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 12.4rem;
      }
      .screenshot-2023-05-15-at-1224-1-4WF {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 17rem;
        width: 62.2rem;
        height: 32.2rem;
        object-fit: cover;
      }
      .screenshot-2023-05-22-at-1906-zeo {
        width: 61.9rem;
        height: 30.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .screenshot-2023-05-29-at-1348-1-vHZ {
      width: 62.3rem;
      height: 28.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
