
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--hiB {
  padding: 0rem 2.9rem 0rem 3rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:812b37c2986dfa328a98286f86163931ca97cef3');
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #edecea;

  .auto-group-yzmm-CQ3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-kqd5-M23 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 16.8rem;
      row-gap: 1rem;
      align-items: center;

      .shuttle-school-V8F {
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
      }
      .shuttle-school-pAX {
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
      }
      .shuttle-school-9yV {
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
    }
    .auto-group-pkl3-tw5 {
      height: 39.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 17rem 0rem 0rem;
      width: 39.3rem;

      .item--1ko {
        color: #5a808a;
        font-family: Exo, 'Source Sans Pro';
        position: absolute;
        height: 4.5rem;
        left: 10rem;
        top: 27.9rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.3999999762;
        white-space: nowrap;
        width: 23.4rem;
      }
      .item--HiK {
        line-height: 1.2575;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        width: 23.8rem;
        height: 2.1rem;
        top: 32.9rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        position: absolute;
        left: 8.9rem;
      }
      .item--kbu {
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-size: 1.6rem;
        font-weight: 400;
        top: 34.8rem;
        width: 18.4rem;
        height: 2.1rem;
        left: 11.2rem;
      }
      .img7803-1-Ri3 {
        height: 39.3rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 39.3rem;
      }
    }
    .auto-group-r5dd-xxs {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      row-gap: 1rem;

      .shuttle-school-iBM {
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
      }
      .shuttle-school-St3 {
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .shuttle-school-nh1 {
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-ihzb-8F5 {
    margin-bottom: 1rem;
    width: 100%;
    height: 12.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .shuttle-school-5AK {
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .auto-group-2y6k-r4b {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 16.5rem;
      height: 100%;
      display: flex;

      .auto-group-pepd-PaK {
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.6rem 16.6rem 4.2rem 0rem;
        width: 40rem;
        height: calc(100% - 7.8rem);
        align-items: flex-end;
        display: flex;

        .item--VtF {
          flex-shrink: 0;
          margin-right: 1.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-343-bAb {
          width: 100%;
          height: 0.3rem;
          background-color: #d69393;
          flex-shrink: 0;
        }
      }
      .shuttle-school-wVM {
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-bfe3-GXd {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .shuttle-school-EDZ {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 73.1rem;
      max-width: 2.6rem;
    }
    .shuttle-school-A7D {
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
  }
}
