
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--qLo {
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edecea;

  .auto-group-padr-ubZ {
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    width: 100%;
    display: flex;
    align-items: flex-start;

    .item--Edq {
      background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
      flex-shrink: 0;
      margin: 0.05rem 8.4rem 0rem 0rem;
      width: 24.4rem;
      height: 15rem;
      position: relative;
      background-size: 117.213% 190.667%;
      background-position: -2rem -5rem;
    }
    .auto-group-xyqf-UYB {
      margin: 0.05rem 22.5rem 0rem 0rem;
      height: 16.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--BxP {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
      }
      .rectangle-310-gu9 {
        width: 9.2rem;
        height: 0.2rem;
        background-color: #5a808a;
        flex-shrink: 0;
      }
      .item--E9y {
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--jcX {
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--Fas {
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
      }
      .item--xkB {
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .auto-group-139d-5po {
      margin: 0.05rem 26.4rem 0rem 0rem;
      width: 16.1rem;
      flex-shrink: 0;

      .item--CeX {
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
      }
      .rectangle-336-ism {
        background-color: #5a808a;
        margin-bottom: 0.4rem;
        width: 100%;
        height: 0.2rem;
      }
      .item-38-097-000-79-96-ryy {
        font-weight: 400;
        display: flex;
        font-size: 1.8rem;
        line-height: 1.3999999364;
        color: #1b1b1b;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        margin-bottom: 1.1rem;

        .item-38-097-000-79-96-ryy-sub-0 {
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
        }
        .item-38-097-000-79-96-ryy-sub-1 {
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
        }
      }
      .auto-group-dlur-bCo {
        width: 13.7rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-c44j-vks {
      width: 20rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--H5d {
        background-color: #ff9bab;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 2.45rem;
        white-space: nowrap;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        width: 100%;
        height: 5rem;
        font-weight: 400;
        display: flex;
      }
      .item--iAw {
        align-items: center;
        display: flex;
        padding: 1.4rem 1rem 1.3rem 1.2rem;
        width: 100%;
        height: 5rem;
        border: solid 0.1rem #000000;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-xa7m-PXy {
          margin-right: 0.3891rem;
          width: 14.8109rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item--vXu {
            font-size: 1.8rem;
            color: #000000;
            line-height: 1.2575;
            font-family: Helvetica Neue, 'Source Sans Pro';
            width: 13.8rem;
            height: 2.3rem;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 400;
            white-space: nowrap;
          }
          .vector-CkK {
            top: 0.9rem;
            background-color: #ff5f00;
            width: 0.5rem;
            height: 0.8rem;
            position: absolute;
            left: 13.8109rem;
          }
          .vector-8ts {
            position: absolute;
            left: 13.2109rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
          }
          .vector-Tw9 {
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
            position: absolute;
            left: 14.0109rem;
          }
        }
        .vector-QLb {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3rem;
          width: 2.6rem;
          height: 0.8rem;
        }
      }
    }
  }
  .auto-group-aopw-6UK {
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 8.3rem;
    display: flex;

    .applepay-S2P {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
    }
    .googlepay-kYs {
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
    }
    .monopay-Ujm {
      height: 2.4rem;
      display: flex;
      background-color: #000000;
      flex-shrink: 0;
      border-radius: 0.3rem;
      margin-right: 1.2rem;
      box-sizing: border-box;
      padding: 0.6rem 0.2rem 0.7rem 0.3rem;
      align-items: center;

      .auto-group-chek-nEf {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 2.5rem;

        .rectangle-312-vbm {
          left: 0;
          top: 0.1rem;
          background-color: #ffffff;
          border-radius: 0.3rem;
          width: 2.5rem;
          height: 1rem;
          position: absolute;
        }
        .mono-3wH {
          top: 0;
          font-size: 0.8rem;
          font-weight: 600;
          width: 2.2rem;
          height: 1rem;
          left: 0.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .pay-Yt3 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .mastercard-TVD {
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
    }
    .visa-apj {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 9.1rem;
      width: 3.6rem;
      height: 2.4rem;
    }
    .item--iR9 {
      font-weight: 400;
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      font-size: 1.6rem;
    }
  }
  .rectangle-298-dY7 {
    width: 100%;
    height: 0.2rem;
    background-color: #5a808a;
    flex-shrink: 0;
    margin-bottom: 2.4rem;
  }
  .item--muD {
    flex-shrink: 0;
    margin: 0rem 8.8rem 0rem 11.1rem;
    width: calc(100% - 19.9rem);
    display: flex;
    align-items: center;

    .item--U2w {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 26.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .item--Ne7 {
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.7rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .item--sKy {
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
