
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--vsD {
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edecea;

  .auto-group-5pnf-R3H {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    width: 100%;

    .item--Z9V {
      flex-shrink: 0;
      margin: 0.05rem 8.4rem 0rem 0rem;
      width: 24.4rem;
      height: 15rem;
      position: relative;
      background-size: 117.213% 190.667%;
      background-position: -2rem -5rem;
      background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
    }
    .auto-group-9ctd-1XH {
      flex-shrink: 0;
      margin: 0.05rem 22.5rem 0rem 0rem;
      height: 16.4rem;
      display: flex;
      flex-direction: column;

      .item--iRh {
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.3999999762;
      }
      .rectangle-310-pjd {
        width: 9.2rem;
        height: 0.2rem;
        background-color: #5a808a;
        flex-shrink: 0;
      }
      .item--MzT {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
      }
      .item--gWw {
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .item--PRM {
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .item--WF5 {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
      }
    }
    .auto-group-trct-ozs {
      flex-shrink: 0;
      margin: 0.05rem 26.4rem 0rem 0rem;
      width: 16.1rem;

      .item--Lju {
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.3999999762;
      }
      .rectangle-336-fXH {
        width: 100%;
        height: 0.2rem;
        background-color: #5a808a;
        margin-bottom: 0.4rem;
      }
      .item-38-097-000-79-96-PiB {
        font-size: 1.8rem;
        font-weight: 400;
        color: #1b1b1b;
        align-items: baseline;
        margin-bottom: 1.1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        line-height: 1.3999999364;

        .item-38-097-000-79-96-PiB-sub-0 {
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
          color: #000000;
        }
        .item-38-097-000-79-96-PiB-sub-1 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
      }
      .auto-group-nxco-yZu {
        object-fit: contain;
        vertical-align: top;
        width: 13.7rem;
        height: 3rem;
        position: relative;
      }
    }
    .auto-group-fbtz-uyM {
      width: 20rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--Tjy {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.2575;
        display: flex;
        align-items: center;
        margin-bottom: 2.45rem;
        justify-content: center;
        flex-shrink: 0;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ff9bab;
        height: 5rem;
        font-weight: 400;
        color: #000000;
        border-radius: 0.5rem;
      }
      .item--VwZ {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 1rem 1.3rem 1.2rem;
        border-radius: 0.5rem;
        align-items: center;
        border: solid 0.1rem #000000;

        .auto-group-ftxt-ybq {
          position: relative;
          flex-shrink: 0;
          margin-right: 0.3891rem;
          width: 14.8109rem;
          height: 100%;

          .item--X7Z {
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            width: 13.8rem;
            height: 2.3rem;
            font-size: 1.8rem;
          }
          .vector-CjV {
            height: 0.8rem;
            position: absolute;
            left: 13.8109rem;
            top: 0.9rem;
            background-color: #ff5f00;
            width: 0.5rem;
          }
          .vector-N1h {
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
            position: absolute;
            left: 13.2109rem;
            top: 0.8rem;
          }
          .vector-u1d {
            left: 14.0109rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
            position: absolute;
          }
        }
        .vector-Epb {
          height: 0.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3rem;
          width: 2.6rem;
        }
      }
    }
  }
  .auto-group-xzsk-wU7 {
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 8.3rem;
    display: flex;

    .applepay-gRh {
      margin-right: 1.2rem;
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .googlepay-Cew {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
    }
    .monopay-vL3 {
      padding: 0.6rem 0.2rem 0.7rem 0.3rem;
      align-items: center;
      border-radius: 0.3rem;
      margin-right: 1.2rem;
      box-sizing: border-box;
      background-color: #000000;
      flex-shrink: 0;
      height: 2.4rem;
      display: flex;

      .auto-group-hqpq-2dy {
        margin-right: 0.1rem;
        width: 2.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-312-AkB {
          width: 2.5rem;
          height: 1rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #ffffff;
          border-radius: 0.3rem;
        }
        .mono-HZu {
          width: 2.2rem;
          height: 1rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 0.2rem;
          top: 0;
          font-size: 0.8rem;
          font-weight: 600;
          white-space: nowrap;
        }
      }
      .pay-o2T {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .mastercard-739 {
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
    }
    .visa-SbD {
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 9.1rem;
    }
    .item--aSX {
      flex-shrink: 0;
      margin-top: 0.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .rectangle-298-Hrj {
    height: 0.2rem;
    background-color: #5a808a;
    flex-shrink: 0;
    margin-bottom: 2.4rem;
    width: 100%;
  }
  .item--Emy {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 8.8rem 0rem 11.1rem;
    width: calc(100% - 19.9rem);

    .item--L4K {
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 26.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
    }
    .item--2xj {
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.7rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
    }
    .item--LCj {
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
    }
  }
}
