
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--K8X {
  height: 219.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .item--EmH {
    width: 24.4rem;
    height: 15rem;
    position: relative;
    left: 8.3rem;
    top: 24.1rem;
    background-size: 117.213% 190.667%;
    background-position: -2rem -5rem;
    background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
  }
  .item--JWF {
    background-position: -0rem -2.9rem;
    background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
    width: 20rem;
    height: 11.8rem;
    position: relative;
    left: 8.3rem;
    top: 8.5rem;
    background-size: 100% 169.492%;
  }
  .auto-group-k6om-nRR {
    align-items: center;
    width: 22.9rem;
    height: 2.4rem;
    position: absolute;
    left: 8.3rem;
    top: 44.3rem;
    display: flex;
    column-gap: 1rem;

    .applepay-J8s {
      vertical-align: top;
      flex-shrink: 0;
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
    }
    .googlepay-3MM {
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .monopay-a6P {
      padding: 0.6rem 0.2rem 0.7rem 0.3rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #000000;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-yjrj-6aX {
        margin-right: 0.1rem;
        width: 2.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-312-Egj {
          width: 2.5rem;
          height: 1rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #ffffff;
          border-radius: 0.3rem;
        }
        .mono-y8X {
          left: 0.2rem;
          top: 0;
          white-space: nowrap;
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 2.2rem;
          height: 1rem;
          position: absolute;
        }
      }
      .pay-sUo {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .mastercard-PT9 {
      width: 3.6rem;
      height: 2.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .visa-vxs {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 3.6rem;
      height: 2.4rem;
    }
  }
  .auto-group-e4u1-UDh {
    left: 9rem;
    top: 56.7rem;
    display: flex;
    align-items: center;
    width: 19.5rem;
    height: 7rem;
    position: absolute;

    .face-1-bp7 {
      margin-right: 5.5rem;
      box-sizing: border-box;
      padding: 1.1rem 1.158rem 0.3rem 1.3rem;
      height: 100%;
      background-color: #d9ae4f;
      border-radius: 3.5rem;
      flex-shrink: 0;

      .face-LFu {
        width: 4.5422rem;
        height: 5.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .face-5-foy {
      vertical-align: top;
      flex-shrink: 0;
      width: 7rem;
      height: 7rem;
      position: relative;
      object-fit: contain;
    }
  }
  .auto-group-cna7-ovB {
    top: 67.5rem;
    display: flex;
    align-items: center;
    width: 19.5rem;
    height: 7.1rem;
    position: absolute;
    left: 9rem;

    .face-2-Ycs {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 5.5rem 0.1rem 0rem;
      width: 7rem;
      height: 7rem;
    }
    .face-6-gUB {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 7rem;
      height: 7rem;
      position: relative;
    }
  }
  .auto-group-4fyv-paP {
    left: 8.6rem;
    top: 89.1rem;
    display: flex;
    align-items: center;
    width: 19.9rem;
    height: 7rem;
    position: absolute;

    .face-4-kU3 {
      margin-right: 5.9rem;
      width: 7rem;
      height: 7rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .face-9-u63 {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 7rem;
      height: 7rem;
    }
  }
  .auto-group-57sh-rX5 {
    top: 78.3rem;
    display: flex;
    align-items: center;
    width: 19.5rem;
    height: 7.1rem;
    position: absolute;
    left: 9rem;

    .face-3-nfd {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 5.5rem 0.1rem 0rem;
      width: 7rem;
      height: 7rem;
    }
    .face-7-v19 {
      width: 7rem;
      height: 7rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1rem;
    }
  }
  .face-8-eSw {
    position: absolute;
    left: 8.6rem;
    top: 99.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 7rem;
    height: 7rem;
  }
}
