
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--e8K {
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #edecea;
  box-sizing: border-box;

  .item--uK9 {
    flex-shrink: 0;
    margin-right: 9rem;
    width: 20rem;
    height: 11.8rem;
    position: relative;
    background-size: 100% 169.492%;
    background-position: -0rem -2.9rem;
    background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
  }
  .item--9jH {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.5rem 3.3rem 0rem 0rem;
  }
  .item--F1d {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.5rem 3.7rem 0rem 0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
  }
  .item--MaT {
    flex-shrink: 0;
    margin: 0.5rem 8.1rem 0rem 0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-vtym-4zf {
    margin: 0.2rem 5.5rem 0rem 0rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item-38-097-000-79-96-QHq {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #1b1b1b;
      margin: 0rem 0.6rem 0.8rem 0rem;
      align-items: baseline;

      .item-38-097-000-79-96-QHq-sub-0 {
        font-weight: 400;
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .item-38-097-000-79-96-QHq-sub-1 {
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
      }
    }
    .auto-group-qpcx-NXV {
      width: 13.7rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .item--Vc7 {
    height: 5rem;
    display: flex;
    border: solid 0.1rem #000000;
    margin-right: 1.8rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    flex-shrink: 0;
    padding: 1.4rem 1rem 1.3rem 1.2rem;
    align-items: center;

    .auto-group-31p1-y1V {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.3891rem;
      width: 14.8109rem;

      .item--ufq {
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        white-space: nowrap;
        font-size: 1.8rem;
        font-family: Helvetica Neue, 'Source Sans Pro';
        width: 13.8rem;
        height: 2.3rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .vector-nzX {
        position: absolute;
        left: 13.8109rem;
        top: 0.9rem;
        background-color: #ff5f00;
        width: 0.5rem;
        height: 0.8rem;
      }
      .vector-KjZ {
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 13.2109rem;
        top: 0.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-emq {
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 14.0109rem;
        top: 0.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .vector-zKu {
      width: 2.6rem;
      height: 0.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.3rem;
    }
  }
  .item--tw5 {
    margin-bottom: 0.1rem;
    width: 20rem;
    line-height: 1.2575;
    white-space: nowrap;
    background-color: #ff9bab;
    height: 5rem;
    font-family: Helvetica Neue, 'Source Sans Pro';
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 0.5rem;
  }
}
