
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--6dq {
  width: 100%;
  height: 219.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item--9s1 {
    position: absolute;
    display: flex;
    border-radius: 0.5rem;
    padding: 1.4rem 1rem 1.3rem 1.2rem;
    width: 20rem;
    left: 6.9rem;
    top: 20.5rem;
    align-items: center;
    border: solid 0.1rem #1b1b1b;
    box-sizing: border-box;
    height: 5rem;

    .auto-group-4ms1-bDD {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.3891rem;
      width: 14.8109rem;

      .item--Wb5 {
        font-size: 1.8rem;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.8rem;
        height: 2.3rem;
        left: 0;
        line-height: 1.2575;
        color: #1b1b1b;
        position: absolute;
        top: 0;
        font-weight: 400;
      }
      .vector-aqq {
        top: 0.9rem;
        background-color: #ff5f00;
        width: 0.5rem;
        height: 0.8rem;
        position: absolute;
        left: 13.8109rem;
      }
      .vector-WUb {
        vertical-align: top;
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 13.2109rem;
        top: 0.8rem;
        object-fit: contain;
      }
      .vector-FSB {
        object-fit: contain;
        vertical-align: top;
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 14.0109rem;
        top: 0.8rem;
      }
    }
    .vector-Bqd {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.3rem;
      width: 2.6rem;
      height: 0.8rem;
      object-fit: contain;
    }
  }
  .item--VLX {
    left: 72rem;
    top: 20.5rem;
    align-items: center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 20rem;
    position: absolute;
    border: solid 0.1rem #1b1b1b;
    background-color: #dee6e8;
    padding: 1.4rem 1rem 1.3rem 1.2rem;
    height: 5rem;
    display: flex;

    .auto-group-gdj1-wyD {
      width: 14.8109rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.3891rem;

      .item--HnB {
        height: 2.3rem;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
        white-space: nowrap;
        width: 13.8rem;
        line-height: 1.2575;
        color: #1b1b1b;
        font-family: Helvetica Neue, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .vector-xtK {
        top: 0.9rem;
        background-color: #ff5f00;
        width: 0.5rem;
        height: 0.8rem;
        position: absolute;
        left: 13.8109rem;
      }
      .vector-tX5 {
        left: 13.2109rem;
        top: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.8rem;
        height: 1rem;
        position: absolute;
      }
      .vector-1rb {
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 14.0109rem;
        top: 0.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .vector-wVM {
      margin-top: 0.3rem;
      width: 2.6rem;
      height: 0.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .gmail-qqd {
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 7rem;
    top: 96rem;
    object-fit: contain;
    vertical-align: top;
  }
  .gmail-ZWj {
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 17.8rem;
    top: 96rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--HSj {
    top: 90.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 7rem;
  }
  .item--PEs {
    object-fit: contain;
    vertical-align: top;
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 17.8rem;
    top: 90.1rem;
  }
  .item--gzf {
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 85.6rem;
    top: 51.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--P8P {
    width: 20rem;
    top: 9.9rem;
    line-height: 1.2575;
    white-space: nowrap;
    height: 5rem;
    left: 6.9rem;
    font-size: 1.8rem;
    color: #000000;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    font-weight: 400;
    font-family: Helvetica Neue, 'Source Sans Pro';
    justify-content: center;
    background-color: #ff9bab;
  }
  .item--1fZ {
    position: absolute;
    justify-content: center;
    white-space: nowrap;
    width: 20rem;
    left: 72rem;
    top: 9.9rem;
    font-family: Helvetica Neue, 'Source Sans Pro';
    height: 5rem;
    font-size: 1.8rem;
    align-items: center;
    background-color: #f4657c;
    border-radius: 0.5rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    display: flex;
  }
  .item--T1m {
    width: 45rem;
    position: absolute;
    top: 31.1rem;
    color: #1b1b1b;
    display: flex;
    font-weight: 400;
    align-items: center;
    border-radius: 0.5rem;
    height: 8rem;
    left: 6.9rem;
    font-size: 2.4rem;
    background-color: #ff9bab;
    line-height: 1.2575;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
  }
  .item--FiK {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    top: 31.1rem;
    font-weight: 400;
    font-family: Helvetica Neue, 'Source Sans Pro';
    line-height: 1.2575;
    white-space: nowrap;
    justify-content: center;
    height: 8rem;
    font-size: 2.4rem;
    color: #1b1b1b;
    background-color: #f4657c;
    width: 45rem;
    position: absolute;
    left: 72rem;
  }
  .auto-group-zubm-TZV {
    display: flex;
    align-items: center;
    width: 105.8rem;
    height: 13rem;
    position: absolute;
    left: 6.9rem;
    top: 44.7rem;

    .item--BVV {
      white-space: nowrap;
      justify-content: center;
      width: 40.7rem;
      font-size: 3rem;
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      height: 100%;
      color: #ffffff;
      background-color: #5a808a;
      margin-right: 24.4rem;
      line-height: 1.2575;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .item--pYT {
      font-weight: 400;
      color: #ffffff;
      align-items: center;
      border-radius: 0.5rem;
      width: 40.7rem;
      line-height: 1.2575;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      background-color: #305e6a;
      height: 100%;
      font-size: 3rem;
      display: flex;
      flex-shrink: 0;
    }
  }
  .auto-group-bbym-G9Z {
    width: 111rem;
    height: 4rem;
    position: absolute;
    left: 6.9rem;
    top: 2.5rem;
    display: flex;
    align-items: center;

    .normal-BnK {
      flex-shrink: 0;
      margin-right: 54.7rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .hover--vE7 {
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.33;
    }
  }
  .auto-group-cwr3-deK {
    height: 1.9rem;
    position: absolute;
    left: 6.9rem;
    top: 78.4rem;
    display: flex;
    align-items: center;
    width: 14.7rem;

    .normal-yCP {
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
    }
    .hover-heB {
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
    }
  }
  .normal-Ee7 {
    width: 4.9rem;
    position: absolute;
    left: 6.9rem;
    top: 105.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    height: 1.9rem;
    line-height: 1.33;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .normal-wYX {
    width: 4.9rem;
    height: 1.9rem;
    position: absolute;
    left: 8rem;
    font-size: 1.4rem;
    font-weight: 400;
    top: 180.1rem;
    line-height: 1.33;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .normal-r9h {
    line-height: 1.33;
    color: #000000;
    width: 4.9rem;
    height: 1.9rem;
    position: absolute;
    left: 7rem;
    top: 129.5rem;
    font-weight: 400;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: Exo, 'Source Sans Pro';
  }
  .auto-group-mevz-9eb {
    top: 154.6rem;
    display: flex;
    align-items: center;
    width: 47.5rem;
    height: 1.9rem;
    position: absolute;
    left: 7.1rem;

    .normal-geX {
      line-height: 1.33;
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 38.8rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .hover-2TV {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .hover-NXM {
    position: absolute;
    line-height: 1.33;
    color: #000000;
    white-space: nowrap;
    width: 3.8rem;
    height: 1.9rem;
    left: 7rem;
    top: 115.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Exo, 'Source Sans Pro';
  }
  .hover-h3q {
    width: 3.8rem;
    position: absolute;
    left: 8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    height: 1.9rem;
    top: 191.1rem;
    line-height: 1.33;
    white-space: nowrap;
  }
  .hover-1aK {
    left: 7rem;
    line-height: 1.33;
    color: #000000;
    white-space: nowrap;
    width: 3.8rem;
    position: absolute;
    top: 139.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Exo, 'Source Sans Pro';
    height: 1.9rem;
  }
  .item--wD5 {
    background-color: #d9ae4f;
    width: 25rem;
    position: absolute;
    line-height: 1.3999999364;
    white-space: nowrap;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    border-radius: 0.5rem;
    left: 6.9rem;
    top: 63.3rem;
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 5.5rem;
    justify-content: center;
  }
  .item--nDh {
    width: 25rem;
    height: 5.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    background-color: #cd961c;
    position: absolute;
    left: 72rem;
    top: 63.3rem;
    line-height: 1.3999999364;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    display: flex;
  }
  .item--SJF {
    width: 128rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 107.4rem;

    .item--Y6P {
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;

      .group-41-fRu {
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        font-family: Helvetica Neue, 'Source Sans Pro';
        background-color: #ff9bab;
        border-radius: 0.5rem;
        width: 100%;
        color: #000000;
        justify-content: center;
      }
    }
  }
  .item--kTM {
    top: 117.2rem;
    background-color: #ffbfca;
    width: 128rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;

    .item--rWP {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;

      .group-41-BYf {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        background-color: #f4657c;
        height: 100%;
        white-space: nowrap;
        display: flex;
        border-radius: 0.5rem;
      }
    }
  }
  .item--sgP {
    left: 6.9rem;
    top: 131.4rem;
    background-color: #ff9bab;
    border-radius: 0.5rem;
    width: 30rem;
    height: 5.5rem;
    position: absolute;

    .item--ZZD {
      position: absolute;
      left: 3.5rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      height: 2.6rem;
      top: 1.5rem;
      font-size: 1.8rem;
      white-space: nowrap;
      width: 21.6rem;
    }
    .flat-color-icons-google-oyM {
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      left: 23.67rem;
      top: 1.55rem;
    }
  }
  .item--KB1 {
    border-radius: 0.5rem;
    width: 30rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 141.2rem;
    background-color: #f4657c;

    .item--zH9 {
      height: 2.6rem;
      line-height: 1.3999999364;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      width: 21.6rem;
      position: absolute;
      left: 3.5rem;
      top: 1.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .flat-color-icons-google-esV {
      left: 23.67rem;
      top: 1.55rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
    }
  }
  .auto-group-kmes-N2o {
    display: flex;
    align-items: center;
    width: 84.5rem;
    height: 20rem;
    position: absolute;
    left: 7rem;
    top: 156.5rem;

    .item-150--tWw {
      border-radius: 0.5rem;
      margin-right: 3.1rem;
      box-sizing: border-box;
      width: 40.7rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #edecea;
      flex-shrink: 0;
      padding: 3.6rem 9.8rem 3.7rem 11.2rem;
      align-items: center;
      border: solid 0.3rem #5a808a;

      .item--aPm {
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
      }
      .auto-group-3srr-TCf {
        width: 18.3rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 1.4rem;

        .zoom-ygo {
          font-size: 1.2rem;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.9rem;
          position: absolute;
          top: 5.3rem;
          font-weight: 400;
          height: 1.6rem;
          left: 3.4rem;
        }
        .item-150--5Uw {
          height: 5.4rem;
          left: 0;
          top: 0;
          white-space: nowrap;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          width: 18.3rem;
          position: absolute;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.33;
        }
      }
      .item-1--msZ {
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.5rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .item-150--rPD {
      width: 40.7rem;
      align-items: center;
      display: flex;
      border: solid 0.3rem #5a808a;
      background-color: #dee6e8;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.6rem 9.8rem 3.7rem 11.2rem;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
      height: 100%;
      flex-direction: column;

      .item--A91 {
        margin-right: 0.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-fkbd-FgF {
        width: 18.3rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 1.4rem;

        .zoom-nRH {
          position: absolute;
          font-size: 1.2rem;
          font-weight: 400;
          top: 5.3rem;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.9rem;
          height: 1.6rem;
          left: 3.4rem;
        }
        .item-150--gmZ {
          height: 5.4rem;
          left: 0;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          width: 18.3rem;
          position: absolute;
          top: 0;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.33;
          white-space: nowrap;
        }
      }
      .item-1--o5V {
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
      }
    }
  }
  .item--TA3 {
    height: 5.5rem;
    top: 193rem;
    justify-content: center;
    position: absolute;
    white-space: nowrap;
    display: flex;
    border-radius: 0.5rem;
    width: 128rem;
    left: 8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    align-items: center;
    background-color: #f4657c;
  }
  .item--VMd {
    font-weight: 400;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 128rem;
    top: 182rem;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    left: 8rem;
    line-height: 1.3999999364;
    position: absolute;
    display: flex;
    background-color: #ff9bab;
    height: 5.5rem;
    font-size: 1.8rem;
  }
}
