
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--LkT {
  box-sizing: border-box;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0rem 2.9rem 0rem 3rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:812b37c2986dfa328a98286f86163931ca97cef3');
  background-color: #5a808a;

  .auto-group-uq1d-F6j {
    row-gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 15.7rem;
    height: 67rem;

    .shuttle-school-aPu {
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
    }
    .shuttle-school-7Pq {
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
    }
    .shuttle-school-eef {
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
    }
    .shuttle-school-zTd {
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
    }
    .shuttle-school-YEF {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-ija7-gLT {
    margin: 0rem 15.8rem 9.4rem 0rem;
    width: 41.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .img7800-3-1Nj {
      width: 41.6rem;
      height: 24.2rem;
      position: relative;
      background-size: 113.462% 195.041%;
      background-position: -2.6rem -8.4rem;
      background-image: url('REPLACE_IMAGE:e7683c88483c6275b00d506a51756bc80726d9aa');
      flex-shrink: 0;
    }
    .auto-group-awty-ucX {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 0.8rem 0rem 0.8rem;

      .auto-group-ndh5-S6f {
        width: calc(100% - 16rem);
        height: 8.3rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 6.8rem 3.5rem 9.2rem;

        .item--xKu {
          width: 23.4rem;
          height: 4.5rem;
          position: absolute;
          color: #e1ac38;
          white-space: nowrap;
          left: 0.6rem;
          top: 0;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.3999999762;
          font-family: Exo, 'Source Sans Pro';
        }
        .item--EoD {
          height: 2.1rem;
          position: absolute;
          line-height: 1.2575;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          width: 23.8rem;
          left: 0;
          top: 4.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: #ffffff;
        }
        .item--JHH {
          width: 18.4rem;
          position: absolute;
          left: 2.3rem;
          top: 6.2rem;
          font-weight: 400;
          white-space: nowrap;
          height: 2.1rem;
          font-size: 1.6rem;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
      }
      .item--Ljm {
        font-weight: 400;
        line-height: 1.3999999762;
        color: #ffffff;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 2.2rem;
        font-size: 3.2rem;
      }
      .rectangle-343-SXu {
        width: 100%;
        height: 0.3rem;
        background-color: #e1ac38;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-tamq-PCF {
    height: 67rem;
    row-gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .shuttle-school-KLo {
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
    }
    .shuttle-school-Thu {
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
    }
    .shuttle-school-QNF {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .shuttle-school-jvK {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .shuttle-school-gqZ {
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #e1ac38;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
  }
}
