
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--PTH {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #edecea;
  padding: 0rem 2.9rem 0rem 3rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-image: url('REPLACE_IMAGE:812b37c2986dfa328a98286f86163931ca97cef3');
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  background-size: 100% 100%;

  .auto-group-gpt9-5qu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-xswd-ETu {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 16.8rem;
      row-gap: 1rem;

      .shuttle-school-aGs {
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .shuttle-school-Hwy {
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .shuttle-school-EMR {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
      }
    }
    .auto-group-vack-Zeb {
      flex-shrink: 0;
      margin: 1.2rem 17rem 0rem 0rem;
      width: 39.3rem;
      height: 39.3rem;
      position: relative;

      .item--68j {
        font-family: Exo, 'Source Sans Pro';
        position: absolute;
        left: 10rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.3999999762;
        color: #5a808a;
        width: 23.4rem;
        height: 4.5rem;
        top: 27.9rem;
        white-space: nowrap;
      }
      .item--BAB {
        position: absolute;
        left: 8.9rem;
        top: 32.9rem;
        font-size: 1.6rem;
        line-height: 1.2575;
        font-family: Helvetica Neue, 'Source Sans Pro';
        width: 23.8rem;
        height: 2.1rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .item--3CP {
        left: 11.2rem;
        top: 34.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        width: 18.4rem;
        height: 2.1rem;
        position: absolute;
        line-height: 1.2575;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .img7803-1-JPD {
        width: 39.3rem;
        height: 39.3rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-fhcf-q8F {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      row-gap: 1rem;
      align-items: center;

      .shuttle-school-ykF {
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .shuttle-school-6K5 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
      }
      .shuttle-school-2Td {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 2.6rem;
      }
    }
  }
  .auto-group-ujrw-tEw {
    flex-shrink: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 12.6rem;
    display: flex;
    align-items: center;

    .shuttle-school-DHD {
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-gbfq-xEo {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 16.5rem;
      height: 100%;
      display: flex;
      align-items: center;

      .auto-group-tsy9-W1R {
        margin: 3.6rem 16.6rem 4.2rem 0rem;
        width: 40rem;
        height: calc(100% - 7.8rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--DRd {
          line-height: 1.3999999762;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 2.2rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .rectangle-343-vL3 {
          background-color: #d69393;
          flex-shrink: 0;
          width: 100%;
          height: 0.3rem;
        }
      }
      .shuttle-school-sWB {
        max-width: 2.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-csyf-bwy {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .shuttle-school-mLf {
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 73.1rem;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
    }
    .shuttle-school-V1m {
      flex-shrink: 0;
      max-width: 2.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #5a808a;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
  }
}
