
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-02-xzo {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item--6bD {
    width: 95.2rem;
    position: absolute;
    left: 9.2rem;
    color: #91730a;
    font-family: Allan, 'Source Sans Pro';
    height: 5.1rem;
    top: 65.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3999999364;
  }
  .item--WYT {
    font-family: Allan, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.4rem;
    left: 9.2rem;
    top: 60.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #91730a;
    width: 31.6rem;
    position: absolute;
    line-height: 1.3999999364;
  }
  .head-html-Zmd {
    color: #000000;
    font-family: Allan, 'Source Sans Pro';
    line-height: 1.3999999364;
    width: 46.6rem;
    height: 2.6rem;
    position: absolute;
    left: 13.6rem;
    top: 50rem;
    font-size: 1.8rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .open-sans-Ecs {
    line-height: 1.3999999364;
    font-family: Allan, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 46.1rem;
    font-weight: 400;
    font-size: 1.8rem;
    color: #000000;
    width: 37.3rem;
    height: 2.6rem;
    left: 13.6rem;
  }
  .google-web-fonts-typekit-google--uyu {
    width: 96.2rem;
    position: absolute;
    left: 9.7rem;
    top: 37.8rem;
    font-weight: 400;
    font-family: Allan, 'Source Sans Pro';
    height: 5.1rem;
    font-size: 1.8rem;
    line-height: 1.3999999364;
    color: #000000;
  }
  .item-02-d2j {
    width: 28.7rem;
    height: 40.4rem;
    left: 118.2rem;
    top: 0;
    font-size: 28.8rem;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #f4c54d;
    font-family: Amatica SC, 'Source Sans Pro';
  }
  .item--LSw {
    width: 48.5rem;
    top: 8.4rem;
    font-size: 6.4rem;
    line-height: 1.3999999762;
    height: 44.8rem;
    position: absolute;
    left: 56.7rem;
    font-weight: 700;
    color: #000000;
    font-family: Amatic SC, 'Source Sans Pro';
  }
  .item--NuR {
    height: 2.6rem;
    left: 13.6rem;
    line-height: 1.3999999364;
    color: #000000;
    font-family: Allan, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.9rem;
    position: absolute;
    top: 54.5rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .arial-calibri-trebuchet-etc--3kf {
    width: 96.1rem;
    height: 10.1rem;
    position: absolute;
    left: 8.7rem;
    font-weight: 400;
    font-family: Allan, 'Source Sans Pro';
    top: 74.3rem;
    font-size: 1.8rem;
    line-height: 1.3999999364;
    color: #000000;
  }
  .linked-path-group-N4B {
    top: 0;
    display: flex;
    align-items: center;
    width: 47.8748rem;
    height: 40.888rem;
    position: absolute;
    left: 0;

    .auto-group-rd8f-VPh {
      margin: 25.185rem 0.045rem 0rem 0rem;
      width: 13.6123rem;
      height: 15.7031rem;
      position: relative;
      flex-shrink: 0;

      .copy--yZm {
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        top: 13.7031rem;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 1rem;
        position: absolute;
        left: 0;
      }
      .copy--zDy {
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        top: 13.1275rem;
        font-size: 1.4rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        left: 0;
      }
      .copy--e3d {
        white-space: nowrap;
        width: 0.9rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        top: 12.5837rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        height: 2rem;
        position: absolute;
        left: 0;
      }
      .copy--tTm {
        left: 0;
        top: 11.9086rem;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--9Ph {
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 11.2695rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        width: 1rem;
        height: 2rem;
        display: flex;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--Csm {
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        top: 10.6626rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--sDD {
        white-space: nowrap;
        height: 2rem;
        left: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        position: absolute;
        top: 9.9875rem;
        font-size: 1.4rem;
        color: #000000;
      }
      .copy--8Q3 {
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        left: 0;
        color: #000000;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        top: 9.4119rem;
      }
      .copy--C91 {
        left: 0;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 2rem;
        top: 8.8367rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 1rem;
      }
      .copy--4S7 {
        height: 2rem;
        left: 0;
        top: 8.0663rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 1.2rem;
        position: absolute;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--j2T {
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 0;
        top: 7.3954rem;
        display: flex;
        line-height: 1.4000000272;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--b4f {
        position: absolute;
        left: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        top: 6.3396rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        width: 1.3rem;
      }
      .copy--f4X {
        top: 5.5063rem;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        left: 0;
      }
      .copy--X6j {
        top: 4.8672rem;
        font-weight: 400;
        line-height: 1.4000000272;
        left: 0;
        height: 2rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1rem;
      }
      .copy--aao {
        left: 0;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 2rem;
        top: 4.0967rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        width: 1.2rem;
      }
      .copy--eKm {
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        top: 3.458rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        color: #000000;
        position: absolute;
        left: 0.3303rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .copy--JfD {
        white-space: nowrap;
        width: 1.2rem;
        position: absolute;
        left: 0.783rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        top: 2.8186rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
      }
      .copy--mHu {
        height: 2rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        left: 1.7934rem;
        top: 1.7945rem;
        display: flex;
      }
      .copy--2Uj {
        left: 2.4531rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        top: 1.1517rem;
        display: flex;
        font-size: 1.4rem;
        white-space: nowrap;
      }
      .copy--V7R {
        height: 2rem;
        left: 2.9197rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 0.9rem;
        position: absolute;
        top: 0.6079rem;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--MQX {
        display: flex;
        color: #000000;
        white-space: nowrap;
        width: 1rem;
        top: 0;
        left: 3.4449rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
      }
    }
    .auto-group-pet5-Dhd {
      position: relative;
      flex-shrink: 0;
      margin: 20.867rem 0.023rem 14.219rem 0rem;
      width: 12.258rem;
      height: calc(100% - 35.0861rem);

      .copy--WRq {
        width: 1rem;
        position: absolute;
        left: 0;
        top: 3.8019rem;
        font-weight: 400;
        line-height: 1.4000000272;
        height: 2rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--aAo {
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        top: 3.5339rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        height: 2rem;
        left: 0.8676rem;
        font-weight: 400;
        color: #000000;
      }
      .copy--paw {
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        left: 1.6404rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 3.2652rem;
        display: flex;
        color: #000000;
      }
      .copy--5mm {
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        display: flex;
        font-weight: 400;
        color: #000000;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 2.4873rem;
        top: 3.0198rem;
      }
      .copy--jrK {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        left: 3.1441rem;
        top: 2.773rem;
        white-space: nowrap;
        height: 2rem;
      }
      .copy--znF {
        color: #000000;
        width: 1.2rem;
        top: 2.4747rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 3.9607rem;
      }
      .copy--e67 {
        left: 5.0602rem;
        top: 2.162rem;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        display: flex;
      }
      .copy--5SK {
        top: 1.7366rem;
        font-weight: 400;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1.3rem;
        left: 6.1215rem;
      }
      .copy--L7M {
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-size: 1.4rem;
        height: 2rem;
        position: absolute;
        left: 7.3596rem;
        top: 1.3941rem;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
      }
      .copy--yg7 {
        top: 1.1035rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 1rem;
        position: absolute;
        left: 8.2482rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
      }
      .copy--Ro1 {
        top: 0.8052rem;
        display: flex;
        font-weight: 400;
        position: absolute;
        left: 9.0646rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.2rem;
        height: 2rem;
      }
      .copy--fhM {
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        display: flex;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        left: 10.1432rem;
        top: 0.5143rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--ivX {
        width: 1.2rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 10.8416rem;
        top: 0.2232rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
    }
    .auto-group-ny7y-B3R {
      flex-shrink: 0;
      margin: 19.122rem 0.061rem 18.237rem 0rem;
      width: 5.5711rem;
      height: calc(100% - 37.3591rem);
      position: relative;

      .copy--HMM {
        height: 2rem;
        position: absolute;
        top: 1.5289rem;
        display: flex;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1rem;
        left: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .copy--YHH {
        height: 2rem;
        display: flex;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 0.8469rem;
        top: 1.2827rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--C6w {
        position: absolute;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        left: 1.483rem;
        top: 1.0585rem;
      }
      .copy--Fb1 {
        white-space: nowrap;
        width: 1rem;
        height: 2rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        left: 2.2557rem;
        top: 0.7906rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--uQf {
        font-weight: 400;
        color: #000000;
        width: 1rem;
        height: 2rem;
        font-size: 1.4rem;
        display: flex;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 3.1441rem;
        top: 0.5rem;
      }
      .copy--Zk7 {
        height: 2rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 4.0119rem;
        top: 0.2312rem;
      }
      .copy--RGX {
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 4.6711rem;
        font-size: 1.4rem;
        color: #000000;
        height: 2rem;
        top: 0;
        display: flex;
        font-weight: 400;
      }
    }
    .auto-group-wxoh-Tyu {
      margin-bottom: 20.0491rem;
      width: 16.3047rem;
      height: 20.8389rem;
      position: relative;
      flex-shrink: 0;

      .copy--N5H {
        height: 2rem;
        top: 16.39rem;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        position: absolute;
        left: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--owH {
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        position: absolute;
        left: 0.6568rem;
        top: 16.1441rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--ctj {
        font-size: 1.4rem;
        white-space: nowrap;
        position: absolute;
        left: 1.4734rem;
        top: 15.8458rem;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1.2rem;
        height: 2rem;
      }
      .copy--fs1 {
        height: 2rem;
        position: absolute;
        left: 2.4592rem;
        top: 15.5698rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
      }
      .copy--KRm {
        left: 3.6342rem;
        top: 15.1076rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1.3rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        position: absolute;
        display: flex;
      }
      .copy--yWK {
        white-space: nowrap;
        width: 0.9rem;
        left: 4.8723rem;
        top: 14.7644rem;
        display: flex;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--2jV {
        color: #000000;
        width: 1rem;
        height: 2rem;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        left: 5.7609rem;
        top: 14.4737rem;
        display: flex;
      }
      .copy--5hm {
        height: 2rem;
        position: absolute;
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 1.2rem;
        left: 6.0467rem;
        top: 13.8032rem;
        display: flex;
        font-weight: 400;
      }
      .copy--Xpf {
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 6.6141rem;
        top: 13.0011rem;
        display: flex;
        white-space: nowrap;
      }
      .copy--b3q {
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 1.2rem;
        left: 6.9803rem;
        font-size: 1.4rem;
        display: flex;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        top: 12.1985rem;
      }
      .copy--SaF {
        width: 1rem;
        top: 10.9943rem;
        font-family: Actor, 'Source Sans Pro';
        line-height: 1.4000000272;
        color: #000000;
        height: 2rem;
        position: absolute;
        left: 7.7311rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .copy--W4K {
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        position: absolute;
        top: 10.3519rem;
        left: 8.1551rem;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
      }
      .copy--Aef {
        height: 2rem;
        left: 8.5266rem;
        top: 9.6704rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        width: 0.9rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
      }
      .copy--Rab {
        font-weight: 400;
        color: #000000;
        width: 1rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        left: 8.9449rem;
        top: 8.9076rem;
      }
      .copy--5v3 {
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        top: 8.185rem;
        display: flex;
        white-space: nowrap;
        position: absolute;
        left: 9.3654rem;
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .copy--Lb5 {
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        left: 9.834rem;
        top: 7.4227rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        display: flex;
      }
      .copy--zQj {
        height: 2rem;
        left: 10.2521rem;
        display: flex;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        top: 6.6608rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
      }
      .copy--qgF {
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 10.6762rem;
        top: 6.0183rem;
        font-size: 1.4rem;
        height: 2rem;
        display: flex;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--gB5 {
        white-space: nowrap;
        height: 2rem;
        left: 11.0461rem;
        top: 5.2959rem;
        display: flex;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .copy--8Hy {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.2rem;
        left: 11.5092rem;
        top: 4.4134rem;
        display: flex;
        height: 2rem;
        position: absolute;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--BX9 {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        top: 3.6501rem;
        height: 2rem;
        position: absolute;
        left: 12.0285rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
      }
      .copy--de3 {
        height: 2rem;
        position: absolute;
        top: 2.3269rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 1.3rem;
        white-space: nowrap;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        left: 12.6729rem;
      }
      .copy--Gwu {
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        left: 13.2873rem;
        top: 1.4436rem;
        color: #000000;
      }
      .copy--vmZ {
        left: 13.7541rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        position: absolute;
        top: 0.6412rem;
        display: flex;
        font-weight: 400;
        white-space: nowrap;
      }
      .copy--zWX {
        left: 14.2174rem;
        top: 0;
        display: flex;
        line-height: 1.4000000272;
        height: 2rem;
        position: absolute;
        font-weight: 400;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.2rem;
        font-size: 1.4rem;
      }
      .copy--T9D {
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        white-space: nowrap;
        left: 14.7848rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--7Uf {
        white-space: nowrap;
        width: 1.2rem;
        height: 2rem;
        top: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        position: absolute;
        left: 15.1047rem;
        font-family: Actor, 'Source Sans Pro';
      }
    }
  }
  .blue-ellipses-BDd {
    width: 19.6rem;
    height: 56.9rem;
    position: absolute;
    left: 9.6rem;
    top: 0;

    .ellipse-12-WWo {
      border-radius: 8.5rem;
      margin: 0rem 0rem 29.3rem 2.6rem;
      width: 17rem;
      height: 17rem;
      background-color: rgba(173, 183, 212, 0.6800000072);
    }
    .ellipse-9-d5d {
      object-fit: contain;
      vertical-align: top;
      margin-bottom: 2rem;
      width: 2.3rem;
      height: 2.2rem;
    }
    .ellipse-10-LVq {
      margin-bottom: 2rem;
      width: 2.3rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-11-5iK {
      width: 2.3rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .linked-path-group-2tT {
    height: 40.888rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 47.8748rem;

    .auto-group-enyj-ZtP {
      margin: 25.185rem 0.045rem 0rem 0rem;
      width: 13.6123rem;
      height: 15.7031rem;
      position: relative;
      flex-shrink: 0;

      .copy--4aF {
        width: 1rem;
        height: 2rem;
        top: 13.7031rem;
        display: flex;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        left: 0;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--JzP {
        position: absolute;
        top: 13.1275rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        left: 0.1301rem;
        display: flex;
      }
      .copy--AWo {
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        display: flex;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        left: 0.5967rem;
        top: 12.5837rem;
        font-size: 1.4rem;
      }
      .copy--RSj {
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 1rem;
        height: 2rem;
        position: absolute;
        font-family: Actor, 'Source Sans Pro';
        left: 1.1842rem;
        top: 11.9086rem;
        font-weight: 400;
      }
      .copy--5nB {
        left: 1.7723rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        white-space: nowrap;
        display: flex;
        width: 1rem;
        top: 11.2695rem;
      }
      .copy--wZV {
        position: absolute;
        left: 2.365rem;
        top: 10.6626rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        width: 0.9rem;
        height: 2rem;
        white-space: nowrap;
        font-family: Actor, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .copy--QT5 {
        height: 2rem;
        position: absolute;
        top: 9.9875rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        left: 2.9525rem;
      }
      .copy--TgF {
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        left: 3.55rem;
        font-family: Actor, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        height: 2rem;
        top: 9.4119rem;
        display: flex;
        font-size: 1.4rem;
      }
      .copy--81h {
        left: 4.0119rem;
        top: 8.8367rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        display: flex;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 1rem;
      }
      .copy--Zco {
        width: 1.2rem;
        position: absolute;
        height: 2rem;
        left: 4.6531rem;
        top: 8.0663rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--2FV {
        position: absolute;
        left: 5.3721rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        top: 7.3954rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
      }
      .copy--5jZ {
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.3rem;
        height: 2rem;
        top: 6.3396rem;
        font-weight: 400;
        color: #000000;
        position: absolute;
        left: 6.1746rem;
        display: flex;
        font-size: 1.4rem;
      }
      .copy--8xj {
        width: 0.9rem;
        top: 5.5063rem;
        display: flex;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 7.0773rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--CBu {
        white-space: nowrap;
        height: 2rem;
        display: flex;
        font-weight: 400;
        top: 4.8672rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        left: 7.6656rem;
      }
      .copy--2Rq {
        font-family: Actor, 'Source Sans Pro';
        width: 1.2rem;
        position: absolute;
        left: 8.3066rem;
        top: 4.0967rem;
        display: flex;
        font-weight: 400;
        height: 2rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--sxF {
        top: 3.458rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        left: 9.0303rem;
        height: 2rem;
        position: absolute;
        display: flex;
        font-weight: 400;
        color: #000000;
        width: 0.9rem;
      }
      .copy--X1D {
        height: 2rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        width: 1.2rem;
        position: absolute;
        left: 9.483rem;
        top: 2.8186rem;
        display: flex;
      }
      .copy--aEP {
        left: 10.4934rem;
        top: 1.7945rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        width: 1rem;
        height: 2rem;
        position: absolute;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        line-height: 1.4000000272;
        white-space: nowrap;
      }
      .copy--RVu {
        color: #000000;
        position: absolute;
        left: 11.1531rem;
        top: 1.1517rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        white-space: nowrap;
      }
      .copy--TxP {
        width: 0.9rem;
        position: absolute;
        left: 11.6197rem;
        top: 0.6079rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .copy--XBZ {
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        left: 12.1449rem;
        top: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
      }
    }
    .auto-group-hbk1-BG7 {
      height: calc(100% - 35.0861rem);
      position: relative;
      flex-shrink: 0;
      margin: 20.867rem 0.023rem 14.219rem 0rem;
      width: 12.258rem;

      .copy--sej {
        height: 2rem;
        top: 3.8019rem;
        display: flex;
        white-space: nowrap;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        left: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--8af {
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 0.8676rem;
        top: 3.5339rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--yrB {
        width: 0.9rem;
        height: 2rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 1.6404rem;
        top: 3.2652rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--dvj {
        left: 2.4873rem;
        top: 3.0198rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        width: 0.9rem;
        height: 2rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-weight: 400;
      }
      .copy--hfh {
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 1rem;
        position: absolute;
        left: 3.1441rem;
        top: 2.773rem;
        font-size: 1.4rem;
        font-weight: 400;
        height: 2rem;
        display: flex;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--A3V {
        top: 2.4747rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1.2rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        height: 2rem;
        left: 3.9607rem;
      }
      .copy--2Lb {
        white-space: nowrap;
        position: absolute;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        width: 0.9rem;
        height: 2rem;
        left: 5.0602rem;
        top: 2.162rem;
      }
      .copy--tdh {
        width: 1.3rem;
        position: absolute;
        display: flex;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        left: 6.1215rem;
        top: 1.7366rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
      }
      .copy--x7m {
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        left: 7.3596rem;
        top: 1.3941rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        display: flex;
      }
      .copy--cTD {
        height: 2rem;
        left: 8.2482rem;
        top: 1.1035rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        white-space: nowrap;
        line-height: 1.4000000272;
        color: #000000;
        position: absolute;
      }
      .copy--Tyd {
        width: 1.2rem;
        height: 2rem;
        left: 9.0646rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        top: 0.8052rem;
        display: flex;
        font-size: 1.4rem;
        white-space: nowrap;
      }
      .copy--LGj {
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 10.1432rem;
        top: 0.5143rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--PVu {
        width: 1.2rem;
        left: 10.8416rem;
        top: 0.2232rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
    }
    .auto-group-zz9m-qsh {
      height: calc(100% - 37.3591rem);
      position: relative;
      flex-shrink: 0;
      margin: 19.122rem 0.061rem 18.237rem 0rem;
      width: 5.5711rem;

      .copy--xBd {
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        left: 0;
        top: 1.5289rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 1rem;
        height: 2rem;
        position: absolute;
        display: flex;
      }
      .copy--1fh {
        font-family: Actor, 'Source Sans Pro';
        position: absolute;
        left: 0.8469rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        top: 1.2827rem;
        display: flex;
        font-size: 1.4rem;
      }
      .copy--4dy {
        width: 0.9rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        left: 1.483rem;
        top: 1.0585rem;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--X1m {
        width: 1rem;
        height: 2rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        left: 2.2557rem;
        top: 0.7906rem;
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--P3y {
        width: 1rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        left: 3.1441rem;
        top: 0.5rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--3eK {
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 4.0119rem;
        top: 0.2312rem;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--WH1 {
        position: absolute;
        left: 4.6711rem;
        font-size: 1.4rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        top: 0;
        display: flex;
        font-weight: 400;
      }
    }
    .auto-group-cjt9-N4K {
      margin-bottom: 20.0491rem;
      width: 16.3047rem;
      height: 20.8389rem;
      position: relative;
      flex-shrink: 0;

      .copy--rVH {
        height: 2rem;
        position: absolute;
        top: 11.19rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        left: 0;
        color: #000000;
      }
      .copy--WJw {
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        left: 0.6568rem;
        top: 10.9441rem;
        display: flex;
        font-size: 1.4rem;
        white-space: nowrap;
        width: 1rem;
        height: 2rem;
        position: absolute;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--MqM {
        color: #000000;
        width: 1.2rem;
        height: 2rem;
        position: absolute;
        top: 10.6458rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        left: 1.4734rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--Dcf {
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        left: 2.4592rem;
        top: 10.3698rem;
        display: flex;
        white-space: nowrap;
      }
      .copy--gWF {
        line-height: 1.4000000272;
        width: 1.3rem;
        height: 2rem;
        left: 3.6342rem;
        top: 9.9076rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        position: absolute;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--vvP {
        position: absolute;
        top: 9.5644rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        left: 4.8723rem;
        display: flex;
        font-weight: 400;
        color: #000000;
      }
      .copy--z9Z {
        display: flex;
        font-size: 1.4rem;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        left: 5.7609rem;
        top: 9.2737rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        position: absolute;
        font-weight: 400;
      }
      .copy--T39 {
        color: #000000;
        white-space: nowrap;
        position: absolute;
        top: 8.6032rem;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        width: 1.2rem;
        height: 2rem;
        left: 6.0467rem;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--JpT {
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        height: 2rem;
        left: 6.6141rem;
        display: flex;
        font-weight: 400;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        top: 7.8011rem;
        font-size: 1.4rem;
      }
      .copy--y9u {
        color: #000000;
        white-space: nowrap;
        width: 1.2rem;
        height: 2rem;
        position: absolute;
        left: 6.9803rem;
        font-weight: 400;
        top: 6.9985rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--zao {
        color: #000000;
        white-space: nowrap;
        position: absolute;
        top: 5.7943rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        left: 7.7311rem;
        display: flex;
      }
      .copy--pZq {
        position: absolute;
        font-size: 1.4rem;
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 0.9rem;
        height: 2rem;
        left: 8.1551rem;
        top: 5.1519rem;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--HCX {
        color: #000000;
        height: 2rem;
        left: 8.5266rem;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        white-space: nowrap;
        width: 0.9rem;
        position: absolute;
        top: 4.4704rem;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
      }
      .copy--Y8T {
        display: flex;
        font-weight: 400;
        width: 1rem;
        left: 8.9449rem;
        top: 3.7076rem;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
      }
      .copy--bMd {
        position: absolute;
        left: 9.3654rem;
        top: 2.985rem;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        height: 2rem;
        display: flex;
        font-size: 1.4rem;
      }
      .copy--rYT {
        left: 9.834rem;
        top: 2.2227rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        position: absolute;
        color: #000000;
        white-space: nowrap;
        height: 2rem;
        font-weight: 400;
      }
      .copy--X8o {
        height: 2rem;
        position: absolute;
        top: 1.4608rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        white-space: nowrap;
        display: flex;
        font-size: 1.4rem;
        left: 10.2521rem;
      }
      .copy--a75 {
        top: 0.8183rem;
        font-size: 1.4rem;
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        left: 10.6762rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
      }
      .copy--2Dy {
        height: 2rem;
        position: absolute;
        top: 0.0959rem;
        font-family: Actor, 'Source Sans Pro';
        width: 1rem;
        left: 11.0461rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
      }
      .copy--Ubm {
        font-weight: 400;
        width: 1.2rem;
        height: 2rem;
        left: 11.5092rem;
        top: 0;
        display: flex;
        font-size: 1.4rem;
        position: absolute;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--L8B {
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        left: 12.0285rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.4000000272;
        font-weight: 400;
        white-space: nowrap;
        width: 0.9rem;
        height: 2rem;
        position: absolute;
        top: 0;
      }
      .copy--Udh {
        line-height: 1.4000000272;
        color: #000000;
        position: absolute;
        left: 12.6729rem;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.3rem;
        height: 2rem;
        top: 0;
        display: flex;
      }
      .copy--8TM {
        left: 13.2873rem;
        top: 0;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        display: flex;
      }
      .copy--bbq {
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        width: 1rem;
        height: 2rem;
        left: 13.7541rem;
        top: 0;
        display: flex;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--Te3 {
        font-weight: 400;
        line-height: 1.4000000272;
        position: absolute;
        top: 0;
        display: flex;
        font-size: 1.4rem;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.2rem;
        height: 2rem;
        left: 14.2174rem;
        color: #000000;
      }
      .copy--8VH {
        font-size: 1.4rem;
        white-space: nowrap;
        position: absolute;
        left: 14.7848rem;
        top: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #000000;
        font-family: Actor, 'Source Sans Pro';
        width: 0.9rem;
        height: 2rem;
      }
      .copy--o5d {
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        width: 1.2rem;
        position: absolute;
        left: 15.1047rem;
        top: 0;
        display: flex;
        line-height: 1.4000000272;
        font-family: Actor, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .union-rZh {
    width: 128.4rem;
    height: 57.2rem;
    position: absolute;
    left: 8.4rem;
    top: 37.8rem;
    object-fit: contain;
    vertical-align: top;
  }
}
