
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-05-gHR {
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 1.2rem;
  width: 100%;

  .auto-group-3dyf-DYF {
    width: 145.6rem;
    height: 67.9rem;
    display: flex;
    align-items: flex-end;

    .ellipse-9-MeT {
      width: 55rem;
      height: 55rem;
      border-radius: 27.5rem;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.1rem 0rem;
    }
    .auto-group-gnm9-5KZ {
      width: 58.7rem;
      height: 50.4rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 1.7rem;

      .item--DRm {
        top: 0;
        font-size: 6.4rem;
        font-weight: 400;
        color: #000000;
        font-family: Amatic SC, 'Source Sans Pro';
        height: 35.9rem;
        position: absolute;
        left: 0.1rem;
        line-height: 1.3999999762;
        width: 57.6rem;
      }
      .i-l-r-n-m--Tb1 {
        top: 32.7rem;
        font-weight: 400;
        color: #000000;
        font-family: Allan, 'Source Sans Pro';
        width: 58.7rem;
        height: 17.7rem;
        position: absolute;
        left: 0;
        font-size: 1.8rem;
        line-height: 1.3999999364;
      }
    }
    .item-05-xZh {
      font-family: Amatica SC, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 27.5rem;
      font-size: 28.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #f4c54d;
    }
  }
}
