
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--4tb {
  width: 100%;
  height: 219.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-3vhv-Msh {
    width: 85.1rem;
    height: 5rem;
    position: absolute;
    left: 6.9rem;
    top: 20.5rem;
    display: flex;
    align-items: center;

    .item--64b {
      margin-right: 45.1rem;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.4rem 1rem 1.3rem 1.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      border: solid 0.1rem #1b1b1b;
      border-radius: 0.5rem;

      .auto-group-dmkh-Zym {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.3891rem;
        width: 14.8109rem;
        height: 100%;

        .item--iLs {
          width: 13.8rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.8rem;
          font-weight: 400;
          color: #1b1b1b;
          white-space: nowrap;
          line-height: 1.2575;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
        .vector-nrX {
          background-color: #ff5f00;
          width: 0.5rem;
          height: 0.8rem;
          position: absolute;
          left: 13.8109rem;
          top: 0.9rem;
        }
        .vector-KbZ {
          position: absolute;
          left: 13.2109rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.8rem;
          height: 1rem;
        }
        .vector-fQX {
          width: 0.8rem;
          height: 1rem;
          position: absolute;
          left: 14.0109rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .vector-C9Z {
        margin-top: 0.3rem;
        width: 2.6rem;
        height: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--71d {
      height: 100%;
      border-radius: 0.5rem;
      padding: 1.4rem 1rem 1.3rem 1.2rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #1b1b1b;
      background-color: #dee6e8;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-81qf-ntT {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.3891rem;
        width: 14.8109rem;

        .item--wFZ {
          font-size: 1.8rem;
          line-height: 1.2575;
          color: #1b1b1b;
          font-family: Helvetica Neue, 'Source Sans Pro';
          width: 13.8rem;
          height: 2.3rem;
          position: absolute;
          white-space: nowrap;
          left: 0;
          top: 0;
          font-weight: 400;
        }
        .vector-pKM {
          left: 13.8109rem;
          top: 0.9rem;
          background-color: #ff5f00;
          width: 0.5rem;
          height: 0.8rem;
          position: absolute;
        }
        .vector-wum {
          width: 0.8rem;
          height: 1rem;
          position: absolute;
          left: 13.2109rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-Hij {
          width: 0.8rem;
          height: 1rem;
          position: absolute;
          left: 14.0109rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .vector-dXh {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 2.6rem;
        height: 0.8rem;
      }
    }
  }
  .auto-group-22kb-LBD {
    align-items: center;
    width: 13.7rem;
    height: 2.9rem;
    position: absolute;
    left: 7rem;
    top: 96rem;
    display: flex;

    .gmail-GKm {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 7.9rem;
      width: 2.9rem;
      height: 2.9rem;
      position: relative;
    }
    .gmail-bcw {
      width: 2.9rem;
      height: 2.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-k7nj-8cs {
    left: 7rem;
    top: 90.1rem;
    display: flex;
    align-items: center;
    width: 13.7rem;
    height: 2.9rem;
    position: absolute;

    .item--52K {
      flex-shrink: 0;
      margin-right: 7.9rem;
      width: 2.9rem;
      height: 2.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .item--mvj {
      width: 2.9rem;
      height: 2.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .item--6CK {
    object-fit: contain;
    vertical-align: top;
    width: 13.7rem;
    height: 2.9rem;
    position: absolute;
    left: 7rem;
    top: 84.2rem;
  }
  .auto-group-dcdh-bes {
    left: 6.9rem;
    top: 9.9rem;
    display: flex;
    align-items: center;
    width: 85.1rem;
    height: 5rem;
    position: absolute;

    .item--vx3 {
      border-radius: 0.5rem;
      margin-right: 45.1rem;
      width: 20rem;
      font-weight: 400;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      height: 100%;
      font-size: 1.8rem;
      line-height: 1.2575;
      display: flex;
      align-items: center;
      background-color: #ff9bab;
      flex-shrink: 0;
    }
    .item--ArP {
      font-size: 1.8rem;
      align-items: center;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      background-color: #f4657c;
      width: 20rem;
      height: 100%;
      white-space: nowrap;
      justify-content: center;
      border-radius: 0.5rem;
      flex-shrink: 0;
      font-weight: 400;
      display: flex;
    }
  }
  .auto-group-yvgk-Qkj {
    align-items: center;
    width: 110.1rem;
    height: 8rem;
    position: absolute;
    left: 6.9rem;
    top: 31.1rem;
    display: flex;

    .item--jHD {
      width: 45rem;
      white-space: nowrap;
      justify-content: center;
      margin-right: 20.1rem;
      height: 100%;
      font-weight: 400;
      font-size: 2.4rem;
      color: #1b1b1b;
      flex-shrink: 0;
      align-items: center;
      background-color: #ff9bab;
      border-radius: 0.5rem;
      line-height: 1.2575;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
    }
    .item--9rj {
      color: #1b1b1b;
      white-space: nowrap;
      border-radius: 0.5rem;
      width: 45rem;
      height: 100%;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      align-items: center;
      background-color: #f4657c;
      flex-shrink: 0;
    }
  }
  .auto-group-zmmd-nPu {
    align-items: center;
    width: 105.8rem;
    height: 13rem;
    position: absolute;
    left: 6.9rem;
    top: 44.7rem;
    display: flex;

    .item--7SB {
      margin-right: 24.4rem;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      width: 40.7rem;
      flex-shrink: 0;
      height: 100%;
      font-size: 3rem;
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background-color: #5a808a;
      line-height: 1.2575;
      border-radius: 0.5rem;
    }
    .item--xBu {
      height: 100%;
      font-weight: 400;
      color: #ffffff;
      align-items: center;
      border-radius: 0.5rem;
      width: 40.7rem;
      display: flex;
      background-color: #305e6a;
      flex-shrink: 0;
      font-size: 3rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.2575;
      justify-content: center;
    }
  }
  .auto-group-6vrf-pE7 {
    height: 4rem;
    position: absolute;
    left: 6.9rem;
    top: 2.5rem;
    display: flex;
    align-items: center;
    width: 111rem;

    .normal-kNf {
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 54.7rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
    }
    .hover--sy5 {
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
    }
  }
  .auto-group-mphd-CEf {
    width: 14.7rem;
    height: 1.9rem;
    position: absolute;
    left: 6.9rem;
    top: 78.4rem;
    display: flex;
    align-items: center;

    .normal-Kq5 {
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
    }
    .hover-ftw {
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
    }
  }
  .normal-R7R {
    width: 4.9rem;
    left: 6.9rem;
    top: 105.5rem;
    font-size: 1.4rem;
    height: 1.9rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.33;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .normal-XgF {
    width: 4.9rem;
    left: 7rem;
    font-weight: 400;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    top: 129.5rem;
    font-size: 1.4rem;
    line-height: 1.33;
  }
  .auto-group-y9ak-F6T {
    width: 47.5rem;
    height: 1.9rem;
    position: absolute;
    left: 7.1rem;
    top: 154.6rem;
    display: flex;
    align-items: center;

    .normal-Az7 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 38.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
    }
    .hover-KMD {
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.33;
      color: #000000;
    }
  }
  .hover-fR5 {
    top: 115.3rem;
    line-height: 1.33;
    font-family: Exo, 'Source Sans Pro';
    width: 3.8rem;
    height: 1.9rem;
    position: absolute;
    left: 7rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .hover-P6B {
    height: 1.9rem;
    top: 139.3rem;
    font-size: 1.4rem;
    color: #000000;
    white-space: nowrap;
    width: 3.8rem;
    position: absolute;
    left: 7rem;
    font-weight: 400;
    line-height: 1.33;
    font-family: Exo, 'Source Sans Pro';
  }
  .auto-group-7vcf-JU3 {
    width: 90.1rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 63.3rem;
    display: flex;
    align-items: center;

    .item--EsV {
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3999999364;
      border-radius: 0.5rem;
      margin-right: 40.1rem;
      height: 100%;
      background-color: #d9ae4f;
      flex-shrink: 0;
      width: 25rem;
      font-weight: 400;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .item--6uh {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background-color: #cd961c;
      width: 25rem;
      height: 100%;
      border-radius: 0.5rem;
      color: #000000;
      justify-content: center;
    }
  }
  .item--ZoH {
    width: 128rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 107.4rem;
    border-radius: 0.5rem;

    .group-41-UQT {
      font-weight: 400;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-color: #ff9bab;
      border-radius: 0.5rem;
      width: 100%;
      font-size: 1.8rem;
      line-height: 1.3999999364;
      white-space: nowrap;
      align-items: center;
      height: 100%;
    }
  }
  .item--ZRu {
    width: 128rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 117.2rem;
    background-color: #ffbfca;

    .item--rfu {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;

      .group-41-ARh {
        white-space: nowrap;
        border-radius: 0.5rem;
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.3999999364;
        font-family: Helvetica Neue, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4657c;
        height: 100%;
        font-weight: 400;
        color: #000000;
      }
    }
  }
  .item--Su1 {
    width: 30rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 131.4rem;
    background-color: #ff9bab;
    border-radius: 0.5rem;

    .item--KC7 {
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      width: 21.6rem;
      height: 2.6rem;
      left: 3.5rem;
      font-size: 1.8rem;
      line-height: 1.3999999364;
      position: absolute;
      top: 1.5rem;
      font-weight: 400;
      color: #000000;
    }
    .flat-color-icons-google-z3M {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      left: 23.6699rem;
      top: 1.55rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--W1h {
    border-radius: 0.5rem;
    width: 30rem;
    height: 5.5rem;
    position: absolute;
    left: 6.9rem;
    top: 141.2rem;
    background-color: #f4657c;

    .item--yvs {
      height: 2.6rem;
      left: 3.5rem;
      top: 1.5rem;
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      width: 21.6rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.3999999364;
      color: #000000;
    }
    .flat-color-icons-google-FdV {
      position: absolute;
      left: 23.6699rem;
      top: 1.55rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .auto-group-ig99-m63 {
    align-items: center;
    width: 84.5rem;
    height: 20rem;
    position: absolute;
    left: 7rem;
    top: 156.5rem;
    display: flex;

    .item-150--J5y {
      border-radius: 0.5rem;
      flex-shrink: 0;
      flex-direction: column;
      box-sizing: border-box;
      padding: 3.6rem 9.8rem 3.7rem 11.2rem;
      width: 40.7rem;
      height: 100%;
      align-items: center;
      display: flex;
      border: solid 0.3rem #5a808a;
      margin-right: 3.1rem;
      background-color: #edecea;

      .item--PdD {
        margin-right: 0.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-bkq1-HTh {
        margin: 0rem 0rem 1rem 1.4rem;
        width: 18.3rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;

        .zoom-owq {
          position: absolute;
          left: 3.4rem;
          top: 5.3rem;
          font-weight: 400;
          line-height: 1.33;
          font-family: Exo, 'Source Sans Pro';
          width: 8.9rem;
          font-size: 1.2rem;
          color: #000000;
          white-space: nowrap;
          height: 1.6rem;
        }
        .item-150--ujy {
          width: 18.3rem;
          left: 0;
          top: 0;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          height: 5.4rem;
          position: absolute;
          font-size: 4rem;
          line-height: 1.33;
          font-family: Exo, 'Source Sans Pro';
        }
      }
      .item-1--RCX {
        margin-right: 1.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .item-150--gu9 {
      align-items: center;
      background-color: #dee6e8;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
      border: solid 0.3rem #5a808a;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 3.6rem 9.8rem 3.7rem 11.2rem;
      width: 40.7rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--PoZ {
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.3rem;
        font-size: 1.8rem;
      }
      .auto-group-ytdd-6CB {
        margin: 0rem 0rem 1rem 1.4rem;
        width: 18.3rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;

        .zoom-pdy {
          top: 5.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Exo, 'Source Sans Pro';
          width: 8.9rem;
          height: 1.6rem;
          position: absolute;
          left: 3.4rem;
          white-space: nowrap;
          line-height: 1.33;
          color: #000000;
        }
        .item-150--L6X {
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 700;
          line-height: 1.33;
          white-space: nowrap;
          width: 18.3rem;
          height: 5.4rem;
          font-size: 4rem;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
        }
      }
      .item-1--2zw {
        margin-right: 1.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
