
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--T79 {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .item--iYs {
    flex-shrink: 0;
    margin-bottom: 8rem;
    box-sizing: border-box;
    padding: 0.1rem 8rem 0.1rem 6.6rem;
    display: flex;
    align-items: center;
    background-color: #edecea;
    width: 100%;
    height: 12rem;

    .item--CD9 {
      background-size: 100% 169.492%;
      background-position: -0rem -2.9rem;
      background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
      flex-shrink: 0;
      margin-right: 9rem;
      width: 20rem;
      height: 11.8rem;
      position: relative;
    }
    .item--Tum {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.5rem 3.3rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .item--A3V {
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.5rem 3.7rem 0rem 0rem;
      font-size: 1.8rem;
    }
    .item--5AT {
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.5rem 8.1rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2575;
    }
    .auto-group-bze7-naf {
      margin: 2.8rem 5.5rem 2.6rem 0rem;
      height: calc(100% - 5.4rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-38-097-000-79-96-1yD {
        margin: 0rem 0.6rem 0.8rem 0rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        font-size: 1.8rem;
        line-height: 1.3999999364;
        color: #1b1b1b;
        white-space: nowrap;
        align-items: baseline;

        .item-38-097-000-79-96-1yD-sub-0 {
          font-weight: 400;
          line-height: 1.3999999364;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 1.8rem;
        }
        .item-38-097-000-79-96-1yD-sub-1 {
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
        }
      }
      .auto-group-zhud-PcP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 13.7rem;
        height: 3rem;
        position: relative;
      }
    }
    .item--v6X {
      padding: 1.4rem 1rem 1.3rem 1.2rem;
      border-radius: 0.5rem;
      margin: 3.4rem 1.8rem 3.4rem 0rem;
      box-sizing: border-box;
      height: calc(100% - 6.8rem);
      display: flex;
      align-items: center;
      border: solid 0.1rem #000000;
      flex-shrink: 0;

      .auto-group-6wrf-NjD {
        margin-right: 0.3891rem;
        width: 14.8109rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--uz3 {
          font-family: Helvetica Neue, 'Source Sans Pro';
          width: 13.8rem;
          height: 2.3rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          white-space: nowrap;
          left: 0;
          top: 0;
          font-size: 1.8rem;
        }
        .vector-o3q {
          position: absolute;
          left: 13.8109rem;
          top: 0.9rem;
          background-color: #ff5f00;
          width: 0.5rem;
          height: 0.8rem;
        }
        .vector-usZ {
          width: 0.8rem;
          height: 1rem;
          position: absolute;
          left: 13.2109rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-SMh {
          vertical-align: top;
          width: 0.8rem;
          height: 1rem;
          position: absolute;
          left: 14.0109rem;
          top: 0.8rem;
          object-fit: contain;
        }
      }
      .vector-NWF {
        margin-top: 0.3rem;
        width: 2.6rem;
        height: 0.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--V55 {
      height: calc(100% - 6.8rem);
      font-size: 1.8rem;
      margin: 3.35rem 0rem 3.45rem 0rem;
      font-weight: 400;
      width: 20rem;
      line-height: 1.2575;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      background-color: #ff9bab;
      flex-shrink: 0;
    }
  }
  .item--6Km {
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 1.2rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.33;
    color: #000000;
  }
  .auto-group-xftz-cZ1 {
    width: 100%;
    height: 92rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-mh5m-MmV {
      height: 20.1rem;
      position: absolute;
      left: 8rem;
      top: 5.1rem;
      display: flex;
      column-gap: 3rem;
      align-items: flex-start;
      width: 128rem;

      .item-150--fnB {
        padding: 3.6rem 9.8rem 3.7rem 11.2rem;
        width: 40.7rem;
        flex-direction: column;
        background-color: #edecea;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        border: solid 0.3rem #5a808a;
        border-radius: 0.5rem;

        .item--mqD {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.3rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .auto-group-mzdm-sNT {
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 1.4rem;
          width: 18.3rem;
          height: 6.9rem;
          position: relative;

          .zoom-Q7V {
            width: 8.9rem;
            position: absolute;
            left: 3.4rem;
            font-size: 1.2rem;
            height: 1.6rem;
            top: 5.3rem;
            font-weight: 400;
            line-height: 1.33;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-150--Hh5 {
            top: 0;
            line-height: 1.33;
            color: #000000;
            white-space: nowrap;
            height: 5.4rem;
            position: absolute;
            left: 0;
            font-size: 4rem;
            font-weight: 700;
            font-family: Exo, 'Source Sans Pro';
            width: 18.3rem;
          }
        }
        .item-1--BXZ {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.5rem;
        }
      }
      .item-300--TV5 {
        box-sizing: border-box;
        padding: 3.6rem 9.13rem 3.7rem 10.3rem;
        width: 40.6rem;
        align-items: center;
        flex-direction: column;
        display: flex;
        border: solid 0.3rem #5a808a;
        background-color: #edecea;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .item--Zo1 {
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.17rem;
          font-size: 1.8rem;
        }
        .auto-group-ysx3-4Us {
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 1.87rem;
          width: 19.3rem;
          height: 6.9rem;
          position: relative;

          .zoom-zNX {
            white-space: nowrap;
            position: absolute;
            top: 5.3rem;
            font-size: 1.2rem;
            font-family: Exo, 'Source Sans Pro';
            line-height: 1.33;
            color: #000000;
            width: 8.9rem;
            height: 1.6rem;
            left: 3.6909rem;
            font-weight: 400;
          }
          .item-300--gm9 {
            position: absolute;
            line-height: 1.33;
            white-space: nowrap;
            width: 19.3rem;
            left: 0;
            top: 0;
            font-size: 4rem;
            font-weight: 700;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            height: 5.4rem;
          }
        }
        .item-1--bt7 {
          flex-shrink: 0;
          margin-right: 0.6575rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .item-600--Hkw {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border: solid 0.3rem #5a808a;
        background-color: #edecea;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-top: 0.1rem;
        padding: 3.6rem 5.7rem 3.7rem 7.2rem;
        width: 40.7rem;
        align-items: center;

        .item--zvF {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
        }
        .auto-group-tyvh-tVq {
          margin: 0rem 3.6rem 1rem 4.8rem;
          width: calc(100% - 8.4rem);
          height: 6.9rem;
          position: relative;
          flex-shrink: 0;

          .zoom-peP {
            font-weight: 400;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.9rem;
            height: 1.6rem;
            top: 5.3rem;
            font-size: 1.2rem;
            color: #000000;
            position: absolute;
            left: 3.8rem;
          }
          .item-600--Xoh {
            white-space: nowrap;
            position: absolute;
            line-height: 1.33;
            left: 0;
            top: 0;
            font-size: 4rem;
            font-weight: 700;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            width: 19.4rem;
            height: 5.4rem;
          }
        }
        .item-1--31M {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-lsnt-v59 {
      left: 8rem;
      top: 28.1rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;
      width: 128rem;
      height: 20rem;
      position: absolute;

      .item-2300--SZH {
        flex-direction: column;
        border: solid 0.3rem #5a808a;
        background-color: #edecea;
        border-radius: 0.5rem;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        padding: 3.6rem 8.2rem 3.7rem 9.4rem;
        width: 40.7rem;

        .item--MAT {
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 1.8rem;
        }
        .auto-group-rxj7-rN7 {
          margin-bottom: 1rem;
          width: 100%;
          height: 6.9rem;
          position: relative;
          flex-shrink: 0;

          .zoom-PN3 {
            height: 1.6rem;
            position: absolute;
            left: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            width: 22.9rem;
            top: 5.3rem;
            color: #000000;
          }
          .item-2300--HCX {
            position: absolute;
            left: 1.5rem;
            font-size: 4rem;
            line-height: 1.33;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            width: 21.6rem;
            height: 5.4rem;
            top: 0;
            font-weight: 700;
          }
        }
        .item-8--zMq {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.2rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .item-2850--5eB {
        box-sizing: border-box;
        flex-direction: column;
        border: solid 0.3rem #5a808a;
        background-color: #edecea;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        padding: 3.6rem 7.927rem 3.7rem 9.377rem;
        width: 40.6rem;
        height: 100%;
        align-items: center;

        .item--bMd {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.4212rem;
        }
        .auto-group-m3qm-JG3 {
          margin-bottom: 1rem;
          width: 100%;
          height: 6.9rem;
          position: relative;
          flex-shrink: 0;

          .zoom-e51 {
            top: 5.3rem;
            font-weight: 400;
            line-height: 1.33;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            width: 22.8rem;
            height: 1.6rem;
            position: absolute;
            left: 0;
            font-size: 1.2rem;
          }
          .item-2850--js9 {
            height: 5.4rem;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            width: 21.7rem;
            position: absolute;
            left: 1.596rem;
            top: 0;
            font-size: 4rem;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
          }
        }
        .item-12--rB5 {
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7313rem;
          font-size: 1.8rem;
        }
      }
      .item-1300--8eP {
        border: solid 0.3rem #5a808a;
        border-radius: 0.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #edecea;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.6rem 8.4rem 3.7rem 9.5rem;
        width: 40.7rem;

        .item--pn7 {
          margin-left: 0.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-wlpt-XAj {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 6.9rem;

          .zoom-Tq5 {
            height: 1.6rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.33;
            white-space: nowrap;
            width: 22.8rem;
            left: 0;
            top: 5.3rem;
            font-size: 1.2rem;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
          }
          .item-1300--ZNK {
            height: 5.4rem;
            position: absolute;
            left: 1.8rem;
            font-weight: 700;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
            width: 20.8rem;
            top: 0;
            font-size: 4rem;
            color: #000000;
            white-space: nowrap;
          }
        }
        .item-8--4ps {
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
        }
      }
    }
    .auto-group-4szv-kSo {
      left: 8rem;
      top: 51.1rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;
      width: 128rem;
      height: 20rem;
      position: absolute;

      .item-6000--5EB {
        flex-shrink: 0;
        padding: 3.6rem 8rem 3.7rem 9.4rem;
        width: 40.7rem;
        height: 100%;
        background-color: #edecea;
        border-radius: 0.5rem;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.3rem #5a808a;

        .item--neP {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.2rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .auto-group-dzhd-5tP {
          height: 6.9rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;

          .zoom-qMm {
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            width: 22.9rem;
            position: absolute;
            left: 0;
            top: 5.3rem;
            font-weight: 400;
            line-height: 1.33;
            height: 1.6rem;
            font-size: 1.2rem;
            white-space: nowrap;
          }
          .item-6000--jCF {
            width: 22rem;
            left: 1.3rem;
            top: 0;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            color: #000000;
            height: 5.4rem;
            position: absolute;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.33;
          }
        }
        .item-8--doR {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .item-7400--vnX {
        height: 100%;
        flex-shrink: 0;
        border: solid 0.3rem #5a808a;
        background-color: #edecea;
        box-sizing: border-box;
        padding: 3.6rem 8.127rem 3.7rem 9.377rem;
        width: 40.6rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;

        .item--dwq {
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.2196rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .auto-group-dsc7-MN3 {
          margin-bottom: 1rem;
          width: 100%;
          height: 6.9rem;
          position: relative;
          flex-shrink: 0;

          .zoom-6qR {
            height: 1.6rem;
            position: absolute;
            left: 0;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            width: 22.9rem;
            top: 5.3rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.33;
            white-space: nowrap;
          }
          .item-7400--Qr7 {
            width: 21.5rem;
            height: 5.4rem;
            position: absolute;
            left: 1.596rem;
            font-weight: 700;
            white-space: nowrap;
            top: 0;
            font-size: 4rem;
            line-height: 1.33;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
          }
        }
        .item-8--XA3 {
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8319rem;
          font-size: 1.8rem;
        }
      }
      .item-3000--Cmy {
        box-sizing: border-box;
        padding: 3.6rem 8.1rem 3.7rem 9.4rem;
        width: 40.7rem;
        border: solid 0.3rem #5a808a;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #edecea;
        border-radius: 0.5rem;

        .item--ikK {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
        }
        .auto-group-nzqd-Rud {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 6.9rem;

          .zoom-P5m {
            font-size: 1.2rem;
            line-height: 1.33;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            width: 22.8rem;
            position: absolute;
            top: 5.3rem;
            font-weight: 400;
            height: 1.6rem;
            left: 0;
          }
          .item-3000--Hgw {
            color: #000000;
            white-space: nowrap;
            height: 5.4rem;
            position: absolute;
            font-size: 4rem;
            line-height: 1.33;
            font-family: Exo, 'Source Sans Pro';
            width: 21.9rem;
            left: 1.3rem;
            top: 0;
            font-weight: 700;
          }
        }
        .item-8--CZ1 {
          font-weight: 400;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.3rem;
          font-size: 1.8rem;
        }
      }
    }
    .rectangle-348-UmR {
      width: 128rem;
      height: 0.4rem;
      position: absolute;
      left: 8rem;
      top: 76.1rem;
      background-color: #5a808a;
    }
    .item-10-CxK {
      left: 50.6rem;
      font-weight: 400;
      line-height: 1.3999999364;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      width: 46.9rem;
      height: 3.4rem;
      position: absolute;
      top: 79.5rem;
      font-size: 2.4rem;
    }
  }
  .item--Eu1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #edecea;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.45rem 8rem 2.3rem 8rem;

    .auto-group-ynxj-ZAb {
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .item--6gK {
        background-size: 117.213% 190.667%;
        background-position: -2rem -5rem;
        background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
        flex-shrink: 0;
        margin: 0.05rem 8.4rem 0rem 0rem;
        width: 24.4rem;
        height: 15rem;
        position: relative;
      }
      .auto-group-2b9v-xiX {
        margin: 0.05rem 22.5rem 0rem 0rem;
        height: 16.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--5o9 {
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.3999999762;
        }
        .rectangle-310-bmV {
          width: 9.2rem;
          height: 0.2rem;
          background-color: #5a808a;
          flex-shrink: 0;
        }
        .item--YAw {
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
        }
        .item--TYo {
          margin-bottom: 1.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--adR {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
        }
        .item--JZR {
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
      .auto-group-nsbd-2EX {
        margin: 0.05rem 26.4rem 0rem 0rem;
        width: 16.1rem;
        flex-shrink: 0;

        .item--Yif {
          margin-bottom: 1.4rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-336-U6X {
          width: 100%;
          height: 0.2rem;
          background-color: #5a808a;
          margin-bottom: 0.4rem;
        }
        .item-38-097-000-79-96-DK1 {
          margin-bottom: 1.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          line-height: 1.3999999364;
          color: #1b1b1b;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;

          .item-38-097-000-79-96-DK1-sub-0 {
            line-height: 1.3999999364;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
          }
          .item-38-097-000-79-96-DK1-sub-1 {
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3999999364;
            color: #000000;
          }
        }
        .auto-group-m9kx-3ST {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 13.7rem;
          height: 3rem;
        }
      }
      .auto-group-tg4t-yb1 {
        flex-direction: column;
        flex-shrink: 0;
        width: 20rem;
        align-items: center;
        display: flex;

        .item--Kum {
          color: #000000;
          background-color: #ff9bab;
          width: 100%;
          white-space: nowrap;
          justify-content: center;
          margin-bottom: 2.45rem;
          line-height: 1.2575;
          display: flex;
          font-family: Helvetica Neue, 'Source Sans Pro';
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          height: 5rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .item--nHZ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 1rem 1.3rem 1.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          height: 5rem;
          border-radius: 0.5rem;

          .auto-group-8a9q-fs9 {
            margin-right: 0.3891rem;
            width: 14.8109rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item--D7y {
              left: 0;
              top: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              width: 13.8rem;
              height: 2.3rem;
              font-family: Helvetica Neue, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
            }
            .vector-VbH {
              position: absolute;
              left: 13.8109rem;
              top: 0.9rem;
              background-color: #ff5f00;
              width: 0.5rem;
              height: 0.8rem;
            }
            .vector-2bD {
              height: 1rem;
              position: absolute;
              left: 13.2109rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.8rem;
            }
            .vector-wy5 {
              position: absolute;
              left: 14.0109rem;
              top: 0.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.8rem;
              height: 1rem;
            }
          }
          .vector-HX9 {
            margin-top: 0.3rem;
            width: 2.6rem;
            height: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-bpno-am9 {
      margin-bottom: 8.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .applepay-vKD {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 3.6rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .googlepay-chq {
        width: 3.6rem;
        height: 2.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .monopay-Y5h {
        display: flex;
        background-color: #000000;
        border-radius: 0.3rem;
        margin-right: 1.2rem;
        padding: 0.6rem 0.2rem 0.7rem 0.3rem;
        height: 2.4rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-phbh-FF1 {
          margin-right: 0.1rem;
          width: 2.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-312-nkj {
            left: 0;
            top: 0.1rem;
            background-color: #ffffff;
            border-radius: 0.3rem;
            width: 2.5rem;
            height: 1rem;
            position: absolute;
          }
          .mono-KEs {
            font-family: Inter, 'Source Sans Pro';
            width: 2.2rem;
            height: 1rem;
            left: 0.2rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            position: absolute;
            top: 0;
            font-size: 0.8rem;
            white-space: nowrap;
          }
        }
        .pay-RHu {
          margin-top: 0.1rem;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .mastercard-vVZ {
        width: 3.6rem;
        height: 2.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .visa-re7 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 9.1rem;
        width: 3.6rem;
        height: 2.4rem;
      }
      .item--nnf {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
    }
    .rectangle-298-Jm1 {
      height: 0.2rem;
      background-color: #5a808a;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;
    }
    .item--3Th {
      margin: 0rem 8.8rem 0rem 11.1rem;
      width: calc(100% - 19.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--LSo {
        margin-right: 26.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--dwh {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.7rem;
      }
      .item--8Nf {
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
}
