
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 500.8rem;
}.item--rkT {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #a6a6a6;
  box-sizing: border-box;
  padding: 50.8rem 72.7rem 99.6rem 26.5rem;
  width: 100%;
  overflow: hidden;

  .auto-group-byo1-YtB {
    flex-shrink: 0;
    margin: 50.8rem 4.4rem 0rem 0rem;
    width: 62.3rem;

    .auto-group-dsdv-sQf {
      box-sizing: border-box;
      padding-bottom: 6.3rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .screen-shot-2023-04-05-at-1400-1-p51 {
        height: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 6.3rem;
        width: 62.2rem;
      }
      .group-14-K1m {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 27.3rem 1.1rem 4.4rem 40.1rem;
        color: #000000;
        background-position: center;
        background-image: url('REPLACE_IMAGE:48ba99934c9059a919370d95d9e6efcee905a5a0');
      }
    }
    .screen-shot-2023-04-18-at-1422-1-x4j {
      vertical-align: top;
      margin-bottom: 6.3rem;
      width: 62.3rem;
      height: 34.8rem;
      object-fit: cover;
    }
    .screen-shot-2023-04-25-at-1255-1-5QF {
      width: 61.5rem;
      height: 31.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-8yaj-Czf {
    margin: 51.9rem 4.6rem 0rem 0rem;
    width: 65.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-pu7v-Xn3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0rem 7.9rem 0.4rem;
      width: 100%;
      align-items: flex-end;

      .screen-shot-2023-04-05-at-1412-1-4my {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 5.2rem;
        width: 64.9rem;
        height: 39rem;
      }
      .screen-shot-2023-04-12-at-1339-1-bX1 {
        flex-shrink: 0;
        margin: 0rem 0.2rem 7.6rem 0rem;
        width: 64.7rem;
        height: 31.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .screen-shot-2023-04-19-at-1428-1-WP5 {
        width: 64.9rem;
        height: 32.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .screen-shot-2023-04-26-at-1403-1-Eps {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 65.3rem;
      height: 32.3rem;
    }
  }
  .auto-group-gntm-ATd {
    margin: 52.5rem 4.5rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-04-06-at-1047-1-hyM {
      margin: 0rem 0rem 9.2rem 0.3rem;
      width: 65.8rem;
      height: 34.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-15-d6K {
      background-repeat: no-repeat;
      background-position: center;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:5ce6e9ada4468d6e32ea49b73cd82c9a4564cca9');
      margin: 0rem 0.4rem 10.2rem 0rem;
      box-sizing: border-box;
      padding: 25rem 22.9rem 3.4rem 18.8rem;
      flex-shrink: 0;
      font-weight: 400;
      white-space: nowrap;
      font-size: 1.2rem;
    }
    .screen-shot-2023-04-20-at-1459-1-4xK {
      flex-shrink: 0;
      margin: 0rem 0rem 6.3rem 0.1rem;
      width: 65.3rem;
      height: 34.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .screen-shot-2023-04-27-at-1403-1-yZV {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 65.4rem;
      height: 32.9rem;
    }
  }
  .auto-group-d4lb-Jbm {
    margin: 53.1rem 4.2rem 0rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-04-07-at-1319-1-qrb {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 10.2rem 0rem;
      width: 61.9rem;
      height: 33.3rem;
    }
    .screen-shot-2023-04-14-at-1158-1-fKq {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 5.6rem 0.4rem;
      width: 62.6rem;
      height: 34.7rem;
    }
    .screen-shot-2023-04-21-at-1311-1-ybR {
      width: 62.3rem;
      height: 35.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 5.6rem 0.1rem;
    }
    .screen-shot-2023-04-28-at-1256-1-tiP {
      width: 62.3rem;
      height: 33rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.7rem;
    }
  }
  .auto-group-omkh-2Jo {
    margin: 54.3rem 4.9rem 0rem 0rem;
    width: 57.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-04-08-at-1057-1-mGP {
      width: 57.7rem;
      height: 33.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-wsyw-75M {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 10.3rem;

      .screen-shot-2023-04-15-at-1151-1-FST {
        flex-shrink: 0;
        margin-bottom: 4.3rem;
        width: 57.3rem;
        height: 35.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .screen-shot-2023-04-22-at-1237-1-ajd {
        margin-bottom: 5.6rem;
        width: 57rem;
        height: 35.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screen-shot-2023-04-29-at-1209-1-iL3 {
        width: 57.6rem;
        height: 34.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-7ay3-EpB {
    height: 217.7rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .screen-shot-2023-04-03-at-1714-1-PSB {
      height: 37rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 19.9rem 2.9rem;
      width: 61.7rem;
    }
    .screen-shot-2023-04-10-at-1543-1-hxf {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 10.2rem;
      width: 61.8rem;
      height: 33.7rem;
    }
    .screen-shot-2023-04-17-at-1446-1-drK {
      height: 35.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 4rem;
      width: 62.8rem;
    }
    .screen-shot-2023-04-24-at-1214-1-AbM {
      height: 31rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 9.8rem;
      width: 62.1rem;
    }
    .screen-shot-2023-05-01-at-1116-1-6zo {
      flex-shrink: 0;
      width: 63.8rem;
      height: 36.5rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
