
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Qxs {
  box-sizing: border-box;
  padding: 8.5rem 14.4rem 55.9rem 8.3rem;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-zw2b-iif {
    margin-bottom: 3.8rem;
    width: 100%;
    height: 55.2rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-7lq1-4Gj {
      flex-shrink: 0;
      margin-right: 34.4rem;
      width: 24.4rem;
      height: 100%;

      .item--Q5h {
        background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
        margin-bottom: 3.8rem;
        width: 20rem;
        height: 11.8rem;
        position: relative;
        background-size: 100% 169.492%;
        background-position: -0rem -2.9rem;
      }
      .item--sV5 {
        position: relative;
        background-size: 117.213% 190.667%;
        background-position: -2rem -5rem;
        background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
        width: 24.4rem;
        height: 15rem;
      }
      .auto-group-vnfd-Z71 {
        box-sizing: border-box;
        padding-top: 5.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-weqb-hDD {
          flex-shrink: 0;
          margin-bottom: 10rem;
          height: 2.4rem;
          display: flex;
          column-gap: 1rem;
          align-items: center;

          .applepay-pHq {
            width: 3.6rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .googlepay-kBV {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.6rem;
            height: 2.4rem;
          }
          .monopay-V95 {
            box-sizing: border-box;
            padding: 0.6rem 0.2rem 0.7rem 0.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #000000;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .auto-group-2jvf-17R {
              margin-right: 0.1rem;
              width: 2.5rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-312-kKu {
                background-color: #ffffff;
                border-radius: 0.3rem;
                width: 2.5rem;
                height: 1rem;
                position: absolute;
                left: 0;
                top: 0.1rem;
              }
              .mono-fxf {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                width: 2.2rem;
                left: 0.2rem;
                top: 0;
                font-size: 0.8rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                height: 1rem;
                position: absolute;
              }
            }
            .pay-a43 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 0.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .mastercard-HDM {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.6rem;
            height: 2.4rem;
          }
          .visa-RKZ {
            vertical-align: top;
            flex-shrink: 0;
            width: 3.6rem;
            height: 2.4rem;
            object-fit: contain;
          }
        }
        .auto-group-f3cw-9mM {
          margin: 0rem 4.2rem 0rem 0.7rem;
          width: calc(100% - 4.9rem);
          height: 7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .face-1-59D {
            height: 100%;
            background-color: #d9ae4f;
            border-radius: 3.5rem;
            flex-shrink: 0;
            margin-right: 5.5rem;
            box-sizing: border-box;
            padding: 1.1rem 1.158rem 0.3rem 1.3rem;

            .face-c99 {
              width: 4.5422rem;
              height: 5.6rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .face-5-LL3 {
            flex-shrink: 0;
            width: 7rem;
            height: 7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .item--GjV {
      position: relative;
      background-size: 100.16% 100.076%;
      background-position: -0.1rem -0.0172rem;
      background-image: url('REPLACE_IMAGE:1c44f32c2db443a60017a35771395abd814ce4ea');
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 62.5rem;
      height: 45.1rem;
    }
  }
  .auto-group-q5rt-H8o {
    margin: 0rem 0rem 5.9rem 0.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-sayk-p8j {
      margin-right: 5.5rem;
      row-gap: 3.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .face-2-wz3 {
        margin-left: 0.4rem;
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .face-3-VVm {
        flex-shrink: 0;
        margin-left: 0.4rem;
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .face-4-RuD {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 7rem;
        height: 7rem;
        position: relative;
      }
      .face-8-Mns {
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-htz1-h63 {
      margin: 0.1rem 38.6rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .face-6-cyh {
        flex-shrink: 0;
        margin-bottom: 3.8rem;
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .face-7-AVR {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
      }
      .face-9-7fZ {
        width: 7rem;
        height: 7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--fSB {
      margin-top: 0.4rem;
      width: 62.5rem;
      height: 45rem;
      position: relative;
      background-size: 100.055% 100.222%;
      background-position: -0.0173rem 0;
      background-image: url('REPLACE_IMAGE:6bbd844cdc2c5a70f50a3147c956d947097b0b13');
      flex-shrink: 0;
    }
  }
  .item--htf {
    width: 62.5rem;
    height: 45.1rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 58.8rem;
  }
}
