
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--37h {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-fhuo-k27 {
    width: 211.9rem;
    height: 279.6rem;
    position: relative;
    flex-shrink: 0;

    .item--oeb {
      padding: 0.1rem 8rem 0.1rem 6.6rem;
      width: 144rem;
      height: 12rem;
      display: flex;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      background-color: #edecea;

      .item--3J3 {
        height: 11.8rem;
        position: relative;
        background-size: 100% 169.492%;
        background-position: -0rem -2.9rem;
        background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
        flex-shrink: 0;
        margin-right: 9rem;
        width: 20rem;
      }
      .item--hNb {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.5rem 3.3rem 0rem 0rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .item--n99 {
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.5rem 3.7rem 0rem 0rem;
        font-size: 1.8rem;
      }
      .item--tT5 {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.5rem 8.1rem 0rem 0rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
      }
      .auto-group-cfpq-o4F {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.8rem 5.5rem 2.6rem 0rem;
        height: calc(100% - 5.4rem);
        align-items: flex-end;

        .item-38-097-000-79-96-hvK {
          line-height: 1.3999999364;
          color: #1b1b1b;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          margin: 0rem 0.6rem 0.8rem 0rem;
          font-weight: 400;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 1.8rem;

          .item-38-097-000-79-96-hvK-sub-0 {
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3999999364;
            color: #000000;
          }
          .item-38-097-000-79-96-hvK-sub-1 {
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3999999364;
            color: #000000;
          }
        }
        .auto-group-2zvk-WPu {
          width: 13.7rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .item--S2f {
        flex-shrink: 0;
        display: flex;
        box-sizing: border-box;
        padding: 1.4rem 1rem 1.3rem 1.2rem;
        height: calc(100% - 6.8rem);
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 0.5rem;
        margin: 3.4rem 1.8rem 3.4rem 0rem;

        .auto-group-b8c3-V9M {
          margin-right: 0.3891rem;
          width: 14.8109rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item--1tP {
            white-space: nowrap;
            left: 0;
            font-weight: 400;
            line-height: 1.2575;
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
            color: #000000;
            width: 13.8rem;
            height: 2.3rem;
            position: absolute;
            top: 0;
          }
          .vector-CLb {
            position: absolute;
            left: 13.8109rem;
            top: 0.9rem;
            background-color: #ff5f00;
            width: 0.5rem;
            height: 0.8rem;
          }
          .vector-KRD {
            left: 13.2109rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
            position: absolute;
          }
          .vector-FZm {
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8rem;
            height: 1rem;
            position: absolute;
            left: 14.0109rem;
          }
        }
        .vector-yEs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3rem;
          width: 2.6rem;
          height: 0.8rem;
        }
      }
      .item--4n7 {
        font-weight: 400;
        justify-content: center;
        width: 20rem;
        height: calc(100% - 6.8rem);
        color: #000000;
        align-items: center;
        font-size: 1.8rem;
        line-height: 1.2575;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 3.35rem 0rem 3.45rem 0rem;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ff9bab;
      }
    }
    .item--SXm {
      top: 0;
      width: 150.9rem;
      height: 140.7rem;
      position: absolute;
      left: 0;

      .vector-159-X3R {
        vertical-align: top;
        width: 14.8501rem;
        height: 36.3rem;
        position: absolute;
        left: 73.2499rem;
        top: 12rem;
        object-fit: contain;
      }
      .ellipse-32-3XZ {
        top: 59.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 43rem;
        height: 43rem;
        position: absolute;
        left: 36.3rem;
      }
      .ellipse-30-aGb {
        height: 60rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 60rem;
      }
      .ellipse-33-XBq {
        vertical-align: top;
        width: 40.4rem;
        height: 40.4rem;
        position: absolute;
        left: 0;
        top: 82.3rem;
        object-fit: contain;
      }
      .rectangle-290-4hZ {
        border-radius: 20rem 20rem 0 20rem;
        width: 28.7rem;
        height: 28.7rem;
        position: absolute;
        left: 30.5rem;
        top: 13.3rem;
        background-color: #edecea;
      }
      .rectangle-293-NiF {
        border-radius: 20rem 20rem 0 20rem;
        width: 14.9rem;
        height: 14.9rem;
        position: absolute;
        left: 20.7rem;
        top: 87.6rem;
        background-color: #5a808a;
      }
      .rectangle-297-hkX {
        height: 17.5rem;
        position: absolute;
        left: 93rem;
        top: 82.5rem;
        background-color: #d9ae4f;
        border-radius: 20rem 20rem 0 20rem;
        width: 17.5rem;
      }
      .rectangle-291-paF {
        top: 12rem;
        background-color: #d9ae4f;
        border-radius: 0 0 15rem 15rem;
        width: 32rem;
        height: 35rem;
        position: absolute;
        left: 74.5rem;
      }
      .rectangle-292-96j {
        background-color: #5a808a;
        border-radius: 0 0 15rem 15rem;
        width: 32rem;
        height: 19.3rem;
        position: absolute;
        left: 112rem;
        top: 83.2rem;
      }
      .mask-group-sHd {
        width: 35rem;
        height: 35rem;
        position: absolute;
        left: 75.5rem;
        top: 47rem;
        object-fit: contain;
        vertical-align: top;
      }
      .mask-group-Q2f {
        width: 37rem;
        height: 37rem;
        position: absolute;
        left: 107rem;
        top: 12rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-36-w2b {
        border-radius: 6.85rem;
        width: 13.7rem;
        height: 13.7rem;
        position: absolute;
        left: 0;
        top: 54.1rem;
        background-color: #d9ae4f;
      }
      .rectangle-296-fUP {
        position: absolute;
        left: 111rem;
        top: 49.7rem;
        background-color: #edecea;
        border-radius: 20rem 20rem 0 20rem;
        width: 32.3rem;
        height: 32.3rem;
      }
      .vector-158-BSj {
        left: 34.4832rem;
        top: 80.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 15.0668rem;
        height: 21.5rem;
        position: absolute;
      }
      .item--7LP {
        color: #1b1b1b;
        justify-content: center;
        background-color: #ff9bab;
        left: 8rem;
        line-height: 1.2575;
        font-family: Helvetica Neue, 'Source Sans Pro';
        font-weight: 400;
        align-items: center;
        border-radius: 0.5rem;
        top: 67.7rem;
        font-size: 2.4rem;
        white-space: nowrap;
        display: flex;
        width: 45rem;
        height: 8rem;
        position: absolute;
      }
      .shuttle-school--WdR {
        left: 8rem;
        font-size: 4.8rem;
        font-family: Exo, 'Source Sans Pro';
        width: 65.8rem;
        height: 12.8rem;
        position: absolute;
        color: #000000;
        top: 46.5rem;
        font-weight: 700;
        line-height: 1.33;
      }
      .item--aNP {
        position: absolute;
        left: 8rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        width: 59.5rem;
        top: 60.3rem;
        line-height: 1.2575;
        color: #000000;
        height: 3.1rem;
      }
    }
    .rectangle-337-boH {
      width: 144rem;
      height: 35rem;
      position: absolute;
      left: 0;
      top: 102.5rem;
      background-color: #edecea;
    }
    .item--kAP {
      position: absolute;
      left: 26.85rem;
      top: 103.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 90.3rem;
      height: 26.4rem;

      .auto-group-5yfh-rUK {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 20.6rem;

        .item--ncs {
          top: 9.2rem;
          text-align: center;
          font-size: 3rem;
          line-height: 1.2575;
          color: #000000;
          height: 11.4rem;
          position: absolute;
          left: 0;
          font-family: Helvetica Neue, 'Source Sans Pro';
          width: 90.3rem;
          font-weight: 400;
        }
        .item--dG7 {
          color: #ff9bab;
          font-family: Istok Web, 'Source Sans Pro';
          white-space: nowrap;
          width: 4.8rem;
          line-height: 1.44;
          left: 42.75rem;
          top: 0;
          font-size: 12.8rem;
          font-weight: 400;
          height: 18.5rem;
          position: absolute;
        }
      }
      .auto-group-mu8w-Jt3 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 22.65rem 0rem 22.65rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .rectangle-294-dQX {
          margin-bottom: 1rem;
          width: 100%;
          height: 0.3rem;
          background-color: #ff9bab;
          flex-shrink: 0;
        }
        .item--yUP {
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
        }
      }
    }
    .item--sZm {
      height: 15rem;
      position: absolute;
      left: 103.5rem;
      top: 130rem;
      background-color: #f4e7ca;
      border-radius: 7.5rem;
      width: 15rem;
    }
    .item--m9M {
      display: flex;
      flex-direction: column;
      width: 211.9rem;
      height: 174.5rem;
      position: absolute;
      left: 0;
      top: 87.1rem;
      align-items: flex-end;

      .auto-group-zlv9-rgb {
        position: relative;
        flex-shrink: 0;
        margin-right: 4.7rem;
        width: 207.2rem;
        height: 144.5rem;

        .item--naF {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 135.9rem;
          height: 137rem;
          position: absolute;
          left: 0;
        }
        .rectangle-302-qoR {
          left: 107.3rem;
          top: 126.4rem;
          background-color: rgba(217, 174, 79, 0.3000000119);
          border-radius: 0 0 15rem 15rem;
          width: 32rem;
          height: 18.1rem;
          position: absolute;
        }
        .item--wrT {
          width: 127.6rem;
          height: 54.7rem;
          position: absolute;
          left: 8.3rem;
          top: 59.6rem;
          display: flex;
          align-items: center;

          .auto-group-grip-Az7 {
            position: relative;
            flex-shrink: 0;
            margin-right: 8.5rem;
            width: 53.7rem;
            height: 100%;

            .item--ugo {
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 53.7rem;
              height: 49.5rem;
              position: absolute;
            }
            .item--mj1 {
              width: 51.5999rem;
              height: 52.8rem;
              position: absolute;
              left: 1rem;
              top: 1.9rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--eH1 {
            margin: 8.9rem 0rem 6.4rem 0rem;
            width: 65.4rem;
            height: calc(100% - 15.3rem);
            flex-shrink: 0;

            .auto-group-hbab-7Ab {
              margin: 0rem 0rem 3rem 0.1rem;
              width: 44.9rem;
              height: 4.8rem;
              position: relative;

              .rectangle--pqh {
                position: absolute;
                left: 16.4rem;
                top: 0.3rem;
                background-color: #ff9bab;
                border-radius: 0.5rem;
                width: 26.7rem;
                height: 4.5rem;
              }
              .item--Xk7 {
                top: 0;
                color: #000000;
                height: 4.8rem;
                position: absolute;
                left: 0;
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 1.33;
                font-family: Exo, 'Source Sans Pro';
                white-space: nowrap;
                width: 44.9rem;
              }
            }
            .rectangle-295-1fH {
              margin-bottom: 1rem;
              width: 100%;
              height: 0.3rem;
              background-color: #5a808a;
            }
            .item-2020--xaX {
              line-height: 1.3999999364;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              max-width: 65.4rem;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
        }
      }
      .auto-group-gjkv-rmh {
        display: flex;
        align-items: center;
        background-color: #dee6e8;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 7.3rem 6.1rem 7.1rem 12.5rem;
        height: 30rem;

        .item-4000-NEF {
          margin: 0rem 10.7rem 3rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-4000-JNo {
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 0.9rem 0rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.33;
            color: #ff9bab;
          }
          .item--Cj5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
        }
        .item-261-tbu {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 10.8rem;
          height: 100%;

          .item-261-qGF {
            margin: 0rem 0.1rem 0.9rem 0rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.33;
            color: #ff9bab;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--MkP {
            font-family: Helvetica Neue, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.9rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
        }
        .item-750-ocP {
          margin-bottom: 3rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-750-9RM {
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2.8rem 0.9rem 0rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.33;
            color: #ff9bab;
          }
          .item--feb {
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .auto-group-2hvv-kAF {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15rem 0rem 6.2rem 6.5rem;
    width: 100%;
    align-items: center;
    display: flex;

    .item--Uc3 {
      margin: 0rem 6.9rem 5.8rem 0rem;
      width: 130.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-wdlx-BWT {
        box-sizing: border-box;
        padding: 0rem 0.6rem 7.4rem 0.8rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--iFV {
          margin: 0rem 0rem 6rem 5.8rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rectangle-296-2GB {
          flex-shrink: 0;
          margin: 0rem 0.5rem 3rem 0.7rem;
          width: calc(100% - 1.2rem);
          height: 0.3rem;
          background-color: #5a808a;
        }
        .auto-group-ark7-jwH {
          flex-shrink: 0;
          width: 100%;
          height: 12.3rem;
          display: flex;
          align-items: flex-start;

          .auto-group-vhbq-sXh {
            flex-shrink: 0;
            margin-right: 0.55rem;
            width: 42.5rem;
            height: 12.1rem;
            position: relative;

            .ellipse-37-ow9 {
              position: absolute;
              left: 2.1rem;
              top: 0;
              background-color: #d9ae4f;
              border-radius: 4rem;
              width: 8rem;
              height: 8rem;
            }
            .item-01-9VD {
              width: 6.6rem;
              height: 9rem;
              left: 0;
              white-space: nowrap;
              font-weight: 700;
              line-height: 1.3999999762;
              color: #5a808a;
              font-family: Exo, 'Source Sans Pro';
              position: absolute;
              top: 3.1rem;
              text-align: center;
              font-size: 6.4rem;
            }
            .item--fCf {
              font-weight: 400;
              line-height: 1.3999999364;
              font-family: Helvetica Neue, 'Source Sans Pro';
              width: 33.9rem;
              height: 7.6rem;
              position: absolute;
              top: 3.2rem;
              left: 8.6rem;
              font-size: 1.8rem;
              color: #000000;
            }
          }
          .auto-group-rdfy-qWT {
            position: relative;
            flex-shrink: 0;
            margin-right: 6.55rem;
            width: 37.05rem;
            height: 100%;

            .ellipse-38-nAo {
              width: 8rem;
              height: 8rem;
              position: absolute;
              left: 2.75rem;
              top: 0;
              background-color: #d9ae4f;
              border-radius: 4rem;
            }
            .item-02-KAj {
              font-size: 6.4rem;
              line-height: 1.3999999762;
              color: #5a808a;
              font-family: Exo, 'Source Sans Pro';
              position: absolute;
              top: 3.3rem;
              text-align: center;
              font-weight: 700;
              white-space: nowrap;
              width: 7.9rem;
              height: 9rem;
              left: 0;
            }
            .zoom-RjZ {
              left: 9.25rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3999999364;
              position: absolute;
              height: 5.1rem;
              top: 3.2rem;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              width: 27.8rem;
            }
          }
          .auto-group-pkvo-JoM {
            flex-shrink: 0;
            width: 42.55rem;
            height: 12.2rem;
            position: relative;

            .ellipse-39-eMR {
              left: 2.55rem;
              top: 0;
              background-color: #d9ae4f;
              border-radius: 4rem;
              width: 8rem;
              height: 8rem;
              position: absolute;
            }
            .item-03-ZzB {
              top: 3.2rem;
              text-align: center;
              font-size: 6.4rem;
              color: #5a808a;
              font-family: Exo, 'Source Sans Pro';
              width: 7.9rem;
              height: 9rem;
              position: absolute;
              white-space: nowrap;
              left: 0;
              font-weight: 700;
              line-height: 1.3999999762;
            }
            .item-6-3-4--tWf {
              line-height: 1.3999999364;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              width: 33.3rem;
              height: 5.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              position: absolute;
              left: 9.25rem;
              top: 3.2rem;
            }
          }
        }
      }
      .auto-group-bcno-hDD {
        flex-shrink: 0;
        width: 100%;
        height: 11.7rem;
        display: flex;
        align-items: center;

        .auto-group-zv1d-qaK {
          flex-shrink: 0;
          margin-right: 10.05rem;
          width: 33.7rem;
          height: 100%;
          position: relative;

          .ellipse-42-nEf {
            position: absolute;
            left: 2.9rem;
            top: 0;
            background-color: #d9ae4f;
            border-radius: 4rem;
            width: 8rem;
            height: 8rem;
          }
          .item-04-XCF {
            text-align: center;
            font-size: 6.4rem;
            color: #5a808a;
            font-family: Exo, 'Source Sans Pro';
            width: 8.2rem;
            height: 9rem;
            top: 2.7rem;
            line-height: 1.3999999762;
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-weight: 700;
          }
          .item--EMZ {
            height: 5.1rem;
            position: absolute;
            left: 9.4rem;
            top: 2.7rem;
            font-weight: 400;
            line-height: 1.3999999364;
            width: 24.3rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            font-size: 1.8rem;
          }
        }
        .auto-group-kdnk-gUT {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 6.45rem;
          width: 37.15rem;

          .ellipse-41-pqZ {
            width: 8rem;
            height: 8rem;
            position: absolute;
            left: 2.85rem;
            top: 0;
            background-color: #d9ae4f;
            border-radius: 4rem;
          }
          .item-05-kz7 {
            height: 9rem;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.3999999762;
            width: 8.1rem;
            top: 2.7rem;
            color: #5a808a;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--GhZ {
            width: 27.8rem;
            height: 7.6rem;
            top: 2.7rem;
            font-weight: 400;
            line-height: 1.3999999364;
            position: absolute;
            left: 9.35rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
        }
        .auto-group-gahz-SVZ {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 43.25rem;

          .ellipse-40-PQo {
            top: 0;
            background-color: #d9ae4f;
            border-radius: 4rem;
            width: 8rem;
            height: 8rem;
            position: absolute;
            left: 2.65rem;
          }
          .item-06-87V {
            white-space: nowrap;
            height: 9rem;
            left: 0;
            top: 2.7rem;
            text-align: center;
            color: #5a808a;
            font-family: Exo, 'Source Sans Pro';
            width: 8.1rem;
            position: absolute;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.3999999762;
          }
          .item-2--3VM {
            line-height: 1.3999999364;
            width: 33.8rem;
            left: 9.45rem;
            top: 2.7rem;
            font-size: 1.8rem;
            font-weight: 400;
            height: 5.1rem;
            position: absolute;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
          }
        }
      }
    }
    .item--fWj {
      margin-left: 1.5rem;
      display: flex;
      column-gap: 3rem;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-1uwb-Ng3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 40.7rem;
        align-items: center;

        .item--89R {
          height: 13rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          background-color: #5a808a;
          border-radius: 0.5rem;
          margin-bottom: 3.1rem;
          line-height: 1.2575;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          font-weight: 400;
          width: 100%;
          font-size: 3rem;
          flex-shrink: 0;
        }
        .item--YU3 {
          color: #ffffff;
          font-family: Helvetica Neue, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-size: 3rem;
          font-weight: 400;
          border-radius: 0.5rem;
          flex-shrink: 0;
          height: 13rem;
          white-space: nowrap;
          width: 100%;
          line-height: 1.2575;
          justify-content: center;
          background-color: #5a808a;
        }
      }
      .auto-group-5pd9-y3Z {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 40.6rem;
        align-items: center;

        .item--Vnb {
          flex-shrink: 0;
          margin: 0rem 0rem 6rem 6.4rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.33;
          color: #000000;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--b4w {
          align-items: center;
          margin-bottom: 3.1rem;
          font-weight: 400;
          color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          background-color: #5a808a;
          height: 13rem;
          font-size: 3rem;
          line-height: 1.2575;
          width: 100%;
          font-family: Helvetica Neue, 'Source Sans Pro';
        }
        .item--dXR {
          font-family: Helvetica Neue, 'Source Sans Pro';
          justify-content: center;
          background-color: #5a808a;
          border-radius: 0.5rem;
          width: 100%;
          height: 13rem;
          font-weight: 400;
          line-height: 1.2575;
          flex-shrink: 0;
          font-size: 3rem;
          color: #ffffff;
          align-items: center;
          white-space: nowrap;
          display: flex;
        }
      }
      .auto-group-j8nw-H6B {
        margin-bottom: 0.1rem;
        width: 60.7rem;
        height: 48.2rem;
        position: relative;
        flex-shrink: 0;

        .ellipse-54-oaK {
          background-color: #edecea;
          border-radius: 20rem;
          width: 40rem;
          height: 40rem;
          position: absolute;
          left: 20.7rem;
          top: 0;
        }
        .item--XmD {
          font-family: Helvetica Neue, 'Source Sans Pro';
          justify-content: center;
          width: 40.7rem;
          left: 0;
          display: flex;
          background-color: #5a808a;
          border-radius: 0.5rem;
          height: 13rem;
          position: absolute;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          top: 35.2rem;
          font-size: 3rem;
          line-height: 1.2575;
        }
        .item--P2j {
          justify-content: center;
          align-items: center;
          height: 13rem;
          position: absolute;
          top: 19.2rem;
          line-height: 1.2575;
          white-space: nowrap;
          border-radius: 0.5rem;
          width: 40.7rem;
          left: 0;
          font-weight: 400;
          font-family: Helvetica Neue, 'Source Sans Pro';
          font-size: 3rem;
          color: #ffffff;
          display: flex;
          background-color: #5a808a;
        }
      }
    }
  }
  .auto-group-quth-buV {
    width: 100%;
    height: 56.6rem;
    position: relative;
    flex-shrink: 0;

    .item--k1h {
      top: 13.8rem;
      background-color: #edecea;
      box-sizing: border-box;
      padding: 7.45rem 8rem 2.3rem 8rem;
      width: 144rem;
      height: 42.8rem;
      position: absolute;
      left: 0;

      .auto-group-9ah9-qJ3 {
        margin-bottom: 0.8rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .item--mxP {
          background-position: -2rem -5rem;
          background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
          flex-shrink: 0;
          margin: 0.05rem 8.4rem 0rem 0rem;
          width: 24.4rem;
          height: 15rem;
          position: relative;
          background-size: 117.213% 190.667%;
        }
        .auto-group-2y2o-Eqy {
          flex-shrink: 0;
          margin: 0.05rem 22.5rem 0rem 0rem;
          height: 16.4rem;
          display: flex;
          flex-direction: column;

          .item--9i3 {
            font-weight: 700;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            font-size: 1.6rem;
          }
          .rectangle-310-55u {
            height: 0.2rem;
            background-color: #5a808a;
            flex-shrink: 0;
            width: 9.2rem;
          }
          .item--oXh {
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--KW3 {
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
          }
          .item--eHR {
            line-height: 1.3999999762;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item--xou {
            line-height: 1.3999999762;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .auto-group-sb15-V39 {
          flex-shrink: 0;
          margin: 0.05rem 26.4rem 0rem 0rem;
          width: 16.1rem;

          .item--opX {
            margin-bottom: 1.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-336-wA3 {
            height: 0.2rem;
            background-color: #5a808a;
            margin-bottom: 0.4rem;
            width: 100%;
          }
          .item-38-097-000-79-96-g7d {
            margin-bottom: 1.1rem;
            font-size: 1.8rem;
            line-height: 1.3999999364;
            color: #1b1b1b;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: baseline;
            font-weight: 400;
            white-space: nowrap;

            .item-38-097-000-79-96-g7d-sub-0 {
              font-weight: 400;
              line-height: 1.3999999364;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
              font-size: 1.8rem;
            }
            .item-38-097-000-79-96-g7d-sub-1 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3999999364;
              color: #000000;
              font-family: Helvetica Neue, 'Source Sans Pro';
            }
          }
          .auto-group-hu1m-1Sj {
            width: 13.7rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-mphd-Lju {
          width: 20rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--gYs {
            border-radius: 0.5rem;
            margin-bottom: 2.45rem;
            width: 100%;
            font-size: 1.8rem;
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica Neue, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            font-weight: 400;
            display: flex;
            align-items: center;
            height: 5rem;
            background-color: #ff9bab;
          }
          .item--Kbq {
            padding: 1.4rem 1rem 1.3rem 1.2rem;
            width: 100%;
            height: 5rem;
            border-radius: 0.5rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border: solid 0.1rem #000000;
            flex-shrink: 0;

            .auto-group-ruab-oX1 {
              flex-shrink: 0;
              margin-right: 0.3891rem;
              width: 14.8109rem;
              height: 100%;
              position: relative;

              .item--8pB {
                width: 13.8rem;
                font-size: 1.8rem;
                font-family: Helvetica Neue, 'Source Sans Pro';
                line-height: 1.2575;
                color: #000000;
                white-space: nowrap;
                height: 2.3rem;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 400;
              }
              .vector-dF9 {
                top: 0.9rem;
                background-color: #ff5f00;
                width: 0.5rem;
                height: 0.8rem;
                position: absolute;
                left: 13.8109rem;
              }
              .vector-kqZ {
                vertical-align: top;
                width: 0.8rem;
                height: 1rem;
                position: absolute;
                left: 13.2109rem;
                top: 0.8rem;
                object-fit: contain;
              }
              .vector-68j {
                position: absolute;
                left: 14.0109rem;
                top: 0.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.8rem;
                height: 1rem;
              }
            }
            .vector-EEw {
              flex-shrink: 0;
              margin-top: 0.3rem;
              width: 2.6rem;
              height: 0.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .auto-group-wysm-vNf {
        margin-bottom: 8.3rem;
        display: flex;
        align-items: flex-start;

        .applepay-rGK {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 3.6rem;
        }
        .googlepay-nQs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 3.6rem;
          height: 2.4rem;
          position: relative;
        }
        .monopay-iZR {
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin-right: 1.2rem;
          background-color: #000000;
          height: 2.4rem;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 0.6rem 0.2rem 0.7rem 0.3rem;

          .auto-group-a2xd-qP9 {
            margin-right: 0.1rem;
            width: 2.5rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-312-BT1 {
              width: 2.5rem;
              height: 1rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #ffffff;
              border-radius: 0.3rem;
            }
            .mono-v9h {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1rem;
              left: 0.2rem;
              line-height: 1.2125;
              color: #000000;
              font-weight: 600;
              width: 2.2rem;
              position: absolute;
              top: 0;
              font-size: 0.8rem;
            }
          }
          .pay-DuV {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 0.8rem;
            font-weight: 400;
          }
        }
        .mastercard-j79 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 3.6rem;
          height: 2.4rem;
        }
        .visa-TYw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 9.1rem;
          width: 3.6rem;
          height: 2.4rem;
        }
        .item--nr7 {
          margin-top: 0.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .rectangle-298-JZZ {
        margin-bottom: 2.4rem;
        width: 100%;
        height: 0.2rem;
        background-color: #5a808a;
      }
      .item--Svf {
        margin: 0rem 8.8rem 0rem 11.1rem;
        width: calc(100% - 19.9rem);
        display: flex;
        align-items: center;

        .item--94P {
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 26.6rem;
          font-size: 1.6rem;
        }
        .item--qxo {
          margin-right: 19.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--Xqd {
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .ellipse-33-DCf {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 27.6rem;
      height: 27.6rem;
      position: absolute;
    }
    .rectangle-293-Z1d {
      background-color: #f4e7ca;
      border-radius: 20rem 20rem 0 20rem;
      width: 9.1rem;
      height: 9.1rem;
      position: absolute;
      left: 14.3rem;
      top: 4.7rem;
    }
  }
}
