
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--BRM {
  box-sizing: border-box;
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #edecea;

  .item--rGb {
    height: 11.8rem;
    position: relative;
    background-size: 100% 169.492%;
    background-position: -0rem -2.9rem;
    background-image: url('REPLACE_IMAGE:f4bdde636357285681b330d541fa69516a75a5c3');
    flex-shrink: 0;
    margin-right: 9rem;
    width: 20rem;
  }
  .item--W6F {
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.5rem 3.3rem 0rem 0rem;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .item--npT {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.5rem 3.7rem 0rem 0rem;
  }
  .item--763 {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.5rem 8.1rem 0rem 0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
  }
  .auto-group-twsr-D95 {
    margin: 0.2rem 5.5rem 0rem 0rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item-38-097-000-79-96-XfZ {
      font-weight: 400;
      color: #1b1b1b;
      display: flex;
      margin: 0rem 0.6rem 0.8rem 0rem;
      font-size: 1.8rem;
      line-height: 1.3999999364;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;

      .item-38-097-000-79-96-XfZ-sub-0 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
      }
      .item-38-097-000-79-96-XfZ-sub-1 {
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .auto-group-r4h9-rUs {
      flex-shrink: 0;
      width: 13.7rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--BGF {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: solid 0.1rem #000000;
    border-radius: 0.5rem;
    margin-right: 1.8rem;
    padding: 1.4rem 1rem 1.3rem 1.2rem;
    height: 5rem;
    flex-shrink: 0;

    .auto-group-r4qz-33Z {
      margin-right: 0.3891rem;
      width: 14.8109rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item--Nbd {
        width: 13.8rem;
        top: 0;
        font-size: 1.8rem;
        line-height: 1.2575;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.3rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        color: #000000;
      }
      .vector-rWo {
        background-color: #ff5f00;
        width: 0.5rem;
        height: 0.8rem;
        position: absolute;
        left: 13.8109rem;
        top: 0.9rem;
      }
      .vector-yrK {
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 13.2109rem;
        top: 0.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-6vw {
        vertical-align: top;
        width: 0.8rem;
        height: 1rem;
        position: absolute;
        left: 14.0109rem;
        top: 0.8rem;
        object-fit: contain;
      }
    }
    .vector-qNj {
      flex-shrink: 0;
      margin-top: 0.3rem;
      width: 2.6rem;
      height: 0.8rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--YH9 {
    border-radius: 0.5rem;
    height: 5rem;
    font-weight: 400;
    justify-content: center;
    width: 20rem;
    font-size: 1.8rem;
    background-color: #ff9bab;
    color: #000000;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 0.1rem;
    line-height: 1.2575;
    font-family: Helvetica Neue, 'Source Sans Pro';
  }
}
