
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.item--fnB {
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 4.5rem 4.5rem 10rem 8rem;
  width: 100%;

  .item--X3h {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 1.5rem 83.5rem;
    width: 4rem;
    height: 4rem;
  }
  .item--bpF {
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4rem 0.3rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.33;
  }
  .auto-group-ug5y-Sps {
    flex-shrink: 0;
    margin: 0rem 3.5rem 1.5rem 0rem;
    width: calc(100% - 3.5rem);
    height: 8.7rem;
    display: flex;
    align-items: center;

    .item--xYK {
      margin-right: 3rem;
      width: 40.5rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .item--Hab {
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
      }
      .auto-group-rnuh-o39 {
        line-height: 1.3999999364;
        white-space: nowrap;
        background-color: #dee6e8;
        box-sizing: border-box;
        padding: 1.7rem 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        border-radius: 0.5rem;
      }
    }
    .item--fb9 {
      width: 40.5rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .item--zNX {
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
      }
      .auto-group-liyt-hnj {
        background-color: #dee6e8;
        box-sizing: border-box;
        padding: 1.7rem 2rem;
        line-height: 1.3999999364;
        white-space: nowrap;
        font-family: Helvetica Neue, 'Source Sans Pro';
        border-radius: 0.5rem;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        color: #5a808a;
      }
    }
  }
  .auto-group-bu1q-PQf {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.5rem 1.5rem 0rem;
    width: calc(100% - 3.5rem);
    height: 8.7rem;

    .item--iSw {
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-right: 3rem;
      width: 40.5rem;

      .item--2iX {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.4rem;
      }
      .auto-group-zccj-X9V {
        font-weight: 400;
        line-height: 1.3999999364;
        background-color: #dee6e8;
        border-radius: 0.5rem;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 1.7rem 2rem;
        width: 100%;
        font-size: 1.8rem;
      }
    }
    .item--1aT {
      width: 40.5rem;
      height: 100%;
      flex-shrink: 0;

      .item--MuD {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.4rem;
      }
      .auto-group-ytrf-Uyq {
        display: flex;
        align-items: center;
        background-color: #dee6e8;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 1.7rem 2.5rem 1.7rem 2rem;
        width: 100%;

        .item--Qcb {
          margin-right: 22.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .vector-KjZ {
          margin-top: 0.5rem;
          width: 1.7rem;
          height: 0.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .item--qxo {
    margin: 0rem 3.5rem 3rem 0rem;
    width: 84rem;
    flex-shrink: 0;

    .item--x1q {
      margin-bottom: 0.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-qymd-Shh {
      box-sizing: border-box;
      padding: 1.7rem 2.5rem 1.7rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #dee6e8;
      border-radius: 0.5rem;

      .item--aou {
        margin-right: 60.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-HCX {
        margin-bottom: 0.1rem;
        width: 1.7rem;
        height: 0.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item--CaP {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4000000272;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 22.6rem 3rem 0rem;
  }
  .item--mG7 {
    width: 84rem;
    height: 6rem;
    font-size: 1.8rem;
    background-color: #ff9bab;
    font-weight: 400;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    justify-content: center;
    margin-right: 3.5rem;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 1.3999999364;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }
}
