
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--jVm {
  width: 100%;
  height: 163.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item--EhR {
    line-height: 1.33;
    font-family: Exo, 'Source Sans Pro';
    height: 4.8rem;
    position: absolute;
    top: 6.1rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    width: 17.8rem;
    left: 7.8rem;
    font-size: 3.6rem;
  }
  .item--Wuq {
    font-weight: 700;
    line-height: 1.33;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 7.8rem;
    top: 37.9rem;
    font-size: 3.6rem;
    font-family: Exo, 'Source Sans Pro';
    width: 16.5rem;
    height: 4.8rem;
  }
  .item--p9q {
    line-height: 1.33;
    white-space: nowrap;
    position: absolute;
    left: 9rem;
    font-size: 3.6rem;
    font-weight: 700;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    width: 39.9rem;
    height: 4.8rem;
    top: 102.9rem;
  }
  .helvetica-neue-hDd {
    font-weight: 400;
    line-height: 1.2575;
    height: 3.8rem;
    left: 7.8rem;
    font-size: 3rem;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    width: 46.4rem;
    position: absolute;
    top: 15.1rem;
  }
  .exo-bK1 {
    font-family: Helvetica Neue, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.8rem;
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
    width: 41.7rem;
    left: 7.8rem;
    top: 21.3rem;
    line-height: 1.2575;
  }
  .auto-group-w9gw-VvB {
    display: flex;
    align-items: center;
    width: 109.3rem;
    height: 10rem;
    position: absolute;
    left: 7.8rem;
    top: 46.9rem;

    .group-134-RYw {
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 5rem;
      width: 10rem;
      height: 100%;
      line-height: 1.2575;
      color: #000000;
      align-items: center;
      flex-shrink: 0;
      margin-right: 2.6rem;
      justify-content: center;
      font-size: 2rem;
      display: flex;
      background-color: #ff9bab;
    }
    .item--WaP {
      margin: 0.2rem 9.9rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .group-140-QQs {
      color: #000000;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      background-color: #f4657c;
      margin-right: 2.6rem;
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      width: 10rem;
      height: 100%;
      font-size: 2rem;
      line-height: 1.2575;
    }
    .item--VSK {
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 3rem;
    }
  }
  .auto-group-dowb-mPq {
    left: 7.8rem;
    top: 59.5rem;
    display: flex;
    align-items: center;
    width: 109.3rem;
    height: 10rem;
    position: absolute;

    .group-135-tUT {
      width: 10rem;
      height: 100%;
      font-size: 2rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      background-color: #5a808a;
      border-radius: 5rem;
      flex-shrink: 0;
      margin-right: 2.6rem;
      justify-content: center;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-1-yVu {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 9.7rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .group-141-4nF {
      width: 10rem;
      color: #ffffff;
      margin-right: 2.6rem;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      font-size: 2rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      background-color: #305e6a;
      flex-shrink: 0;
      height: 100%;
    }
    .item--MWT {
      margin-top: 0.2rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-itb9-3PH {
    height: 10rem;
    position: absolute;
    left: 7.8rem;
    top: 72.1rem;
    display: flex;
    align-items: center;
    width: 109.3rem;

    .group-136-mKH {
      margin-right: 2.6rem;
      line-height: 1.2575;
      white-space: nowrap;
      display: flex;
      height: 100%;
      color: #000000;
      justify-content: center;
      flex-shrink: 0;
      font-size: 2rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      align-items: center;
      border-radius: 5rem;
      width: 10rem;
      font-weight: 400;
      background-color: #d9ae4f;
    }
    .item-2-f9m {
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 9.7rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
    }
    .group-142-MHV {
      background-color: #cd961c;
      flex-shrink: 0;
      font-weight: 400;
      font-family: Helvetica Neue, 'Source Sans Pro';
      display: flex;
      margin-right: 2.6rem;
      color: #000000;
      justify-content: center;
      border-radius: 5rem;
      width: 10rem;
      height: 100%;
      font-size: 2rem;
      line-height: 1.2575;
      white-space: nowrap;
      align-items: center;
    }
    .item--qiT {
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
    }
  }
  .auto-group-tk4t-7vs {
    align-items: center;
    width: 105rem;
    height: 10rem;
    position: absolute;
    left: 7.8rem;
    top: 84.7rem;
    display: flex;

    .group-137-33q {
      flex-shrink: 0;
      width: 10rem;
      font-size: 2rem;
      align-items: center;
      border-radius: 5rem;
      justify-content: center;
      background-color: rgba(237, 236, 234, 0.9294117689);
      height: 100%;
      font-weight: 400;
      line-height: 1.2575;
      display: flex;
      margin-right: 2.6rem;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
    }
    .item--Wi7 {
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-qg2o-Lx3 {
    position: absolute;
    left: 7.8rem;
    top: 111.7rem;
    display: flex;
    align-items: center;
    width: 56.4rem;
    height: 10rem;

    .group-138-UHZ {
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 2.6rem;
      font-size: 2rem;
      background-color: #dee6e8;
      width: 10rem;
      height: 100%;
      white-space: nowrap;
      border-radius: 5rem;
      align-items: center;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
    }
    .item--YHR {
      margin-top: 0.8rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-eb55-q1d {
    width: 56.3rem;
    height: 10rem;
    position: absolute;
    left: 7.9rem;
    top: 124.3rem;
    display: flex;
    align-items: center;

    .group-139-A3u {
      font-weight: 400;
      width: 10rem;
      display: flex;
      align-items: center;
      margin-right: 2.5rem;
      height: 100%;
      line-height: 1.2575;
      background-color: #f4e7ca;
      font-size: 2rem;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      border-radius: 5rem;
      flex-shrink: 0;
    }
    .item--qvj {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
