
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--NS7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 8rem;

  .auto-group-ovrb-5rK {
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 24.2rem;
    width: 8rem;
    align-items: flex-end;
    display: flex;

    .margin-cbM {
      color: #000000;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.33;
    }
    .rectangle-385-wNj {
      width: 100%;
      height: 0.5rem;
      background-color: #5a808a;
      flex-shrink: 0;
    }
  }
  .auto-group-nwth-GR1 {
    width: 128rem;
    height: 102.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-372-Niw {
      left: 0;
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
    }
    .rectangle-373-X63 {
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
      left: 10.9rem;
      top: 0;
      background-color: #eeedeb;
    }
    .rectangle-374-4bm {
      width: 8rem;
      height: 102.4rem;
      position: absolute;
      left: 21.8rem;
      top: 0;
      background-color: #eeedeb;
    }
    .rectangle-375-brb {
      height: 102.4rem;
      position: absolute;
      left: 32.8rem;
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
    }
    .rectangle-376-kUb {
      position: absolute;
      left: 43.7rem;
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
    }
    .rectangle-377-6YT {
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
      left: 54.6rem;
    }
    .rectangle-378-FAT {
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
      left: 65.5rem;
      top: 0;
      background-color: #eeedeb;
    }
    .rectangle-379-C5h {
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
      left: 76.4rem;
      top: 0;
      background-color: #eeedeb;
    }
    .rectangle-380-Xtf {
      width: 8rem;
      height: 102.4rem;
      position: absolute;
      left: 87.3rem;
      top: 0;
      background-color: #eeedeb;
    }
    .rectangle-381-H79 {
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
      left: 98.3rem;
      top: 0;
    }
    .rectangle-382-2aX {
      left: 109.2rem;
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
    }
    .rectangle-383-nJo {
      left: 120.1rem;
      top: 0;
      background-color: #eeedeb;
      width: 7.9rem;
      height: 102.4rem;
      position: absolute;
    }
    .rectangle-384-8Nf {
      position: absolute;
      left: 0;
      top: 8.8rem;
      background-color: #5a808a;
      width: 127.8rem;
      height: 0.5rem;
    }
    .rectangle-386-531 {
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 7.9rem;
      top: 46.6rem;
      background-color: #5a808a;
    }
    .rectangle-387-DQ7 {
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 18.8rem;
      top: 46.6rem;
      background-color: #5a808a;
    }
    .rectangle-388-ZD5 {
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 29.8rem;
      top: 46.6rem;
    }
    .rectangle-389-W8K {
      left: 40.7rem;
      top: 46.6rem;
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
      position: absolute;
    }
    .rectangle-390-3tw {
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 51.6rem;
      top: 46.6rem;
    }
    .rectangle-391-CG3 {
      height: 0.5rem;
      position: absolute;
      left: 62.5rem;
      top: 46.6rem;
      background-color: #5a808a;
      width: 3rem;
    }
    .rectangle-392-8vP {
      top: 46.6rem;
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 73.4rem;
    }
    .rectangle-393-t8s {
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 84.3rem;
      top: 46.6rem;
    }
    .rectangle-394-caf {
      width: 3rem;
      height: 0.5rem;
      position: absolute;
      left: 95.3rem;
      top: 46.6rem;
      background-color: #5a808a;
    }
    .rectangle-395-9qV {
      position: absolute;
      left: 106.2rem;
      top: 46.6rem;
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
    }
    .rectangle-396-to5 {
      position: absolute;
      left: 117.1rem;
      top: 46.6rem;
      background-color: #5a808a;
      width: 3rem;
      height: 0.5rem;
    }
    .columns-Ec3 {
      line-height: 1.33;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.8rem;
      left: 53rem;
      top: 2.5rem;
      font-size: 3.6rem;
      width: 18.8rem;
      position: absolute;
      font-weight: 700;
      color: #000000;
    }
    .gutter-MRm {
      width: 7.1rem;
      position: absolute;
      left: 7.9rem;
      top: 43.8rem;
      line-height: 1.33;
      color: #000000;
      height: 2.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
