
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.item--uKy {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding: 4.5rem 4.5rem 10rem 8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .item--kLb {
    flex-shrink: 0;
    margin: 0rem 0rem 1.5rem 83.5rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--q79 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.33;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4rem 0.3rem;
  }
  .auto-group-yasu-Gy9 {
    height: 8.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.5rem 1.5rem 0rem;
    width: calc(100% - 3.5rem);

    .item--ngb {
      flex-shrink: 0;
      margin-right: 3rem;
      width: 40.5rem;
      height: 100%;
      border-radius: 0.5rem;

      .item--Juq {
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-vhhd-ptB {
        white-space: nowrap;
        border-radius: 0.5rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        background-color: #dee6e8;
        box-sizing: border-box;
        padding: 1.7rem 2rem;
        width: 100%;
        font-size: 1.8rem;
      }
    }
    .item--76b {
      width: 40.5rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .item--2UT {
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
      }
      .auto-group-qdlp-vZq {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        border-radius: 0.5rem;
        padding: 1.7rem 2rem;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #dee6e8;
      }
    }
  }
  .auto-group-bmhv-QV1 {
    height: 8.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.5rem 1.5rem 0rem;
    width: calc(100% - 3.5rem);

    .item--wE3 {
      margin-right: 3rem;
      width: 40.5rem;
      height: 100%;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .item--rbu {
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-dgus-kBV {
        font-size: 1.8rem;
        background-color: #dee6e8;
        padding: 1.7rem 2rem;
        width: 100%;
        line-height: 1.3999999364;
        color: #5a808a;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.5rem;
        box-sizing: border-box;
        font-weight: 400;
      }
    }
    .item--qij {
      height: 100%;
      flex-shrink: 0;
      width: 40.5rem;

      .item--C3V {
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-hb63-j3R {
        box-sizing: border-box;
        padding: 1.7rem 2.5rem 1.7rem 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #dee6e8;
        border-radius: 0.5rem;

        .item--45h {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3999999364;
          color: #000000;
          font-family: Helvetica Neue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 22.8rem;
        }
        .vector-a43 {
          height: 0.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.5rem;
          width: 1.7rem;
        }
      }
    }
  }
  .item--6YB {
    margin: 0rem 3.5rem 3rem 0rem;
    width: 84rem;
    flex-shrink: 0;

    .item--zNf {
      line-height: 1.3999999762;
      color: #000000;
      font-family: Helvetica Neue, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .auto-group-bglb-Uod {
      box-sizing: border-box;
      padding: 1.7rem 2.5rem 1.7rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #dee6e8;
      border-radius: 0.5rem;

      .item--pMh {
        margin-right: 60.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #000000;
        font-family: Helvetica Neue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-ihy {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 1.7rem;
        height: 0.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .item--EgK {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 22.6rem 3rem 0rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4000000272;
    color: #000000;
    font-family: Helvetica Neue, 'Source Sans Pro';
  }
  .item--osq {
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #ff9bab;
    width: 84rem;
    font-size: 1.8rem;
    line-height: 1.3999999364;
    color: #000000;
    display: flex;
    border-radius: 0.5rem;
    font-weight: 400;
    height: 6rem;
    font-family: Helvetica Neue, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 3.5rem;
  }
}
