
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26rem;
}.button-for-first-pop-up--21R {
  width: 100%;
  height: 3.6rem;
  cursor: pointer;

  .button-french-yBZ {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0.5rem;

    .frame-4-8q9 {
      font-weight: 400;
      font-family: Exo, 'Source Sans Pro';
      justify-content: center;
      width: 100%;
      text-align: center;
      align-items: center;
      border-radius: 0.5rem;
      height: 100%;
      font-size: 1.4rem;
      background-color: #2d59ab;
      line-height: 1.4000000272;
      white-space: nowrap;
      color: #ffffff;
      display: flex;
    }
  }
}
