
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.6rem;
}.button-trial-lesson-hover-g5H {
  width: 100%;
  height: 4.2rem;
  background-color: #bf192c;
  border-radius: 0.5rem;

  .button-trial-lesson-hover-BXq {
    width: 13.5rem;
    line-height: 1.3999999762;
    text-align: center;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    height: 4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0rem 0.1rem 0.2rem 0rem;
    justify-content: center;
  }
}
