
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-tUs {
  width: 100%;
  height: 512rem;
  position: relative;
  overflow: hidden;
  background-color: #edecea;

  .auto-group-kdgf-cQs {
    left: 0;
    align-items: center;
    background-color: #5a808a;
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    display: flex;
    padding: 1.8rem 7rem 1.7rem 7rem;
    height: 12rem;
    top: 0;

    .img7804-HX1 {
      flex-shrink: 0;
      margin-right: 65.8rem;
      width: 20.2rem;
      height: 8.5rem;
      position: relative;
      background-size: 115.475% 276.033%;
      background-position: -1.588rem -7.7273rem;
      background-image: url('REPLACE_IMAGE:7e1e6c37a06ed72c8b18cb7af1d7bd72a52d8e3d');
    }
    .group-31-k9h {
      justify-content: center;
      flex-shrink: 0;
      font-weight: 400;
      display: flex;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 0.5rem;
      margin: 1.7rem 4rem 1.8rem 0rem;
      font-size: 1.8rem;
      white-space: nowrap;
      align-items: center;
      background-color: #d9ae4f;
      width: 20rem;
      height: calc(100% - 3.5rem);
    }
    .group-30-mab {
      background-color: #5a808a;
      margin: 1.7rem 0rem 1.8rem 0rem;
      height: calc(100% - 3.5rem);
      align-items: center;
      flex-shrink: 0;
      width: 20rem;
      display: flex;
      border: solid 0.1rem #edecea;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      box-sizing: border-box;
      border-radius: 0.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #edecea;
      font-size: 1.8rem;
      white-space: nowrap;
    }
  }
  .auto-group-osmd-BuD {
    left: 0;
    top: 57.9rem;
    box-sizing: border-box;
    padding-top: 22.4rem;
    width: 144rem;
    height: 64.5rem;
    position: absolute;

    .group-32-uaK {
      color: #000000;
      align-items: center;
      border-radius: 0.5rem;
      height: 8rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      background-color: #d79495;
      margin: 0rem 0rem 14.1rem 7rem;
      width: 45rem;
      font-weight: 400;
      line-height: 1.2125;
      justify-content: center;
    }
    .desktop-3-Z95 {
      align-items: flex-start;
      background-color: #d9ae4f;
      margin-right: 0.1rem;
      width: calc(100% - 0.1rem);
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      padding: 0.9rem 17.1rem 0rem 20.3rem;
      height: 20rem;
      display: flex;

      .item--3a3 {
        flex-shrink: 0;
        font-size: 9.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-naqj-Maj {
        width: 102.8rem;
        height: 15.6rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 4.5rem;

        .item--HjH {
          white-space: nowrap;
          position: absolute;
          top: 0;
          font-size: 4rem;
          color: #000000;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 102.8rem;
          height: 4.9rem;
          left: 0;
          font-weight: 400;
        }
        .item--QSX {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          position: absolute;
          left: 62.3rem;
          top: 9.8rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          width: 36.5rem;
        }
        .item--FT9 {
          position: absolute;
          left: 94.7rem;
          font-size: 9.6rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.7rem;
          height: 11.7rem;
          top: 3.9rem;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
  }
  .shuttle-school-XfZ {
    width: 71.1rem;
    height: 3rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 7rem;
    top: 54.9rem;
    font-size: 2.4rem;
  }
  .item--ynT {
    position: absolute;
    left: 7rem;
    top: 40rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 67.5rem;
    height: 13.4rem;
    font-size: 5.5rem;
    line-height: 1.2125;
  }
  .desktop-4-PrB {
    overflow: hidden;
    padding: 27.2rem 41.9rem 22.4rem 42rem;
    left: 0;
    top: 122.4rem;
    position: absolute;
    background-color: #5a808a;
    box-sizing: border-box;
    width: 144rem;
    height: 82.4rem;

    .item-2020--Guy {
      max-width: 60.1rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .desktop-5-nz7 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 19.1rem 4.9rem 58.9rem 4.9rem;
    width: 144rem;
    top: 204.8rem;
    left: 0;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 102.4rem;
    position: absolute;

    .item--f2K {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 6.4rem 0.1rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-hrzm-jns {
      flex-shrink: 0;
      margin: 0rem 9.3rem 4.1rem 0rem;
      height: 9rem;
      display: flex;
      align-items: flex-start;

      .auto-group-wkc3-T6b {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 38rem;

        .item--BHV {
          width: 31.6rem;
          height: 3.9rem;
          position: absolute;
          font-size: 1.6rem;
          left: 6.4rem;
          top: 0.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-01-Xkf {
          height: 9rem;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.3999999762;
          width: 6.6rem;
          color: #5a808a;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .zoom-Ef5 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.4rem 2.9rem 0rem 0rem;
        max-width: 30.6rem;
      }
      .item-6-3-4-Juq {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.4rem 7rem 0rem 0rem;
        font-size: 1.6rem;
      }
      .item--MdD {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 1.2rem;
        font-size: 1.6rem;
      }
    }
    .auto-group-yuy3-r4B {
      margin: 0rem 5.6rem 0rem 2.7rem;
      width: calc(100% - 8.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--YBu {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 5.9rem 0rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .item--z3u {
        flex-shrink: 0;
        margin: 0.4rem 13.9rem 0rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--UDy {
        margin: 0rem 4.9rem 0.4rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--vbm {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
      }
    }
  }
  .desktop-6-z5q {
    overflow: hidden;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    left: 0;
    background-color: #5a808a;
    padding: 17.6rem 10.8rem 39.4rem 7.2rem;
    height: 102.4rem;
    top: 307.2rem;
    flex-direction: column;

    .item--UFu {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 13rem 3.9rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .auto-group-ypyx-ZYF {
      width: 100%;
      height: 13rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.9rem;

      .auto-group-vwnf-HDM {
        align-items: center;
        height: 100%;
        background-color: #d9d9d9;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        line-height: 1.2125;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        border-radius: 0.5rem;
        width: 40rem;
      }
      .auto-group-4u4b-AH9 {
        height: 100%;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        background-color: #d9d9d9;
        width: 40rem;
        border-radius: 0.5rem;
        font-weight: 400;
        line-height: 1.2125;
        align-items: center;
      }
      .auto-group-xejf-r9y {
        line-height: 1.2125;
        justify-content: center;
        height: 100%;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        background-color: #d9d9d9;
        width: 40rem;
        font-size: 2rem;
        color: #000000;
        flex-shrink: 0;
        border-radius: 0.5rem;
      }
    }
    .auto-group-mypj-87V {
      flex-shrink: 0;
      margin: 0rem 21.4rem 0rem 20rem;
      width: calc(100% - 41.4rem);
      height: 13rem;
      display: flex;
      align-items: center;

      .auto-group-k6bm-ERR {
        line-height: 1.2125;
        margin-right: 4.6rem;
        white-space: nowrap;
        justify-content: center;
        height: 100%;
        font-weight: 400;
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        background-color: #d9d9d9;
        width: 40rem;
        font-size: 2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
      .auto-group-ygew-HuV {
        justify-content: center;
        border-radius: 0.5rem;
        white-space: nowrap;
        background-color: #d9d9d9;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 40rem;
      }
    }
  }
  .desktop-7-BV5 {
    position: absolute;
    left: 0;
    top: 409.6rem;
    overflow: hidden;
    background-color: #ffffff;
    width: 144rem;
    height: 102.4rem;

    .item--hCX {
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 10.1rem;
      top: 10.3rem;
      font-size: 2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      left: 63rem;
    }
    .shuttelschool1-380-97-000-7996-Aro {
      top: 26.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      width: 43.6rem;
      height: 14.6rem;
      position: absolute;
      left: 9.3rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;

      .shuttelschool1-380-97-000-7996-Aro-sub-0 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .shuttelschool1-380-97-000-7996-Aro-sub-1 {
      }
      .shuttelschool1-380-97-000-7996-Aro-sub-2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .shuttelschool1-380-97-000-7996-Aro-sub-3 {
      }
    }
    .item--Nzo {
      left: 72rem;
      font-size: 2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 35rem;
      height: 2.5rem;
      position: absolute;
      top: 25.9rem;
      line-height: 1.2125;
      color: #000000;
    }
    .rectangle-287-E1R {
      top: 68.1rem;
      background-color: #d9d9d9;
      width: 144rem;
      height: 34.3rem;
      position: absolute;
      left: 0;
    }
    .item--m1M {
      height: 2.5rem;
      position: absolute;
      top: 46.1rem;
      font-weight: 400;
      white-space: nowrap;
      width: 9rem;
      left: 104.7rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .e-mail-S7V {
      white-space: nowrap;
      width: 6rem;
      position: absolute;
      top: 39.6rem;
      color: #000000;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      left: 104.7rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .instagram-k8B {
      width: 9.5rem;
      position: absolute;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      left: 104.7rem;
      top: 31.9rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .desktop-8-F4w {
      top: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      width: 144rem;
      left: 0;
      align-items: center;
      height: 102.4rem;
      position: absolute;

      .auto-group-rctm-xV9 {
        box-sizing: border-box;
        padding: 10.3rem 9.3rem 18.7rem 9.3rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--fuM {
          margin: 0rem 7.9rem 13.1rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-vu83-ALK {
          margin-right: 20.5rem;
          width: calc(100% - 20.5rem);
          height: 23.5rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-xvyw-4wV {
            margin: 0.5rem 19.1rem 0rem 0rem;
            width: 43.6rem;
            height: 18.0968rem;
            position: relative;
            flex-shrink: 0;

            .shuttelschool1-380-97-000-7996-NSP {
              width: 43.6rem;
              line-height: 1.4;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 400;
              color: #000000;
              height: 16.8rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 2rem;

              .shuttelschool1-380-97-000-7996-NSP-sub-0 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.4;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .shuttelschool1-380-97-000-7996-NSP-sub-1 {
              }
              .shuttelschool1-380-97-000-7996-NSP-sub-2 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4;
                color: #000000;
              }
              .shuttelschool1-380-97-000-7996-NSP-sub-3 {
              }
            }
            .group-36-tSf {
              width: 17.1rem;
              height: 2.9968rem;
              position: absolute;
              left: 18.7rem;
              top: 12.1rem;
              border-radius: 0.5rem;

              .rectangle-279-cNf {
                background-color: #d9ae4f;
                border-radius: 0.5rem;
                width: 100%;
                height: 2.9968rem;
              }
            }
            .group-37-wQw {
              top: 15.1rem;
              border-radius: 0.5rem;
              width: 18.3rem;
              height: 2.9968rem;
              position: absolute;
              left: 25.3rem;

              .rectangle-279-GTD {
                width: 100%;
                height: 2.9968rem;
                background-color: #d9ae4f;
                border-radius: 0.5rem;
              }
            }
          }
          .auto-group-6cct-zu1 {
            width: 42.2rem;
            height: 100%;
            flex-shrink: 0;

            .item--Lhy {
              white-space: nowrap;
              margin-bottom: 2.8rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .auto-group-uusz-Qxj {
              display: flex;
              align-items: center;
              width: 100%;
              height: 5rem;

              .group-33-xjM {
                height: 100%;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 31.2rem;

                .rectangle-279-6qZ {
                  height: 5rem;
                  background-color: #d9ae4f;
                  border-radius: 0.5rem;
                  width: 100%;
                }
              }
              .instagram-Rsq {
                margin-bottom: 1.1rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .auto-group-cjeo-A4j {
              padding-top: 1.6rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;

              .auto-group-aqmd-gom {
                margin: 0rem 3.5rem 1.6rem 0rem;
                width: calc(100% - 3.5rem);
                height: 5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .group-34-Py5 {
                  margin-right: 1.5rem;
                  width: 31.2rem;
                  height: 100%;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .rectangle-279-YLB {
                    height: 5rem;
                    background-color: #d9ae4f;
                    border-radius: 0.5rem;
                    width: 100%;
                  }
                }
                .e-mail-UUj {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 1.1rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
              }
              .auto-group-9ysr-QNP {
                margin: 0rem 0.5rem 0rem 0.1rem;
                width: calc(100% - 0.6rem);
                height: 5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .group-35-WRR {
                  margin-right: 1.4rem;
                  width: 31.2rem;
                  height: 100%;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .rectangle-279-T5m {
                    background-color: #d9ae4f;
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 5rem;
                  }
                }
                .item--Aks {
                  flex-shrink: 0;
                  margin-top: 0.9rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
      .auto-group-fqrm-TV5 {
        height: 34.3rem;
        display: flex;
        align-items: center;
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.4rem 11.9rem 2.4rem 9.3rem;
        width: 100%;

        .auto-group-mdsk-MKZ {
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 15.1rem;

          .img7804-fr3 {
            margin: 0rem 0.8rem 1.1rem 0rem;
            width: 27.7rem;
            height: 11.7rem;
            position: relative;
            background-size: 115.475% 276.033%;
            background-position: -2.1775rem -10.6364rem;
            background-image: url('REPLACE_IMAGE:7e1e6c37a06ed72c8b18cb7af1d7bd72a52d8e3d');
            flex-shrink: 0;
          }
          .screenshot-2024-01-03-at-0044-1-vX5 {
            margin-bottom: 2.4rem;
            width: 27.3rem;
            height: 9rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-yxhu-qP9 {
            margin-right: 1.3rem;
            width: 14.3rem;
            height: 2.3rem;
            position: relative;
            flex-shrink: 0;

            .item--xyZ {
              line-height: 1.3999999762;
              color: #000000;
              width: 14.3rem;
              height: 2.3rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              left: 0;
              font-size: 1.6rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--2yR {
              height: 2.3rem;
              left: 0;
              font-weight: 400;
              color: #000000;
              width: 14.3rem;
              position: absolute;
              top: 0;
              font-size: 1.6rem;
              line-height: 1.3999999762;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-droh-uXR {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 5.4rem;
          width: 41.2rem;
          height: 100%;
          align-items: center;
          display: flex;

          .auto-group-4xnt-qR5 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .auto-group-stwm-adZ {
              margin: 0rem 14rem 1.6rem 0rem;
              width: calc(100% - 14rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--VVd {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 14.7rem 0.1rem 0rem;
              }
              .item--BtF {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3999999762;
                color: #000000;
              }
            }
            .auto-group-zscb-u3Z {
              margin-right: 3.1rem;
              width: calc(100% - 3.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--qT1 {
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.9rem 0.1rem 0rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .item-380-97-000-7996-vjM {
                align-items: baseline;
                font-size: 1.6rem;
                font-weight: 400;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                margin-top: 0.1rem;
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';

                .item-380-97-000-7996-vjM-sub-0 {
                }
                .item-380-97-000-7996-vjM-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3999999762;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-380-97-000-7996-vjM-sub-2 {
                }
              }
            }
          }
          .auto-group-rbab-rmR {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--CqH {
              margin: 0rem 8.9rem 0.1rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .shuttelschool1-6Qs {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #000000;
            }
          }
          .auto-group-y24k-BSK {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.5rem;
            width: 100%;

            .auto-group-5wif-JWw {
              width: calc(100% - 4.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 4.8rem 0.5rem 0rem;

              .item--1RM {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.4rem 10.4rem 0rem 0rem;
              }
              .item--5g7 {
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-q4dy-Nv7 {
              margin: 0rem 2rem 1rem 0rem;
              width: calc(100% - 2rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--Vzj {
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.5rem 11.2rem 0rem 0rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .item--C8T {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3999999762;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item--HQo {
              line-height: 1.3999999762;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 4.7rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .auto-group-2cb5-ncT {
              flex-shrink: 0;
              margin: 0rem 10.4rem 0rem 6.4rem;
              width: calc(100% - 16.8rem);
              height: 2.3rem;
              position: relative;

              .item--6NF {
                line-height: 1.3999999762;
                color: #000000;
                white-space: nowrap;
                width: 24.4rem;
                height: 2.3rem;
                font-size: 1.6rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                position: absolute;
                left: 0;
                top: 0;
              }
              .item--kxb {
                left: 0;
                font-weight: 400;
                width: 24.4rem;
                height: 2.3rem;
                position: absolute;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                top: 0;
                font-size: 1.6rem;
                line-height: 1.3999999762;
              }
            }
          }
        }
        .auto-group-3i5z-ofy {
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 2.1rem;
          align-items: flex-end;
          display: flex;

          .group-38-wnB {
            line-height: 1.2125;
            color: #000000;
            align-items: center;
            border-radius: 0.5rem;
            height: 5rem;
            font-weight: 400;
            display: flex;
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            background-color: #d9ae4f;
            width: 23.1rem;
            font-size: 1.8rem;
          }
          .group-39-vu1 {
            margin-bottom: 9.4rem;
            align-items: center;
            background-color: #d9ae4f;
            width: 23.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            height: 5rem;
            justify-content: center;
            border-radius: 0.5rem;
          }
          .auto-group-v3tx-YfV {
            margin-right: 8.6rem;
            width: 24rem;
            height: 2.3rem;
            position: relative;
            flex-shrink: 0;

            .item--G5h {
              line-height: 1.3999999762;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 2.3rem;
              position: absolute;
              left: 0;
              font-size: 1.6rem;
              width: 24rem;
              top: 0;
              font-weight: 400;
              white-space: nowrap;
            }
            .item--KJs {
              line-height: 1.3999999762;
              color: #000000;
              width: 24rem;
              height: 2.3rem;
              top: 0;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 0;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
