
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-17-MRm {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-6eF {
    margin-bottom: 8.3rem;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    position: relative;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .frame-43-F1M {
      background-color: #edecea;
      padding: 1.5rem 8rem;
      overflow: hidden;
      align-items: center;
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      .item--mkP {
        height: 9rem;
        position: relative;
        background-size: 115.475% 276.033%;
        background-position: -1.6823rem -8.1818rem;
        background-image: url('REPLACE_IMAGE:7e1e6c37a06ed72c8b18cb7af1d7bd72a52d8e3d');
        flex-shrink: 0;
        margin-right: 8.4rem;
        width: 21.4rem;
      }
      .item--f55 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #292929;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--NVH {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #292929;
      }
      .item--J83 {
        line-height: 1.2125;
        color: #292929;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .item--DF1 {
        line-height: 1.2125;
        color: #292929;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .item--L4j {
        height: calc(100% - 4rem);
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 2rem 2.7rem 2rem 0rem;
        width: 19rem;

        .group-41-2CT {
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 100%;
          height: 100%;
          line-height: 1.2125;
          border: solid 0.1rem #000000;
          font-size: 1.8rem;
          white-space: nowrap;
          justify-content: center;
          font-weight: 400;
          color: #1e1e1d;
          align-items: center;
        }
      }
      .item--hpP {
        margin: 2rem 0;
        width: 19rem;
        height: calc(100% - 4rem);
        border-radius: 0.5rem;
        flex-shrink: 0;

        .group-31-ocX {
          font-weight: 400;
          white-space: nowrap;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          background-color: #ff9bab;
          border-radius: 0.5rem;
          padding: 1.4rem 0.6rem 1.4rem 1.9rem;
          font-size: 1.8rem;
          line-height: 1.2125;
        }
      }
    }
  }
  .item--rqh {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 4.2rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .auto-group-mcx5-947 {
    box-sizing: border-box;
    padding: 8.3rem 8.3rem 60.4rem 8.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-un6f-rz7 {
      flex-shrink: 0;
      margin-bottom: 5.1rem;
      width: 100%;
      height: 26.1rem;
      display: flex;
      align-items: center;

      .group-96-bwh {
        flex-shrink: 0;
        width: 35rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .rectangle-325-xGT {
          border: solid 0.1rem #ff9bab;
          box-sizing: border-box;
          background-color: #edecea;
          border-radius: 3rem 7rem 0 7rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 100%;
          height: 17.8rem;
        }
        .auto-group-8x1d-3oh {
          margin-left: 9.8rem;
          width: calc(100% - 9.8rem);
          height: 6.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-wg91-B9D {
            margin: 1.2rem 0.7rem 1.1rem 0rem;
            height: calc(100% - 2.3rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--Vfh {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.8rem;
              font-weight: 400;
            }
            .item-1-zsM {
              line-height: 1.2125;
              color: #5a808a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .mask-group-W51 {
            width: 6.8rem;
            height: 6.8rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-z5mv-eBD {
        box-sizing: border-box;
        padding-left: 11.2rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-vp63-bMM {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 11.2rem;
          width: 35rem;
          align-items: flex-end;
          display: flex;

          .rectangle-326-jTZ {
            width: 100%;
            height: 17.8rem;
            border: solid 0.1rem #ff9bab;
            box-sizing: border-box;
            background-color: #edecea;
            border-radius: 3rem 7rem 0 7rem;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
          }
          .auto-group-j7gw-Fgo {
            margin-left: 9.8rem;
            width: calc(100% - 9.8rem);
            height: 6.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-3enf-aUB {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);

              .item--7DD {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .item-1-obq {
                line-height: 1.2125;
                color: #5a808a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .mask-group-7Md {
              width: 6.8rem;
              height: 6.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-bvvh-TAb {
          flex-shrink: 0;
          width: 35rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .rectangle-327-oVM {
            height: 17.8rem;
            border: solid 0.1rem #ff9bab;
            box-sizing: border-box;
            background-color: #edecea;
            border-radius: 3rem 7rem 0 7rem;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 100%;
          }
          .auto-group-b4bv-XRM {
            margin-left: 9.8rem;
            width: calc(100% - 9.8rem);
            height: 6.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-xcsu-sEK {
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);
              display: flex;

              .item--bw1 {
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-1-78f {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #5a808a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .mask-group-DBh {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 6.8rem;
              height: 6.8rem;
              position: relative;
            }
          }
        }
      }
    }
    .auto-group-fvp3-9LF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 6.3rem;
      width: 100%;
      height: 26.1rem;

      .group-97-h6s {
        flex-direction: column;
        flex-shrink: 0;
        width: 35rem;
        height: 100%;
        align-items: flex-end;
        display: flex;

        .rectangle-325-FPH {
          width: 100%;
          height: 17.8rem;
          border: solid 0.1rem #ff9bab;
          box-sizing: border-box;
          background-color: #edecea;
          border-radius: 3rem 7rem 0 7rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .auto-group-5lgj-kqq {
          margin-left: 9.8rem;
          width: calc(100% - 9.8rem);
          height: 6.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-mh1v-6Pu {
            margin: 1.2rem 0.7rem 1.1rem 0rem;
            height: calc(100% - 2.3rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--d8w {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-1-KGf {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #5a808a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .mask-group-d2T {
            width: 6.8rem;
            height: 6.8rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-lv1u-ZB1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 11.2rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-kano-6wd {
          width: 35rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 11.2rem;

          .rectangle-328-rA7 {
            box-sizing: border-box;
            background-color: #edecea;
            border-radius: 3rem 7rem 0 7rem;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 100%;
            height: 17.8rem;
            border: solid 0.1rem #ff9bab;
          }
          .auto-group-cufy-NPM {
            width: calc(100% - 9.8rem);
            height: 6.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 9.8rem;

            .auto-group-atxp-hwR {
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--e5y {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .item-1-9YX {
                line-height: 1.2125;
                color: #5a808a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .mask-group-Eps {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 6.8rem;
              height: 6.8rem;
            }
          }
        }
        .auto-group-ij9d-BVD {
          flex-shrink: 0;
          width: 35rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .rectangle-329-jFq {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 100%;
            height: 17.8rem;
            border: solid 0.1rem #ff9bab;
            box-sizing: border-box;
            background-color: #edecea;
            border-radius: 3rem 7rem 0 7rem;
          }
          .auto-group-9u6o-qpf {
            width: calc(100% - 9.8rem);
            height: 6.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 9.8rem;

            .auto-group-x2pd-myD {
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--upX {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .item-1-DaK {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #5a808a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .mask-group-L99 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 6.8rem;
              height: 6.8rem;
            }
          }
        }
      }
    }
    .auto-group-b9eb-TzT {
      flex-shrink: 0;
      margin-bottom: 17.1rem;
      width: 100%;
      height: 41.2rem;
      display: flex;
      align-items: center;

      .group-98-Cx3 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 35rem;

        .rectangle-325-ZGo {
          border: solid 0.1rem #ff9bab;
          box-sizing: border-box;
          background-color: #edecea;
          border-radius: 3rem 7rem 0 7rem;
          flex-shrink: 0;
          width: 100%;
          height: 17.8rem;
        }
        .auto-group-hpud-gcK {
          padding: 1.5rem 0rem 0rem 9.8rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-vxc7-pTd {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 11.5rem;
            width: 100%;
            height: 6.8rem;

            .auto-group-s5tx-Zg7 {
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--J7u {
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-1-Pv3 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #5a808a;
              }
            }
            .mask-group-K31 {
              height: 6.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 6.8rem;
            }
          }
          .clarity-plus-line-GD9 {
            margin-right: 15.8rem;
            width: 3.6rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-1zkm-oD5 {
        box-sizing: border-box;
        padding-left: 8.4rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-m1ab-ke7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.4rem;
          width: 40.6rem;
          align-items: center;

          .auto-group-jbph-uG7 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 2.8rem 7.8rem 2.8rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .rectangle-330-2rX {
              background-color: #edecea;
              border-radius: 3rem 7rem 0 7rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 100%;
              height: 17.8rem;
              border: solid 0.1rem #ff9bab;
              box-sizing: border-box;
            }
            .auto-group-w8fd-Yps {
              flex-shrink: 0;
              margin-left: 9.8rem;
              width: calc(100% - 9.8rem);
              height: 6.8rem;
              display: flex;
              align-items: center;

              .auto-group-zups-VVD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 1.2rem 0.7rem 1.1rem 0rem;
                height: calc(100% - 2.3rem);

                .item--2V9 {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                }
                .item-1-LEw {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #5a808a;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .mask-group-EbD {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 6.8rem;
                height: 6.8rem;
                position: relative;
              }
            }
          }
          .group-95-af5 {
            width: 100%;
            height: 5.3rem;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .item--k3m {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;

              .group-41-fwR {
                font-weight: 400;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
                background-color: #ff9bab;
                display: flex;
                justify-content: center;
                border-radius: 0.5rem;
                width: 100%;
                height: 100%;
                font-size: 1.8rem;
                line-height: 1.2125;
                white-space: nowrap;
              }
            }
          }
        }
        .auto-group-lcpb-A7V {
          width: 35rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-331-7YX {
            height: 17.8rem;
            border: solid 0.1rem #ff9bab;
            box-sizing: border-box;
            background-color: #edecea;
            border-radius: 3rem 7rem 0 7rem;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 100%;
          }
          .auto-group-7kfu-uUP {
            width: calc(100% - 9.8rem);
            height: 6.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 9.8rem;

            .auto-group-nwf5-qsq {
              margin: 1.2rem 0.7rem 1.1rem 0rem;
              height: calc(100% - 2.3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--AfD {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .item-1-UA7 {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #5a808a;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .mask-group-BaK {
              width: 6.8rem;
              height: 6.8rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .item--iq9 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 48.4rem 5.4rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .item--zXm {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-left: 10.8rem;
      max-width: 73.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .footer-wbR {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #edecea;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.3rem 8rem 3.6rem 7.8rem;

    .auto-group-asj9-Tpf {
      margin-bottom: 0.9rem;
      width: 100%;
      height: 13rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ppux-odd {
        box-sizing: border-box;
        padding-right: 14.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .img7804-wzj {
          position: relative;
          background-size: 115.475% 276.033%;
          background-position: -2.1775rem -10.6364rem;
          background-image: url('REPLACE_IMAGE:7e1e6c37a06ed72c8b18cb7af1d7bd72a52d8e3d');
          flex-shrink: 0;
          margin-right: 16.2rem;
          width: 27.7rem;
          height: 11.7rem;
        }
        .auto-group-qwgk-Eyq {
          flex-shrink: 0;
          margin-right: 11.6rem;
          display: flex;
          flex-direction: column;

          .item--nVZ {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.3999999762;
          }
          .rectangle-296-Jyh {
            width: 9.5rem;
            height: 0.2rem;
            background-color: #5a808a;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
          }
          .item--Sq1 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--AFD {
            line-height: 1.3999999762;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item--gDZ {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-tzsp-nnP {
          width: 25.9rem;
          height: 12.9rem;
          position: relative;
          flex-shrink: 0;

          .item--jBq {
            width: 8.7rem;
            font-size: 1.6rem;
            line-height: 1.3999999762;
            color: #000000;
            white-space: nowrap;
            height: 2.3rem;
            position: absolute;
            left: 0.2rem;
            top: 0;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
          }
          .shuttelschool1-d2K {
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 1.3999999762;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 22.1rem;
            height: 2.3rem;
            top: 4rem;
            font-weight: 400;
          }
          .shuttleschoolgmailcom-tyq {
            top: 7.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            width: 25.9rem;
            position: absolute;
            left: 0;
            white-space: nowrap;
            height: 2.3rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .shattleschool-b7Z {
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            top: 10.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #000000;
            width: 21.7rem;
            height: 2.3rem;
            position: absolute;
            left: 0;
            white-space: nowrap;
          }
          .rectangle-297-VCw {
            position: absolute;
            left: 0;
            top: 3.8rem;
            background-color: #5a808a;
            width: 21.8rem;
            height: 0.2rem;
          }
        }
      }
      .auto-group-ltnf-coM {
        flex-direction: column;
        flex-shrink: 0;
        width: 21.8rem;
        height: 100%;
        align-items: center;
        display: flex;

        .item--NGj {
          height: 5rem;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 3rem;
          width: 100%;

          .group-31-vhZ {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            width: 100%;
            font-size: 1.8rem;
            color: #000000;
            white-space: nowrap;
            background-color: #ff9bab;
            height: 100%;
            line-height: 1.2125;
          }
        }
        .item--QMq {
          height: 5rem;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;

          .group-41-vLB {
            line-height: 1.2125;
            justify-content: center;
            font-weight: 400;
            align-items: center;
            border: solid 0.1rem #000000;
            border-radius: 0.5rem;
            color: #1e1e1d;
            display: flex;
            height: 100%;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
    .auto-group-hcqh-BX1 {
      margin: 0rem 41.1rem 6.6rem 0rem;
      height: 5.6rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-50-W3V {
        column-gap: 1rem;
        align-items: center;
        flex-shrink: 0;
        margin: 1.4rem 18.6rem 1.8rem 0rem;
        height: calc(100% - 3.2rem);
        display: flex;

        .fontisto-apple-pay-QuZ {
          width: 3.6rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-47-9s9 {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.6rem;
          height: 2.4rem;
          object-fit: contain;
        }
        .group-49-hdm {
          width: 4.5rem;
          height: 100%;
          border-radius: 0.3rem;
          flex-shrink: 0;

          .group-48-GRy {
            box-sizing: border-box;
            padding: 0.6rem 0.2rem 0.7rem 0.3rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #000000;
            border-radius: 0.3rem;

            .auto-group-fnyb-QHH {
              margin-right: 0.1rem;
              width: 2.5rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .rectangle-312-Lwd {
                top: 0.1rem;
                background-color: #ffffff;
                border-radius: 0.3rem;
                width: 2.5rem;
                height: 1rem;
                position: absolute;
                left: 0;
              }
              .mono-fyu {
                line-height: 1.2125;
                color: #000000;
                width: 2.2rem;
                height: 1rem;
                position: absolute;
                left: 0.2rem;
                white-space: nowrap;
                top: 0;
                font-size: 0.8rem;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .pay-zFV {
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 0.8rem;
            }
          }
        }
        .group-46-trf {
          width: 3.6rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-cnf {
          width: 3.6rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-ulgb-NG3 {
        margin-right: 12.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--KBH {
          line-height: 1.3999999762;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .item--qfR {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
        }
      }
      .item-380-97-000-7996-xk3 {
        display: flex;
        color: #000000;
        white-space: nowrap;
        line-height: 1.3999999762;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;

        .item-380-97-000-7996-xk3-sub-0 {
        }
        .item-380-97-000-7996-xk3-sub-1 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-380-97-000-7996-xk3-sub-2 {
        }
      }
    }
    .rectangle-298-Hfq {
      margin: 0rem 0.4rem 3.3rem 0.6rem;
      width: calc(100% - 1rem);
      height: 0.2rem;
      background-color: #5a808a;
      flex-shrink: 0;
    }
    .group-51-ci7 {
      margin: 0rem 8.9rem 0rem 10.9rem;
      width: calc(100% - 19.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--Yrf {
        margin-right: 26.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--FWB {
        margin-right: 19.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--kC3 {
        font-weight: 400;
        line-height: 1.3999999762;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
}
