
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.drop-down-about-us-pSw {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.254rem 2.255rem 9.4rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .clarity-window-close-line-vVy {
    flex-shrink: 0;
    margin: 0rem 0rem 4.246rem 25.245rem;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-e2vo-Dzs {
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    width: 11.1rem;
    height: 3.4rem;
    position: relative;

    .course-xSf {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 10.6853rem;
      height: 3.4rem;
      cursor: pointer;

      .courses-VhV {
        margin-right: 0.6166rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #020b2f;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-cn7 {
        width: 1.1687rem;
        height: 0.6433rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3308rem;
      }
    }
    .eva-arrow-ios-downward-fill-A2w {
      width: 2rem;
      height: 2.2rem;
      position: absolute;
      left: 9.1rem;
      top: 0.7rem;
      overflow: hidden;
    }
  }
  .about-us-H7Z {
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #020b2f;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .our-teachers-13Z {
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #020b2f;
    font-family: Exo, 'Source Sans Pro';
  }
  .blog-8ts {
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #020b2f;
  }
  .certificates-5ZD {
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #020b2f;
  }
  .conversation-club-pmh {
    font-weight: 400;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 2.4rem;
    line-height: 1.3999999364;
    color: #020b2f;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
    margin-bottom: 1.8rem;
  }
  .contact-ZDV {
    flex-shrink: 0;
    margin-left: 0.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3999999364;
    color: #020b2f;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
  }
}
