
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fr-sp-it-ge-en-page-Nnw {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-2f7h-uXy {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 14.4rem;
    width: 100%;
    height: 99.9rem;

    .rectangle-41-pew {
      left: 0;
      top: 19.9rem;
      background-color: #bebebe;
      width: 144rem;
      height: 80rem;
      position: absolute;
    }
    .group-6-Yqq {
      width: 47.3rem;
      left: 9.5rem;
      position: absolute;
      top: 78.8rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.2125;
      display: flex;
      align-items: center;
      background-color: #959595;
      height: 7rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
    }
    .rectangle-10-poM {
      top: 29rem;
      background-color: #d9d9d9;
      width: 63.8rem;
      height: 56.8rem;
      position: absolute;
      left: 70.8rem;
    }
    .vector-1-ZW3 {
      top: 34.05rem;
      object-fit: contain;
      vertical-align: top;
      width: 50.65rem;
      height: 46.15rem;
      position: absolute;
      left: 78.6rem;
    }
    .rectangle-11-u47 {
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 32.9rem;
      background-color: #d9d9d9;
    }
    .rectangle-12-SJw {
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 38.1rem;
      background-color: #d9d9d9;
    }
    .rectangle-13-ZPZ {
      position: absolute;
      left: 12rem;
      top: 43.3rem;
      background-color: #d9d9d9;
      width: 44.8rem;
      height: 3.2rem;
    }
    .rectangle-14-WJo {
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 48.5rem;
      background-color: #d9d9d9;
      width: 44.8rem;
    }
    .rectangle-15-FXH {
      left: 12rem;
      top: 53.7rem;
      background-color: #d9d9d9;
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
    }
    .rectangle-16-zjm {
      position: absolute;
      left: 12rem;
      top: 58.9rem;
      background-color: #d9d9d9;
      width: 44.8rem;
      height: 3.2rem;
    }
    .rectangle-17-9Mm {
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 64.1rem;
      background-color: #d9d9d9;
      width: 44.8rem;
    }
    .group-7-HTy {
      box-sizing: border-box;
      width: 144rem;
      height: 20rem;
      background-color: #d9d9d9;
      padding: 6.5rem 5.1rem 6.5rem 4.8rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .group-1-CL3 {
        margin-right: 3rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #959595;
        width: 17.8rem;
        height: 100%;
        color: #ffffff;
        font-size: 2.4rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      .group-2-HsH {
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        background-color: #959595;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 17.8rem;
        height: 100%;
        font-weight: 400;
        line-height: 1.2125;
        align-items: center;
        display: flex;
      }
      .group-3-12b {
        font-weight: 400;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        background-color: #959595;
        width: 17.8rem;
        height: 100%;
        margin-right: 3rem;
        justify-content: center;
        color: #ffffff;
        align-items: center;
      }
      .group-4-6Zq {
        position: relative;
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: 18.6rem;
        height: 100%;

        .rectangle-6-T9V {
          background-color: #959595;
          width: 17.8rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .item--oDM {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 17.9rem;
          height: 3rem;
          position: absolute;
          left: 0.7rem;
          top: 2rem;
          font-size: 2.4rem;
          color: #ffffff;
          white-space: nowrap;
        }
      }
      .group-5-H8X {
        width: 17.8rem;
        font-weight: 400;
        display: flex;
        flex-shrink: 0;
        margin-right: 6.6rem;
        line-height: 1.2125;
        white-space: nowrap;
        justify-content: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        background-color: #959595;
        height: 100%;
        color: #ffffff;
        align-items: center;
      }
      .auto-group-zxu7-aNX {
        justify-content: center;
        flex-shrink: 0;
        width: 26.5rem;
        display: flex;
        line-height: 1.2125;
        height: calc(100% - 1.1rem);
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
        margin: 0.5rem 0rem 0.6rem 0rem;
        white-space: nowrap;
        align-items: center;
        background-color: #614040;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .item--Exs {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 6.1rem;
  }
  .auto-group-e3wz-w6b {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.5rem 5.3rem 1.9rem 5.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-wpfr-fHV {
      display: flex;
      column-gap: 4.3rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      width: 100%;
      height: 52rem;

      .rectangle-42-bS3 {
        width: 41.6rem;
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .auto-group-eu1y-wF1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 28.7rem 3.4rem 13.1rem 3.4rem;
        width: 41.6rem;
        height: 100%;
        background-color: #d9d9d9;

        .item--TDM {
          max-width: 7.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-8q7r-5Ej {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8.059rem 17.369rem 8.059rem 24.02rem;
        height: 100%;
        background-color: #d9d9d9;

        .vector-80-bym {
          width: 0.2115rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-wzjk-9VV {
      display: flex;
      column-gap: 4.3rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      width: 100%;

      .rectangle-45-thy {
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 41.6rem;
      }
      .rectangle-46-eSF {
        width: 41.6rem;
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-47-Cif {
        width: 41.6rem;
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .rectangle-61-YnX {
      margin: 0 40.8rem;
      width: calc(100% - 81.6rem);
      height: 10.7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .auto-group-rnry-5XZ {
    box-sizing: border-box;
    height: 99.4rem;
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
    margin-bottom: 48.4rem;
    padding: 19.1rem 4.7rem 7.2rem 2.3rem;
    width: 100%;
    background-color: #bebebe;
    flex-shrink: 0;

    .arrow-2-ysq {
      margin-bottom: 2.8rem;
      width: 7.2rem;
      height: 0.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-8kgk-8Vq {
      margin: 9.1rem 0rem 12rem 0rem;
      box-sizing: border-box;
      padding: 4.367rem 6.873rem 4.265rem 6.304rem;
      align-items: center;
      display: flex;
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 36.6rem;
      height: calc(100% - 21.1rem);
      flex-direction: column;

      .vector-94-25R {
        flex-shrink: 0;
        margin: 0rem 0.212rem 3.024rem 0rem;
        width: 23.2108rem;
        height: 21.6724rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-95-kGK {
        height: 1.7483rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.655rem 2.961rem 0rem;
        width: 15.6541rem;
      }
      .vector-96-5Jb {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.693rem 3.038rem 0rem;
        width: 14.3848rem;
        height: 0;
        object-fit: contain;
      }
      .vector-97-zAf {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.963rem 4.442rem 0rem;
        width: 15.231rem;
        height: 1.1936rem;
        object-fit: contain;
      }
      .vector-98-Gts {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.751rem 4.654rem 0rem;
        width: 20.0964rem;
        height: 0.2115rem;
      }
      .vector-99-z4B {
        margin-left: 0.5762rem;
        width: 22.8465rem;
        height: 0.4231rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-dpmy-W2X {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 36.6rem;

      .item--EjD {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.2rem 1.7rem;
      }
      .auto-group-8vkd-LXM {
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.446rem 6.481rem 2.784rem 5.358rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .vector-100-Zf1 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.163rem 4.586rem 0rem;
          width: 22.599rem;
          height: 16.3908rem;
          object-fit: contain;
        }
        .vector-101-tSP {
          margin: 0rem 0rem 4.866rem 0.011rem;
          width: 24.7503rem;
          height: 2.1193rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-102-cNP {
          margin: 0rem 1.47rem 6.222rem 0rem;
          width: 13.5386rem;
          height: 0.8547rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-103-wfZ {
          margin: 0rem 0rem 5.5rem 7.627rem;
          width: 6.5578rem;
          height: 0.5387rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-104-g7M {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 5.5113rem;
          width: 15.4425rem;
          height: 1.6923rem;
        }
      }
    }
    .auto-group-jmqd-Bpo {
      margin-top: 9.1rem;
      width: 36.6rem;
      flex-shrink: 0;

      .auto-group-piks-wJB {
        background-color: #d9d9d9;
        margin-bottom: 9rem;
        box-sizing: border-box;
        padding: 6.4rem 5.7rem 6.4rem 7.1rem;
        width: 100%;
        height: 52rem;

        .vector-108-G5Z {
          object-fit: contain;
          vertical-align: top;
          width: 23.8rem;
          height: 13.3rem;
        }
      }
      .item--obH {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .arrow-3-HmM {
      margin-bottom: 3rem;
      width: 7.2rem;
      height: 0.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .item--Duu {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 11.7rem 41.4rem 0rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
  }
  .group-8-v3d {
    padding: 4.2rem 5.9rem 4.2rem 8.4rem;
    width: calc(100% - 1.2rem);
    height: 47.4rem;
    margin-right: 1.2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #bebebe;
    flex-shrink: 0;

    .auto-group-dtfm-QzP {
      margin: 13.5rem 4.6rem 10.9rem 0rem;
      height: calc(100% - 24.4rem);
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      background-color: #d9d9d9;
      width: 33.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      display: flex;
      font-size: 4rem;
      flex-shrink: 0;
    }
    .auto-group-b155-ssy {
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 23rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-i6sd-1UP {
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        background-color: #d9d9d9;
        color: #000000;
        white-space: nowrap;
        height: 7.4rem;
        font-size: 4rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
        line-height: 1.2125;
      }
      .rectangle-29-uZm {
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
      }
      .rectangle-30-enF {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-31-bhV {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-32-9j1 {
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
      }
      .rectangle-33-uCP {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-gowj-Sy1 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.8rem;
      width: 23rem;

      .auto-group-v7gx-P7Z {
        width: 100%;
        font-size: 4rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        background-color: #d9d9d9;
        margin-bottom: 1.8rem;
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        padding: 1.3rem 0.4rem 1.2rem 2.5rem;
        font-weight: 400;
      }
      .rectangle-35-5WB {
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
      }
      .rectangle-36-E8B {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
      }
      .rectangle-37-aC3 {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-38-iZ9 {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-39-sB9 {
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .auto-group-zdes-2Jw {
      flex-shrink: 0;
      margin: 17rem 4.9rem 14.9rem 0rem;
      width: 32.9rem;
      height: calc(100% - 31.9rem);
      position: relative;

      .rectangle-40-M6K {
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        width: 30.4rem;
        height: 7.1rem;
        position: absolute;
      }
      .item--VCX {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 1.4rem;
        left: 0.5rem;
        font-size: 3.2rem;
        font-weight: 400;
        width: 32.4rem;
        height: 3.9rem;
      }
    }
    .arrow-1-x67 {
      height: 27.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 0.1rem;
    }
  }
}
