
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fr-sp-it-ge-en-page-Moh {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-bbqo-UdR {
    height: 99.9rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 14.4rem;
    width: 100%;

    .rectangle-41-agT {
      left: 0;
      top: 19.9rem;
      background-color: #bebebe;
      width: 144rem;
      height: 80rem;
      position: absolute;
    }
    .group-6-i1y {
      position: absolute;
      font-weight: 400;
      align-items: center;
      white-space: nowrap;
      background-color: #959595;
      height: 7rem;
      top: 78.8rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 47.3rem;
      left: 9.5rem;
      display: flex;
      line-height: 1.2125;
      color: #ffffff;
      justify-content: center;
    }
    .rectangle-10-aK5 {
      width: 63.8rem;
      height: 56.8rem;
      position: absolute;
      left: 70.8rem;
      top: 29rem;
      background-color: #d9d9d9;
    }
    .vector-1-WiX {
      left: 78.6rem;
      top: 34.05rem;
      object-fit: contain;
      vertical-align: top;
      width: 50.65rem;
      height: 46.15rem;
      position: absolute;
    }
    .rectangle-11-r1h {
      top: 32.9rem;
      background-color: #d9d9d9;
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
    }
    .rectangle-12-BZm {
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 38.1rem;
      background-color: #d9d9d9;
    }
    .rectangle-13-vGT {
      left: 12rem;
      top: 43.3rem;
      background-color: #d9d9d9;
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
    }
    .rectangle-14-4dZ {
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 48.5rem;
      background-color: #d9d9d9;
      width: 44.8rem;
    }
    .rectangle-15-WEf {
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 53.7rem;
      background-color: #d9d9d9;
      width: 44.8rem;
    }
    .rectangle-16-r3d {
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 58.9rem;
      background-color: #d9d9d9;
    }
    .rectangle-17-ytw {
      width: 44.8rem;
      height: 3.2rem;
      position: absolute;
      left: 12rem;
      top: 64.1rem;
      background-color: #d9d9d9;
    }
    .group-7-5wy {
      width: 144rem;
      left: 0;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      box-sizing: border-box;
      padding: 6.5rem 5.1rem 6.5rem 4.8rem;
      height: 20rem;
      position: absolute;
      top: 0;

      .group-1-Ld1 {
        margin-right: 3rem;
        width: 17.8rem;
        height: 100%;
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #959595;
        flex-shrink: 0;
      }
      .group-2-zhZ {
        justify-content: center;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        display: flex;
        background-color: #959595;
        font-size: 2.4rem;
        color: #ffffff;
        margin-right: 3rem;
        width: 17.8rem;
        height: 100%;
      }
      .group-3-gaP {
        font-size: 2.4rem;
        font-weight: 400;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        width: 17.8rem;
        line-height: 1.2125;
        justify-content: center;
        background-color: #959595;
        flex-shrink: 0;
        margin-right: 3rem;
        display: flex;
        color: #ffffff;
      }
      .group-4-afm {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: 18.6rem;

        .rectangle-6-imy {
          width: 17.8rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #959595;
        }
        .item--efd {
          left: 0.7rem;
          top: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 17.9rem;
          height: 3rem;
          position: absolute;
          font-size: 2.4rem;
        }
      }
      .group-5-Wxj {
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        justify-content: center;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        background-color: #959595;
        margin-right: 6.6rem;
        width: 17.8rem;
        height: 100%;
      }
      .auto-group-4r9z-cks {
        font-size: 2.4rem;
        white-space: nowrap;
        width: 26.5rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        margin: 0.5rem 0rem 0.6rem 0rem;
        height: calc(100% - 1.1rem);
        align-items: center;
        justify-content: center;
        background-color: #614040;
        flex-shrink: 0;
      }
    }
  }
  .item--Hc7 {
    flex-shrink: 0;
    margin-right: 6.1rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-wnn7-NtT {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.5rem 5.3rem 1.9rem 5.3rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-175v-6pT {
      margin-bottom: 3.9rem;
      width: 100%;
      height: 52rem;
      display: flex;
      column-gap: 4.3rem;
      align-items: center;
      flex-shrink: 0;

      .rectangle-42-pkT {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 41.6rem;
        height: 52rem;
      }
      .auto-group-4bfz-AZR {
        box-sizing: border-box;
        padding: 28.7rem 3.4rem 13.1rem 3.4rem;
        width: 41.6rem;
        height: 100%;
        background-color: #d9d9d9;
        flex-shrink: 0;

        .item--VLo {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 7.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-xxm1-Kaj {
        box-sizing: border-box;
        padding: 8.059rem 17.369rem 8.059rem 24.02rem;
        height: 100%;
        background-color: #d9d9d9;
        flex-shrink: 0;

        .vector-80-Exb {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          width: 0.2115rem;
        }
      }
    }
    .auto-group-6v63-yvB {
      column-gap: 4.3rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      width: 100%;
      display: flex;

      .rectangle-45-KUF {
        width: 41.6rem;
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-46-4wd {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 41.6rem;
        height: 52rem;
      }
      .rectangle-47-pvo {
        width: 41.6rem;
        height: 52rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .rectangle-61-BWT {
      height: 10.7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0 40.8rem;
      width: calc(100% - 81.6rem);
    }
  }
  .auto-group-cizp-Kcf {
    align-items: center;
    background-color: #bebebe;
    flex-shrink: 0;
    margin-bottom: 48.4rem;
    display: flex;
    width: 100%;
    height: 99.4rem;
    column-gap: 3.2rem;
    box-sizing: border-box;
    padding: 19.1rem 4.7rem 7.2rem 2.3rem;

    .arrow-2-EDq {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2.8rem;
      width: 7.2rem;
      height: 0.1rem;
    }
    .auto-group-g5it-a2o {
      margin: 9.1rem 0rem 12rem 0rem;
      padding: 4.367rem 6.873rem 4.265rem 6.304rem;
      height: calc(100% - 21.1rem);
      flex-direction: column;
      background-color: #d9d9d9;
      box-sizing: border-box;
      width: 36.6rem;
      align-items: center;
      display: flex;
      flex-shrink: 0;

      .vector-94-FPq {
        height: 21.6724rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.212rem 3.024rem 0rem;
        width: 23.2108rem;
      }
      .vector-95-yaj {
        width: 15.6541rem;
        height: 1.7483rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.655rem 2.961rem 0rem;
      }
      .vector-96-7B9 {
        width: 14.3848rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.693rem 3.038rem 0rem;
      }
      .vector-97-d9V {
        margin: 0rem 1.963rem 4.442rem 0rem;
        width: 15.231rem;
        height: 1.1936rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-98-u71 {
        height: 0.2115rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.751rem 4.654rem 0rem;
        width: 20.0964rem;
      }
      .vector-99-oTH {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.576rem;
        width: 22.8465rem;
        height: 0.4231rem;
        object-fit: contain;
      }
    }
    .auto-group-emvs-Wcb {
      margin-bottom: 12rem;
      width: 36.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--eD1 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 4.2rem 1.7rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-ug2f-XGo {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.446rem 6.481rem 2.784rem 5.358rem;

        .vector-100-Eh1 {
          margin: 0rem 2.163rem 4.586rem 0rem;
          width: 22.599rem;
          height: 16.3908rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-101-jNs {
          flex-shrink: 0;
          margin: 0rem 0rem 4.866rem 0.011rem;
          width: 24.7503rem;
          height: 2.1193rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-102-EqR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.469rem 6.222rem 0rem;
          width: 13.5386rem;
          height: 0.8547rem;
        }
        .vector-103-9xP {
          margin: 0rem 0rem 5.5rem 7.627rem;
          width: 6.5578rem;
          height: 0.5387rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-104-Ujm {
          flex-shrink: 0;
          margin-left: 5.5113rem;
          width: 15.4425rem;
          height: 1.6923rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-8u5d-ygX {
      flex-shrink: 0;
      margin-top: 9.1rem;
      width: 36.6rem;

      .auto-group-yeyb-7Xq {
        padding: 6.4rem 5.7rem 6.4rem 7.1rem;
        width: 100%;
        height: 52rem;
        background-color: #d9d9d9;
        margin-bottom: 9rem;
        box-sizing: border-box;

        .vector-108-pSF {
          width: 23.8rem;
          height: 13.3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .item--wmm {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.4rem;
        font-size: 2.4rem;
      }
    }
    .arrow-3-pqZ {
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 7.2rem;
      height: 0.1rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--YmZ {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 11.7rem 41.4rem 0rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-8-qEs {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    background-color: #bebebe;
    box-sizing: border-box;
    padding: 4.2rem 5.9rem 4.2rem 8.4rem;
    width: calc(100% - 1.2rem);
    height: 47.4rem;
    flex-shrink: 0;

    .auto-group-cpys-vn7 {
      width: 33.6rem;
      line-height: 1.2125;
      margin: 13.5rem 4.6rem 10.9rem 0rem;
      height: calc(100% - 24.4rem);
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4rem;
      justify-content: center;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
    }
    .auto-group-jl1r-Nu1 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 23rem;

      .auto-group-6dfr-6q1 {
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 4rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #000000;
        display: flex;
        line-height: 1.2125;
        background-color: #d9d9d9;
        flex-shrink: 0;
        height: 7.4rem;
        font-weight: 400;
      }
      .rectangle-29-z9h {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-30-irP {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-31-fWj {
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
      }
      .rectangle-32-bfH {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-33-Lsm {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
        height: 5.4rem;
      }
    }
    .auto-group-iwx1-tPV {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.8rem;
      width: 23rem;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-etvm-Dgf {
        box-sizing: border-box;
        font-size: 4rem;
        line-height: 1.2125;
        color: #000000;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        padding: 1.3rem 0.4rem 1.2rem 2.5rem;
      }
      .rectangle-35-hrj {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-36-rDq {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-37-PjZ {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-38-vzP {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-39-gCs {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-3bgf-ddu {
      margin: 17rem 4.9rem 14.9rem 0rem;
      width: 32.9rem;
      height: calc(100% - 31.9rem);
      position: relative;
      flex-shrink: 0;

      .rectangle-40-xAP {
        width: 30.4rem;
        height: 7.1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
      }
      .item--gs5 {
        left: 0.5rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 32.4rem;
        height: 3.9rem;
        font-weight: 400;
        position: absolute;
        top: 1.4rem;
      }
    }
    .arrow-1-x3u {
      height: 27.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 0.1rem;
    }
  }
}
