
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 511.9rem;
}.group-22-9Gf {
  width: 100%;
  height: 368.1rem;

  .item--uFq {
    position: relative;
    align-items: center;
    background-color: #959595;
    padding: 26.6rem 4.1rem 26.6rem 2.7rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    width: 100%;

    .auto-group-sccs-QCb {
      margin: 52.8rem 3.1rem 111.5rem 0rem;
      width: 82.4rem;
      height: calc(100% - 164.3rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .screenshot-2023-12-05-at-1345-1-7Mu {
        width: 82.4rem;
        height: 37.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-svhm-qoh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 17rem;
        width: 100%;

        .screenshot-2023-12-12-at-1153-1-C8T {
          flex-shrink: 0;
          margin-bottom: 14.2rem;
          width: 81.8rem;
          height: 39.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .screenshot-2023-12-21-at-1423-1-Kis {
          width: 82.3rem;
          height: 41.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.1rem;
        }
      }
    }
    .auto-group-b1w1-3Py {
      margin: 52.8rem 3.7rem 157.4rem 0rem;
      width: 88.8rem;
      height: calc(100% - 210.2rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .screenshot-2023-12-06-at-1335-1-MvT {
        flex-shrink: 0;
        margin-bottom: 13.2rem;
        width: 88.8rem;
        height: 41.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-bkru-6NF {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:f2c3fc7c6950e88d9cbd23fb8cdec89fc85a1f36');
        flex-shrink: 0;
        width: 100%;
        height: 49.8rem;
        position: relative;

        .screenshot-2023-12-14-at-1759-1-Sh1 {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 88.7rem;
          height: 46.8rem;
          position: absolute;
          left: 0;
        }
        .item--aHR {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          width: 19.4rem;
          height: 1.5rem;
          position: absolute;
          top: 36.9rem;
          left: 25.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .screenshot-2023-12-14-at-1758-1-Q1Z {
      margin: 0rem 3.7rem 64.9rem 0rem;
      width: 77.5rem;
      height: 34.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-wqv3-hFZ {
      margin: 107.7rem 0.8rem 59.4rem 0rem;
      height: calc(100% - 167.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .screenshot-2023-12-15-at-1130-1-d9D {
        flex-shrink: 0;
        margin-bottom: 4.5rem;
        width: 90.4rem;
        height: 49.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .screenshot-2023-12-22-at-1117-1-kjd {
        margin-bottom: 3.5rem;
        width: 90.9rem;
        height: 47.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screenshot-2023-12-29-at-1327-1-VBR {
        height: 42.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 90.9rem;
      }
    }
    .auto-group-cmnb-cWw {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.5rem 116.2rem 0rem;
      width: 76.2rem;

      .auto-group-eyes-YfV {
        padding-bottom: 7.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .screenshot-2023-12-02-at-1250-1-6h1 {
          width: 75.9rem;
          height: 46.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 6.3rem;
        }
        .screenshot-2023-12-09-at-1425-1-2qZ {
          margin-bottom: 12.4rem;
          width: 75.9rem;
          height: 42.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-7slw-xz7 {
          font-weight: 400;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1ba9c6b4a13a68bbadf925e185e67b9073bf1427');
          flex-shrink: 0;
          margin-right: 0.2rem;
          box-sizing: border-box;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-size: 100% 100%;
          padding: 44.2rem 37.6rem 0.8rem 22.5rem;
          font-size: 1.2rem;
          line-height: 1.2125;
          color: #000000;
          background-position: center;
        }
      }
      .auto-group-fq2s-Egj {
        font-size: 1.2rem;
        background-image: url('REPLACE_IMAGE:63709933385c328a204f5b136c0a0f4a6d8bf530');
        white-space: nowrap;
        background-repeat: no-repeat;
        padding: 33.5rem 34.2rem 2rem 23.1rem;
        width: 100%;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
        line-height: 1.2125;
        background-size: 100% 100%;
        background-position: center;
        color: #000000;
      }
    }
    .auto-group-tsom-vZZ {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 102.2rem;

      .screenshot-2023-12-04-at-1232-1-5BZ {
        margin: 0rem 0rem 15.9rem 0.5rem;
        width: 75rem;
        height: 36.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screenshot-2023-12-11-at-1758-1-zZR {
        margin: 0rem 0.2rem 15.7rem 0rem;
        width: 74.7rem;
        height: 39.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .screenshot-2023-12-18-at-1347-1-teo {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 13.6rem 0rem;
        width: 75.4rem;
        height: 40.4rem;
      }
      .screenshot-2023-12-26-at-1235-1-oWs {
        margin-right: 0.5rem;
        width: 75rem;
        height: 51rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
