
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.4rem;
}.group-119-Rhm {
  width: 100%;
  height: 8rem;

  .group-118-b6T {
    background-color: rgba(189, 204, 208, 0.5);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2.4rem 46.1rem 2.7rem 5.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .vector-L43 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.016rem 0.319rem 0rem;
      width: 2.3842rem;
      height: 2.5806rem;
    }
    .item--s3y {
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.4rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
}
