
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.7rem;
}.group-88-a5h {
  width: 100%;
  height: 47.1rem;

  .group-73-Koy {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .mask-group-HF1 {
      height: 22rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.3rem 1.4rem 0rem;
      width: 22rem;
    }
    .group-72-1Ru {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .item--y7q {
        line-height: 1.3999999818;
        flex-shrink: 0;
        font-size: 2.1rem;
        font-weight: 700;
        color: #ff9bab;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 4.3rem 1.5rem 0rem;
        text-align: center;
      }
      .line-26-Gcj {
        height: 0.1rem;
        background-color: #a3b6ba;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        width: 100%;
      }
      .du-maine-dalf-c1-delf-tef--REj {
        line-height: 1.3999999762;
        color: #000000;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 35.7rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
