
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-page-xMH {
  width: 100%;
  height: 501.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-b86x-h3y {
    width: 144rem;
    height: 80rem;
    position: absolute;
    left: 0;
    top: 20rem;
    background-color: #bebebe;

    .group-6-p8b {
      height: 7rem;
      top: 59.7rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 8rem;
      font-weight: 400;
      white-space: nowrap;
      font-size: 2.4rem;
      background-color: #959595;
      width: 47.3rem;
      color: #ffffff;
      display: flex;
    }
    .rectangle-10-Uyq {
      width: 63.8rem;
      height: 56.8rem;
      position: absolute;
      left: 69.3rem;
      top: 9.9rem;
      background-color: #d9d9d9;
    }
    .vector-1-1Ty {
      top: 14.95rem;
      object-fit: contain;
      vertical-align: top;
      width: 50.65rem;
      height: 46.15rem;
      position: absolute;
      left: 77.1rem;
    }
    .shuttle-school-wcX {
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 78rem;
      height: 13.1rem;
      left: 6.3rem;
      top: 25.1rem;
      font-size: 3.6rem;
    }
  }
  .auto-group-cauk-yJK {
    width: 144rem;
    height: 112.2rem;
    position: absolute;
    left: 0;
    top: 105.3rem;

    .rectangle-18-J5h {
      position: absolute;
      left: 0;
      top: 32.2rem;
      background-color: #bebebe;
      width: 144rem;
      height: 80rem;
    }
    .item--2nP {
      width: 4.9rem;
      height: 15.6rem;
      top: 0;
      font-size: 12.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 16.9rem;
      font-weight: 400;
      color: #000000;
    }
    .item--LYB {
      top: 18.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 4.9rem;
      height: 15.6rem;
      position: absolute;
      left: 127.7rem;
      font-size: 12.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--eYs {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      width: 79.1rem;
      left: 35.9rem;
      top: 8.7rem;
      font-size: 4rem;
      font-family: Inter, 'Source Sans Pro';
      height: 14.6rem;
      position: absolute;
    }
    .item-2020--TWK {
      position: absolute;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 125rem;
      height: 17rem;
      left: 10.1rem;
      top: 49.3rem;
      font-weight: 400;
    }
    .item--HJK {
      width: 119.4rem;
      position: absolute;
      font-size: 2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 14.6rem;
      left: 12.2rem;
      top: 76.9rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .vector-146-Jo5 {
      position: absolute;
      left: 4.9584rem;
      top: 68.9094rem;
      object-fit: contain;
      vertical-align: top;
      width: 128.0743rem;
      height: 34.2127rem;
    }
    .vector-147-zvo {
      top: 69.7805rem;
      object-fit: contain;
      vertical-align: top;
      width: 29.8061rem;
      height: 24.3633rem;
      position: absolute;
      left: 80.6645rem;
    }
    .vector-148-jdV {
      position: absolute;
      left: 72.852rem;
      top: 98.3563rem;
      object-fit: contain;
      vertical-align: top;
      width: 9.9388rem;
      height: 3.3077rem;
    }
  }
  .auto-group-1ca7-T3h {
    position: absolute;
    left: 0;
    padding: 14.7rem 19.9rem 21.7rem 15.2rem;
    width: 144rem;
    height: 80rem;
    top: 294.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #bebebe;
    box-sizing: border-box;

    .item--LNP {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.9rem 12.6rem 0rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .auto-group-f5pp-eP5 {
      column-gap: 4.8rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4.9rem;
      width: 100%;
      display: flex;

      .rectangle-20-B87 {
        flex-shrink: 0;
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
      }
      .rectangle-21-KVD {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 33.1rem;
        height: 10.6rem;
      }
      .rectangle-22-4xb {
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-hqbm-cjD {
      width: calc(100% - 38.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 19rem 0rem 19.3rem;

      .rectangle-23-9j9 {
        margin-right: 4.4rem;
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-24-uCX {
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
  }
  .item--qby {
    width: 19.4rem;
    height: 4.9rem;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 58.5rem;
    top: 227rem;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .item--L2w {
    height: 4.9rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 22.5rem;
    left: 56.8rem;
    top: 387.2rem;
    font-size: 4rem;
    color: #000000;
  }
  .item--RaB {
    height: 4.9rem;
    left: 12.4rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 35.3rem;
    white-space: nowrap;
    top: 404.2rem;
    position: absolute;
  }
  .item--Jdy {
    top: 413.9rem;
    line-height: 1.2125;
    width: 25rem;
    height: 4.9rem;
    position: absolute;
    left: 12.4rem;
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-cnbd-PfR {
    position: absolute;
    left: 0;
    top: 418.8rem;
    box-sizing: border-box;
    padding: 1.3rem 16.6rem 20.1rem 12.4rem;
    width: 144rem;
    height: 35.5rem;

    .auto-group-3g3v-hg7 {
      margin-bottom: 2.8rem;
      width: 100%;
      display: flex;
      align-items: center;

      .e-mail-Fhd {
        flex-shrink: 0;
        margin: 1.5rem 62.8rem 0rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--ytX {
        margin-bottom: 1.5rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .item--H8X {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4rem;
      font-weight: 400;
    }
  }
  .group-8-PxF {
    box-sizing: border-box;
    left: 0;
    top: 454.3rem;
    display: flex;
    align-items: center;
    background-color: #bebebe;
    padding: 4.2rem 5.9rem 4.2rem 8.4rem;
    width: 144rem;
    height: 47.4rem;
    position: absolute;

    .auto-group-teaf-6bm {
      width: 33.6rem;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      line-height: 1.2125;
      align-items: center;
      margin: 13.5rem 4.6rem 10.9rem 0rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      background-color: #d9d9d9;
      height: calc(100% - 24.4rem);
      font-size: 4rem;
      display: flex;
      flex-shrink: 0;
    }
    .auto-group-qa91-ArX {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 23rem;
      height: 100%;

      .auto-group-xfw9-Vto {
        font-size: 4rem;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        height: 7.4rem;
        line-height: 1.2125;
        color: #000000;
        align-items: center;
        justify-content: center;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
      }
      .rectangle-29-yoy {
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
      }
      .rectangle-30-XKh {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-31-sPZ {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
      }
      .rectangle-32-DTR {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-33-ZXH {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-4nf5-KWT {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.6rem;
      width: 23rem;
      height: 100%;

      .auto-group-ouou-4D9 {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #d9d9d9;
        margin-bottom: 1.8rem;
        width: 100%;
        flex-shrink: 0;
        font-size: 4rem;
        box-sizing: border-box;
        padding: 1.3rem 0.4rem 1.2rem 2.5rem;
      }
      .rectangle-35-Yu1 {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-36-J7V {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-37-eSF {
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
      }
      .rectangle-38-Cif {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-39-kEP {
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .auto-group-kbdd-6Z9 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 10rem 5.6rem 13.1rem 0rem;
      width: 30.4rem;
      height: calc(100% - 23.1rem);
      align-items: center;
      display: flex;

      .auto-group-j8tt-RLX {
        margin-bottom: 1.7rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        height: 7.1rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        flex-shrink: 0;
        white-space: nowrap;
        align-items: center;
        width: 100%;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        background-color: #d9d9d9;
      }
      .auto-group-cvyu-6Bm {
        height: 7.1rem;
        line-height: 1.2125;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 3.2rem;
        font-weight: 400;
        color: #000000;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .arrow-1-Byu {
      margin-top: 0.5rem;
      width: 0.1rem;
      height: 27.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .zoom-6-3-4--WmH {
    font-weight: 400;
    position: absolute;
    left: 17.4rem;
    font-size: 4rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 85.1rem;
    height: 53.4rem;
    top: 234.6rem;
  }
  .group-7-Zd5 {
    box-sizing: border-box;
    padding: 6.5rem 5.1rem 6.5rem 4.8rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 144rem;
    height: 20rem;
    align-items: center;
    background-color: #d9d9d9;

    .group-1-s7y {
      width: 17.8rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      background-color: #959595;
      justify-content: center;
      color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-right: 3rem;
      height: 100%;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-2-mDM {
      margin-right: 3rem;
      font-size: 2.4rem;
      color: #ffffff;
      background-color: #959595;
      white-space: nowrap;
      align-items: center;
      width: 17.8rem;
      height: 100%;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .group-3-4y9 {
      background-color: #959595;
      margin-right: 3rem;
      height: 100%;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #ffffff;
      justify-content: center;
      white-space: nowrap;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      width: 17.8rem;
      font-weight: 400;
      flex-shrink: 0;
    }
    .group-4-Zuu {
      margin-right: 2.2rem;
      width: 18.6rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-6-vEf {
        width: 17.8rem;
        height: 7rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #959595;
      }
      .item--4rf {
        width: 17.9rem;
        position: absolute;
        left: 0.7rem;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        top: 2rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
      }
    }
    .group-5-Ymq {
      white-space: nowrap;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-right: 6.6rem;
      width: 17.8rem;
      font-family: Inter, 'Source Sans Pro';
      height: 100%;
      line-height: 1.2125;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      background-color: #959595;
    }
    .auto-group-zyku-f5m {
      line-height: 1.2125;
      white-space: nowrap;
      align-items: center;
      width: 26.5rem;
      justify-content: center;
      background-color: #614040;
      margin: 0.5rem 0rem 0.6rem 0rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      display: flex;
      flex-shrink: 0;
      height: calc(100% - 1.1rem);
    }
  }
}
