
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-page-B79 {
  width: 100%;
  height: 501.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-eczh-KDM {
    top: 20rem;
    background-color: #bebebe;
    width: 144rem;
    height: 80rem;
    position: absolute;
    left: 0;

    .group-6-Er7 {
      left: 8rem;
      height: 7rem;
      font-size: 2.4rem;
      align-items: center;
      width: 47.3rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      font-weight: 400;
      top: 59.7rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      background-color: #959595;
      position: absolute;
    }
    .rectangle-10-7Q7 {
      background-color: #d9d9d9;
      width: 63.8rem;
      height: 56.8rem;
      position: absolute;
      left: 69.3rem;
      top: 9.9rem;
    }
    .vector-1-FFR {
      left: 77.1rem;
      top: 14.95rem;
      object-fit: contain;
      vertical-align: top;
      width: 50.65rem;
      height: 46.15rem;
      position: absolute;
    }
    .shuttle-school-yhD {
      line-height: 1.2125;
      width: 78rem;
      height: 13.1rem;
      top: 25.1rem;
      font-size: 3.6rem;
      font-weight: 400;
      position: absolute;
      left: 6.3rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-tq6s-QXd {
    width: 144rem;
    height: 112.2rem;
    position: absolute;
    left: 0;
    top: 105.3rem;

    .rectangle-18-8iX {
      background-color: #bebebe;
      width: 144rem;
      height: 80rem;
      position: absolute;
      left: 0;
      top: 32.2rem;
    }
    .item--GZq {
      position: absolute;
      left: 16.9rem;
      white-space: nowrap;
      width: 4.9rem;
      height: 15.6rem;
      top: 0;
      font-size: 12.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--yUF {
      left: 127.7rem;
      top: 18.4rem;
      font-size: 12.8rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 4.9rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 15.6rem;
      color: #000000;
    }
    .item--t5R {
      height: 14.6rem;
      position: absolute;
      font-size: 4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 79.1rem;
      left: 35.9rem;
      top: 8.7rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item-2020--tjd {
      font-family: Inter, 'Source Sans Pro';
      height: 17rem;
      position: absolute;
      color: #000000;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 125rem;
      left: 10.1rem;
      top: 49.3rem;
    }
    .item--XLf {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 119.4rem;
      position: absolute;
      top: 76.9rem;
      font-size: 2rem;
      height: 14.6rem;
      left: 12.2rem;
      font-weight: 400;
      color: #000000;
    }
    .vector-146-QjD {
      position: absolute;
      left: 4.9582rem;
      top: 68.9094rem;
      object-fit: contain;
      vertical-align: top;
      width: 128.0743rem;
      height: 34.2127rem;
    }
    .vector-147-8v7 {
      position: absolute;
      left: 80.6645rem;
      top: 69.7805rem;
      object-fit: contain;
      vertical-align: top;
      width: 29.8061rem;
      height: 24.3633rem;
    }
    .vector-148-UUB {
      position: absolute;
      left: 72.852rem;
      top: 98.3563rem;
      object-fit: contain;
      vertical-align: top;
      width: 9.9388rem;
      height: 3.3077rem;
    }
  }
  .auto-group-ggt5-Cuy {
    box-sizing: border-box;
    height: 80rem;
    position: absolute;
    top: 294.5rem;
    background-color: #bebebe;
    padding: 14.7rem 19.9rem 21.7rem 15.2rem;
    width: 144rem;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .item--uZV {
      flex-shrink: 0;
      margin: 0rem 3.9rem 12.6rem 0rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-ryvp-Dq5 {
      margin-bottom: 4.9rem;
      width: 100%;
      display: flex;
      column-gap: 4.8rem;
      align-items: center;
      flex-shrink: 0;

      .rectangle-20-xnf {
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-21-WJP {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 33.1rem;
        height: 10.6rem;
      }
      .rectangle-22-eQb {
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-yup3-Pd5 {
      margin: 0rem 19rem 0rem 19.3rem;
      width: calc(100% - 38.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-23-vd1 {
        margin-right: 4.4rem;
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-24-Ggs {
        flex-shrink: 0;
        width: 33.1rem;
        height: 10.6rem;
        background-color: #d9d9d9;
      }
    }
  }
  .item--QYB {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 227rem;
    font-size: 4rem;
    line-height: 1.2125;
    color: #000000;
    width: 19.4rem;
    height: 4.9rem;
    left: 58.5rem;
    font-weight: 400;
  }
  .item--6fu {
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 22.5rem;
    font-size: 4rem;
    font-weight: 400;
    top: 387.2rem;
    color: #000000;
    height: 4.9rem;
    position: absolute;
    left: 56.8rem;
  }
  .item--aqy {
    height: 4.9rem;
    left: 12.4rem;
    top: 404.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 35.3rem;
    position: absolute;
    font-size: 4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--g8K {
    height: 4.9rem;
    position: absolute;
    left: 12.4rem;
    top: 413.9rem;
    font-size: 4rem;
    line-height: 1.2125;
    color: #000000;
    width: 25rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 400;
  }
  .auto-group-keaw-AZH {
    padding: 1.3rem 16.6rem 20.1rem 12.4rem;
    width: 144rem;
    height: 35.5rem;
    position: absolute;
    left: 0;
    top: 418.8rem;
    box-sizing: border-box;

    .auto-group-5ab5-syV {
      align-items: center;
      margin-bottom: 2.8rem;
      width: 100%;
      display: flex;

      .e-mail-Rk7 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.5rem 62.8rem 0rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .item--knP {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 4rem;
      }
    }
    .item--rKd {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-8-xtT {
    box-sizing: border-box;
    padding: 4.2rem 5.9rem 4.2rem 8.4rem;
    top: 454.3rem;
    width: 144rem;
    height: 47.4rem;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #bebebe;

    .auto-group-evuv-U67 {
      height: calc(100% - 24.4rem);
      font-weight: 400;
      line-height: 1.2125;
      display: flex;
      align-items: center;
      width: 33.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 13.5rem 4.6rem 10.9rem 0rem;
      font-size: 4rem;
      justify-content: center;
      white-space: nowrap;
    }
    .auto-group-mcdr-XaB {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.8rem;
      width: 23rem;
      height: 100%;

      .auto-group-8jc3-s8F {
        width: 100%;
        white-space: nowrap;
        background-color: #d9d9d9;
        display: flex;
        align-items: center;
        margin-bottom: 1.8rem;
        height: 7.4rem;
        font-size: 4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.2125;
        color: #000000;
        justify-content: center;
      }
      .rectangle-29-9rT {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-30-Hhm {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-31-2vF {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-32-BYF {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-33-Xs1 {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-tqf5-HbH {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.6rem;
      width: 23rem;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-nwi7-dQF {
        font-size: 4rem;
        width: 100%;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        box-sizing: border-box;
        padding: 1.3rem 0.4rem 1.2rem 2.5rem;
        white-space: nowrap;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-35-7qD {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-36-sJb {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-37-cmy {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
      }
      .rectangle-38-Nm9 {
        margin-bottom: 0.7rem;
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-39-LCB {
        width: 100%;
        height: 5.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-w2wm-VKy {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 10rem 5.6rem 13.1rem 0rem;
      width: 30.4rem;
      height: calc(100% - 23.1rem);

      .auto-group-bylo-pNF {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;
        color: #000000;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 7.1rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
      }
      .auto-group-4jas-hS3 {
        font-size: 3.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 100%;
        height: 7.1rem;
        line-height: 1.2125;
        color: #000000;
        align-items: center;
        justify-content: center;
      }
    }
    .arrow-1-oEB {
      margin-top: 0.5rem;
      width: 0.1rem;
      height: 27.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .zoom-6-3-4--w5V {
    height: 53.4rem;
    color: #000000;
    width: 85.1rem;
    left: 17.4rem;
    top: 234.6rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
  }
  .group-7-zT5 {
    height: 20rem;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 144rem;
    left: 0;
    top: 0;
    background-color: #d9d9d9;
    padding: 6.5rem 5.1rem 6.5rem 4.8rem;

    .group-1-6m1 {
      display: flex;
      background-color: #959595;
      font-family: Inter, 'Source Sans Pro';
      height: 100%;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      width: 17.8rem;
    }
    .group-2-bSs {
      font-size: 2.4rem;
      line-height: 1.2125;
      background-color: #959595;
      margin-right: 3rem;
      width: 17.8rem;
      height: 100%;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      justify-content: center;
    }
    .group-3-JMH {
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      background-color: #959595;
      margin-right: 3rem;
      width: 17.8rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      height: 100%;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      justify-content: center;
    }
    .group-4-Qv7 {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 2.2rem;
      width: 18.6rem;

      .rectangle-6-mEs {
        left: 0;
        top: 0;
        background-color: #959595;
        width: 17.8rem;
        height: 7rem;
        position: absolute;
      }
      .item--WiF {
        width: 17.9rem;
        top: 2rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        left: 0.7rem;
        line-height: 1.2125;
      }
    }
    .group-5-bDu {
      align-items: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      background-color: #959595;
      font-size: 2.4rem;
      font-weight: 400;
      color: #ffffff;
      width: 17.8rem;
      height: 100%;
      flex-shrink: 0;
      margin-right: 6.6rem;
      display: flex;
    }
    .auto-group-zzfd-JPD {
      height: calc(100% - 1.1rem);
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #ffffff;
      display: flex;
      background-color: #614040;
      margin: 0.5rem 0rem 0.6rem 0rem;
      font-weight: 400;
      width: 26.5rem;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
}
