
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.main-page-CA7 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-tygt-KkX {
    width: 100%;
    height: 4.8rem;
    position: relative;
    flex-shrink: 0;

    .bytesize-menu-fpP {
      position: absolute;
      left: 27.7rem;
      top: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 1.6rem;
    }
    .component-1-Q1H {
      padding: 1rem 1.5rem 0.5rem 1.5rem;
      width: 32rem;
      height: 4.8rem;
      display: flex;
      align-items: center;
      background-color: #2d59ab;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;

      .logo-name-gzP {
        flex-shrink: 0;
        margin: 0rem 11.2rem 0.2rem 0rem;
        width: 10.1rem;
        height: 3.1rem;
        position: relative;

        .catch-me-QvP {
          top: 0;
          font-weight: 700;
          color: #ffffff;
          width: 10.1rem;
          position: absolute;
          font-size: 1.8rem;
          line-height: 1.2325;
          font-family: Fraunces, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.3rem;
          left: 0;
        }
        .language-school-7Zu {
          line-height: 1.2325;
          white-space: nowrap;
          width: 8.1rem;
          height: 1.3rem;
          position: absolute;
          top: 1.8rem;
          font-weight: 700;
          left: 0;
          font-size: 1rem;
          color: #ffffff;
          font-family: Fraunces, 'Source Sans Pro';
        }
      }
      .bytesize-menu-pUK {
        margin: 0.1rem 1rem 0rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-7-Y9R {
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #ffffff;
        width: 3.5rem;
        cursor: pointer;
        font-weight: 400;
        color: #ffffff;
        font-size: 1rem;
        background-color: #2d59ab;
        border-radius: 0.5rem;
        overflow: hidden;
        box-sizing: border-box;
        font-family: Exo, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        margin: 0.6rem 0rem 0.4rem 0rem;
        height: calc(100% - 1rem);
        position: relative;
        line-height: 1.4;
      }
    }
  }
  .auto-group-48kt-AwV {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 52.8rem;

    .rectangle-44-WEf {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #2d59ab;
      width: 32rem;
      height: 52.1rem;
      cursor: pointer;
    }
    .line-1-Su1 {
      width: 29rem;
      height: 0.1rem;
      position: absolute;
      left: 1.5rem;
      top: 0.3rem;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .logo-picture-mRV {
      position: absolute;
      left: 0;
      top: 0.3rem;
      width: 5.4189rem;
      height: 7.4rem;

      .line-2-HPq {
        width: 0.2848rem;
        height: 0.3756rem;
        position: absolute;
        left: 2.5729rem;
        top: 2.6035rem;
        object-fit: contain;
        vertical-align: top;
      }
      .line-3-ch1 {
        left: 2.3239rem;
        top: 2.8258rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.4632rem;
        height: 0.6473rem;
        position: absolute;
      }
      .vector-3-MPh {
        width: 5.3rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .bulb-2-6cB {
        top: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.3188rem;
        height: 2.6rem;
        position: absolute;
        left: 1.9rem;
      }
      .line-9-RPZ {
        border-radius: 0.5rem;
        width: 0.2798rem;
        height: 1.1117rem;
        position: absolute;
        left: 2.8001rem;
        top: 3.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .dear-friend-kgj {
      font-weight: 400;
      line-height: 1.2000000477;
      font-family: Fraunces, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.9rem;
      left: 1.5rem;
      top: 10.4rem;
      font-size: 2.4rem;
      color: #ffffff;
      width: 13.7rem;
      position: absolute;
    }
    .stairs-f31 {
      vertical-align: top;
      width: 32.4001rem;
      height: 19.6rem;
      position: absolute;
      left: 0;
      top: 33.2rem;
      object-fit: contain;
    }
    .symbols-PDu {
      top: 16.4072rem;
      object-fit: contain;
      vertical-align: top;
      width: 18.7852rem;
      height: 26.4793rem;
      position: absolute;
      left: 12.6668rem;
    }
    .slide-X5D {
      height: 1.2rem;
      position: absolute;
      left: 12.4rem;
      top: 48.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
    }
    .there-is-no-need-to-put-it-off-sign-up-for-a-trial-lesson-rdH {
      font-family: Fraunces, 'Source Sans Pro';
      position: absolute;
      left: 1.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2000000817;
      color: #ffffff;
      width: 19rem;
      height: 3.4rem;
      top: 13.8rem;
    }
    .button-trial-lesson-hover-kCs {
      position: absolute;
      left: 1.5rem;
      top: 20.8rem;
      width: 13.5rem;
      height: 4rem;
      cursor: pointer;

      .button-trial-lesson-hover-5F9 {
        font-family: Exo, 'Source Sans Pro';
        position: relative;
        text-align: center;
        font-weight: 400;
        height: 100%;
        display: flex;
        border: solid 0.1rem #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        line-height: 1.4000000272;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  .auto-group-r3ns-sRu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.2rem 0rem 5.3rem 0.95rem;
    width: 100%;
    align-items: center;

    .text-for-block-teaching-methods-jj1 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.5rem 4.2rem 0.55rem;
      width: calc(100% - 2.05rem);
      align-items: center;

      .title-FST {
        margin: 0rem 0rem 3rem 0.6rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3999999364;
        color: #020b2f;
        font-family: Fraunces, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .paragraph-AJX {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #020b2f;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29rem;
      }
    }
    .method-1--6CB {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 4.2rem 5rem 3.15rem;
      width: calc(100% - 7.35rem);
      align-items: center;

      .auto-group-f7w9-2Lj {
        margin-bottom: 2rem;
        width: 100%;
        height: 25.2rem;
        position: relative;
        flex-shrink: 0;

        .vector-xVH {
          height: 20.1rem;
          position: absolute;
          left: 0;
          top: 5.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 23.7rem;
        }
        .bottom-standing-skinny-jeans-HnT {
          width: 6.0605rem;
          height: 9.6288rem;
          position: absolute;
          left: 11.1387rem;
          top: 13.0711rem;
          object-fit: contain;
          vertical-align: top;
        }
        .head-front-rad-cJw {
          top: 4.4002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6583rem;
          height: 3.7545rem;
          position: absolute;
          left: 6.0458rem;
        }
        .vector-5-YTV {
          height: 5.7rem;
          position: absolute;
          left: 9.1rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 7.1rem;
        }
        .head-front-short-1-Urw {
          top: 5.5781rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.56rem;
          height: 3.087rem;
          position: absolute;
          left: 13.4134rem;
        }
        .humaaan-12-pA7 {
          position: absolute;
          left: 3.6rem;
          top: 6.9398rem;
          object-fit: contain;
          vertical-align: top;
          width: 8.236rem;
          height: 14.2608rem;
        }
        .body-turtle-neck-x1R {
          height: 7.2067rem;
          position: absolute;
          left: 10.2843rem;
          top: 7.8344rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.7708rem;
        }
        .allez-vous-dans-un-club-de-discussion-samedi-t9y {
          font-family: Exo, 'Source Sans Pro';
          width: 5.3rem;
          height: 2.6rem;
          font-size: 0.6rem;
          color: #000000;
          line-height: 1.3999999364;
          position: absolute;
          left: 10rem;
          top: 1.1rem;
          font-weight: 400;
        }
      }
      .communicative-approach-MZM {
        line-height: 1.4000000272;
        color: #bf192c;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.1rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .when-a-student-speaks-80-of-the-lesson-5ET {
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #020b2f;
      }
    }
    .layer-1-bCo {
      width: 16.1999rem;
      height: 20.8007rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.95rem 1.999rem 0rem;
    }
    .method-2-Jsu {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 5.3rem 5rem 4.25rem;
      width: calc(100% - 9.55rem);
      align-items: center;
      display: flex;

      .only-modern-authentic-aids-are-used-q79 {
        max-width: 15.8rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4000000272;
        flex-shrink: 0;
        margin: 0rem 0rem 1rem 0.8rem;
        color: #bf192c;
        font-family: Exo, 'Source Sans Pro';
      }
      .carefully-designed-textbooks-contain-material-that-you-can-use-in-your-life-XEs {
        line-height: 1.4;
        color: #020b2f;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 21.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .method-3-oy5 {
      width: calc(100% - 10.25rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 5.6rem 6rem 4.65rem;
      box-sizing: border-box;
      padding-top: 1.7305rem;

      .unlock-1-vXu {
        width: 20.8002rem;
        height: 24.0691rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.9004rem;
      }
      .three-stages-of-training-eyh {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4000000272;
        color: #bf192c;
        font-family: Exo, 'Source Sans Pro';
      }
      .engagement-study-activation-Nuh {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.3rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.3999999653;
        color: #020b2f;
        font-family: Exo, 'Source Sans Pro';
      }
    }
    .header-our-advantages-JHZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.25rem 3rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3999999364;
      color: #020b2f;
      font-family: Fraunces, 'Source Sans Pro';
    }
    .item-01-d4w {
      flex-shrink: 0;
      margin: 0rem 16.9rem 2rem 0rem;
      width: 13.55rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .auto-group-62wd-8nP {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.15rem 0.2rem 0rem;
        width: calc(100% - 0.15rem);
        display: flex;

        .item-01-S2P {
          margin: 0.3rem 0.6rem 0rem 0rem;
          font-size: 2.4rem;
          line-height: 1.3999999364;
          text-align: center;
          font-weight: 700;
          color: #a0c2e0;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .individual-offline-and-online-classes-LNf {
          text-align: center;
          color: #bf192c;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          max-width: 10.3rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.3999999364;
          font-family: Exo, 'Source Sans Pro';
        }
      }
      .well-help-you-choose-the-perfect-option-Eiw {
        max-width: 10.3rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #2d59ab;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .item-02-9qu {
      margin: 0rem 1.6rem 2rem 15.55rem;
      width: calc(100% - 17.15rem);
      height: 9.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item-02-rkK {
        text-align: center;
        font-family: Exo, 'Source Sans Pro';
        margin: 0.3rem 0.2rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3999999364;
        color: #a0c2e0;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-6lsx-aAX {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .we-are-located-in-the-heart-of-kyiv-jJK {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          max-width: 10.7rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.3999999364;
          color: #bf192c;
          font-family: Exo, 'Source Sans Pro';
        }
        .between-lva-tolstogo-metro-station-and-palats-sporta-metro-station-TEK {
          max-width: 10.3rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.4;
          color: #2d59ab;
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .item-6-MqV {
      margin: 0rem 16.85rem 2rem 0rem;
      width: 14.1rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-f363-VB1 {
        margin: 0rem 1.2rem 0.3rem 0rem;
        width: calc(100% - 1.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-03-1f9 {
          color: #a0c2e0;
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.2rem 0.6rem 0rem 0rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3999999364;
          white-space: nowrap;
          text-align: center;
        }
        .native-speakers-as-teachers-vXD {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          max-width: 9.3rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.3999999364;
          color: #bf192c;
          font-family: Exo, 'Source Sans Pro';
        }
      }
      .real-stories-about-the-peculiarities-of-french-culture-and-lifestyle-qu5 {
        color: #2d59ab;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 10.5rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    .item-04-kFM {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2rem 15.5rem;
      width: calc(100% - 19.3rem);
      height: 5rem;

      .item-04-fdD {
        font-size: 2.4rem;
        font-weight: 700;
        color: #a0c2e0;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        line-height: 1.3999999364;
        flex-shrink: 0;
        margin: 0.3rem 0.55rem 0rem 0rem;
      }
      .auto-group-flaw-NnX {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mini-groups-Kxf {
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.3999999364;
          color: #bf192c;
        }
        .groups-of-up-to-6-people-FrK {
          line-height: 1.4;
          color: #2d59ab;
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 8.1rem;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
    .item-05-n5Z {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 17.1rem 2rem 0rem;
      width: calc(100% - 17.1rem);
      height: 6.4rem;
      display: flex;

      .item-05-6M9 {
        color: #a0c2e0;
        font-family: Exo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.3rem 0.15rem 0rem 0rem;
        font-weight: 700;
        line-height: 1.3999999364;
        text-align: center;
        font-size: 2.4rem;
      }
      .auto-group-e3et-CQB {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .conversation-clubs-kgb {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.3999999364;
          color: #bf192c;
          font-family: Exo, 'Source Sans Pro';
        }
        .every-saturday-at-2-10-pm-offline-at-our-school-gq9 {
          font-family: Exo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 10.6rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.4;
          color: #2d59ab;
        }
      }
    }
    .auto-group-stw9-PzT {
      margin: 0rem 0rem 1rem 1.65rem;
      width: 43.2rem;
      height: 37.4rem;
      position: relative;
      flex-shrink: 0;

      .hand-uhu {
        width: 36.2rem;
        height: 25.3rem;
        position: absolute;
        left: 7rem;
        top: 12.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .illustration-near-advantages-EkB {
        left: 9.1rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 8.557rem;
        height: 12.1363rem;
        position: absolute;
      }
      .header-meet-our-teachers-A83 {
        height: 6.4rem;
        text-align: center;
        font-family: Fraunces, 'Source Sans Pro';
        white-space: nowrap;
        color: #020b2f;
        width: 21.5rem;
        position: absolute;
        left: 2.6rem;
        top: 24.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.6666666667;
      }
      .these-people-will-make-learning-enjoyable-interesting-and-engaging-FvB {
        line-height: 1.4;
        width: 26.8rem;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        height: 2.8rem;
        top: 30.6rem;
        color: #2d59ab;
        font-family: Ubuntu, 'Source Sans Pro';
      }
    }
    .teacher-hola-8yy {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.5rem 3rem 2.55rem;
      width: calc(100% - 6.05rem);
      height: 26.5rem;

      .rectangle-39-TmM {
        width: 25rem;
        height: 20rem;
        position: absolute;
        left: 0;
        top: 6.5rem;
        border: solid 0.1rem #96acd5;
        box-sizing: border-box;
        border-radius: 1.5rem;
      }
      .unsplash-ajkyiy6915c-BST {
        height: 13rem;
        left: 6rem;
        top: 0;
        background-image: url('REPLACE_IMAGE:fcac8e84292f16986b7bbdffbc6d297e24d5e6a9');
        border-radius: 6.5rem;
        width: 13rem;
        position: absolute;
        background-color: #c4c4c4;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .im-margo-i-will-inspire-you-not-only-to-learn-spanish-but-also-to-love-this-country-g8K {
        position: absolute;
        left: 2.5rem;
        top: 19.1rem;
        line-height: 1.4;
        font-family: Exo, 'Source Sans Pro';
        width: 19.8rem;
        height: 2.8rem;
        color: #020b2f;
        font-size: 1rem;
        font-weight: 400;
      }
      .hola-YAX {
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 15.6rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        width: 3.4rem;
        left: 2.5rem;
        text-align: center;
        color: #bf192c;
        font-family: Exo, 'Source Sans Pro';
      }
    }
    .auto-group-7n2x-Faj {
      margin: 0rem 3.5rem 3rem 2.55rem;
      width: calc(100% - 6.05rem);
      height: 26.5rem;
      position: relative;
      flex-shrink: 0;

      .teacher-hola-asu {
        position: absolute;
        left: 0;
        top: 6.5rem;
        border-radius: 1.5rem;
        width: 25rem;
        height: 20rem;

        .teacher-hola-7N3 {
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 10rem 3rem 2.3rem 2.5rem;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #96acd5;

          .bonjour-c3u {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4000000272;
            color: #bf192c;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
          }
          .my-name-is-toma-im-french-teacher-always-ready-to-answer-any-questions-to-recommend-french-artists-movies-books-hr3 {
            font-family: Exo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 19.5rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.4;
            color: #020b2f;
          }
        }
      }
      .unsplash-ohkelokq3re-6tB {
        background-position: center;
        width: 13rem;
        position: absolute;
        left: 6rem;
        top: 0;
        background-repeat: no-repeat;
        height: 13rem;
        background-color: #c4c4c4;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:e230df68458739f97fd748b512f30e72718ac04b');
        border-radius: 6.5rem;
      }
    }
    .auto-group-xqwh-9bZ {
      margin: 0rem 3.5rem 2.5rem 2.55rem;
      width: calc(100% - 6.05rem);
      height: 26.5rem;
      position: relative;
      flex-shrink: 0;

      .teacher-hola-3S3 {
        top: 6.5rem;
        border-radius: 1.5rem;
        width: 25rem;
        height: 20rem;
        position: absolute;
        left: 0;

        .teacher-hola-MBq {
          height: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #96acd5;
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 9.1rem 2.9rem 3.2rem 2.5rem;
          width: 100%;

          .hallo-freunde-Syy {
            color: #bf192c;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4000000272;
          }
          .do-you-want-to-talk-about-young-german-writers-its-up-to-me-im-lola-and-i-am-your-german-teacher-wvj {
            max-width: 19.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.4;
            color: #020b2f;
            font-family: Exo, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .unsplash-p7zgmc33s0u-mum {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 13rem;
        position: absolute;
        background-color: #c4c4c4;
        background-position: center;
        background-image: url('REPLACE_IMAGE:6d12e9310b0461d1a20bcb30327715cdf034ba9f');
        border-radius: 6.5rem;
        height: 13rem;
        left: 6rem;
        top: 0;
      }
    }
    .button-read-me-gmq {
      height: 2.7rem;
      flex-shrink: 0;
      margin-left: 16.35rem;
      box-sizing: border-box;
      padding-left: 0.85rem;
      width: 11.7rem;

      .button-read-more-Qhq {
        box-sizing: border-box;
        padding-right: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .read-more-MNB {
          margin: 0rem 0.15rem 0.7rem 0rem;
          font-size: 1.4rem;
          line-height: 1.4000000272;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          text-decoration-line: underline;
          color: #020b2f;
          font-family: Exo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .button-read-more-KiK {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          width: 0.8rem;
          height: 0.8rem;
          object-fit: contain;
        }
      }
    }
  }
  .footer-3eK {
    display: flex;
    flex-direction: column;
    background-color: #2d59ab;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.7rem 2.6rem 1rem 1.5rem;
    width: 100%;
    align-items: center;

    .auto-group-8ajv-LNX {
      width: calc(100% - 3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3rem 1.4rem 0rem;

      .about-us-GGB {
        margin-right: 9.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .our-courses-xeo {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-ytkb-tHZ {
      margin: 0rem 7.5rem 1.4rem 0rem;
      width: calc(100% - 7.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .our-teachers-1d5 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 7.2rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
      }
      .spanish-jJB {
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
      }
    }
    .auto-group-wcrh-rtb {
      flex-shrink: 0;
      margin: 0rem 7.3rem 1.4rem 0rem;
      width: calc(100% - 7.3rem);
      display: flex;
      align-items: center;

      .blog-Bvs {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 12.5rem 0rem 0rem;
      }
      .german-7Zd {
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
      }
    }
    .auto-group-6jvu-eJf {
      margin-right: 8.1rem;
      width: calc(100% - 8.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .certificates-ay1 {
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 8.1rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
      }
      .french-hXq {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
        font-family: Ubuntu, 'Source Sans Pro';
        cursor: pointer;
      }
    }
    .auto-group-zfet-E1y {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.3rem;

      .conversation-club-a5q {
        font-family: Ubuntu, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.5rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4000000272;
        color: #ffffff;
      }
      .button-arrow-J1q {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 5rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .do-you-have-a-questions-D8o {
      flex-shrink: 0;
      margin: 0rem 0rem 1.1rem 1.1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #ffffff;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .button-trial-lesson-hover-vZ1 {
      cursor: pointer;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 6.6rem 1.8rem 7.8rem;
      width: calc(100% - 14.4rem);
      height: 4rem;

      .button-trial-lesson-hover-3dd {
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;
        font-weight: 400;
        text-transform: uppercase;
        font-family: Exo, 'Source Sans Pro';
        display: flex;
        text-align: center;
        white-space: nowrap;
        align-items: center;
        line-height: 1.3999999762;
        height: 100%;
        font-size: 0.8rem;
        color: #ffffff;
        justify-content: center;
        width: 100%;
      }
    }
    .welcomecatchmegmailcom-JZZ {
      font-weight: 400;
      line-height: 1.3999999364;
      color: #ffffff;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 15.2rem 0.1rem 0rem;
      font-size: 0.9rem;
    }
    .auto-group-1q6f-p27 {
      margin: 0rem 2.8rem 0.1rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item-38-096-365-72-21-94P {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.6rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.3999999364;
        color: #ffffff;
        font-family: Exo, 'Source Sans Pro';
      }
      .vector-3vT {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.4rem;
        width: 1.8rem;
        height: 1.9rem;
        object-fit: contain;
      }
      .group-PjR {
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 0.7rem;
      }
    }
    .shota-rustaveli-str-kyiv-ukraine-jHV {
      flex-shrink: 0;
      margin: 0rem 13rem 2.5rem 0rem;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.3999999364;
      color: #ffffff;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .catch-me-all-right-reserved-Ezw {
      margin-left: 1rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #ffffff;
      font-family: Exo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
