
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 113.2rem;
}.screenshot-2023-09-02-at-1207-CS7 {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
