
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.6rem;
}.screenshot-2024-01-03-at-1245-1-8Gj {
  height: 49.7rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
