
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 90.8rem;
}.screenshot-2024-01-11-at-1146-1-JGB {
  height: 34.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
