
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 66.2rem;
}.screenshot-2023-07-17-at-1438-uNB {
  height: 30.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
