
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.typography-bKy {
  background-color: #cdcbc9;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .auto-group-teu1-8ao {
    top: 17.954rem;
    width: 106.2083rem;
    height: 88.5744rem;
    position: absolute;
    left: 16.64rem;

    .copy-10--2RH {
      left: 0.1345rem;
      top: 53.5313rem;
      display: flex;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.1rem;
      position: absolute;
      font-size: 8rem;
      font-weight: 700;
      color: #000000;
      height: 11.7rem;
    }
    .copy-10--rv7 {
      white-space: nowrap;
      height: 11.7rem;
      position: absolute;
      left: 0;
      display: flex;
      font-weight: 700;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      width: 7.2rem;
      top: 46.7087rem;
      font-size: 8rem;
      line-height: 1.4550000191;
      color: #000000;
    }
    .copy-10--udV {
      height: 11.7rem;
      position: absolute;
      left: 0.6906rem;
      top: 39.6119rem;
      font-size: 8rem;
      font-family: Allan, 'Source Sans Pro';
      width: 7.1rem;
      display: flex;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      white-space: nowrap;
    }
    .copy-10--k8K {
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.1rem;
      position: absolute;
      font-size: 8rem;
      line-height: 1.4550000191;
      color: #000000;
      letter-spacing: 1.56rem;
      height: 11.7rem;
      left: 2.4156rem;
      top: 33.138rem;
      display: flex;
      font-weight: 700;
    }
    .copy-10--6Lb {
      height: 11.7rem;
      top: 27.6319rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      width: 5.8rem;
      left: 4.9992rem;
      display: flex;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .copy-10--YyH {
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      left: 7.833rem;
      top: 22.3764rem;
      display: flex;
      color: #000000;
      white-space: nowrap;
      width: 7.3rem;
      position: absolute;
    }
    .copy-10--DZd {
      top: 17.1181rem;
      display: flex;
      font-size: 8rem;
      font-weight: 700;
      white-space: nowrap;
      width: 7rem;
      position: absolute;
      left: 12.0838rem;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
    }
    .copy-10--HpP {
      font-weight: 700;
      line-height: 1.4550000191;
      width: 9.5rem;
      height: 11.7rem;
      top: 11.9952rem;
      display: flex;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 16.9262rem;
      font-size: 8rem;
      letter-spacing: 1.56rem;
    }
    .copy-10--mDm {
      display: flex;
      font-weight: 700;
      white-space: nowrap;
      width: 7.2rem;
      position: absolute;
      top: 7.4425rem;
      font-size: 8rem;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      left: 23.9029rem;
    }
    .copy-10--Ed9 {
      height: 11.7rem;
      left: 31.0174rem;
      top: 4.1808rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      width: 7rem;
      font-family: Allan, 'Source Sans Pro';
      display: flex;
      color: #000000;
      white-space: nowrap;
      position: absolute;
    }
    .copy-10--7B9 {
      left: 37.8473rem;
      top: 1.953rem;
      font-size: 8rem;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      width: 7rem;
      height: 11.7rem;
      position: absolute;
      white-space: nowrap;
      font-family: Allan, 'Source Sans Pro';
      display: flex;
      font-weight: 700;
      color: #000000;
    }
    .copy-10--BB1 {
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      height: 11.7rem;
      position: absolute;
      top: 0;
      display: flex;
      font-size: 8rem;
      width: 6.7rem;
      left: 52.8292rem;
    }
    .copy-10--FRm {
      letter-spacing: 1.56rem;
      white-space: nowrap;
      height: 11.7rem;
      left: 64.9628rem;
      display: flex;
      font-size: 8rem;
      line-height: 1.4550000191;
      color: #000000;
      font-family: Allan, 'Source Sans Pro';
      width: 6.7rem;
      position: absolute;
      top: 1.8776rem;
      font-weight: 700;
    }
    .copy-10--vH1 {
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      height: 11.7rem;
      left: 70.5771rem;
      font-weight: 700;
      line-height: 1.4550000191;
      font-size: 8rem;
      color: #000000;
      width: 7rem;
      position: absolute;
      top: 4.039rem;
      display: flex;
    }
    .copy-10--PgP {
      position: absolute;
      top: 6.9352rem;
      display: flex;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.2rem;
      left: 75.6571rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      height: 11.7rem;
    }
    .copy-10--4Xd {
      color: #000000;
      height: 11.7rem;
      position: absolute;
      display: flex;
      font-size: 8rem;
      font-weight: 700;
      letter-spacing: 1.56rem;
      width: 5.3rem;
      left: 80.6921rem;
      top: 10.2699rem;
      line-height: 1.4550000191;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
    }
    .copy-10--WuR {
      font-weight: 700;
      color: #000000;
      width: 8.1rem;
      left: 84.3625rem;
      top: 14.3201rem;
      display: flex;
      font-size: 8rem;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      position: absolute;
      white-space: nowrap;
    }
    .copy-10--aeP {
      left: 88.6654rem;
      display: flex;
      font-family: Allan, 'Source Sans Pro';
      width: 7.2rem;
      height: 11.7rem;
      position: absolute;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      white-space: nowrap;
      top: 19.6275rem;
      font-size: 8rem;
      font-weight: 700;
    }
    .copy-10--qqD {
      color: #000000;
      width: 6.3rem;
      position: absolute;
      left: 92.5582rem;
      top: 25.2041rem;
      display: flex;
      font-size: 8rem;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      font-weight: 700;
      line-height: 1.4550000191;
      white-space: nowrap;
    }
    .copy-10--WwM {
      display: flex;
      color: #000000;
      white-space: nowrap;
      width: 7rem;
      position: absolute;
      top: 30.8379rem;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      left: 95.162rem;
    }
    .copy-10--awD {
      display: flex;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      color: #000000;
      white-space: nowrap;
      height: 11.7rem;
      position: absolute;
      left: 97.2577rem;
      top: 37.2494rem;
      font-family: Allan, 'Source Sans Pro';
      width: 7.2rem;
    }
    .copy-10--TVD {
      width: 7.1rem;
      position: absolute;
      left: 98.8543rem;
      top: 44.4666rem;
      line-height: 1.4550000191;
      font-family: Allan, 'Source Sans Pro';
      white-space: nowrap;
      height: 11.7rem;
      display: flex;
      font-size: 8rem;
      font-weight: 700;
      letter-spacing: 1.56rem;
      color: #000000;
    }
    .copy-10--Xjy {
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      left: 99.2083rem;
      display: flex;
      letter-spacing: 1.56rem;
      color: #000000;
      white-space: nowrap;
      width: 7rem;
      position: absolute;
      top: 51.2115rem;
    }
    .copy-10--zdZ {
      left: 98.7316rem;
      display: flex;
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.4550000191;
      letter-spacing: 1.56rem;
      font-family: Allan, 'Source Sans Pro';
      height: 11.7rem;
      white-space: nowrap;
      position: absolute;
      top: 56.3576rem;
      color: #000000;
      width: 4.5rem;
    }
    .linked-path-group-2KM {
      height: 40.1239rem;
      position: absolute;
      left: 12.7832rem;
      top: 17.9794rem;
      display: flex;
      align-items: center;
      width: 79.8254rem;

      .auto-group-sja7-YYb {
        margin: 0.59rem 0.023rem 1.718rem 0rem;
        width: 38.8133rem;
        height: calc(100% - 2.3079rem);
        position: relative;
        flex-shrink: 0;

        .copy-10--FT1 {
          height: 11.7rem;
          color: #000000;
          white-space: nowrap;
          width: 4.1rem;
          position: absolute;
          left: 0;
          top: 26.116rem;
          display: flex;
          font-size: 8rem;
          font-weight: 700;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          font-family: Allan, 'Source Sans Pro';
        }
        .copy-10--YBD {
          width: 5rem;
          position: absolute;
          display: flex;
          font-size: 8rem;
          font-weight: 700;
          line-height: 1.4550000191;
          color: #000000;
          height: 11.7rem;
          left: 1.2813rem;
          top: 22.3509rem;
          letter-spacing: 1.56rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
        }
        .copy-10--26P {
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          color: #000000;
          width: 7.1rem;
          font-weight: 700;
          left: 5.232rem;
          top: 15.0314rem;
          display: flex;
          font-size: 8rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          height: 11.7rem;
          position: absolute;
        }
        .copy-10--WGT {
          width: 7.1rem;
          top: 10.5681rem;
          line-height: 1.4550000191;
          font-size: 8rem;
          font-weight: 700;
          letter-spacing: 1.56rem;
          color: #000000;
          height: 11.7rem;
          position: absolute;
          left: 9.3904rem;
          display: flex;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
        }
        .copy-10--CQB {
          height: 11.7rem;
          display: flex;
          font-size: 8rem;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          white-space: nowrap;
          width: 7.5rem;
          position: absolute;
          left: 14.2623rem;
          top: 6.6869rem;
          font-weight: 700;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
        }
        .copy-10--h63 {
          left: 19.9516rem;
          top: 3.6019rem;
          display: flex;
          letter-spacing: 1.56rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          width: 7rem;
          height: 11.7rem;
          font-weight: 700;
          line-height: 1.4550000191;
          color: #000000;
          position: absolute;
          font-size: 8rem;
        }
        .copy-10--C2o {
          font-weight: 700;
          line-height: 1.4550000191;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          width: 6.3rem;
          height: 11.7rem;
          left: 25.7727rem;
          font-size: 8rem;
          white-space: nowrap;
          position: absolute;
          top: 1.4406rem;
          display: flex;
          letter-spacing: 1.56rem;
        }
        .copy-10--VGo {
          width: 7.1rem;
          height: 11.7rem;
          left: 31.7133rem;
          top: 0;
          display: flex;
          line-height: 1.4550000191;
          white-space: nowrap;
          position: absolute;
          font-size: 8rem;
          font-weight: 700;
          letter-spacing: 1.56rem;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
        }
      }
      .auto-group-yy4t-zDZ {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 40.9887rem;

        .copy-10--jS3 {
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          width: 8.8rem;
          height: 11.7rem;
          top: 0;
          display: flex;
          font-size: 8rem;
          font-weight: 700;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0;
        }
        .copy-10--dXR {
          top: 0.6272rem;
          font-weight: 700;
          white-space: nowrap;
          width: 6.8rem;
          height: 11.7rem;
          position: absolute;
          left: 6.7079rem;
          display: flex;
          font-size: 8rem;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
        }
        .copy-10--KQF {
          height: 11.7rem;
          left: 14.3504rem;
          display: flex;
          font-size: 8rem;
          letter-spacing: 1.56rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.4rem;
          position: absolute;
          top: 3.2001rem;
          font-weight: 700;
          line-height: 1.4550000191;
          color: #000000;
        }
        .copy-10--1H5 {
          left: 18.3952rem;
          display: flex;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          white-space: nowrap;
          font-weight: 700;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          width: 7.1rem;
          height: 11.7rem;
          position: absolute;
          top: 5.7696rem;
          font-size: 8rem;
        }
        .copy-10--ge7 {
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          height: 11.7rem;
          position: absolute;
          left: 22.7653rem;
          top: 9.3384rem;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.7rem;
          display: flex;
          font-size: 8rem;
          font-weight: 700;
        }
        .copy-10--N19 {
          font-size: 8rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          width: 7rem;
          position: absolute;
          left: 26.653rem;
          top: 13.4767rem;
          display: flex;
          font-weight: 700;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
          height: 11.7rem;
          color: #000000;
        }
        .copy-10--qQX {
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
          top: 17.9419rem;
          font-size: 8rem;
          line-height: 1.4550000191;
          font-weight: 700;
          letter-spacing: 1.56rem;
          height: 11.7rem;
          position: absolute;
          left: 29.8197rem;
          display: flex;
        }
        .copy-10--KqV {
          position: absolute;
          top: 22.8567rem;
          display: flex;
          font-size: 8rem;
          font-family: Allan, 'Source Sans Pro';
          white-space: nowrap;
          color: #000000;
          width: 7.1rem;
          height: 11.7rem;
          left: 32.2653rem;
          font-weight: 700;
          line-height: 1.4550000191;
          letter-spacing: 1.56rem;
        }
        .copy-10--d5V {
          white-space: nowrap;
          width: 6.7rem;
          height: 11.7rem;
          left: 34.2887rem;
          top: 28.4239rem;
          letter-spacing: 1.56rem;
          color: #000000;
          font-family: Allan, 'Source Sans Pro';
          position: absolute;
          display: flex;
          font-size: 8rem;
          font-weight: 700;
          line-height: 1.4550000191;
        }
      }
    }
  }
  .item-10-Wf5 {
    line-height: 1.455;
    letter-spacing: 19.5rem;
    color: rgba(244, 198, 77, 0.4399999976);
    font-family: Amatic SC, 'Source Sans Pro';
    top: 0;
    display: flex;
    font-weight: 400;
    left: 32.8rem;
    font-size: 100rem;
    white-space: nowrap;
    width: 98.7rem;
    height: 145.5rem;
    position: absolute;
  }
}
