
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.7rem;
}.zoom-150--EJw {
  width: 100%;
  height: 16.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';

  .zoom-150--EJw-sub-0 {
  }
  .zoom-150--EJw-sub-1 {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .zoom-150--EJw-sub-2 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .zoom-150--EJw-sub-3 {
  }
}
