
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--M95 {
  box-sizing: border-box;
  padding: 0rem 2.9rem 0rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/random-static-1-bg-7yu.png');
  background-color: #5a808a;
}
.item--M95 .auto-group-2krk-3nb {
  margin-right: 15.7rem;
  height: 67rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--M95 .auto-group-2krk-3nb .shuttle-school-ygF {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-2krk-3nb .shuttle-school-uZu {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-2krk-3nb .shuttle-school-Es5 {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-2krk-3nb .shuttle-school-ag3 {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-2krk-3nb .shuttle-school-X5V {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT {
  margin: 0rem 15.8rem 9.4rem 0rem;
  width: 41.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT .img7800-3-zDy {
  width: 41.6rem;
  height: 24.2rem;
  position: relative;
  background-size: 113.462% 195.041%;
  background-position: -2.6rem -8.4rem;
  background-image: url('../assets/img7800-3.png');
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym {
  box-sizing: border-box;
  padding: 1.1rem 0.8rem 0rem 0.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .auto-group-nujj-E8K {
  margin: 0rem 6.8rem 3.5rem 9.2rem;
  width: calc(100% - 16rem);
  height: 8.3rem;
  position: relative;
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .auto-group-nujj-E8K .item--ZAb {
  width: 23.4rem;
  height: 4.5rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #e1ac38;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .auto-group-nujj-E8K .item--qto {
  width: 23.8rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 4.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .auto-group-nujj-E8K .item--6Jw {
  width: 18.4rem;
  height: 2.1rem;
  position: absolute;
  left: 2.3rem;
  top: 6.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .item--Mkf {
  margin-left: 2.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--M95 .auto-group-nbj3-rtT .auto-group-x2pm-Hym .rectangle-343-rSX {
  width: 100%;
  height: 0.3rem;
  background-color: #e1ac38;
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 {
  height: 67rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 .shuttle-school-jWK {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 .shuttle-school-gAf {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 .shuttle-school-cq1 {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 .shuttle-school-xts {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--M95 .auto-group-b56j-bf1 .shuttle-school-Jhq {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
