
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--6dq {
  width: 100%;
  height: 219.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--6dq .item--9s1 {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 20rem;
  height: 5rem;
  position: absolute;
  left: 6.9rem;
  top: 20.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #1b1b1b;
  border-radius: 0.5rem;
}
.item--6dq .item--9s1 .auto-group-4ms1-bDD {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--6dq .item--9s1 .auto-group-4ms1-bDD .item--Wb5 {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .item--9s1 .auto-group-4ms1-bDD .vector-aqq {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--6dq .item--9s1 .auto-group-4ms1-bDD .vector-WUb {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--9s1 .auto-group-4ms1-bDD .vector-FSB {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--9s1 .vector-Bqd {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6dq .item--VLX {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 20rem;
  height: 5rem;
  position: absolute;
  left: 72rem;
  top: 20.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #1b1b1b;
  border-radius: 0.5rem;
  background-color: #dee6e8;
}
.item--6dq .item--VLX .auto-group-gdj1-wyD {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--6dq .item--VLX .auto-group-gdj1-wyD .item--HnB {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .item--VLX .auto-group-gdj1-wyD .vector-xtK {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--6dq .item--VLX .auto-group-gdj1-wyD .vector-tX5 {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--VLX .auto-group-gdj1-wyD .vector-1rb {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--VLX .vector-wVM {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6dq .gmail-qqd {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 7rem;
  top: 96rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .gmail-ZWj {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 17.8rem;
  top: 96rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--HSj {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 7rem;
  top: 90.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--PEs {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 17.8rem;
  top: 90.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--gzf {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 85.6rem;
  top: 51.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--P8P {
  width: 20rem;
  height: 5rem;
  position: absolute;
  left: 6.9rem;
  top: 9.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--6dq .item--1fZ {
  width: 20rem;
  height: 5rem;
  position: absolute;
  left: 72rem;
  top: 9.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4657c;
  border-radius: 0.5rem;
}
.item--6dq .item--T1m {
  width: 45rem;
  height: 8rem;
  position: absolute;
  left: 6.9rem;
  top: 31.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--6dq .item--FiK {
  width: 45rem;
  height: 8rem;
  position: absolute;
  left: 72rem;
  top: 31.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4657c;
  border-radius: 0.5rem;
}
.item--6dq .auto-group-zubm-TZV {
  width: 105.8rem;
  height: 13rem;
  position: absolute;
  left: 6.9rem;
  top: 44.7rem;
  display: flex;
  align-items: center;
}
.item--6dq .auto-group-zubm-TZV .item--BVV {
  margin-right: 24.4rem;
  width: 40.7rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--6dq .auto-group-zubm-TZV .item--pYT {
  width: 40.7rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #305e6a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--6dq .auto-group-bbym-G9Z {
  width: 111rem;
  height: 4rem;
  position: absolute;
  left: 6.9rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
}
.item--6dq .auto-group-bbym-G9Z .normal-BnK {
  margin-right: 54.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-bbym-G9Z .hover--vE7 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-cwr3-deK {
  width: 14.7rem;
  height: 1.9rem;
  position: absolute;
  left: 6.9rem;
  top: 78.4rem;
  display: flex;
  align-items: center;
}
.item--6dq .auto-group-cwr3-deK .normal-yCP {
  margin-right: 6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-cwr3-deK .hover-heB {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .normal-Ee7 {
  width: 4.9rem;
  height: 1.9rem;
  position: absolute;
  left: 6.9rem;
  top: 105.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .normal-wYX {
  width: 4.9rem;
  height: 1.9rem;
  position: absolute;
  left: 8rem;
  top: 180.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .normal-r9h {
  width: 4.9rem;
  height: 1.9rem;
  position: absolute;
  left: 7rem;
  top: 129.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .auto-group-mevz-9eb {
  width: 47.5rem;
  height: 1.9rem;
  position: absolute;
  left: 7.1rem;
  top: 154.6rem;
  display: flex;
  align-items: center;
}
.item--6dq .auto-group-mevz-9eb .normal-geX {
  margin-right: 38.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-mevz-9eb .hover-2TV {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .hover-NXM {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 7rem;
  top: 115.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .hover-h3q {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 8rem;
  top: 191.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .hover-1aK {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 7rem;
  top: 139.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .item--wD5 {
  width: 25rem;
  height: 5.5rem;
  position: absolute;
  left: 6.9rem;
  top: 63.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
}
.item--6dq .item--nDh {
  width: 25rem;
  height: 5.5rem;
  position: absolute;
  left: 72rem;
  top: 63.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cd961c;
  border-radius: 0.5rem;
}
.item--6dq .item--SJF {
  width: 128rem;
  height: 5.5rem;
  position: absolute;
  left: 6.9rem;
  top: 107.4rem;
}
.item--6dq .item--SJF .item--Y6P {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.item--6dq .item--SJF .item--Y6P .group-41-fRu {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--6dq .item--kTM {
  width: 128rem;
  height: 5.5rem;
  position: absolute;
  left: 6.9rem;
  top: 117.2rem;
  background-color: #ffbfca;
}
.item--6dq .item--kTM .item--rWP {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.item--6dq .item--kTM .item--rWP .group-41-BYf {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4657c;
  border-radius: 0.5rem;
}
.item--6dq .item--sgP {
  width: 30rem;
  height: 5.5rem;
  position: absolute;
  left: 6.9rem;
  top: 131.4rem;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--6dq .item--sgP .item--ZZD {
  width: 21.6rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .item--sgP .flat-color-icons-google-oyM {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 23.67rem;
  top: 1.55rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .item--KB1 {
  width: 30rem;
  height: 5.5rem;
  position: absolute;
  left: 6.9rem;
  top: 141.2rem;
  background-color: #f4657c;
  border-radius: 0.5rem;
}
.item--6dq .item--KB1 .item--zH9 {
  width: 21.6rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .item--KB1 .flat-color-icons-google-esV {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 23.67rem;
  top: 1.55rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6dq .auto-group-kmes-N2o {
  width: 84.5rem;
  height: 20rem;
  position: absolute;
  left: 7rem;
  top: 156.5rem;
  display: flex;
  align-items: center;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 3.6rem 9.8rem 3.7rem 11.2rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #5a808a;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw .item--aPm {
  margin-right: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw .auto-group-3srr-TCf {
  margin: 0rem 0rem 1rem 1.4rem;
  width: 18.3rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw .auto-group-3srr-TCf .zoom-ygo {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 3.4rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw .auto-group-3srr-TCf .item-150--5Uw {
  width: 18.3rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .auto-group-kmes-N2o .item-150--tWw .item-1--msZ {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD {
  box-sizing: border-box;
  padding: 3.6rem 9.8rem 3.7rem 11.2rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #5a808a;
  background-color: #dee6e8;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD .item--A91 {
  margin-right: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD .auto-group-fkbd-FgF {
  margin: 0rem 0rem 1rem 1.4rem;
  width: 18.3rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD .auto-group-fkbd-FgF .zoom-nRH {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 3.4rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD .auto-group-fkbd-FgF .item-150--gmZ {
  width: 18.3rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6dq .auto-group-kmes-N2o .item-150--rPD .item-1--o5V {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6dq .item--TA3 {
  width: 128rem;
  height: 5.5rem;
  position: absolute;
  left: 8rem;
  top: 193rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4657c;
  border-radius: 0.5rem;
}
.item--6dq .item--VMd {
  width: 128rem;
  height: 5.5rem;
  position: absolute;
  left: 8rem;
  top: 182rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
