
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84.2rem;
}.item--LkT {
  box-sizing: border-box;
  padding: 0rem 2.9rem 0rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/random-static-1-bg-Lfm.png');
  background-color: #5a808a;
}
.item--LkT .auto-group-uq1d-F6j {
  margin-right: 15.7rem;
  height: 67rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--LkT .auto-group-uq1d-F6j .shuttle-school-aPu {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-uq1d-F6j .shuttle-school-7Pq {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-uq1d-F6j .shuttle-school-eef {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-uq1d-F6j .shuttle-school-zTd {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-uq1d-F6j .shuttle-school-YEF {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT {
  margin: 0rem 15.8rem 9.4rem 0rem;
  width: 41.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT .img7800-3-1Nj {
  width: 41.6rem;
  height: 24.2rem;
  position: relative;
  background-size: 113.462% 195.041%;
  background-position: -2.6rem -8.4rem;
  background-image: url('../assets/img7800-3-iyZ.png');
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX {
  box-sizing: border-box;
  padding: 1.1rem 0.8rem 0rem 0.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .auto-group-ndh5-S6f {
  margin: 0rem 6.8rem 3.5rem 9.2rem;
  width: calc(100% - 16rem);
  height: 8.3rem;
  position: relative;
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .auto-group-ndh5-S6f .item--xKu {
  width: 23.4rem;
  height: 4.5rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #e1ac38;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .auto-group-ndh5-S6f .item--EoD {
  width: 23.8rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 4.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .auto-group-ndh5-S6f .item--JHH {
  width: 18.4rem;
  height: 2.1rem;
  position: absolute;
  left: 2.3rem;
  top: 6.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .item--Ljm {
  margin-left: 2.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--LkT .auto-group-ija7-gLT .auto-group-awty-ucX .rectangle-343-SXu {
  width: 100%;
  height: 0.3rem;
  background-color: #e1ac38;
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF {
  height: 67rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF .shuttle-school-KLo {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF .shuttle-school-Thu {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF .shuttle-school-QNF {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF .shuttle-school-jvK {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--LkT .auto-group-tamq-PCF .shuttle-school-gqZ {
  max-width: 2.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #e1ac38;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
