
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 572.4rem;
}.item--awu {
  box-sizing: border-box;
  padding: 13.5rem 5.2rem 13.5rem 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #a6a6a6;
}
.item--awu .auto-group-bczw-4s5 {
  margin: 39.8rem 0.8rem 0rem 0rem;
  row-gap: 14.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-bczw-4s5 .screenshot-2023-10-03-at-1753-1-Ncs {
  margin-right: 0.5rem;
  width: 81.4rem;
  height: 36.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-bczw-4s5 .screenshot-2023-10-10-at-1458-1-Hzj {
  margin-left: 0.5rem;
  width: 82.4rem;
  height: 36.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-bczw-4s5 .screenshot-2023-10-17-at-1327-1-1fq {
  margin-right: 0.5rem;
  width: 82.4rem;
  height: 43rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-9vaf-w3h {
  margin: 39.8rem 3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-9vaf-w3h .screenshot-2023-10-04-at-1420-1-sT9 {
  margin-bottom: 14.5rem;
  width: 88.3rem;
  height: 36.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-9vaf-w3h .screenshot-2023-10-11-at-1325-1-rZy {
  width: 88.9rem;
  height: 38.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-nerw-ZjH {
  margin: 39.8rem 2.9rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-nerw-ZjH .screenshot-2023-10-05-at-1316-1-W8j {
  margin-bottom: 15.3rem;
  width: 77.6rem;
  height: 35.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-nerw-ZjH .screenshot-2023-10-13-at-1555-1-qB1 {
  width: 78.3rem;
  height: 40.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-9nif-xmR {
  margin: 39.8rem 2.9rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-9nif-xmR .screenshot-2023-10-06-at-1334-1-ugf {
  margin-bottom: 5rem;
  width: 90.1rem;
  height: 45.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-9nif-xmR .screenshot-2023-10-13-at-1554-1-qKR {
  margin-left: 0.1rem;
  width: 90.7rem;
  height: 44.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-ivjf-xew {
  margin: 39.8rem 3.6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-ivjf-xew .screenshot-2023-10-07-at-1257-1-hsR {
  margin-bottom: 16.9rem;
  width: 76.4rem;
  height: 34.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-ivjf-xew .screenshot-2023-10-14-at-1106-1-EMZ {
  width: 75.2rem;
  height: 33.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq {
  width: 135.4rem;
  row-gap: 11rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .screenshot-2023-10-03-at-1752-1-uCo {
  margin-right: 1rem;
  width: 63.3rem;
  height: 28.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-gmab-dPh {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-gmab-dPh .screenshot-2023-10-09-at-1635-1-aZq {
  margin-right: 3.6rem;
  width: 67.5rem;
  height: 39.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-gmab-dPh .screenshot-2023-10-09-at-1635-2-iAF {
  width: 64.3rem;
  height: 28.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-5vcb-SM9 {
  margin-right: 4.3rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-5vcb-SM9 .screenshot-2023-10-16-at-1246-1-ay9 {
  margin-right: 6.1rem;
  width: 74.8rem;
  height: 39.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--awu .auto-group-j3u5-ZPq .auto-group-5vcb-SM9 .item--Wro {
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
