
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 474.4rem;
}.item--8Nw {
  box-sizing: border-box;
  padding: 6.7rem 6.1rem 121.5rem 6.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #a6a6a6;
}
.item--8Nw .screenshot-2023-06-19-at-1605-1-q2T {
  margin: 0rem 0rem 8.6rem 0.1rem;
  width: 104.6rem;
  height: 12rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-xsfd-jdd {
  margin: 0rem 47.6rem 11.5rem 222.9rem;
  width: calc(100% - 270.5rem);
  height: 37.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--8Nw .auto-group-xsfd-jdd .auto-group-zlvh-fGP {
  box-sizing: border-box;
  padding: 27.1rem 15.5rem 8.9rem 15.5rem;
  width: 62.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-06-02-at-1453-1-bg.png');
  flex-shrink: 0;
}
.item--8Nw .auto-group-xsfd-jdd .auto-group-q5y5-7eB {
  box-sizing: border-box;
  padding-left: 4.9rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-xsfd-jdd .auto-group-q5y5-7eB .screenshot-2023-06-03-at-1309-1-Ti3 {
  margin-right: 4.9rem;
  width: 57.1rem;
  height: 35rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-xsfd-jdd .auto-group-q5y5-7eB .screenshot-2023-06-05-at-1539-1-P5u {
  width: 62.3rem;
  height: 36.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh {
  margin: 0rem 46.4rem 8.1rem 0.1rem;
  width: calc(100% - 46.5rem);
  height: 35.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .screenshot-2023-06-06-at-1821-1-2ef {
  width: 76.9rem;
  height: 35.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 {
  box-sizing: border-box;
  padding-left: 4.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 .auto-group-tse3-WJw {
  margin-right: 4.7rem;
  box-sizing: border-box;
  padding: 23.4rem 31.3rem 6.5rem 18.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-06-07-at-1219-1-bg.png');
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 .screenshot-2023-06-08-at-1229-1-Nc3 {
  margin-right: 4.7rem;
  width: 66.4rem;
  height: 33.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 .screenshot-2023-06-09-at-1208-1-Hj1 {
  margin-right: 5.2rem;
  width: 62.2rem;
  height: 35.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 .screenshot-2023-06-10-at-1216-1-Cqy {
  margin-right: 4rem;
  width: 58rem;
  height: 29.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-hbaj-7Xh .auto-group-9oxh-AF5 .screenshot-2023-06-12-at-1229-1-Y99 {
  width: 63.5rem;
  height: 33.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK {
  margin: 0rem 0rem 7.7rem 0.1rem;
  height: 35.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-d3kz-bdD {
  box-sizing: border-box;
  padding-right: 4.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-d3kz-bdD .screenshot-2023-06-13-at-1653-1-xCs {
  margin-right: 4rem;
  width: 77.6rem;
  height: 35.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-d3kz-bdD .auto-group-xhmv-t6X {
  width: 65.4rem;
  height: 33.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-06-14-at-1524-1-bg.png');
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .screenshot-2023-06-15-at-1733-1-ZyM {
  width: 67rem;
  height: 35.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-6xxk-h3y {
  box-sizing: border-box;
  padding: 1rem 0rem 0rem 4.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-6xxk-h3y .screenshot-2023-06-19-at-1705-1-peP {
  margin: 0rem 1.1rem 1rem 0rem;
  width: 70.9rem;
  height: 33.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-6xxk-h3y .screenshot-2023-06-19-at-1720-1-Lcj {
  margin: 0rem 1.4rem 2.1rem 0rem;
  width: 57.4rem;
  height: 32.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-aqxv-sSK .auto-group-6xxk-h3y .screenshot-2023-06-19-at-1645-1-Fjh {
  width: 62.1rem;
  height: 34.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV {
  margin: 0rem 0rem 7.3rem 0.1rem;
  height: 37.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .auto-group-8jpu-WvX {
  box-sizing: border-box;
  padding-right: 3.6rem;
  height: 100%;
  display: flex;
  column-gap: 3.6rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .auto-group-8jpu-WvX .screenshot-2023-06-20-at-1814-1-eG3 {
  width: 78rem;
  height: 37.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .auto-group-8jpu-WvX .screenshot-2023-06-21-at-1358-1-afV {
  width: 81.5rem;
  height: 34.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .auto-group-8jpu-WvX .screenshot-2023-06-22-at-1812-1-KNB {
  width: 67.4rem;
  height: 33.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .auto-group-8jpu-WvX .screenshot-2023-06-23-at-1408-1-FWj {
  width: 71.5rem;
  height: 33.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .screenshot-2023-06-24-at-1319-1-nFm {
  margin-right: 3.6rem;
  width: 56.2rem;
  height: 37.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-wr5d-zBV .screenshot-2023-06-26-at-1401-1-v75 {
  width: 62.5rem;
  height: 29.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF .screenshot-2023-06-27-at-1429-1-bj1 {
  margin: 0.6rem 4.7rem 0rem 0rem;
  width: 77rem;
  height: 33.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF .screenshot-2023-06-28-at-1505-1-iod {
  margin: 0.6rem 4.2rem 0rem 0rem;
  width: 80.9rem;
  height: 37.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF .screenshot-2023-06-29-at-1249-1-Sjd {
  margin: 0.4rem 3.2rem 0rem 0rem;
  width: 67.4rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF .screenshot-2023-06-30-at-1146-1-ZpF {
  margin-right: 3.6rem;
  width: 71.9rem;
  height: 38.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--8Nw .auto-group-bnzy-FQF .screenshot-2023-07-01-at-1327-1-Vxo {
  margin-top: 0.4rem;
  width: 57rem;
  height: 33.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
