
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 500.8rem;
}.item--rkT {
  box-sizing: border-box;
  padding: 50.8rem 72.7rem 99.6rem 26.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #a6a6a6;
}
.item--rkT .auto-group-byo1-YtB {
  margin: 50.8rem 4.4rem 0rem 0rem;
  width: 62.3rem;
  flex-shrink: 0;
}
.item--rkT .auto-group-byo1-YtB .auto-group-dsdv-sQf {
  box-sizing: border-box;
  padding-bottom: 6.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item--rkT .auto-group-byo1-YtB .auto-group-dsdv-sQf .screen-shot-2023-04-05-at-1400-1-p51 {
  margin-bottom: 6.3rem;
  width: 62.2rem;
  height: 37.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-byo1-YtB .auto-group-dsdv-sQf .group-14-K1m {
  box-sizing: border-box;
  padding: 27.3rem 1.1rem 4.4rem 40.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screen-shot-2023-04-11-at-1158-1-bg.png');
  flex-shrink: 0;
}
.item--rkT .auto-group-byo1-YtB .screen-shot-2023-04-18-at-1422-1-x4j {
  margin-bottom: 6.3rem;
  width: 62.3rem;
  height: 34.8rem;
  object-fit: cover;
  vertical-align: top;
}
.item--rkT .auto-group-byo1-YtB .screen-shot-2023-04-25-at-1255-1-5QF {
  width: 61.5rem;
  height: 31.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item--rkT .auto-group-8yaj-Czf {
  margin: 51.9rem 4.6rem 0rem 0rem;
  width: 65.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-8yaj-Czf .auto-group-pu7v-Xn3 {
  box-sizing: border-box;
  padding: 0rem 0rem 7.9rem 0.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-8yaj-Czf .auto-group-pu7v-Xn3 .screen-shot-2023-04-05-at-1412-1-4my {
  margin-bottom: 5.2rem;
  width: 64.9rem;
  height: 39rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-8yaj-Czf .auto-group-pu7v-Xn3 .screen-shot-2023-04-12-at-1339-1-bX1 {
  margin: 0rem 0.2rem 7.6rem 0rem;
  width: 64.7rem;
  height: 31.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-8yaj-Czf .auto-group-pu7v-Xn3 .screen-shot-2023-04-19-at-1428-1-WP5 {
  width: 64.9rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-8yaj-Czf .screen-shot-2023-04-26-at-1403-1-Eps {
  width: 65.3rem;
  height: 32.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-gntm-ATd {
  margin: 52.5rem 4.5rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-gntm-ATd .screen-shot-2023-04-06-at-1047-1-hyM {
  margin: 0rem 0rem 9.2rem 0.3rem;
  width: 65.8rem;
  height: 34.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-gntm-ATd .group-15-d6K {
  margin: 0rem 0.4rem 10.2rem 0rem;
  box-sizing: border-box;
  padding: 25rem 22.9rem 3.4rem 18.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screen-shot-2023-04-13-at-1236-1-bg.png');
  flex-shrink: 0;
}
.item--rkT .auto-group-gntm-ATd .screen-shot-2023-04-20-at-1459-1-4xK {
  margin: 0rem 0rem 6.3rem 0.1rem;
  width: 65.3rem;
  height: 34.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-gntm-ATd .screen-shot-2023-04-27-at-1403-1-yZV {
  width: 65.4rem;
  height: 32.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-d4lb-Jbm {
  margin: 53.1rem 4.2rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-d4lb-Jbm .screen-shot-2023-04-07-at-1319-1-qrb {
  margin: 0rem 0.3rem 10.2rem 0rem;
  width: 61.9rem;
  height: 33.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-d4lb-Jbm .screen-shot-2023-04-14-at-1158-1-fKq {
  margin: 0rem 0rem 5.6rem 0.4rem;
  width: 62.6rem;
  height: 34.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-d4lb-Jbm .screen-shot-2023-04-21-at-1311-1-ybR {
  margin: 0rem 0rem 5.6rem 0.1rem;
  width: 62.3rem;
  height: 35.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-d4lb-Jbm .screen-shot-2023-04-28-at-1256-1-tiP {
  margin-right: 0.7rem;
  width: 62.3rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo {
  margin: 54.3rem 4.9rem 0rem 0rem;
  width: 57.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo .screen-shot-2023-04-08-at-1057-1-mGP {
  width: 57.7rem;
  height: 33.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo .auto-group-wsyw-75M {
  box-sizing: border-box;
  padding-top: 10.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo .auto-group-wsyw-75M .screen-shot-2023-04-15-at-1151-1-FST {
  margin-bottom: 4.3rem;
  width: 57.3rem;
  height: 35.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo .auto-group-wsyw-75M .screen-shot-2023-04-22-at-1237-1-ajd {
  margin-bottom: 5.6rem;
  width: 57rem;
  height: 35.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-omkh-2Jo .auto-group-wsyw-75M .screen-shot-2023-04-29-at-1209-1-iL3 {
  width: 57.6rem;
  height: 34.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB {
  height: 217.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB .screen-shot-2023-04-03-at-1714-1-PSB {
  margin: 0rem 0rem 19.9rem 2.9rem;
  width: 61.7rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB .screen-shot-2023-04-10-at-1543-1-hxf {
  margin-bottom: 10.2rem;
  width: 61.8rem;
  height: 33.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB .screen-shot-2023-04-17-at-1446-1-drK {
  margin-bottom: 4rem;
  width: 62.8rem;
  height: 35.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB .screen-shot-2023-04-24-at-1214-1-AbM {
  margin-bottom: 9.8rem;
  width: 62.1rem;
  height: 31rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--rkT .auto-group-7ay3-EpB .screen-shot-2023-05-01-at-1116-1-6zo {
  width: 63.8rem;
  height: 36.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
