
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.04rem;
}.item--VTy {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--VTy .item--BLo {
  margin: 0rem 0.04rem 3rem 0rem;
  box-sizing: border-box;
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: calc(100% - 0.0398rem);
  height: 12rem;
  display: flex;
  align-items: center;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--S1q {
  margin-right: 9rem;
  width: 20rem;
  height: 11.8rem;
  position: relative;
  background-size: 100% 169.492%;
  background-position: -0rem -2.9rem;
  background-image: url('../assets/-2pK.png');
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--Vko {
  margin: 0.5rem 3.3rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--b39 {
  margin: 0.5rem 3.7rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--hby {
  margin: 0.5rem 8.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--BLo .auto-group-tcpm-1cf {
  margin: 2.8rem 5.5rem 2.6rem 0rem;
  height: calc(100% - 5.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--BLo .auto-group-tcpm-1cf .item-38-097-000-79-96-8hH {
  margin: 0rem 0.6rem 0.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--VTy .item--BLo .auto-group-tcpm-1cf .item-38-097-000-79-96-8hH .item-38-097-000-79-96-8hH-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BLo .auto-group-tcpm-1cf .item-38-097-000-79-96-8hH .item-38-097-000-79-96-8hH-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BLo .auto-group-tcpm-1cf .auto-group-vxaj-tTV {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--pM9 {
  margin: 3.4rem 1.8rem 3.4rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  height: calc(100% - 6.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--pM9 .auto-group-pvif-UwV {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--pM9 .auto-group-pvif-UwV .item--pVZ {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--BLo .item--pM9 .auto-group-pvif-UwV .vector-hJT {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--VTy .item--BLo .item--pM9 .auto-group-pvif-UwV .vector-RET {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--BLo .item--pM9 .auto-group-pvif-UwV .vector-YZy {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--BLo .item--pM9 .vector-gRH {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--BLo .item--njD {
  margin: 3.35rem 0rem 3.45rem 0rem;
  width: 20rem;
  height: calc(100% - 6.8rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--BmM {
  margin: 0rem 0rem 15.5rem 8rem;
  width: 136.0398rem;
  flex-shrink: 0;
}
.item--VTy .item--BmM .bread-crumbs-gTD {
  margin-bottom: 6.7rem;
  display: flex;
  align-items: center;
}
.item--VTy .item--BmM .bread-crumbs-gTD .item--Rvb {
  margin: 0rem 0.35rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--BmM .bread-crumbs-gTD .eva-arrow-ios-forward-fill-Wx3 {
  margin: 0.098rem 0.897rem 0rem 0rem;
  width: 0.353rem;
  height: 0.7016rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--BmM .bread-crumbs-gTD .item--dFy {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--BmM .auto-group-u9lx-wGf {
  width: 100%;
  height: 62.5rem;
  position: relative;
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .mask-group-fyM {
  width: 85.0398rem;
  height: 62.5rem;
  position: absolute;
  left: 51rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--CiP {
  width: 45.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.33;
  color: #292929;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--spX {
  width: 59.6rem;
  height: 11.4rem;
  position: absolute;
  left: 0;
  top: 9.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #5a808a;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item-1-20-30--eTu {
  width: 61.1rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 39rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item-1-20-30--eTu .item-1-20-30--eTu-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item-1-20-30--eTu .item-1-20-30--eTu-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--RHd {
  width: 58.2rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 32.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--RHd .item--RHd-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--RHd .item--RHd-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--jLF {
  width: 61.1rem;
  height: 11.4rem;
  position: absolute;
  left: 0;
  top: 19.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--jLF .item--jLF-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--jLF .item--jLF-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--BmM .auto-group-u9lx-wGf .item--8h9 {
  width: 45rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 54.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--VTy .item--MZu {
  margin: 0rem 0.04rem 8rem 0rem;
  width: calc(100% - 0.0398rem);
  height: 25.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--MZu .rectangle-337-1eT {
  width: 144rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #edecea;
}
.item--VTy .item--MZu .item--Lgj {
  width: 85.6rem;
  height: 4.2rem;
  position: absolute;
  left: 29.2rem;
  top: 9.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--VTy .item--MZu .item--Lgj .item--Lgj-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--MZu .item--Lgj .item--Lgj-sub-1 {
}
.item--VTy .item--MZu .rectangle-294-pVR {
  width: 45rem;
  height: 0.3rem;
  position: absolute;
  left: 49.5rem;
  top: 16.4rem;
  background-color: #ff9bab;
}
.item--VTy .item--MZu .item--YgK {
  width: 18.7rem;
  height: 3.4rem;
  position: absolute;
  left: 63.5rem;
  top: 17.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--MZu .item--Ep3 {
  width: 4.8rem;
  height: 18.5rem;
  position: absolute;
  left: 69.6rem;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.44;
  color: #ff9bab;
  font-family: Istok Web, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y {
  margin: 0rem 8.04rem 10rem 8rem;
  width: calc(100% - 16.0398rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-yukz-ESf {
  box-sizing: border-box;
  padding: 0rem 40.8rem 3.9rem 40.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-yukz-ESf .auto-group-zxsp-mSb {
  margin: 0rem 2.9rem 1rem 5.5rem;
  width: calc(100% - 8.4rem);
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-yukz-ESf .auto-group-zxsp-mSb .item--VdV {
  width: 37.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-yukz-ESf .auto-group-zxsp-mSb .item--nMh {
  width: 37.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-yukz-ESf .item--se3 {
  max-width: 46.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns {
  margin-bottom: 3rem;
  width: 100%;
  height: 56rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.4rem 5.1rem 7.2rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB .group-53-vPM {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB .group-53-vPM .item--5X9 {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB .group-53-vPM .auto-group-tw6x-Nm9 {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB .group-53-vPM .auto-group-tw6x-Nm9 .item-2-90--j5u {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.7rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-126-1nB .group-53-vPM .auto-group-tw6x-Nm9 .item-2300--znX {
  width: 21.6rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-yacb-939 {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-yacb-939 .rectangle-299-tFd {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-yacb-939 .item-8--BkX {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-xiip-5qu {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-xiip-5qu .rectangle-321-Res {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-xiip-5qu .item-6--LG3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-gftx-2Pm {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-gftx-2Pm .rectangle-322-mcF {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-y9oh-dKh .auto-group-gftx-2Pm .item--tB5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-jrco-PNj {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-jrco-PNj .rectangle-323-Xzj {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .group-54-g9Z .auto-group-jrco-PNj .item-3-10-epT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8yH .item--8jd {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 {
  box-sizing: border-box;
  padding: 3.7rem 0rem 3.7rem 3.7rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.4rem 5.1rem 7.1rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj .group-53-vou {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj .group-53-vou .item--tVq {
  margin-right: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj .group-53-vou .auto-group-u2fd-nbD {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj .group-53-vou .auto-group-u2fd-nbD .item-3-90--k2F {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.8rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-126-2Cj .group-53-vou .auto-group-u2fd-nbD .item-2850--p27 {
  width: 21.7rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-nww5-avP {
  margin-right: 17.2rem;
  width: calc(100% - 17.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-nww5-avP .rectangle-299-Kd5 {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-nww5-avP .item-12--EV9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-oftf-LYB {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-oftf-LYB .rectangle-321-grw {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-oftf-LYB .item-6--bDD {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-qqmz-ti7 {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-qqmz-ti7 .rectangle-322-qNT {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-fucx-3Qf .auto-group-qqmz-ti7 .item--MLo {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-1zet-rYT {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-1zet-rYT .rectangle-323-pEP {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .group-54-6EX .auto-group-1zet-rYT .item-3-10-8F5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--8d9 .item--b8f {
  margin: 0rem 7.8rem 0rem 4.1rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.8rem 5.1rem 7.6rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw .group-53-o8F {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw .group-53-o8F .item--9xo {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw .group-53-o8F .auto-group-5xkd-TCo {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw .group-53-o8F .auto-group-5xkd-TCo .item-2-45--Qdq {
  width: 18.2rem;
  height: 1.6rem;
  position: absolute;
  left: 0.4rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-126-5xw .group-53-o8F .auto-group-5xkd-TCo .item-1300--UNo {
  width: 20.8rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-mskb-TEj {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-mskb-TEj .rectangle-299-oZV {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-mskb-TEj .item-8--pUb {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-fpqx-XP1 {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-fpqx-XP1 .rectangle-321-sBy {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-fpqx-XP1 .item-6--nZq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-i98o-VUF {
  margin-right: 14.4rem;
  width: calc(100% - 14.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-i98o-VUF .rectangle-322-qo1 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-bcsm-WqH .auto-group-i98o-VUF .item-10-15--931 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-7hko-dym {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-7hko-dym .rectangle-323-bQo {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .group-54-m71 .auto-group-7hko-dym .item-3-10-hyd {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-hufd-1Ns .item--zgb .item--Bdu {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd {
  margin-bottom: 5rem;
  width: 100%;
  height: 56rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.2rem 5.1rem 7rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP .group-53-6H1 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP .group-53-6H1 .item--Sbm {
  margin-right: 1.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP .group-53-6H1 .auto-group-bzsf-8jV {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP .group-53-6H1 .auto-group-bzsf-8jV .item-2-90--gW7 {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.9rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-126-PtP .group-53-6H1 .auto-group-bzsf-8jV .item-6000--wS3 {
  width: 22rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-chrm-i5R {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-chrm-i5R .rectangle-299-Fr3 {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-chrm-i5R .item-8--Mu5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-ielb-54P {
  margin-right: 13.7rem;
  width: calc(100% - 13.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-ielb-54P .rectangle-321-pGs {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-ielb-54P .item--Xwy {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-sbwj-e11 {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-sbwj-e11 .rectangle-322-PUP {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-9go5-Apb .auto-group-sbwj-e11 .item--hjy {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-3lpd-pJo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-3lpd-pJo .rectangle-323-yhV {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .group-54-RMD .auto-group-3lpd-pJo .item-3-10-Hy5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--iXM .item--n99 {
  margin: 0rem 7.8rem 0rem 4.1rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 {
  box-sizing: border-box;
  padding: 3.7rem 0rem 3.7rem 3.7rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.5rem 5.1rem 7.2rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB .group-53-nRy {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB .group-53-nRy .item--jMD {
  margin-right: 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB .group-53-nRy .auto-group-qwgw-q9M {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB .group-53-nRy .auto-group-qwgw-q9M .item-2-90--Nuy {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.7rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-126-UgB .group-53-nRy .auto-group-qwgw-q9M .item-7400--r4T {
  width: 21.5rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-eqnk-DJK {
  margin-right: 17.2rem;
  width: calc(100% - 17.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-eqnk-DJK .rectangle-299-kZ9 {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-eqnk-DJK .item-12--4Zq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-uaqb-NKd {
  margin-right: 16.7rem;
  width: calc(100% - 16.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-uaqb-NKd .rectangle-321-Wwd {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-uaqb-NKd .item-2--e2F {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-4is7-9jh {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-4is7-9jh .rectangle-322-uD5 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-zotz-UrX .auto-group-4is7-9jh .item--22o {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-2gcj-vP5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-2gcj-vP5 .rectangle-323-gNF {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .group-54-wLo .auto-group-2gcj-vP5 .item-3-10-CLb {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--oK9 .item--gFm {
  margin: 0rem 6.4rem 0rem 5.5rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.2rem 5.1rem 7.1rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy .group-53-U59 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy .group-53-U59 .item--DoR {
  margin-right: 1.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy .group-53-U59 .auto-group-up4p-7to {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy .group-53-U59 .auto-group-up4p-7to .item-2-45--Gmh {
  width: 18.2rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-54xu-ZTy .group-53-U59 .auto-group-up4p-7to .item-3000--jfH {
  width: 21.9rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-6xrv-pgj {
  margin: 0rem 18.1rem 2.6rem 0rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-6xrv-pgj .rectangle-299-kqH {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-6xrv-pgj .item-8--GHq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-xgp5-yT9 {
  margin: 0rem 13.7rem 2.6rem 0rem;
  width: calc(100% - 13.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-xgp5-yT9 .rectangle-321-WT5 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-xgp5-yT9 .item--pyZ {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-rcxd-vWo {
  margin: 0rem 15.3rem 2.6rem 0rem;
  width: calc(100% - 15.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-rcxd-vWo .rectangle-322-4N7 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-rcxd-vWo .item-6-15--yEB {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-nkjf-saT {
  margin-bottom: 3.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-nkjf-saT .rectangle-323-dZd {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .auto-group-nkjf-saT .item-3-10-YRh {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .auto-group-49gx-bhd .item--hAs .item--Dnj {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .group-41-dLf {
  margin: 0rem 50.1rem 0rem 52.9rem;
  box-sizing: border-box;
  padding: 1.5rem 1.7rem 1.4rem 1.7rem;
  width: calc(100% - 103rem);
  display: flex;
  align-items: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--M7y .group-41-dLf .item--KjH {
  margin-right: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1e1e1d;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--M7y .group-41-dLf .auto-group-ww3m-2dh {
  margin: 0rem 0.9rem 0.1rem 0rem;
  width: 2.8rem;
  height: 1.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--M7y .group-41-dLf .visa-MAB {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj {
  margin-right: 0.0398rem;
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: calc(100% - 0.0398rem);
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .item--hdM {
  margin: 0.05rem 8.4rem 0rem 0rem;
  width: 24.4rem;
  height: 15rem;
  position: relative;
  background-size: 117.213% 190.667%;
  background-position: -2rem -5rem;
  background-image: url('../assets/-Jpj.png');
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 {
  margin: 0.05rem 22.5rem 0rem 0rem;
  height: 16.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .item--tC3 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .rectangle-310-CiX {
  width: 9.2rem;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .item--wg7 {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .item--Fwh {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .item--z8b {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-8juf-y55 .item--6xK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj {
  margin: 0.05rem 26.4rem 0rem 0rem;
  width: 16.1rem;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .item--AhH {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .rectangle-336-gfd {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .item-38-097-000-79-96-das {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .item-38-097-000-79-96-das .item-38-097-000-79-96-das-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .item-38-097-000-79-96-das .item-38-097-000-79-96-das-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-ibwt-EYj .auto-group-awnx-eeP {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR {
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--8Jf {
  margin-bottom: 2.45rem;
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .auto-group-hufz-Em1 {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .auto-group-hufz-Em1 .item--NcK {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .auto-group-hufz-Em1 .vector-rnP {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .auto-group-hufz-Em1 .vector-PnK {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .auto-group-hufz-Em1 .vector-jLP {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--VTy .item--rcj .auto-group-tmyv-xQs .auto-group-u1ab-BPR .item--m6j .vector-fjq {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM {
  margin-bottom: 8.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .applepay-K3h {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .googlepay-dq5 {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .monopay-mRV {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0.7rem 0.3rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .monopay-mRV .auto-group-gxvf-HPq {
  margin-right: 0.1rem;
  width: 2.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .monopay-mRV .auto-group-gxvf-HPq .rectangle-312-puZ {
  width: 2.5rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .monopay-mRV .auto-group-gxvf-HPq .mono-ik3 {
  width: 2.2rem;
  height: 1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .monopay-mRV .pay-ReT {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .mastercard-vLK {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .visa-qCP {
  margin-right: 9.1rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--VTy .item--rcj .auto-group-mznj-NPM .item--AkT {
  margin-top: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .rectangle-298-tAf {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--VTy .item--rcj .item--csM {
  margin: 0rem 8.8rem 0rem 11.1rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--VTy .item--rcj .item--csM .item--h87 {
  margin-right: 26.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .item--csM .item--zd1 {
  margin-right: 19.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--VTy .item--rcj .item--csM .item--HMD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
