
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--37h {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--37h .auto-group-fhuo-k27 {
  width: 211.9rem;
  height: 279.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb {
  box-sizing: border-box;
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: 144rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #edecea;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--3J3 {
  margin-right: 9rem;
  width: 20rem;
  height: 11.8rem;
  position: relative;
  background-size: 100% 169.492%;
  background-position: -0rem -2.9rem;
  background-image: url('../assets/-C2F.png');
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--hNb {
  margin: 0.5rem 3.3rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--n99 {
  margin: 0.5rem 3.7rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--tT5 {
  margin: 0.5rem 8.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .auto-group-cfpq-o4F {
  margin: 2.8rem 5.5rem 2.6rem 0rem;
  height: calc(100% - 5.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .auto-group-cfpq-o4F .item-38-097-000-79-96-hvK {
  margin: 0rem 0.6rem 0.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .auto-group-cfpq-o4F .item-38-097-000-79-96-hvK .item-38-097-000-79-96-hvK-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-fhuo-k27 .item--oeb .auto-group-cfpq-o4F .item-38-097-000-79-96-hvK .item-38-097-000-79-96-hvK-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-fhuo-k27 .item--oeb .auto-group-cfpq-o4F .auto-group-2zvk-WPu {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f {
  margin: 3.4rem 1.8rem 3.4rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  height: calc(100% - 6.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .auto-group-b8c3-V9M {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .auto-group-b8c3-V9M .item--1tP {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .auto-group-b8c3-V9M .vector-CLb {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .auto-group-b8c3-V9M .vector-KRD {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .auto-group-b8c3-V9M .vector-FZm {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--S2f .vector-yEs {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--oeb .item--4n7 {
  margin: 3.35rem 0rem 3.45rem 0rem;
  width: 20rem;
  height: calc(100% - 6.8rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--SXm {
  width: 150.9rem;
  height: 140.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .vector-159-X3R {
  width: 14.8501rem;
  height: 36.3rem;
  position: absolute;
  left: 73.2499rem;
  top: 12rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .ellipse-32-3XZ {
  width: 43rem;
  height: 43rem;
  position: absolute;
  left: 36.3rem;
  top: 59.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .ellipse-30-aGb {
  width: 60rem;
  height: 60rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .ellipse-33-XBq {
  width: 40.4rem;
  height: 40.4rem;
  position: absolute;
  left: 0;
  top: 82.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-290-4hZ {
  width: 28.7rem;
  height: 28.7rem;
  position: absolute;
  left: 30.5rem;
  top: 13.3rem;
  background-color: #edecea;
  border-radius: 20rem 20rem 0 20rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-293-NiF {
  width: 14.9rem;
  height: 14.9rem;
  position: absolute;
  left: 20.7rem;
  top: 87.6rem;
  background-color: #5a808a;
  border-radius: 20rem 20rem 0 20rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-297-hkX {
  width: 17.5rem;
  height: 17.5rem;
  position: absolute;
  left: 93rem;
  top: 82.5rem;
  background-color: #d9ae4f;
  border-radius: 20rem 20rem 0 20rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-291-paF {
  width: 32rem;
  height: 35rem;
  position: absolute;
  left: 74.5rem;
  top: 12rem;
  background-color: #d9ae4f;
  border-radius: 0 0 15rem 15rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-292-96j {
  width: 32rem;
  height: 19.3rem;
  position: absolute;
  left: 112rem;
  top: 83.2rem;
  background-color: #5a808a;
  border-radius: 0 0 15rem 15rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .mask-group-sHd {
  width: 35rem;
  height: 35rem;
  position: absolute;
  left: 75.5rem;
  top: 47rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .mask-group-Q2f {
  width: 37rem;
  height: 37rem;
  position: absolute;
  left: 107rem;
  top: 12rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .ellipse-36-w2b {
  width: 13.7rem;
  height: 13.7rem;
  position: absolute;
  left: 0;
  top: 54.1rem;
  background-color: #d9ae4f;
  border-radius: 6.85rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .rectangle-296-fUP {
  width: 32.3rem;
  height: 32.3rem;
  position: absolute;
  left: 111rem;
  top: 49.7rem;
  background-color: #edecea;
  border-radius: 20rem 20rem 0 20rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .vector-158-BSj {
  width: 15.0668rem;
  height: 21.5rem;
  position: absolute;
  left: 34.4832rem;
  top: 80.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .item--7LP {
  width: 45rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 67.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--37h .auto-group-fhuo-k27 .item--SXm .shuttle-school--WdR {
  width: 65.8rem;
  height: 12.8rem;
  position: absolute;
  left: 8rem;
  top: 46.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
}
.item--37h .auto-group-fhuo-k27 .item--SXm .item--aNP {
  width: 59.5rem;
  height: 3.1rem;
  position: absolute;
  left: 8rem;
  top: 60.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-fhuo-k27 .rectangle-337-boH {
  width: 144rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 102.5rem;
  background-color: #edecea;
}
.item--37h .auto-group-fhuo-k27 .item--kAP {
  width: 90.3rem;
  height: 26.4rem;
  position: absolute;
  left: 26.85rem;
  top: 103.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-5yfh-rUK {
  width: 100%;
  height: 20.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-5yfh-rUK .item--ncs {
  width: 90.3rem;
  height: 11.4rem;
  position: absolute;
  left: 0;
  top: 9.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-5yfh-rUK .item--dG7 {
  width: 4.8rem;
  height: 18.5rem;
  position: absolute;
  left: 42.75rem;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.44;
  color: #ff9bab;
  font-family: Istok Web, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-mu8w-Jt3 {
  box-sizing: border-box;
  padding: 1.4rem 22.65rem 0rem 22.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-mu8w-Jt3 .rectangle-294-dQX {
  margin-bottom: 1rem;
  width: 100%;
  height: 0.3rem;
  background-color: #ff9bab;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--kAP .auto-group-mu8w-Jt3 .item--yUP {
  margin-left: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--sZm {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 103.5rem;
  top: 130rem;
  background-color: #f4e7ca;
  border-radius: 7.5rem;
}
.item--37h .auto-group-fhuo-k27 .item--m9M {
  width: 211.9rem;
  height: 174.5rem;
  position: absolute;
  left: 0;
  top: 87.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb {
  margin-right: 4.7rem;
  width: 207.2rem;
  height: 144.5rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--naF {
  width: 135.9rem;
  height: 137rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .rectangle-302-qoR {
  width: 32rem;
  height: 18.1rem;
  position: absolute;
  left: 107.3rem;
  top: 126.4rem;
  background-color: rgba(217, 174, 79, 0.3000000119);
  border-radius: 0 0 15rem 15rem;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT {
  width: 127.6rem;
  height: 54.7rem;
  position: absolute;
  left: 8.3rem;
  top: 59.6rem;
  display: flex;
  align-items: center;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .auto-group-grip-Az7 {
  margin-right: 8.5rem;
  width: 53.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .auto-group-grip-Az7 .item--ugo {
  width: 53.7rem;
  height: 49.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .auto-group-grip-Az7 .item--mj1 {
  width: 51.5999rem;
  height: 52.8rem;
  position: absolute;
  left: 1rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 {
  margin: 8.9rem 0rem 6.4rem 0rem;
  width: 65.4rem;
  height: calc(100% - 15.3rem);
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 .auto-group-hbab-7Ab {
  margin: 0rem 0rem 3rem 0.1rem;
  width: 44.9rem;
  height: 4.8rem;
  position: relative;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 .auto-group-hbab-7Ab .rectangle--pqh {
  width: 26.7rem;
  height: 4.5rem;
  position: absolute;
  left: 16.4rem;
  top: 0.3rem;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 .auto-group-hbab-7Ab .item--Xk7 {
  width: 44.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 .rectangle-295-1fH {
  margin-bottom: 1rem;
  width: 100%;
  height: 0.3rem;
  background-color: #5a808a;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-zlv9-rgb .item--wrT .item--eH1 .item-2020--xaX {
  max-width: 65.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh {
  box-sizing: border-box;
  padding: 7.3rem 6.1rem 7.1rem 12.5rem;
  height: 30rem;
  display: flex;
  align-items: center;
  background-color: #dee6e8;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-4000-NEF {
  margin: 0rem 10.7rem 3rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-4000-NEF .item-4000-JNo {
  margin: 0rem 3.8rem 0.9rem 0rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-4000-NEF .item--Cj5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-261-tbu {
  margin-right: 10.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-261-tbu .item-261-qGF {
  margin: 0rem 0.1rem 0.9rem 0rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-261-tbu .item--MkP {
  max-width: 35.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-750-ocP {
  margin-bottom: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-750-ocP .item-750-9RM {
  margin: 0rem 2.8rem 0.9rem 0rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-fhuo-k27 .item--m9M .auto-group-gjkv-rmh .item-750-ocP .item--feb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF {
  box-sizing: border-box;
  padding: 15rem 0rem 6.2rem 6.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 {
  margin: 0rem 6.9rem 5.8rem 0rem;
  width: 130.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT {
  box-sizing: border-box;
  padding: 0rem 0.6rem 7.4rem 0.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .item--iFV {
  margin: 0rem 0rem 6rem 5.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .rectangle-296-2GB {
  margin: 0rem 0.5rem 3rem 0.7rem;
  width: calc(100% - 1.2rem);
  height: 0.3rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH {
  width: 100%;
  height: 12.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-vhbq-sXh {
  margin-right: 0.55rem;
  width: 42.5rem;
  height: 12.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-vhbq-sXh .ellipse-37-ow9 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-vhbq-sXh .item-01-9VD {
  width: 6.6rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 3.1rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-vhbq-sXh .item--fCf {
  width: 33.9rem;
  height: 7.6rem;
  position: absolute;
  left: 8.6rem;
  top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-rdfy-qWT {
  margin-right: 6.55rem;
  width: 37.05rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-rdfy-qWT .ellipse-38-nAo {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.75rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-rdfy-qWT .item-02-KAj {
  width: 7.9rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-rdfy-qWT .zoom-RjZ {
  width: 27.8rem;
  height: 5.1rem;
  position: absolute;
  left: 9.25rem;
  top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-pkvo-JoM {
  width: 42.55rem;
  height: 12.2rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-pkvo-JoM .ellipse-39-eMR {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.55rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-pkvo-JoM .item-03-ZzB {
  width: 7.9rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 3.2rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-wdlx-BWT .auto-group-ark7-jwH .auto-group-pkvo-JoM .item-6-3-4--tWf {
  width: 33.3rem;
  height: 5.1rem;
  position: absolute;
  left: 9.25rem;
  top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD {
  width: 100%;
  height: 11.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-zv1d-qaK {
  margin-right: 10.05rem;
  width: 33.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-zv1d-qaK .ellipse-42-nEf {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-zv1d-qaK .item-04-XCF {
  width: 8.2rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-zv1d-qaK .item--EMZ {
  width: 24.3rem;
  height: 5.1rem;
  position: absolute;
  left: 9.4rem;
  top: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-kdnk-gUT {
  margin-right: 6.45rem;
  width: 37.15rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-kdnk-gUT .ellipse-41-pqZ {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.85rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-kdnk-gUT .item-05-kz7 {
  width: 8.1rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-kdnk-gUT .item--GhZ {
  width: 27.8rem;
  height: 7.6rem;
  position: absolute;
  left: 9.35rem;
  top: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-gahz-SVZ {
  width: 43.25rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-gahz-SVZ .ellipse-40-PQo {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 2.65rem;
  top: 0;
  background-color: #d9ae4f;
  border-radius: 4rem;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-gahz-SVZ .item-06-87V {
  width: 8.1rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #5a808a;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-2hvv-kAF .item--Uc3 .auto-group-bcno-hDD .auto-group-gahz-SVZ .item-2--3VM {
  width: 33.8rem;
  height: 5.1rem;
  position: absolute;
  left: 9.45rem;
  top: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-2hvv-kAF .item--fWj {
  margin-left: 1.5rem;
  display: flex;
  column-gap: 3rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-1uwb-Ng3 {
  width: 40.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-1uwb-Ng3 .item--89R {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 13rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-1uwb-Ng3 .item--YU3 {
  width: 100%;
  height: 13rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-5pd9-y3Z {
  width: 40.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-5pd9-y3Z .item--Vnb {
  margin: 0rem 0rem 6rem 6.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-5pd9-y3Z .item--b4w {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 13rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-5pd9-y3Z .item--dXR {
  width: 100%;
  height: 13rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-j8nw-H6B {
  margin-bottom: 0.1rem;
  width: 60.7rem;
  height: 48.2rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-j8nw-H6B .ellipse-54-oaK {
  width: 40rem;
  height: 40rem;
  position: absolute;
  left: 20.7rem;
  top: 0;
  background-color: #edecea;
  border-radius: 20rem;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-j8nw-H6B .item--XmD {
  width: 40.7rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 35.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
}
.item--37h .auto-group-2hvv-kAF .item--fWj .auto-group-j8nw-H6B .item--P2j {
  width: 40.7rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 19.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 0.5rem;
}
.item--37h .auto-group-quth-buV {
  width: 100%;
  height: 56.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h {
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: 144rem;
  height: 42.8rem;
  position: absolute;
  left: 0;
  top: 13.8rem;
  background-color: #edecea;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .item--mxP {
  margin: 0.05rem 8.4rem 0rem 0rem;
  width: 24.4rem;
  height: 15rem;
  position: relative;
  background-size: 117.213% 190.667%;
  background-position: -2rem -5rem;
  background-image: url('../assets/-tvf.png');
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy {
  margin: 0.05rem 22.5rem 0rem 0rem;
  height: 16.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .item--9i3 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .rectangle-310-55u {
  width: 9.2rem;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .item--oXh {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .item--KW3 {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .item--eHR {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-2y2o-Eqy .item--xou {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 {
  margin: 0.05rem 26.4rem 0rem 0rem;
  width: 16.1rem;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .item--opX {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .rectangle-336-wA3 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .item-38-097-000-79-96-g7d {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .item-38-097-000-79-96-g7d .item-38-097-000-79-96-g7d-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .item-38-097-000-79-96-g7d .item-38-097-000-79-96-g7d-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-sb15-V39 .auto-group-hu1m-1Sj {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju {
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--gYs {
  margin-bottom: 2.45rem;
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .auto-group-ruab-oX1 {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .auto-group-ruab-oX1 .item--8pB {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .auto-group-ruab-oX1 .vector-dF9 {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .auto-group-ruab-oX1 .vector-kqZ {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .auto-group-ruab-oX1 .vector-68j {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-9ah9-qJ3 .auto-group-mphd-Lju .item--Kbq .vector-EEw {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf {
  margin-bottom: 8.3rem;
  display: flex;
  align-items: flex-start;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .applepay-rGK {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .googlepay-nQs {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .monopay-iZR {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0.7rem 0.3rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .monopay-iZR .auto-group-a2xd-qP9 {
  margin-right: 0.1rem;
  width: 2.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .monopay-iZR .auto-group-a2xd-qP9 .rectangle-312-BT1 {
  width: 2.5rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .monopay-iZR .auto-group-a2xd-qP9 .mono-v9h {
  width: 2.2rem;
  height: 1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .monopay-iZR .pay-DuV {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .mastercard-j79 {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .visa-TYw {
  margin-right: 9.1rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .auto-group-wysm-vNf .item--nr7 {
  margin-top: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .rectangle-298-JZZ {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
}
.item--37h .auto-group-quth-buV .item--k1h .item--Svf {
  margin: 0rem 8.8rem 0rem 11.1rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: center;
}
.item--37h .auto-group-quth-buV .item--k1h .item--Svf .item--94P {
  margin-right: 26.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .item--Svf .item--qxo {
  margin-right: 19.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .item--k1h .item--Svf .item--Xqd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--37h .auto-group-quth-buV .ellipse-33-DCf {
  width: 27.6rem;
  height: 27.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--37h .auto-group-quth-buV .rectangle-293-Z1d {
  width: 9.1rem;
  height: 9.1rem;
  position: absolute;
  left: 14.3rem;
  top: 4.7rem;
  background-color: #f4e7ca;
  border-radius: 20rem 20rem 0 20rem;
}
