
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--jVm {
  width: 100%;
  height: 163.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--jVm .item--EhR {
  width: 17.8rem;
  height: 4.8rem;
  position: absolute;
  left: 7.8rem;
  top: 6.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--jVm .item--Wuq {
  width: 16.5rem;
  height: 4.8rem;
  position: absolute;
  left: 7.8rem;
  top: 37.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--jVm .item--p9q {
  width: 39.9rem;
  height: 4.8rem;
  position: absolute;
  left: 9rem;
  top: 102.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--jVm .helvetica-neue-hDd {
  width: 46.4rem;
  height: 3.8rem;
  position: absolute;
  left: 7.8rem;
  top: 15.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--jVm .exo-bK1 {
  width: 41.7rem;
  height: 3.8rem;
  position: absolute;
  left: 7.8rem;
  top: 21.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--jVm .auto-group-w9gw-VvB {
  width: 109.3rem;
  height: 10rem;
  position: absolute;
  left: 7.8rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-w9gw-VvB .group-134-RYw {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-w9gw-VvB .item--WaP {
  margin: 0.2rem 9.9rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-w9gw-VvB .group-140-QQs {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4657c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-w9gw-VvB .item--VSK {
  margin-top: 0.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-dowb-mPq {
  width: 109.3rem;
  height: 10rem;
  position: absolute;
  left: 7.8rem;
  top: 59.5rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-dowb-mPq .group-135-tUT {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a808a;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-dowb-mPq .item-1-yVu {
  margin: 0.2rem 9.7rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-dowb-mPq .group-141-4nF {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #305e6a;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-dowb-mPq .item--MWT {
  margin-top: 0.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-itb9-3PH {
  width: 109.3rem;
  height: 10rem;
  position: absolute;
  left: 7.8rem;
  top: 72.1rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-itb9-3PH .group-136-mKH {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-itb9-3PH .item-2-f9m {
  margin: 0.2rem 9.7rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-itb9-3PH .group-142-MHV {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cd961c;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-itb9-3PH .item--qiT {
  margin-top: 0.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-tk4t-7vs {
  width: 105rem;
  height: 10rem;
  position: absolute;
  left: 7.8rem;
  top: 84.7rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-tk4t-7vs .group-137-33q {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(237, 236, 234, 0.9294117689);
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-tk4t-7vs .item--Wi7 {
  margin-top: 0.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-qg2o-Lx3 {
  width: 56.4rem;
  height: 10rem;
  position: absolute;
  left: 7.8rem;
  top: 111.7rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-qg2o-Lx3 .group-138-UHZ {
  margin-right: 2.6rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dee6e8;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-qg2o-Lx3 .item--YHR {
  margin-top: 0.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jVm .auto-group-eb55-q1d {
  width: 56.3rem;
  height: 10rem;
  position: absolute;
  left: 7.9rem;
  top: 124.3rem;
  display: flex;
  align-items: center;
}
.item--jVm .auto-group-eb55-q1d .group-139-A3u {
  margin-right: 2.5rem;
  width: 10rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4e7ca;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--jVm .auto-group-eb55-q1d .item--qvj {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
