
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Wdy {
  box-sizing: border-box;
  padding: 7.9rem 7.999rem 6.9rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item--Wdy .auto-group-3h7q-ZcF {
  margin-right: 2.9rem;
  height: 87.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT {
  margin: 0rem 0.099rem 3.4rem 0rem;
  width: 40.7011rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .auto-group-bymm-PLP {
  box-sizing: border-box;
  padding: 0rem 9.401rem 1.4rem 9.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .auto-group-bymm-PLP .mask-group-7nB {
  margin-bottom: 1.5rem;
  width: 22rem;
  height: 22rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .auto-group-bymm-PLP .item--rjm {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.3999999818;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .line-25-NCK {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #a3b6ba;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .item--iGB {
  margin-right: 0.1011rem;
  max-width: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .item--iGB .item--iGB-sub-0 {
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .item--iGB .item--iGB-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--Wdy .auto-group-3h7q-ZcF .item--hiT .item--iGB .item--iGB-sub-2 {
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 {
  width: 40.7rem;
  height: 42.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 .line-27-Axj {
  width: 40.6rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 27.85rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 .item--8Pm {
  width: 7.1rem;
  height: 3rem;
  position: absolute;
  left: 16.75rem;
  top: 23.5rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.3999999818;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 .item--2k3 {
  width: 40.7rem;
  height: 13.5rem;
  position: absolute;
  left: 0;
  top: 28.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 .line-26-5ET {
  width: 40.6rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 27.9rem;
  background-color: #a3b6ba;
}
.item--Wdy .auto-group-3h7q-ZcF .item--rh9 .auto-group-nwbm-QGj {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 9.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--Wdy .item--jK1 {
  margin-right: 2.7rem;
  width: 40.9rem;
  height: 42.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--Wdy .item--jK1 .item--34o {
  width: 8.8rem;
  height: 3rem;
  position: absolute;
  left: 15.9rem;
  top: 23.5rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.3999999818;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Wdy .item--jK1 .b2-c1--wAB {
  width: 40.5rem;
  height: 13.5rem;
  position: absolute;
  left: 0.4rem;
  top: 29.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
}
.item--Wdy .item--jK1 .b2-c1--wAB .b2-c1--wAB-sub-0 {
}
.item--Wdy .item--jK1 .b2-c1--wAB .b2-c1--wAB-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
}
.item--Wdy .item--jK1 .b2-c1--wAB .b2-c1--wAB-sub-2 {
}
.item--Wdy .item--jK1 .line-26-NoD {
  width: 40.6rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 27.9rem;
  background-color: #a3b6ba;
}
.item--Wdy .item--jK1 .mask-group-WuR {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 9.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--Wdy .item--riP {
  width: 40.7011rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Wdy .item--riP .auto-group-nzjz-maT {
  box-sizing: border-box;
  padding: 0rem 9.401rem 1.4rem 9.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Wdy .item--riP .auto-group-nzjz-maT .mask-group-JaP {
  margin-bottom: 1.5rem;
  width: 22rem;
  height: 22rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Wdy .item--riP .auto-group-nzjz-maT .item--3ns {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.3999999818;
  color: #ff9bab;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Wdy .item--riP .line-25-AsV {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #a3b6ba;
  flex-shrink: 0;
}
.item--Wdy .item--riP .item--vLs {
  margin-right: 0.0011rem;
  max-width: 40.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Wdy .item--riP .item--vLs .item--vLs-sub-0 {
}
.item--Wdy .item--riP .item--vLs .item--vLs-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--Wdy .item--riP .item--vLs .item--vLs-sub-2 {
}
