
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 556.9rem;
}.item--nRH {
  box-sizing: border-box;
  padding: 15.4rem 2.8rem 117.8rem 10.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #a6a6a6;
}
.item--nRH .auto-group-fcmr-h2T {
  margin: 0rem 1.4rem 13.7rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nRH .auto-group-fcmr-h2T .auto-group-zsqs-pMy {
  margin: 0.8rem 1.3rem 0rem 0rem;
  width: 66rem;
  height: 30.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--nRH .auto-group-fcmr-h2T .auto-group-zsqs-pMy .screenshot-2023-09-02-at-1244-1-jE3 {
  width: 61.6rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--nRH .auto-group-fcmr-h2T .auto-group-zsqs-pMy .item-74--ero {
  width: 24.8rem;
  height: 1.5rem;
  position: absolute;
  left: 41.2rem;
  top: 23.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nRH .auto-group-fcmr-h2T .auto-group-zsqs-pMy .item-1021--TZM {
  width: 9.1rem;
  height: 1.5rem;
  position: absolute;
  left: 21rem;
  top: 25.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nRH .auto-group-fcmr-h2T .screenshot-2023-09-04-at-1430-1-Yao {
  margin: 0.8rem 2.8rem 0rem 0rem;
  width: 65rem;
  height: 29.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-fcmr-h2T .screenshot-2023-09-04-at-1431-1-4Z9 {
  width: 59rem;
  height: 22.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf {
  margin: 0rem 2rem 10.9rem 0rem;
  height: 35.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-mvdz-v5Z {
  margin: 2.1rem 6.5rem 0rem 0rem;
  box-sizing: border-box;
  padding: 23rem 11.1rem 3.3rem 11.1rem;
  width: 80.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-05-at-1342-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-mvdz-v5Z .item-520--cUB {
  margin: 0rem 17.5rem 4.1rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-mvdz-v5Z .item-1021--6u9 {
  margin-right: 49.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .screenshot-2023-09-06-at-1417-1-b5D {
  margin: 0.4rem 7.2rem 0rem 0rem;
  width: 92.6rem;
  height: 31.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-tr7d-he3 {
  margin: 0rem 4.6rem 7rem 0rem;
  box-sizing: border-box;
  padding: 25.7rem 30.9rem 1rem 9.1rem;
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-07-at-1351-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-tr7d-he3 .item-1021--cW7 {
  margin-right: 6.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-tr7d-he3 .item-520--8UT {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .screenshot-2023-09-08-at-1433-1-DF1 {
  margin: 0rem 5rem 1.5rem 0rem;
  width: 82.8rem;
  height: 34rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .auto-group-8bfh-Y2P {
  margin: 2.1rem 6.5rem 4.2rem 0rem;
  box-sizing: border-box;
  padding: 25.6rem 32.7rem 2.1rem 19.6rem;
  height: calc(100% - 6.3rem);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-09-at-1245-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .screenshot-2023-09-11-at-1128-1-oDD {
  margin: 0rem 2.4rem 2.9rem 0rem;
  width: 64.8rem;
  height: 28.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-bkjz-Btf .screenshot-2023-09-11-at-1128-2-vHq {
  margin-bottom: 3.7rem;
  width: 58.4rem;
  height: 27.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh {
  margin-bottom: 14.1rem;
  width: 100%;
  height: 35.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-s3l7-Nfd {
  margin: 1.5rem 6.5rem 3.7rem 0rem;
  width: 80.9rem;
  height: calc(100% - 5.2rem);
  position: relative;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-s3l7-Nfd .item-1021--Hnb {
  width: 9.1rem;
  height: 1.5rem;
  position: absolute;
  left: 17.9rem;
  top: 22.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nRH .auto-group-aowz-qfh .auto-group-s3l7-Nfd .screenshot-2023-09-12-at-1306-1-BNB {
  width: 80.9rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--nRH .auto-group-aowz-qfh .auto-group-s3l7-Nfd .item-520--KDV {
  width: 12.6rem;
  height: 1.5rem;
  position: absolute;
  left: 28.7rem;
  top: 26.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nRH .auto-group-aowz-qfh .screenshot-2023-09-13-at-1704-1-bgo {
  margin: 1.5rem 6.6rem 0rem 0rem;
  width: 92.5rem;
  height: 33.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-rbsk-79M {
  margin: 1.5rem 2.6rem 0rem 0rem;
  box-sizing: border-box;
  padding: 22.1rem 16rem 4.7rem 26.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-14-at-1418-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .screenshot-2023-09-15-at-1423-1-N5H {
  margin-right: 3.8rem;
  width: 91.2rem;
  height: 33rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-1jtq-Hxw {
  margin-right: 2.6rem;
  box-sizing: border-box;
  padding: 24.7rem 7rem 2.5rem 21.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-16-at-1345-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-1jtq-Hxw .item--29q {
  margin: 0rem 6.4rem 2.8rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .auto-group-1jtq-Hxw .item-531--ioM {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .screenshot-2023-09-18-at-1607-1-YnP {
  margin-right: 1.3rem;
  width: 65.2rem;
  height: 29.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-aowz-qfh .screenshot-2023-09-18-at-1612-1-GyH {
  width: 59.1rem;
  height: 28.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z {
  margin: 0rem 5.3rem 6.6rem 0rem;
  height: 40.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .auto-group-4ej7-Kgf {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 26.7rem 19rem 2.2rem 19rem;
  width: 80.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-19-at-1719-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .screenshot-2023-09-20-at-1846-1-Bym {
  margin-right: 1.8rem;
  width: 88.7rem;
  height: 39.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .auto-group-tnv7-vRZ {
  margin: 3.1rem 3.2rem 5.6rem 0rem;
  box-sizing: border-box;
  padding: 24rem 34.9rem 6.7rem 28.8rem;
  height: calc(100% - 8.7rem);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-21-at-1703-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .auto-group-pwcx-PK9 {
  margin: 3.1rem 4.9rem 0rem 0rem;
  box-sizing: border-box;
  padding: 28.3rem 18.6rem 8rem 60.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-22-at-1645-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .auto-group-qvjq-TK1 {
  margin: 3.1rem 4.9rem 5.4rem 0rem;
  box-sizing: border-box;
  padding: 29.8rem 40.6rem 1.1rem 22.2rem;
  height: calc(100% - 8.5rem);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-23-at-1320-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-unfu-c1Z .auto-group-sfyu-ikj {
  margin-top: 3.1rem;
  box-sizing: border-box;
  padding: 24.8rem 52.8rem 2.1rem 40.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-25-at-1406-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH {
  margin-right: 44.5rem;
  height: 46.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .screenshot-2023-09-26-at-1316-1-wtP {
  margin-right: 6.3rem;
  width: 81.1rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-adpf-5Du {
  width: 88.6rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-27-at-1817-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-ttyv-Zes {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-ttyv-Zes .screenshot-2023-09-28-at-1224-1-hm5 {
  margin-right: 3.7rem;
  width: 77.2rem;
  height: 32.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-ttyv-Zes .auto-group-wn6f-EFD {
  margin-right: 3.8rem;
  width: 90.1rem;
  height: 37.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-29-at-1903-1-bg.png');
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-ttyv-Zes .screenshot-2023-09-30-at-1317-1-WCj {
  margin-right: 3.8rem;
  width: 76.2rem;
  height: 34rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nRH .auto-group-klef-oXH .auto-group-ttyv-Zes .auto-group-cy5q-EPd {
  width: 66.1rem;
  height: 37.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-09-30-at-1331-1-bg.png');
  flex-shrink: 0;
}
