
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--nKV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--nKV .item--GEf {
  margin-bottom: 8rem;
  box-sizing: border-box;
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--M1D {
  margin-right: 9rem;
  width: 20rem;
  height: 11.8rem;
  position: relative;
  background-size: 100% 169.492%;
  background-position: -0rem -2.9rem;
  background-image: url('../assets/-HKh.png');
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--AzF {
  margin: 0.5rem 3.3rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--Vv3 {
  margin: 0.5rem 3.7rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--1dV {
  margin: 0.5rem 8.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--GEf .auto-group-6v5d-ino {
  margin: 2.8rem 5.5rem 2.6rem 0rem;
  height: calc(100% - 5.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .item--GEf .auto-group-6v5d-ino .item-38-097-000-79-96-STu {
  margin: 0rem 0.6rem 0.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--nKV .item--GEf .auto-group-6v5d-ino .item-38-097-000-79-96-STu .item-38-097-000-79-96-STu-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .item--GEf .auto-group-6v5d-ino .item-38-097-000-79-96-STu .item-38-097-000-79-96-STu-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .item--GEf .auto-group-6v5d-ino .auto-group-iolo-nZh {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--7by {
  margin: 3.4rem 1.8rem 3.4rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  height: calc(100% - 6.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--7by .auto-group-kzgb-yeB {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--7by .auto-group-kzgb-yeB .item--We7 {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .item--GEf .item--7by .auto-group-kzgb-yeB .vector-CG3 {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--nKV .item--GEf .item--7by .auto-group-kzgb-yeB .vector-uw9 {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .item--GEf .item--7by .auto-group-kzgb-yeB .vector-EyR {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .item--GEf .item--7by .vector-P5d {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--GEf .item--6Ew {
  margin: 3.35rem 0rem 3.45rem 0rem;
  width: 20rem;
  height: calc(100% - 6.8rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--nKV .item--6u9 {
  margin-left: 4.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf {
  width: 100%;
  height: 297rem;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm {
  width: 128rem;
  height: 25.8rem;
  position: absolute;
  left: 8rem;
  top: 5rem;
  display: flex;
  column-gap: 11.5rem;
  align-items: center;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy {
  width: 35rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .group-96-YuZ {
  width: 35rem;
  height: 24.5rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .group-96-YuZ .auto-group-7qk3-h1m {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding: 3.6rem 1.2rem 3.7rem 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .group-96-YuZ .auto-group-7qk3-h1m .item-100-10-10-Cz7 {
  max-width: 32.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .group-96-YuZ .item--aNP {
  margin: 0rem 0rem 0.5rem 12rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .group-96-YuZ .item-1-VVM {
  margin-left: 2.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .face-1-mSs {
  box-sizing: border-box;
  padding: 0.7rem 1.258rem 0.7rem 1.2rem;
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 28rem;
  top: 18.8rem;
  background-color: #d9ae4f;
  border-radius: 3.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-1-owy .face-1-mSs .face-sko {
  width: 4.5422rem;
  height: 5.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-xhoq-Ksh {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 2.6rem 0.9rem 2.6rem 2.8rem;
  width: 100%;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-xhoq-Ksh .item--rcj {
  max-width: 31.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-3ej5-9dm {
  margin-left: 11.5rem;
  width: calc(100% - 11.5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-3ej5-9dm .auto-group-yca7-63D {
  margin: 1.5rem 1rem 1.4rem 0rem;
  height: calc(100% - 2.9rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-3ej5-9dm .auto-group-yca7-63D .item--1vs {
  margin: 0rem 0.4rem 0.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-3ej5-9dm .auto-group-yca7-63D .item-2-vnw {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-2-nsm .auto-group-3ej5-9dm .face-2-dhM {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-ad5d-2jV {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 2.6rem 1.7rem 2.6rem 3.3rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-ad5d-2jV .item--Yhq {
  max-width: 30rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-km6j-G9y {
  margin: 0rem 0.2rem 0rem 11.1rem;
  width: calc(100% - 11.3rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-km6j-G9y .auto-group-27wh-agT {
  margin: 1.8rem 1rem 1.1rem 0rem;
  height: calc(100% - 2.9rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-km6j-G9y .auto-group-27wh-agT .item--K8F {
  margin: 0rem 0.3rem 0.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-km6j-G9y .auto-group-27wh-agT .item-1-2YT {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-jp19-6Xm .item-3-nKM .auto-group-km6j-G9y .face-3-Xk7 {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh {
  width: 127.8rem;
  height: 25.8rem;
  position: absolute;
  left: 8rem;
  top: 66.6rem;
  display: flex;
  align-items: center;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh {
  margin-right: 11.5rem;
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-wxh1-ipb {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.3rem 1.1rem 1.8rem 2.7rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-wxh1-ipb .item--3M5 {
  max-width: 31.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-sjrf-TxX {
  margin-left: 11.5rem;
  width: calc(100% - 11.5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-sjrf-TxX .auto-group-8fhd-omV {
  margin: 1.2rem 1rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-sjrf-TxX .auto-group-8fhd-omV .item--jv3 {
  margin: 0rem 0.6rem 0.6rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-sjrf-TxX .auto-group-8fhd-omV .item-2-3vj {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-7-zdh .auto-group-sjrf-TxX .face-7-Y6o {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P {
  margin-right: 11.3rem;
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-1po5-1m5 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 3.6rem 1.7rem 3.7rem 4.2rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-1po5-1m5 .item--96b {
  max-width: 29.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-cyfy-AR1 {
  margin-left: 10.5rem;
  width: calc(100% - 10.5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-cyfy-AR1 .auto-group-zxxp-hfq {
  margin: 1.2rem 1rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-cyfy-AR1 .auto-group-zxxp-hfq .item--Rrj {
  margin: 0rem 0.4rem 0.6rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-cyfy-AR1 .auto-group-zxxp-hfq .item-2-9Gw {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-8-H4P .auto-group-cyfy-AR1 .face-6-eUb {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-pjep-X2b {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 2.6rem 0.8rem 2.6rem 3.4rem;
  width: 100%;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-pjep-X2b .delf-1--SvF {
  max-width: 30.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-5f4w-auy {
  margin-left: 11.7rem;
  width: calc(100% - 11.7rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-5f4w-auy .auto-group-lr47-KsZ {
  margin: 1.2rem 1rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-5f4w-auy .auto-group-lr47-KsZ .item--rcb {
  margin: 0rem 0.1rem 0.6rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-5f4w-auy .auto-group-lr47-KsZ .item-1-Zmu {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-bcmh-Ghh .item-9-CFD .auto-group-5f4w-auy .face-8-HC7 {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ {
  width: 128rem;
  height: 25.8rem;
  position: absolute;
  left: 8rem;
  top: 35.8rem;
  display: flex;
  column-gap: 11.5rem;
  align-items: center;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 {
  width: 35rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .group-97-fyM {
  width: 35rem;
  height: 24.5rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .group-97-fyM .auto-group-br4o-DEB {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 4.7rem 3.4rem 4.7rem 3.3rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .group-97-fyM .auto-group-br4o-DEB .item--8c3 {
  max-width: 28.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .group-97-fyM .item--asM {
  margin: 0rem 0rem 0.6rem 11.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .group-97-fyM .item-1-VUX {
  margin-left: 3.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-4-Xs9 .face-4-oEK {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 28rem;
  top: 18.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-suvm-U5Z {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 4rem 1rem 1.2rem 2.3rem;
  width: 100%;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-suvm-U5Z .item--PyD {
  max-width: 31.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-g4dz-MSB {
  margin-left: 11.5rem;
  width: calc(100% - 11.5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-g4dz-MSB .auto-group-dcuy-gjM {
  margin: 1.2rem 1rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-g4dz-MSB .auto-group-dcuy-gjM .item--DjH {
  margin: 0rem 0.2rem 0.6rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-g4dz-MSB .auto-group-dcuy-gjM .item-2-v7u {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-5-KyM .auto-group-g4dz-MSB .face-5-RaT {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-pdq5-Wbu {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.5rem 1.3rem 1.6rem 3.2rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-pdq5-Wbu .item--363 {
  max-width: 30.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-dnxs-iE7 {
  margin: 0rem 0.2rem 0rem 10.5rem;
  width: calc(100% - 10.7rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-dnxs-iE7 .auto-group-mkeo-3GP {
  margin: 1.2rem 1rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-dnxs-iE7 .auto-group-mkeo-3GP .item--Aro {
  margin: 0rem 0.5rem 0.6rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-dnxs-iE7 .auto-group-mkeo-3GP .item-1-gKM {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-8nnx-DbZ .item-6-Anw .auto-group-dnxs-iE7 .face-6-yZM {
  width: 7rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .ellipse-82-7Qf {
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  left: 65.2rem;
  top: 105.2rem;
  background-color: #5a808a;
  border-radius: 0.1rem;
}
.item--nKV .auto-group-t8wf-Nrf .item--e9h {
  width: 68.6rem;
  height: 4.8rem;
  position: absolute;
  left: 40.3rem;
  top: 112.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .auto-group-t8wf-Nrf .item--HTZ {
  width: 53.7rem;
  height: 4.8rem;
  position: absolute;
  left: 47.6rem;
  top: 217.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .auto-group-t8wf-Nrf .item--MTR {
  width: 72.8rem;
  height: 4.6rem;
  position: absolute;
  left: 40.8rem;
  top: 162.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .group-108-VCF {
  box-sizing: border-box;
  padding: 2.4rem 18.1rem 2.7rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 122.7rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-108-VCF .vector-Nmq {
  margin: 0rem 3.016rem 0.319rem 0rem;
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-108-VCF .item--6xj {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-114-ijD {
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 132.7rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-114-ijD .group-109-4HH {
  box-sizing: border-box;
  padding: 2.4rem 5.6rem 3.019rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-114-ijD .group-109-4HH .vector-Nom {
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .auto-group-t8wf-Nrf .group-114-ijD .item--6Dy {
  width: 29.4rem;
  height: 2.6rem;
  position: absolute;
  left: 11rem;
  top: 2.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .auto-group-t8wf-Nrf .group-115-X4P {
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 142.7rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-115-X4P .group-110-r6f {
  box-sizing: border-box;
  padding: 2.4rem 5.6rem 3.1rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-115-X4P .group-110-r6f .vector-Ad9 {
  width: 2.4219rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .auto-group-t8wf-Nrf .group-115-X4P .item--611 {
  width: 29rem;
  height: 2.6rem;
  position: absolute;
  left: 11rem;
  top: 2.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .auto-group-t8wf-Nrf .group-111-wnK {
  box-sizing: border-box;
  padding: 2.8rem 39.2rem 2.6rem 5.5rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 152.7rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-111-wnK .vector-Sj5 {
  margin: 0.4rem 3rem 0rem 0rem;
  width: 2.5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-111-wnK .item--yj1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-112-qmD {
  box-sizing: border-box;
  padding: 2.4rem 20.4rem 2.5rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 169.1rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-112-qmD .vector-wpF {
  margin: 0rem 3.016rem 0.519rem 0rem;
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-112-qmD .item--5Qf {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-KK1 {
  box-sizing: border-box;
  padding: 2.4rem 34.2rem 2.8rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 179.1rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-KK1 .vector-RN3 {
  margin: 0rem 3.016rem 0.219rem 0rem;
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-KK1 .item--LV1 {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-Py5 {
  box-sizing: border-box;
  padding: 2.4rem 46.5rem 2.6rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 189.1rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-Py5 .vector-JaF {
  margin: 0rem 3.016rem 0.419rem 0rem;
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-Py5 .item--Rum {
  margin-top: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-i8B {
  box-sizing: border-box;
  padding: 2.4rem 38.6rem 2.3rem 5.6rem;
  width: 84.4rem;
  height: 8rem;
  position: absolute;
  left: 29.8rem;
  top: 199.1rem;
  display: flex;
  align-items: center;
  background-color: rgba(189, 204, 208, 0.5);
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-i8B .vector-ovK {
  margin: 0rem 2.816rem 0.719rem 0rem;
  width: 2.3842rem;
  height: 2.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .group-118-i8B .item--wWj {
  margin-top: 0.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .item--c75 {
  width: 30rem;
  height: 5.5rem;
  position: absolute;
  left: 59.5rem;
  top: 97.4rem;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--nKV .auto-group-t8wf-Nrf .item--c75 .item--5mM {
  width: 21.6rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .auto-group-t8wf-Nrf .item--c75 .flat-color-icons-google-9WK {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 23.67rem;
  top: 1.55rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF {
  width: 128rem;
  height: 44.2rem;
  position: absolute;
  left: 8rem;
  top: 236.4rem;
  display: flex;
  align-items: center;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf {
  margin: 8.2rem 2.8rem 6.3rem 0rem;
  height: calc(100% - 14.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--uto {
  margin-bottom: 2.1rem;
  max-width: 60.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--uto .item--uto-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.0499999523;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--uto .item--uto-sub-1 {
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--XKq {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--XKq .item--XKq-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.0499999523;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--XKq .item--XKq-sub-1 {
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--Qnw {
  max-width: 62.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--Qnw .item--Qnw-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.0499999523;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--Qnw .item--Qnw-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .auto-group-gyy3-PQf .item--Qnw .item--Qnw-sub-2 {
}
.item--nKV .auto-group-t8wf-Nrf .auto-group-q58f-FpF .item-1-VbR {
  width: 62.5rem;
  height: 44.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .auto-group-t8wf-Nrf .item--os1 {
  width: 69.2rem;
  height: 5.1rem;
  position: absolute;
  left: 37.35rem;
  top: 223.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .item--4wM {
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .item--K6b {
  margin: 0.05rem 8.4rem 0rem 0rem;
  width: 24.4rem;
  height: 15rem;
  position: relative;
  background-size: 117.213% 190.667%;
  background-position: -2rem -5rem;
  background-image: url('../assets/-k3M.png');
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm {
  margin: 0.05rem 22.5rem 0rem 0rem;
  height: 16.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .item--tJ7 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .rectangle-310-QGT {
  width: 9.2rem;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .item--Lvo {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .item--sA3 {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .item--zVZ {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-vmib-NKm .item--K23 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw {
  margin: 0.05rem 26.4rem 0rem 0rem;
  width: 16.1rem;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .item--AoM {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .rectangle-336-5vK {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .item-38-097-000-79-96-q8o {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .item-38-097-000-79-96-q8o .item-38-097-000-79-96-q8o-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .item-38-097-000-79-96-q8o .item-38-097-000-79-96-q8o-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-h3fh-3Cw .auto-group-kmwh-u2B {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd {
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--PCF {
  margin-bottom: 2.45rem;
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .auto-group-1anw-83M {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .auto-group-1anw-83M .item--fJB {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .auto-group-1anw-83M .vector-9z3 {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .auto-group-1anw-83M .vector-tRq {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .auto-group-1anw-83M .vector-Rgf {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--nKV .item--4wM .auto-group-eygx-n6f .auto-group-zg2f-qRd .item--31u .vector-xRh {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh {
  margin-bottom: 8.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .applepay-C59 {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .googlepay-XNK {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .monopay-Fp7 {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0.7rem 0.3rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .monopay-Fp7 .auto-group-rwzx-McF {
  margin-right: 0.1rem;
  width: 2.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .monopay-Fp7 .auto-group-rwzx-McF .rectangle-312-75d {
  width: 2.5rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .monopay-Fp7 .auto-group-rwzx-McF .mono-e5Z {
  width: 2.2rem;
  height: 1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .monopay-Fp7 .pay-wqM {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .mastercard-Toh {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .visa-adR {
  margin-right: 9.1rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nKV .item--4wM .auto-group-6qtp-Ffh .item--7dM {
  margin-top: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .rectangle-298-2kK {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--nKV .item--4wM .item--P55 {
  margin: 0rem 8.8rem 0rem 11.1rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nKV .item--4wM .item--P55 .item--g4B {
  margin-right: 26.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .item--P55 .item--PDV {
  margin-right: 19.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nKV .item--4wM .item--P55 .item--tAF {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
