
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.item--uKy {
  box-sizing: border-box;
  padding: 4.5rem 4.5rem 10rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--uKy .item--kLb {
  margin: 0rem 0rem 1.5rem 83.5rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uKy .item--q79 {
  margin: 0rem 0rem 4rem 0.3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uKy .auto-group-yasu-Gy9 {
  margin: 0rem 3.5rem 1.5rem 0rem;
  width: calc(100% - 3.5rem);
  height: 8.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uKy .auto-group-yasu-Gy9 .item--ngb {
  margin-right: 3rem;
  width: 40.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--uKy .auto-group-yasu-Gy9 .item--ngb .item--Juq {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uKy .auto-group-yasu-Gy9 .item--ngb .auto-group-vhhd-ptB {
  box-sizing: border-box;
  padding: 1.7rem 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #5a808a;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dee6e8;
  border-radius: 0.5rem;
}
.item--uKy .auto-group-yasu-Gy9 .item--76b {
  width: 40.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--uKy .auto-group-yasu-Gy9 .item--76b .item--2UT {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uKy .auto-group-yasu-Gy9 .item--76b .auto-group-qdlp-vZq {
  box-sizing: border-box;
  padding: 1.7rem 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #5a808a;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dee6e8;
  border-radius: 0.5rem;
}
.item--uKy .auto-group-bmhv-QV1 {
  margin: 0rem 3.5rem 1.5rem 0rem;
  width: calc(100% - 3.5rem);
  height: 8.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uKy .auto-group-bmhv-QV1 .item--wE3 {
  margin-right: 3rem;
  width: 40.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--uKy .auto-group-bmhv-QV1 .item--wE3 .item--rbu {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uKy .auto-group-bmhv-QV1 .item--wE3 .auto-group-dgus-kBV {
  box-sizing: border-box;
  padding: 1.7rem 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #5a808a;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dee6e8;
  border-radius: 0.5rem;
}
.item--uKy .auto-group-bmhv-QV1 .item--qij {
  width: 40.5rem;
  height: 100%;
  flex-shrink: 0;
}
.item--uKy .auto-group-bmhv-QV1 .item--qij .item--C3V {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uKy .auto-group-bmhv-QV1 .item--qij .auto-group-hb63-j3R {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.7rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #dee6e8;
  border-radius: 0.5rem;
}
.item--uKy .auto-group-bmhv-QV1 .item--qij .auto-group-hb63-j3R .item--45h {
  margin-right: 22.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uKy .auto-group-bmhv-QV1 .item--qij .auto-group-hb63-j3R .vector-a43 {
  margin-top: 0.5rem;
  width: 1.7rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uKy .item--6YB {
  margin: 0rem 3.5rem 3rem 0rem;
  width: 84rem;
  flex-shrink: 0;
}
.item--uKy .item--6YB .item--zNf {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uKy .item--6YB .auto-group-bglb-Uod {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.7rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #dee6e8;
  border-radius: 0.5rem;
}
.item--uKy .item--6YB .auto-group-bglb-Uod .item--pMh {
  margin-right: 60.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uKy .item--6YB .auto-group-bglb-Uod .vector-ihy {
  margin-bottom: 0.1rem;
  width: 1.7rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uKy .item--EgK {
  margin: 0rem 22.6rem 3rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uKy .item--osq {
  margin-right: 3.5rem;
  width: 84rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
