
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.04rem;
}.item--wFy {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--wFy .item--csu {
  margin: 0rem 0.04rem 3rem 0rem;
  box-sizing: border-box;
  padding: 0.1rem 8rem 0.1rem 6.6rem;
  width: calc(100% - 0.0398rem);
  height: 12rem;
  display: flex;
  align-items: center;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--fLP {
  margin-right: 9rem;
  width: 20rem;
  height: 11.8rem;
  position: relative;
  background-size: 100% 169.492%;
  background-position: -0rem -2.9rem;
  background-image: url('../assets/-R8f.png');
  flex-shrink: 0;
}
.item--wFy .item--csu .item--Kvj {
  margin: 0.5rem 3.3rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--btF {
  margin: 0.5rem 3.7rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--7Lo {
  margin: 0.5rem 8.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--csu .auto-group-j9pz-2Cs {
  margin: 2.8rem 5.5rem 2.6rem 0rem;
  height: calc(100% - 5.4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--csu .auto-group-j9pz-2Cs .item-38-097-000-79-96-zou {
  margin: 0rem 0.6rem 0.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--wFy .item--csu .auto-group-j9pz-2Cs .item-38-097-000-79-96-zou .item-38-097-000-79-96-zou-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--csu .auto-group-j9pz-2Cs .item-38-097-000-79-96-zou .item-38-097-000-79-96-zou-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--csu .auto-group-j9pz-2Cs .auto-group-6gj5-Hpw {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--Qef {
  margin: 3.4rem 1.8rem 3.4rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  height: calc(100% - 6.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--Qef .auto-group-a4q3-4DR {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--Qef .auto-group-a4q3-4DR .item--bUF {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--csu .item--Qef .auto-group-a4q3-4DR .vector-4sd {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--wFy .item--csu .item--Qef .auto-group-a4q3-4DR .vector-bMm {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--csu .item--Qef .auto-group-a4q3-4DR .vector-KoZ {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--csu .item--Qef .vector-Tes {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--csu .item--Zxo {
  margin: 3.35rem 0rem 3.45rem 0rem;
  width: 20rem;
  height: calc(100% - 6.8rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--NQT {
  margin: 0rem 0rem 15.5rem 8rem;
  width: 136.0398rem;
  flex-shrink: 0;
}
.item--wFy .item--NQT .bread-crumbs-TRu {
  margin-bottom: 6.7rem;
  display: flex;
  align-items: center;
}
.item--wFy .item--NQT .bread-crumbs-TRu .item--bo1 {
  margin: 0rem 0.35rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NQT .bread-crumbs-TRu .eva-arrow-ios-forward-fill-hr3 {
  margin: 0.098rem 0.897rem 0rem 0rem;
  width: 0.353rem;
  height: 0.7016rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NQT .bread-crumbs-TRu .item--R1M {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NQT .auto-group-fssh-iWF {
  width: 100%;
  height: 62.5rem;
  position: relative;
}
.item--wFy .item--NQT .auto-group-fssh-iWF .mask-group-euh {
  width: 85.0398rem;
  height: 62.5rem;
  position: absolute;
  left: 51rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--Bud {
  width: 45.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.33;
  color: #292929;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--4iX {
  width: 59.6rem;
  height: 11.4rem;
  position: absolute;
  left: 0;
  top: 9.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #5a808a;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item-1-20-30--3KZ {
  width: 61.1rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 39rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item-1-20-30--3KZ .item-1-20-30--3KZ-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item-1-20-30--3KZ .item-1-20-30--3KZ-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--Ayq {
  width: 58.2rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 32.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--Ayq .item--Ayq-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--Ayq .item--Ayq-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--r7u {
  width: 61.1rem;
  height: 11.4rem;
  position: absolute;
  left: 0;
  top: 19.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--r7u .item--r7u-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--r7u .item--r7u-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NQT .auto-group-fssh-iWF .item--Ey1 {
  width: 45rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 54.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1b1b1b;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.item--wFy .item--G91 {
  margin: 0rem 0.04rem 8rem 0rem;
  width: calc(100% - 0.0398rem);
  height: 25.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--G91 .rectangle-337-wF9 {
  width: 144rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background-color: #edecea;
}
.item--wFy .item--G91 .item--Uks {
  width: 85.6rem;
  height: 4.2rem;
  position: absolute;
  left: 29.2rem;
  top: 9.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--wFy .item--G91 .item--Uks .item--Uks-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--G91 .item--Uks .item--Uks-sub-1 {
}
.item--wFy .item--G91 .rectangle-294-Yu9 {
  width: 45rem;
  height: 0.3rem;
  position: absolute;
  left: 49.5rem;
  top: 16.4rem;
  background-color: #ff9bab;
}
.item--wFy .item--G91 .item--gkT {
  width: 18.7rem;
  height: 3.4rem;
  position: absolute;
  left: 63.5rem;
  top: 17.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--G91 .item--aL3 {
  width: 4.8rem;
  height: 18.5rem;
  position: absolute;
  left: 69.6rem;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.44;
  color: #ff9bab;
  font-family: Istok Web, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP {
  margin: 0rem 8.04rem 10rem 8rem;
  width: calc(100% - 16.0398rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-7dbr-YAP {
  box-sizing: border-box;
  padding: 0rem 40.8rem 3.9rem 40.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-7dbr-YAP .auto-group-hwom-sCf {
  margin: 0rem 2.9rem 1rem 5.5rem;
  width: calc(100% - 8.4rem);
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-7dbr-YAP .auto-group-hwom-sCf .item--PRu {
  width: 37.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-7dbr-YAP .auto-group-hwom-sCf .item--feK {
  width: 37.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-7dbr-YAP .item--8Xu {
  max-width: 46.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 {
  margin-bottom: 3rem;
  width: 100%;
  height: 56rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.4rem 5.1rem 7.2rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR .group-53-msh {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR .group-53-msh .item--8CT {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR .group-53-msh .auto-group-3eov-pqy {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR .group-53-msh .auto-group-3eov-pqy .item-2-90--aKM {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.7rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-126-sXR .group-53-msh .auto-group-3eov-pqy .item-2300--doR {
  width: 21.6rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ovm1-NuR {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ovm1-NuR .rectangle-299-7c7 {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ovm1-NuR .item-8--1xP {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-sfyv-i67 {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-sfyv-i67 .rectangle-321-rTD {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-sfyv-i67 .item-6--NAf {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ad9d-ffZ {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ad9d-ffZ .rectangle-322-p2f {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-nwuk-Fpo .auto-group-ad9d-ffZ .item--XSs {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-syup-qTZ {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-syup-qTZ .rectangle-323-ndh {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .group-54-KAT .auto-group-syup-qTZ .item-3-10-7AB {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--zTd .item--PNb {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR {
  box-sizing: border-box;
  padding: 3.7rem 0rem 3.7rem 3.7rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.4rem 5.1rem 7.1rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy .group-53-Ndq {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy .group-53-Ndq .item--Xmd {
  margin-right: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy .group-53-Ndq .auto-group-ca6o-EAF {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy .group-53-Ndq .auto-group-ca6o-EAF .item-3-90--y7q {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.8rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-126-swy .group-53-Ndq .auto-group-ca6o-EAF .item-2850--S1R {
  width: 21.7rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-kfp9-1Cw {
  margin-right: 17.2rem;
  width: calc(100% - 17.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-kfp9-1Cw .rectangle-299-MGo {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-kfp9-1Cw .item-12--eWo {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-ip19-x1h {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-ip19-x1h .rectangle-321-VXR {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-ip19-x1h .item-6--Q8b {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-tn2f-htP {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-tn2f-htP .rectangle-322-rWP {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-vfs9-Tx7 .auto-group-tn2f-htP .item--mtF {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-nick-5tw {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-nick-5tw .rectangle-323-eSF {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .group-54-vBV .auto-group-nick-5tw .item-3-10-AQb {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--oBR .item--3jH {
  margin: 0rem 7.8rem 0rem 4.1rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.8rem 5.1rem 7.6rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB .group-53-3FR {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB .group-53-3FR .item--oEb {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB .group-53-3FR .auto-group-6ipm-JBM {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB .group-53-3FR .auto-group-6ipm-JBM .item-2-45--qwy {
  width: 18.2rem;
  height: 1.6rem;
  position: absolute;
  left: 0.4rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-126-wiB .group-53-3FR .auto-group-6ipm-JBM .item-1300--78o {
  width: 20.8rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-dpkp-Gvo {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-dpkp-Gvo .rectangle-299-pSX {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-dpkp-Gvo .item-8--Xrj {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-hjpf-Sio {
  margin-right: 14.9rem;
  width: calc(100% - 14.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-hjpf-Sio .rectangle-321-o3Z {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-hjpf-Sio .item-6--7K9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-shqm-oxf {
  margin-right: 14.4rem;
  width: calc(100% - 14.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-shqm-oxf .rectangle-322-xKm {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-byth-jvs .auto-group-shqm-oxf .item-10-15--3s1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-9eax-xDH {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-9eax-xDH .rectangle-323-JY3 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .group-54-zTV .auto-group-9eax-xDH .item-3-10-Qqy {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-ysbd-s87 .item--sCX .item--goV {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s {
  margin-bottom: 5rem;
  width: 100%;
  height: 56rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.2rem 5.1rem 7rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy .group-53-ZuD {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy .group-53-ZuD .item--XLF {
  margin-right: 1.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy .group-53-ZuD .auto-group-gn8t-pq9 {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy .group-53-ZuD .auto-group-gn8t-pq9 .item-2-90--yi3 {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.9rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-126-UMy .group-53-ZuD .auto-group-gn8t-pq9 .item-6000--Ets {
  width: 22rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-xr3d-p6P {
  margin-right: 18.1rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-xr3d-p6P .rectangle-299-xCb {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-xr3d-p6P .item-8--f71 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-cc7v-ZiB {
  margin-right: 13.7rem;
  width: calc(100% - 13.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-cc7v-ZiB .rectangle-321-uX9 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-cc7v-ZiB .item--Wmq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-tysf-cK5 {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-tysf-cK5 .rectangle-322-kw5 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-bdib-sgw .auto-group-tysf-cK5 .item--g43 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-atm1-ncs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-atm1-ncs .rectangle-323-x1Z {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .group-54-8UT .auto-group-atm1-ncs .item-3-10-rcj {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--oFq .item--jgX {
  margin: 0rem 7.8rem 0rem 4.1rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V {
  box-sizing: border-box;
  padding: 3.7rem 0rem 3.7rem 3.7rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.5rem 5.1rem 7.2rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB .group-53-97y {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB .group-53-97y .item--6J7 {
  margin-right: 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB .group-53-97y .auto-group-v3vj-c1Z {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB .group-53-97y .auto-group-v3vj-c1Z .item-2-90--ktT {
  width: 18.3rem;
  height: 1.6rem;
  position: absolute;
  left: 0.7rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-126-qNB .group-53-97y .auto-group-v3vj-c1Z .item-7400--QTD {
  width: 21.5rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 {
  margin-bottom: 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo {
  box-sizing: border-box;
  padding-bottom: 2.6rem;
  width: 100%;
  row-gap: 2.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-wluq-nTm {
  margin-right: 3.4rem;
  width: calc(100% - 3.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-wluq-nTm .rectangle-299-KyV {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-wluq-nTm .item-12--qS3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-ngio-Kc7 {
  margin-right: 16.7rem;
  width: calc(100% - 16.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-ngio-Kc7 .rectangle-321-rc3 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-ngio-Kc7 .item-2--yRm {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-t2nf-UtK {
  margin-right: 17.7rem;
  width: calc(100% - 17.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-t2nf-UtK .rectangle-322-EMh {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-dkfy-Seo .auto-group-t2nf-UtK .item--YtB {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-xnrx-G3V {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-xnrx-G3V .rectangle-323-DUX {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .group-54-6L3 .auto-group-xnrx-G3V .item-3-10-vdq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--x3V .item--cFm {
  margin: 0rem 6.4rem 0rem 5.5rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy {
  box-sizing: border-box;
  padding: 3.7rem 0.1rem 3.7rem 3.7rem;
  width: 40.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 {
  margin: 0rem 3.7rem 3rem 0rem;
  box-sizing: border-box;
  padding: 5rem 4.2rem 5.1rem 7.1rem;
  width: 33.2rem;
  height: 19.4rem;
  background-color: #7eb5c3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 .group-53-bmu {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 .group-53-bmu .item--xcT {
  margin-right: 1.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 .group-53-bmu .auto-group-xj1r-rxj {
  width: 100%;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 .group-53-bmu .auto-group-xj1r-rxj .item-2-45--D2b {
  width: 18.2rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gyuw-J27 .group-53-bmu .auto-group-xj1r-rxj .item-3000--scw {
  width: 21.9rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gqx9-NZh {
  margin: 0rem 18.1rem 2.6rem 0rem;
  width: calc(100% - 18.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gqx9-NZh .rectangle-299-JCT {
  margin: 0rem 2.7rem 0.042rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-gqx9-NZh .item-8--bxF {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-nmvb-79u {
  margin: 0rem 13.7rem 2.6rem 0rem;
  width: calc(100% - 13.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-nmvb-79u .rectangle-321-EkK {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-nmvb-79u .item--kCs {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-zvhh-FQX {
  margin: 0rem 15.3rem 2.6rem 0rem;
  width: calc(100% - 15.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-zvhh-FQX .rectangle-322-yrK {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-zvhh-FQX .item-6-15--6AF {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-cfwb-bMu {
  margin-bottom: 3.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-cfwb-bMu .rectangle-323-jj1 {
  margin: 0rem 2.7rem 0.045rem 0rem;
  width: 1.5rem;
  height: 1.8581rem;
  background-color: #7eb5c3;
  border-radius: 20rem 20rem 0 20rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .auto-group-cfwb-bMu .item-3-10-Tf1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .auto-group-tvnf-t8s .item--cuy .item--YgT {
  margin: 0rem 7.7rem 0rem 4.2rem;
  width: calc(100% - 11.9rem);
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ae4f;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .group-41-Mto {
  margin: 0rem 50.1rem 0rem 52.9rem;
  box-sizing: border-box;
  padding: 1.5rem 1.7rem 1.4rem 1.7rem;
  width: calc(100% - 103rem);
  display: flex;
  align-items: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--fcP .group-41-Mto .item--4YK {
  margin-right: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1e1e1d;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--fcP .group-41-Mto .auto-group-zdwb-y9V {
  margin: 0rem 0.9rem 0.1rem 0rem;
  width: 2.8rem;
  height: 1.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--fcP .group-41-Mto .visa-Hfy {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK {
  margin-right: 0.0398rem;
  box-sizing: border-box;
  padding: 7.45rem 8rem 2.3rem 8rem;
  width: calc(100% - 0.0398rem);
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .item--1Eb {
  margin: 0.05rem 8.4rem 0rem 0rem;
  width: 24.4rem;
  height: 15rem;
  position: relative;
  background-size: 117.213% 190.667%;
  background-position: -2rem -5rem;
  background-image: url('../assets/-KhD.png');
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy {
  margin: 0.05rem 22.5rem 0rem 0rem;
  height: 16.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .item--m7H {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .rectangle-310-sw1 {
  width: 9.2rem;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .item--Djy {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .item--jTR {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .item--4Eo {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-mqu5-3wy .item--mf1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 {
  margin: 0.05rem 26.4rem 0rem 0rem;
  width: 16.1rem;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .item--2L3 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .rectangle-336-xDh {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .item-38-097-000-79-96-WFD {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #1b1b1b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .item-38-097-000-79-96-WFD .item-38-097-000-79-96-WFD-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .item-38-097-000-79-96-WFD .item-38-097-000-79-96-WFD-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-whwh-J99 .auto-group-a1h5-2FV {
  width: 13.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd {
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--gqq {
  margin-bottom: 2.45rem;
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.3rem 1.2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .auto-group-eejw-QQT {
  margin-right: 0.3891rem;
  width: 14.8109rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .auto-group-eejw-QQT .item--L3D {
  width: 13.8rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .auto-group-eejw-QQT .vector-1QF {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 13.8109rem;
  top: 0.9rem;
  background-color: #ff5f00;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .auto-group-eejw-QQT .vector-jr3 {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 13.2109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .auto-group-eejw-QQT .vector-59D {
  width: 0.8rem;
  height: 1rem;
  position: absolute;
  left: 14.0109rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--wFy .item--NxK .auto-group-ps39-UVZ .auto-group-8irp-Yjd .item--XbZ .vector-Cjd {
  margin-top: 0.3rem;
  width: 2.6rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP {
  margin-bottom: 8.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .applepay-2yZ {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .googlepay-NGj {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .monopay-JAP {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0.7rem 0.3rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .monopay-JAP .auto-group-gnfu-QDR {
  margin-right: 0.1rem;
  width: 2.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .monopay-JAP .auto-group-gnfu-QDR .rectangle-312-M8f {
  width: 2.5rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .monopay-JAP .auto-group-gnfu-QDR .mono-435 {
  width: 2.2rem;
  height: 1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .monopay-JAP .pay-MXy {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .mastercard-G99 {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .visa-C2o {
  margin-right: 9.1rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wFy .item--NxK .auto-group-yx55-hgP .item--8h9 {
  margin-top: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .rectangle-298-33R {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.item--wFy .item--NxK .item--aJF {
  margin: 0rem 8.8rem 0rem 11.1rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wFy .item--NxK .item--aJF .item--3xX {
  margin-right: 26.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .item--aJF .item--xJo {
  margin-right: 19.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wFy .item--NxK .item--aJF .item--dvj {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Helvetica Neue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
