
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.5rem;
}.button-trial-lesson-hover-fY7 {
  width: 100%;
  height: 4rem;
  cursor: pointer;
}
.button-trial-lesson-hover-fY7 .button-trial-lesson-hover-cTM {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf192c;
  border-radius: 0.5rem;
}
