* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
}
input {
  border: none;
}

body {
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Плавная прокрутка для всей страницы */
}

main {
  padding-top: 11rem; /* Высота должна быть равна или больше высоты вашего хедера */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  main {
    width: 95%;
  }
}
