
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 110.4rem;
}.contact-form-wUX {
  width: 100%;
  height: 114.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.contact-form-wUX .auto-group-1pm9-UjM {
  width: 77rem;
  height: 10.9rem;
  position: absolute;
  left: 15.1rem;
  top: 10.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-kfdv-j9V {
  width: 53.5rem;
  height: 9.5rem;
  position: absolute;
  left: 25.1rem;
  top: 96.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-l77h-r7d {
  width: 75.9rem;
  height: 2.4rem;
  position: absolute;
  left: 16.4rem;
  top: 88rem;
  display: flex;
  align-items: center;
}
.contact-form-wUX .auto-group-l77h-r7d .item--9Md {
  margin: 0rem 0.4rem 0.4rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-form-wUX .auto-group-l77h-r7d .item--eJP {
  margin-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-form-wUX .auto-group-nwgf-zmZ {
  box-sizing: border-box;
  padding: 1.3rem 6.4rem 1.1rem 6.4rem;
  width: 77rem;
  height: 7.3rem;
  position: absolute;
  left: 15.1rem;
  top: 29.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-vuwv-SNf {
  box-sizing: border-box;
  padding: 1.3rem 6.4rem 1.1rem 6.4rem;
  width: 77rem;
  height: 7.3rem;
  position: absolute;
  left: 15.1rem;
  top: 40.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-ud3h-gXu {
  box-sizing: border-box;
  padding: 1.3rem 6.4rem 1.1rem 6.4rem;
  width: 77rem;
  height: 7.3rem;
  position: absolute;
  left: 15.1rem;
  top: 50rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-fazr-8uh {
  box-sizing: border-box;
  padding: 1.2rem 4.9rem 1.2rem 6.4rem;
  width: 77rem;
  height: 7.3rem;
  position: absolute;
  left: 15.1rem;
  top: 59.8rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-fazr-8uh .item--p1q {
  margin-right: 35.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-form-wUX .auto-group-fazr-8uh .vector-2-WvF {
  margin-top: 0.65rem;
  width: 6.7rem;
  height: 2.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-form-wUX .auto-group-7omv-39V {
  width: 81.9676rem;
  height: 16.8rem;
  position: absolute;
  left: 15.1rem;
  top: 69.6rem;
}
.contact-form-wUX .auto-group-7omv-39V .rectangle-58-YM9 {
  width: 77rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.contact-form-wUX .auto-group-7omv-39V .item--gCT {
  width: 53.1rem;
  height: 4.9rem;
  position: absolute;
  left: 6.4rem;
  top: 0.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-form-wUX .auto-group-7omv-39V .vector-3-v6o {
  width: 6.7rem;
  height: 2.65rem;
  position: absolute;
  left: 65.4rem;
  top: 2.3rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-form-wUX .auto-group-7omv-39V .arrow-4-dX1 {
  width: 7.3676rem;
  height: 10.7126rem;
  position: absolute;
  left: 74.6rem;
  top: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-form-wUX .auto-group-7omv-39V .arrow-5-8yZ {
  width: 7.3676rem;
  height: 10.7126rem;
  position: absolute;
  left: 65.7rem;
  top: 4.6rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-form-wUX .auto-group-7omv-39V .item--ref {
  width: 9.5rem;
  height: 1.5rem;
  position: absolute;
  left: 68rem;
  top: 15.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-form-wUX .item--7qV {
  width: 11.8rem;
  height: 1.5rem;
  position: absolute;
  left: 93rem;
  top: 86.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
