
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-17-MRm {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-17-MRm .header-6eF {
  margin-bottom: 8.3rem;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  position: relative;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M {
  box-sizing: border-box;
  padding: 1.5rem 8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #edecea;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--mkP {
  margin-right: 8.4rem;
  width: 21.4rem;
  height: 9rem;
  position: relative;
  background-size: 115.475% 276.033%;
  background-position: -1.6823rem -8.1818rem;
  background-image: url('../assets/-Xsq.png');
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--f55 {
  margin-right: 3.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #292929;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--NVH {
  margin-right: 3.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #292929;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--J83 {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #292929;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--DF1 {
  margin-right: 12rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #292929;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--L4j {
  margin: 2rem 2.7rem 2rem 0rem;
  width: 19rem;
  height: calc(100% - 4rem);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--L4j .group-41-2CT {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--hpP {
  margin: 2rem 0;
  width: 19rem;
  height: calc(100% - 4rem);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-17-MRm .header-6eF .frame-43-F1M .item--hpP .group-31-ocX {
  box-sizing: border-box;
  padding: 1.4rem 0.6rem 1.4rem 1.9rem;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.desktop-17-MRm .item--rqh {
  margin-left: 4.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 {
  box-sizing: border-box;
  padding: 8.3rem 8.3rem 60.4rem 8.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 {
  margin-bottom: 5.1rem;
  width: 100%;
  height: 26.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .rectangle-325-xGT {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .auto-group-8x1d-3oh {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .auto-group-8x1d-3oh .auto-group-wg91-B9D {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .auto-group-8x1d-3oh .auto-group-wg91-B9D .item--Vfh {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .auto-group-8x1d-3oh .auto-group-wg91-B9D .item-1-zsM {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .group-96-bwh .auto-group-8x1d-3oh .mask-group-W51 {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD {
  box-sizing: border-box;
  padding-left: 11.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM {
  margin-right: 11.2rem;
  width: 35rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .rectangle-326-jTZ {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .auto-group-j7gw-Fgo {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .auto-group-j7gw-Fgo .auto-group-3enf-aUB {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .auto-group-j7gw-Fgo .auto-group-3enf-aUB .item--7DD {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .auto-group-j7gw-Fgo .auto-group-3enf-aUB .item-1-obq {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-vp63-bMM .auto-group-j7gw-Fgo .mask-group-7Md {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb {
  width: 35rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .rectangle-327-oVM {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .auto-group-b4bv-XRM {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .auto-group-b4bv-XRM .auto-group-xcsu-sEK {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .auto-group-b4bv-XRM .auto-group-xcsu-sEK .item--bw1 {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .auto-group-b4bv-XRM .auto-group-xcsu-sEK .item-1-78f {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-un6f-rz7 .auto-group-z5mv-eBD .auto-group-bvvh-TAb .auto-group-b4bv-XRM .mask-group-DBh {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF {
  margin-bottom: 6.3rem;
  width: 100%;
  height: 26.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s {
  width: 35rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .rectangle-325-FPH {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .auto-group-5lgj-kqq {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .auto-group-5lgj-kqq .auto-group-mh1v-6Pu {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .auto-group-5lgj-kqq .auto-group-mh1v-6Pu .item--d8w {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .auto-group-5lgj-kqq .auto-group-mh1v-6Pu .item-1-KGf {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .group-97-h6s .auto-group-5lgj-kqq .mask-group-d2T {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 {
  box-sizing: border-box;
  padding-left: 11.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd {
  margin-right: 11.2rem;
  width: 35rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .rectangle-328-rA7 {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .auto-group-cufy-NPM {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .auto-group-cufy-NPM .auto-group-atxp-hwR {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .auto-group-cufy-NPM .auto-group-atxp-hwR .item--e5y {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .auto-group-cufy-NPM .auto-group-atxp-hwR .item-1-9YX {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-kano-6wd .auto-group-cufy-NPM .mask-group-Eps {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD {
  width: 35rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .rectangle-329-jFq {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .auto-group-9u6o-qpf {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .auto-group-9u6o-qpf .auto-group-x2pd-myD {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .auto-group-9u6o-qpf .auto-group-x2pd-myD .item--upX {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .auto-group-9u6o-qpf .auto-group-x2pd-myD .item-1-DaK {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-fvp3-9LF .auto-group-lv1u-ZB1 .auto-group-ij9d-BVD .auto-group-9u6o-qpf .mask-group-L99 {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT {
  margin-bottom: 17.1rem;
  width: 100%;
  height: 41.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 {
  width: 35rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .rectangle-325-ZGo {
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK {
  box-sizing: border-box;
  padding: 1.5rem 0rem 0rem 9.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .auto-group-vxc7-pTd {
  margin-bottom: 11.5rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .auto-group-vxc7-pTd .auto-group-s5tx-Zg7 {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .auto-group-vxc7-pTd .auto-group-s5tx-Zg7 .item--J7u {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .auto-group-vxc7-pTd .auto-group-s5tx-Zg7 .item-1-Pv3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .auto-group-vxc7-pTd .mask-group-K31 {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .group-98-Cx3 .auto-group-hpud-gcK .clarity-plus-line-GD9 {
  margin-right: 15.8rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 {
  box-sizing: border-box;
  padding-left: 8.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 {
  margin-right: 8.4rem;
  width: 40.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 {
  box-sizing: border-box;
  padding: 0rem 2.8rem 7.8rem 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .rectangle-330-2rX {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .auto-group-w8fd-Yps {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .auto-group-w8fd-Yps .auto-group-zups-VVD {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .auto-group-w8fd-Yps .auto-group-zups-VVD .item--2V9 {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .auto-group-w8fd-Yps .auto-group-zups-VVD .item-1-LEw {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .auto-group-jbph-uG7 .auto-group-w8fd-Yps .mask-group-EbD {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .group-95-af5 {
  width: 100%;
  height: 5.3rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .group-95-af5 .item--k3m {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-m1ab-ke7 .group-95-af5 .item--k3m .group-41-fwR {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V {
  width: 35rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .rectangle-331-7YX {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 17.8rem;
  border: solid 0.1rem #ff9bab;
  box-sizing: border-box;
  background-color: #edecea;
  border-radius: 3rem 7rem 0 7rem;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .auto-group-7kfu-uUP {
  margin-left: 9.8rem;
  width: calc(100% - 9.8rem);
  height: 6.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .auto-group-7kfu-uUP .auto-group-nwf5-qsq {
  margin: 1.2rem 0.7rem 1.1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .auto-group-7kfu-uUP .auto-group-nwf5-qsq .item--AfD {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .auto-group-7kfu-uUP .auto-group-nwf5-qsq .item-1-UA7 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5a808a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .auto-group-b9eb-TzT .auto-group-1zkm-oD5 .auto-group-lcpb-A7V .auto-group-7kfu-uUP .mask-group-BaK {
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .item--iq9 {
  margin: 0rem 0rem 48.4rem 5.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .auto-group-mcx5-947 .item--zXm {
  margin-left: 10.8rem;
  max-width: 73.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR {
  box-sizing: border-box;
  padding: 7.3rem 8rem 3.6rem 7.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edecea;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd {
  box-sizing: border-box;
  padding-right: 14.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .img7804-wzj {
  margin-right: 16.2rem;
  width: 27.7rem;
  height: 11.7rem;
  position: relative;
  background-size: 115.475% 276.033%;
  background-position: -2.1775rem -10.6364rem;
  background-image: url('../assets/img7804-A7M.png');
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq {
  margin-right: 11.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq .item--nVZ {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq .rectangle-296-Jyh {
  margin-bottom: 0.1rem;
  width: 9.5rem;
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq .item--Sq1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq .item--AFD {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-qwgk-Eyq .item--gDZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP {
  width: 25.9rem;
  height: 12.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP .item--jBq {
  width: 8.7rem;
  height: 2.3rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP .shuttelschool1-d2K {
  width: 22.1rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP .shuttleschoolgmailcom-tyq {
  width: 25.9rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 7.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP .shattleschool-b7Z {
  width: 21.7rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 10.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ppux-odd .auto-group-tzsp-nnP .rectangle-297-VCw {
  width: 21.8rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 3.8rem;
  background-color: #5a808a;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ltnf-coM {
  width: 21.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ltnf-coM .item--NGj {
  margin-bottom: 3rem;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ltnf-coM .item--NGj .group-31-vhZ {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9bab;
  border-radius: 0.5rem;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ltnf-coM .item--QMq {
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-asj9-Tpf .auto-group-ltnf-coM .item--QMq .group-41-vLB {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 {
  margin: 0rem 41.1rem 6.6rem 0rem;
  height: 5.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V {
  margin: 1.4rem 18.6rem 1.8rem 0rem;
  height: calc(100% - 3.2rem);
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .fontisto-apple-pay-QuZ {
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-47-9s9 {
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm {
  width: 4.5rem;
  height: 100%;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm .group-48-GRy {
  box-sizing: border-box;
  padding: 0.6rem 0.2rem 0.7rem 0.3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0.3rem;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm .group-48-GRy .auto-group-fnyb-QHH {
  margin-right: 0.1rem;
  width: 2.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm .group-48-GRy .auto-group-fnyb-QHH .rectangle-312-Lwd {
  width: 2.5rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm .group-48-GRy .auto-group-fnyb-QHH .mono-fyu {
  width: 2.2rem;
  height: 1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-49-hdm .group-48-GRy .pay-zFV {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .group-46-trf {
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .group-50-W3V .vector-cnf {
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .auto-group-ulgb-NG3 {
  margin-right: 12.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .auto-group-ulgb-NG3 .item--KBH {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .auto-group-ulgb-NG3 .item--qfR {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .item-380-97-000-7996-xk3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .item-380-97-000-7996-xk3 .item-380-97-000-7996-xk3-sub-0 {
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .item-380-97-000-7996-xk3 .item-380-97-000-7996-xk3-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-17-MRm .footer-wbR .auto-group-hcqh-BX1 .item-380-97-000-7996-xk3 .item-380-97-000-7996-xk3-sub-2 {
}
.desktop-17-MRm .footer-wbR .rectangle-298-Hfq {
  margin: 0rem 0.4rem 3.3rem 0.6rem;
  width: calc(100% - 1rem);
  height: 0.2rem;
  background-color: #5a808a;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .group-51-ci7 {
  margin: 0rem 8.9rem 0rem 10.9rem;
  width: calc(100% - 19.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .group-51-ci7 .item--Yrf {
  margin-right: 26.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .group-51-ci7 .item--FWB {
  margin-right: 19.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-17-MRm .footer-wbR .group-51-ci7 .item--kC3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
