.faq-section {
  background-color: transparent;
  margin: 10rem 0;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3.6rem;
  font-family: "Exo", sans-serif;
  font-weight: 700; /* Жирное начертание */
}

.faq-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.faq-item {
  background-color: transparent;
  margin-bottom: 2rem; /* Отступ между элементами */
  overflow: hidden; /* Обрезать содержимое вне блока */
}

.faq-question {
  height: 8rem;
  display: flex;
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 1rem; /* Внутренний отступ */
  cursor: pointer; /* Курсор в виде руки для интерактивности */
  background-color: #bdccd080; /* Фон вопроса */
  font-family: Helvetica Neue, "Source Sans Pro";
  font-size: 2rem; /* Размер шрифта чисел */
  font-weight: 700; /* Жирное начертание */
  line-height: 2.5rem;
}

.faq-icon {
  width: 2.4rem; /* или другой подходящий размер */
  height: auto; /* или другой подходящий размер */
  margin-right: 3rem; /* отступ от иконки до текста вопроса */
  margin-left: 3rem;
  vertical-align: middle; /* чтобы иконка была выровнена по центру относительно текста */
  align-content: center;
}

.faq-answer {
  background-color: transparent; /*Фон ответа*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /*Плавная анимация*/
  font-family: Helvetica Neue, "Source Sans Pro";
  color: black; /* Цвет описания статистики */
  font-size: 1.8rem; /* Размер шрифта описания */
  line-height: 2.2rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

.faq-item.active .faq-answer {
  max-height: 1000px; /* Максимальная высота, достаточная для отображения любого контента */
}
