.faq-section {
  background-color: transparent;
  margin: 6rem 0;
  padding: 0 5.6%;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3.6rem;
  font-family: "Exo", sans-serif;
  font-weight: 700; /* Жирное начертание */
}

.faq-container {
  width: 100%;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}

.faq-item {
  background-color: transparent;
  margin-bottom: 2rem; /* Отступ между элементами */
  overflow: hidden; /* Обрезать содержимое вне блока */
}

.faq-question {
  height: 8rem;
  display: flex;
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 1rem; /* Внутренний отступ */
  cursor: pointer; /* Курсор в виде руки для интерактивности */
  background-color: #bdccd080; /* Фон вопроса */
  font-family: Helvetica Neue, "Source Sans Pro";
  font-size: 2rem; /* Размер шрифта чисел */
  font-weight: 700; /* Жирное начертание */
  line-height: 2.5rem;
}

.faq-icon {
  width: 2.4rem; /* или другой подходящий размер */
  height: auto; /* или другой подходящий размер */
  margin-right: 3rem; /* отступ от иконки до текста вопроса */
  margin-left: 3rem;
  vertical-align: middle; /* чтобы иконка была выровнена по центру относительно текста */
  align-content: center;
}

.faq-answer {
  background-color: transparent; /*Фон ответа*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /*Плавная анимация*/
  font-family: Helvetica Neue, "Source Sans Pro";
  color: black; /*Цвет описания статистики*/
  font-size: 1.8rem; /*Размер шрифта описания*/
  line-height: 2.2rem;
  margin-left: 8.4rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

.faq-item.active .faq-answer {
  max-height: 1000px; /* Максимальная высота, достаточная для отображения любого контента */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .faq-section {
    margin: 6rem 0;
  }

  .faq-section h2 {
    font-size: 3rem; /* Уменьшаем размер заголовка */
  }

  .faq-question {
    height: 6rem; /* Уменьшаем высоту вопроса */
    font-size: 1.5rem; /* Уменьшаем размер шрифта вопроса */
  }

  .faq-answer {
    font-size: 1.5rem; /* Уменьшаем размер шрифта ответа */
    line-height: 2rem;
    margin-left: 7rem; /* Уменьшаем отступ слева */
  }

  .faq-icon {
    width: 2rem; /* или другой подходящий размер */
    height: auto; /* или другой подходящий размер */
    margin-right: 2rem; /* отступ от иконки до текста вопроса */
    margin-left: 2rem;
  }
}

@media (max-width: 480px) {
  .faq-section {
    margin: 4rem 0;
  }
  .faq-container {
    width: 100%; /* Делаем контейнер ещё шире на очень маленьких экранах */
  }

  .faq-answer {
    margin-left: 5rem; /* Уменьшаем отступ слева для ответов */
  }

  .faq-icon {
    width: 2rem; /* или другой подходящий размер */
    height: auto; /* или другой подходящий размер */
    margin-right: 1rem; /* отступ от иконки до текста вопроса */
    margin-left: 1rem;
  }
}
