footer {
  background-color: #edecea;
  padding: 5rem 5.6%;
  padding-bottom: 3rem;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-bottom: 2rem; */
}

.footer-section {
  display: flex;
  flex-direction: column;
}

footer .payment-methods {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

footer .payment-methods .payment-icon,
footer .social-media .social-icon {
  margin-right: 0.5rem;
}

footer .payment-icon {
  width: auto; /* или можно установить конкретный размер, например 50px */
  height: 3rem; /* высота иконки, измените это значение в соответствии с вашими нуждами */
  object-fit: contain;
}

footer .logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logo {
  width: 20rem;
  height: 11.8rem;
  position: relative;
  background-size: 100%;
  background-position: -0rem -2.9rem;
  background-image: url("../assets/logo.png");
  flex-shrink: 0;
  /* margin-bottom: 2rem; */
}

.footer-heading {
  font-family: "Exo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

footer .languages-section .languages-list {
  list-style: none;
  padding: 0;
}

footer .languages-section .language {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

footer .languages-list .language a {
  color: black;
  text-decoration: none; /* Убрать подчеркивание ссылок */
}

footer .languages-list .language a:hover {
  text-decoration: underline; /* Добавить подчеркивание при наведении */
}

footer .contact-info {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
footer .contact-info .phone-number {
  margin: 0rem 0.6rem 0.8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #1b1b1b;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
footer .contact-info .phone-number:hover {
  text-decoration: underline;
}
footer .contact__social {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer .contact__icon {
  width: 3rem;
  height: 3rem;
}

footer .contact__icon img {
  width: 100%; /* Задайте ширину изображения равной ширине контейнера */
  height: 100%; /* Задайте высоту изображения равной высоте контейнера */
}

footer .icon-instagram:hover img {
  content: url("../assets/icons/icon_instagram_hover.png");
}
footer .icon-telegram:hover img {
  content: url("../assets/icons/icon_telegram_hover.png");
}
footer .icon-email:hover img {
  content: url("../assets/icons/icon_email_hover.png");
}

.footer-section .button {
  margin-bottom: 2rem;
  width: 20rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none; /* Убирает подчеркивание текста */
}

.footer-section .apply-button {
  background-color: #ff9bab;
  border: none;
}

.footer-section .apply-button:hover {
  background-color: #f4667d;
}

.footer-section .pay-button {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
}

.footer-section .pay-button:hover {
  background-color: #dee6e8;
}

.footer-section .icon-mastercard,
.footer-section .icon-visa {
  width: 2.5rem; /* или другой размер, который подходит */
  height: auto;
  vertical-align: middle;
}

.footer-section .icon-mastercard {
  margin-left: 1rem;
}

.footer-bottom {
  width: 100%;
  border-top: 2px solid #5a808a;
  padding-top: 2rem;
  margin-top: 2rem;
}

footer .legal-section {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer .legal-section .legal-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Helvetica Neue, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

footer .main-navigation {
  /* margin-left: 6rem; */
  display: none;
  align-items: center;
  list-style: none;
  flex-direction: column;
  gap: 1rem;
}

footer .menu-item {
  margin: 0 1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

footer .main-navigation li {
  margin-right: 1.5rem;
}

footer .main-navigation a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

footer .main-navigation a:hover {
  text-decoration: underline;
}

.footer-divider {
  border: none;
  height: 2px;
  background-color: #5a808a; /* Цвет линии */
  width: 100%; /* Длина линии */
  margin-bottom: 1.5rem; /* Отступ снизу линии */
}

/* Добавьте медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  footer {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  footer .languages-section {
    display: none;
  }
  footer .logo-section .payment-methods {
    display: none;
  }

  footer .main-navigation {
    display: flex;
    margin-bottom: 01rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-section {
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
  }

  footer .legal-section {
    flex-direction: column;
    align-items: center;
  }

  footer .legal-section .legal-link {
    margin-bottom: 1rem;
  }

  footer .contacts-section .footer-heading,
  footer .contacts-section .footer-divider {
    display: none;
  }

  footer .contact-info {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .footer-bottom {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .footer-section .button {
    margin-bottom: 1rem;
    width: 80%;
  }
}
