.speaking-club::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 3%;
  width: 23.7%;
  padding-top: 8.93%;
  background-image: url("../assets/speaking-club/speaking-club_figure_french_desktop.png");
  background-size: cover; /* Масштабирует фоновое изображение, чтобы оно полностью покрывало псевдоэлемент */
  background-position: center; /* Центрирует изображение в псевдоэлементе */
  background-position: 0 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .speaking-club::before {
    width: 23.7%;
    padding-top: 8.93%;
  }
}

/* Адаптация для мобильных устройств */
@media (max-width: 480px) {
  .speaking-club::before {
    width: 35.5%;
    padding-top: 13.4%;
  }
}
