
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 511.9rem;
}.group-22-9Gf {
  width: 100%;
  height: 368.1rem;
}
.group-22-9Gf .item--uFq {
  box-sizing: border-box;
  padding: 26.6rem 4.1rem 26.6rem 2.7rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #959595;
}
.group-22-9Gf .item--uFq .auto-group-sccs-QCb {
  margin: 52.8rem 3.1rem 111.5rem 0rem;
  width: 82.4rem;
  height: calc(100% - 164.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-sccs-QCb .screenshot-2023-12-05-at-1345-1-7Mu {
  width: 82.4rem;
  height: 37.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-sccs-QCb .auto-group-svhm-qoh {
  box-sizing: border-box;
  padding-top: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-sccs-QCb .auto-group-svhm-qoh .screenshot-2023-12-12-at-1153-1-C8T {
  margin-bottom: 14.2rem;
  width: 81.8rem;
  height: 39.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-sccs-QCb .auto-group-svhm-qoh .screenshot-2023-12-21-at-1423-1-Kis {
  margin-left: 0.1rem;
  width: 82.3rem;
  height: 41.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-b1w1-3Py {
  margin: 52.8rem 3.7rem 157.4rem 0rem;
  width: 88.8rem;
  height: calc(100% - 210.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-b1w1-3Py .screenshot-2023-12-06-at-1335-1-MvT {
  margin-bottom: 13.2rem;
  width: 88.8rem;
  height: 41.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-b1w1-3Py .auto-group-bkru-6NF {
  width: 100%;
  height: 49.8rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:f2c3fc7c6950e88d9cbd23fb8cdec89fc85a1f36');
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-b1w1-3Py .auto-group-bkru-6NF .screenshot-2023-12-14-at-1759-1-Sh1 {
  width: 88.7rem;
  height: 46.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.group-22-9Gf .item--uFq .auto-group-b1w1-3Py .auto-group-bkru-6NF .item--aHR {
  width: 19.4rem;
  height: 1.5rem;
  position: absolute;
  left: 25.4rem;
  top: 36.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-22-9Gf .item--uFq .screenshot-2023-12-14-at-1758-1-Q1Z {
  margin: 0rem 3.7rem 64.9rem 0rem;
  width: 77.5rem;
  height: 34.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-wqv3-hFZ {
  margin: 107.7rem 0.8rem 59.4rem 0rem;
  height: calc(100% - 167.1rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-wqv3-hFZ .screenshot-2023-12-15-at-1130-1-d9D {
  margin-bottom: 4.5rem;
  width: 90.4rem;
  height: 49.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-wqv3-hFZ .screenshot-2023-12-22-at-1117-1-kjd {
  margin-bottom: 3.5rem;
  width: 90.9rem;
  height: 47.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-wqv3-hFZ .screenshot-2023-12-29-at-1327-1-VBR {
  width: 90.9rem;
  height: 42.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw {
  margin: 0rem 2.5rem 116.2rem 0rem;
  width: 76.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw .auto-group-eyes-YfV {
  box-sizing: border-box;
  padding-bottom: 7.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw .auto-group-eyes-YfV .screenshot-2023-12-02-at-1250-1-6h1 {
  margin-bottom: 6.3rem;
  width: 75.9rem;
  height: 46.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw .auto-group-eyes-YfV .screenshot-2023-12-09-at-1425-1-2qZ {
  margin-bottom: 12.4rem;
  width: 75.9rem;
  height: 42.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw .auto-group-eyes-YfV .auto-group-7slw-xz7 {
  margin-right: 0.2rem;
  box-sizing: border-box;
  padding: 44.2rem 37.6rem 0.8rem 22.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-12-16-at-1220-1-bg.png');
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-cmnb-cWw .auto-group-fq2s-Egj {
  box-sizing: border-box;
  padding: 33.5rem 34.2rem 2rem 23.1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screenshot-2023-12-23-at-1239-1-bg.png');
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-tsom-vZZ {
  margin-bottom: 102.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-tsom-vZZ .screenshot-2023-12-04-at-1232-1-5BZ {
  margin: 0rem 0rem 15.9rem 0.5rem;
  width: 75rem;
  height: 36.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-tsom-vZZ .screenshot-2023-12-11-at-1758-1-zZR {
  margin: 0rem 0.2rem 15.7rem 0rem;
  width: 74.7rem;
  height: 39.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-tsom-vZZ .screenshot-2023-12-18-at-1347-1-teo {
  margin: 0rem 0.1rem 13.6rem 0rem;
  width: 75.4rem;
  height: 40.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-22-9Gf .item--uFq .auto-group-tsom-vZZ .screenshot-2023-12-26-at-1235-1-oWs {
  margin-right: 0.5rem;
  width: 75rem;
  height: 51rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
