.intro {
  position: relative;
  /* padding: 40px 0; */
  /* background: url("../assets/background_main.jpg") no-repeat center top;
  background-size: 100% auto; */
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: flex-start; /* Выравнивание по горизонтали */
  text-align: left; /* Выравнивание текста влево */
}

.intro img {
  width: 100%; /* Ширина изображения будет определять ширину секции */
  height: auto; /* Высота будет автоматически пропорциональна ширине */
}

.desktop-background {
  display: block;
}

.mobile-background {
  display: none;
}

.text-container {
  position: absolute;
  left: -2rem;
  top: 38%;
  z-index: 2;
  max-width: 50%; /* Максимальная ширина контентной области */
  margin-left: 7%; /* Отступ слева */
}

.intro h1 {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3.44vw;
  color: black; /* Цвет текста для лучшего контраста с фоном */
  margin-bottom: 1vw;
}

.intro p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.7vw;
  color: black; /* Цвет текста для лучшего контраста с фоном */
  margin-bottom: 2vw;
}

.trial-button {
  background-color: #ff9bab;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.7vw;
  border: none;
  padding: 1vw 3vw;
  cursor: pointer;
  border-radius: 5px;
  width: 31.3vw;
  height: 5vw;
  margin-bottom: 1rem;
  position: absolute;
  left: -2rem;
  top: 62%;
  z-index: 2;
  max-width: 40%; /* Максимальная ширина контентной области */
  margin-left: 7%; /* Отступ слева */
}

.lang-button {
  display: none;
  background-color: transparent;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  border: none;
  padding: 1vw 3vw;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  width: 20vw;
  height: 3.5vw;
}

.lang-button:hover {
  background-color: #dee6e8;
}

.trial-button:hover {
  background-color: #f4667d;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .intro {
    margin: 0;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    text-align: center; /* Выравнивание текста влево */
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .desktop-background {
    display: none;
  }

  .mobile-background {
    display: block;
  }

  .trial-button,
  .lang-button {
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: auto;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin: 3rem auto;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: relative;
    max-width: 100%;
    left: 0;
  }

  .text-container {
    padding: 1rem;
    position: absolute;
    top: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    max-width: 100%; /* Максимальная ширина контентной области */
    margin: 0;
  }

  .intro h1 {
    font-size: 2.2rem;
    margin: 1rem;
  }

  .intro p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}
