.about {
  padding: 12rem 5.6%; /* Отступы внутри секции */
  padding-top: 12rem; /* Замените на реальное значение */
  margin-top: -12rem; /* Такое же значение, но с отрицательным знаком */
  position: relative;
  background-image: url("../assets/about-background.png");
  background-repeat: no-repeat; /* Убирает повторение изображения */
  background-size: 50% auto; /* Задает размер фонового изображения, чтобы оно занимало 50% ширины и 100% высоты контейнера */
  background-position: left calc(0% + 30rem); /* Располагает изображение по левому краю */
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  top: 12rem; /* Выравниваем по верхнему краю секции */
  left: 80%; /* Выравниваем по центру секции по горизонтали */
  transform: translate(
    -50%,
    -50%
  ); /* Смещаем на половину его размера влево и вверх для центрирования */
  width: 11%; /* Ширина круга в процентах от ширины страницы */
  padding-top: 11%; /* Высота круга равна ширине для сохранения пропорций */
  border-radius: 50%; /* Делаем круг круглым */
  background-color: #f4e7ca; /* Цвет круга */
  z-index: 1; /* Помещаем круг под контент секции */
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0; /* Позиционирование в нижней части родителя */
  left: 85%; /* Позиционирование по центру родителя */
  transform: translateX(-50%); /* Центрирование по горизонтали */
  width: 20%; /* Ширина круга в процентах от ширины страницы */
  padding-top: 20%; /* Высота круга равна ширине для сохранения пропорций */
  background-color: #f4e7ca; /* Цвет полукруга */
  border-radius: 50% 50% 0 0; /* Создание полукруга */
  clip-path: ellipse(50% 50% at 50% 100%);
  z-index: -1;
  overflow: hidden; /* Обрезка лишней части */
}

.text-background-pink {
  background-color: #ff9bab;
  border-radius: 10px;
  padding: 0 1rem;
}

.about .container {
  margin: 0 auto; /* Центрирование контейнера */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* Выравнивание дочерних элементов по верху */
  width: 100%;
  gap: 5%;
}

.about .container-image {
  width: 50%;
  align-self: stretch; /* Растягиваем по всей доступной высоте */
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}

.about .container-image img {
  width: 100%;
  height: auto; /* Высота будет автоматически пропорциональна ширине */
  display: block; /* чтобы избежать нежелательных отступов вокруг изображения */
}

.about .container-text {
  margin-top: 10rem;
  padding-top: 1rem;
  border-top: 3px solid #5a808a;
  max-width: 50%;
  align-items: flex-start;
}

.about h2 {
  color: black; /* Цвет заголовка */
  font-family: "Exo", sans-serif; /* Шрифт заголовка, если он подключен */
  margin-bottom: 1rem; /* Отступ после заголовка */
  padding-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 700;
  position: relative;
  top: 10rem;
  left: 50%;
}

.about .intro-text {
  color: black; /* Цвет текста */
  font-family: Helvetica Neue, "Source Sans Pro";
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem; /* Отступ между абзацами */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .about .container {
    flex-direction: column; /* Элементы располагаются в колонку */
    align-items: center; /* Выравнивание элементов по центру */
  }

  .about .container-image,
  .about .container-text {
    max-width: 100%;
    width: 100%; /* Ширина элементов составляет 100% контейнера */
    margin-top: 2rem; /* Добавление небольшого отступа сверху */
    border-top: none;
  }

  .about h2 {
    font-size: 3rem; /* Уменьшение размера шрифта заголовка */
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 5rem;
  }

  .about .intro-text {
    font-size: 2rem; /* Уменьшение размера шрифта текста */
  }
}
