.language-selection {
  background-color: white;
  text-align: center;
  padding: 0 10%;
  margin: 10rem 0;
  padding: 0 5.6%;
}

.language-selection-title {
  margin-bottom: 1rem;
  font-family: "Exo", sans-serif;
  font-size: 3.6rem; /* Размер шрифта чисел */
  font-weight: 700; /* Жирное начертание */
  margin-bottom: 5rem;
}

.languages-grid {
  list-style: none; /* Убрать маркеры списка */
  padding: 0; /* Убрать паддинг списка */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.languages-grid .language {
  background-color: #5a808a;
  border-radius: 5px;
  height: 12rem;

  /* cursor: pointer; */
}

.languages-grid a {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  /* display: block; */
  color: white;
  text-decoration: none; /* Убрать подчеркивание текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Helvetica Neue, "Source Sans Pro";
  font-weight: 400;
  font-size: 3rem; /* Размер шрифта описания */
}

.languages-grid li:hover {
  background-color: #305e6a; /* Цвет фона при наведении */
}

.languages-grid li.disabled a {
  pointer-events: none; /* Отключение возможности взаимодействия с элементом */
  cursor: default; /* Изменение курсора на стандартный */
  color: white; /* Затемнение текста для визуального отображения неактивности */
  background-color: #5a808a; /* Изменение фона для неактивной кнопки */
}

.languages-grid li.disabled a:hover {
  background-color: #e0e0e0; /* Убедитесь, что фон не меняется при наведении */
}

@media (max-width: 768px) {
  .language-selection {
    background-color: white;
    text-align: center;
    margin-bottom: 5rem;
  }

  .languages-grid a {
    font-size: 2rem; /* Размер шрифта описания */
  }

  .languages-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
@media (max-width: 480px) {
  .language-selection {
    background-color: white;
    text-align: center;
    padding: 0 2%;
    margin-bottom: 2rem;
  }

  .languages-grid a {
    font-size: 2rem; /* Размер шрифта описания */
  }

  .languages-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}
