.stats {
  background-color: #dee6e8; /* Цвет фона раздела */
  display: flex;
  justify-content: space-around;
  padding: 8rem 5.6%; /* Вертикальные отступы для раздела */
  gap: 3rem;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-family: "Exo", sans-serif;
  color: #ff9bab; /* Цвет чисел статистики */
  font-size: 6.4rem; /* Размер шрифта чисел */
  font-weight: 700; /* Жирное начертание */
  line-height: 9.5rem;
  display: block; /* Чтобы числа были на отдельной строке */
}

.stat-description {
  color: black; /* Цвет описания статистики */
  font-size: 2.5rem; /* Размер шрифта описания */
  line-height: 2.9rem;
  margin-top: 1rem; /* Отступ между числом и описанием */
}

/* Стили для планшетов и мобильных устройств */
@media (max-width: 768px) {
  .stats {
    flex-direction: column; /* Элементы идут в колонку */
    align-items: center; /* Выравнивание элементов по центру */
    padding: 4rem 5.6%; /* Вертикальные отступы для раздела */
  }

  .stat-number {
    font-size: 3.2rem; /* Размер шрифта чисел */
    line-height: 5rem;
  }

  .stat-description {
    font-size: 1.5rem; /* Размер шрифта описания */
    line-height: 1.5rem;
    margin-top: 0.5rem; /* Отступ между числом и описанием */
  }
}
