.intro {
  margin-top: -8.3%;
  margin-bottom: -14%;
  position: relative;
  /* padding: 40px 0; */
  /* background: url("../assets/background_main.jpg") no-repeat center top;
  background-size: 100% auto; */
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: flex-start; /* Выравнивание по горизонтали */
  text-align: left; /* Выравнивание текста влево */
}

.intro img {
  width: 100%; /* Ширина изображения будет определять ширину секции */
  height: auto; /* Высота будет автоматически пропорциональна ширине */
}

.intro-content {
  position: absolute;
  left: 0;
  top: 38%;
  z-index: 2;
  max-width: 40%; /* Максимальная ширина контентной области */
  margin-left: 7%; /* Отступ слева */
}

.intro h1 {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.7vw;
  color: black; /* Цвет текста для лучшего контраста с фоном */
  margin-bottom: 1vw;
}

.intro p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  color: black; /* Цвет текста для лучшего контраста с фоном */
  margin-bottom: 2vw;
}

.trial-button {
  background-color: #ff9bab;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  border: none;
  padding: 1vw 3vw;
  cursor: pointer;
  border-radius: 5px;
  width: 20vw;
  height: 3.5vw;
}
.trial-button:hover {
  background-color: #f4667d;
}
