
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 57.8rem;
}.lart-de-vivre-29--k4j {
  width: 100%;
  height: 26.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-1 {
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-3 {
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-5 {
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-7 {
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-8 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.lart-de-vivre-29--k4j .lart-de-vivre-29--k4j-sub-9 {
}
