
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-page-gHy {
  width: 100%;
  height: 501.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.main-page-gHy .auto-group-jb2b-QDy {
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 20rem;
  background-color: #bebebe;
}
.main-page-gHy .auto-group-jb2b-QDy .group-6-vCK {
  width: 47.3rem;
  height: 7rem;
  position: absolute;
  left: 8rem;
  top: 59.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
}
.main-page-gHy .auto-group-jb2b-QDy .rectangle-10-ZWB {
  width: 63.8rem;
  height: 56.8rem;
  position: absolute;
  left: 69.3rem;
  top: 9.9rem;
  background-color: #d9d9d9;
}
.main-page-gHy .auto-group-jb2b-QDy .vector-1-smm {
  width: 50.65rem;
  height: 46.15rem;
  position: absolute;
  left: 77.1rem;
  top: 14.95rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-gHy .auto-group-jb2b-QDy .shuttle-school-Q11 {
  width: 78rem;
  height: 13.1rem;
  position: absolute;
  left: 6.3rem;
  top: 25.1rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-gHy .auto-group-aplt-dPZ {
  width: 144rem;
  height: 112.2rem;
  position: absolute;
  left: 0;
  top: 105.3rem;
}
.main-page-gHy .auto-group-aplt-dPZ .rectangle-18-LHy {
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 32.2rem;
  background-color: #bebebe;
}
.main-page-gHy .auto-group-aplt-dPZ .item--Fvj {
  width: 4.9rem;
  height: 15.6rem;
  position: absolute;
  left: 16.9rem;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .auto-group-aplt-dPZ .item--MD5 {
  width: 4.9rem;
  height: 15.6rem;
  position: absolute;
  left: 127.7rem;
  top: 18.4rem;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .auto-group-aplt-dPZ .item--3bh {
  width: 79.1rem;
  height: 14.6rem;
  position: absolute;
  left: 35.9rem;
  top: 8.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-gHy .auto-group-aplt-dPZ .item-2020--3EK {
  width: 125rem;
  height: 17rem;
  position: absolute;
  left: 10.1rem;
  top: 49.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-gHy .auto-group-aplt-dPZ .item--rmR {
  width: 119.4rem;
  height: 14.6rem;
  position: absolute;
  left: 12.2rem;
  top: 76.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-gHy .auto-group-aplt-dPZ .vector-146-w63 {
  width: 128.0743rem;
  height: 34.2127rem;
  position: absolute;
  left: 4.9582rem;
  top: 68.9094rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-gHy .auto-group-aplt-dPZ .vector-147-T4P {
  width: 29.8061rem;
  height: 24.3633rem;
  position: absolute;
  left: 80.6645rem;
  top: 69.7805rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-gHy .auto-group-aplt-dPZ .vector-148-BFH {
  width: 9.9388rem;
  height: 3.3077rem;
  position: absolute;
  left: 72.852rem;
  top: 98.3563rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-gHy .auto-group-aplt-dPZ .item--6NF {
  width: 106.1rem;
  height: 4.4rem;
  position: absolute;
  left: 17.4rem;
  top: 104.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-gHy .auto-group-yr2f-WKV {
  box-sizing: border-box;
  padding: 14.7rem 19.9rem 21.7rem 15.2rem;
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 294.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #bebebe;
}
.main-page-gHy .auto-group-yr2f-WKV .item--Aew {
  margin: 0rem 3.9rem 12.6rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-8y9y-FgP {
  margin-bottom: 4.9rem;
  width: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-8y9y-FgP .rectangle-20-BK9 {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-8y9y-FgP .rectangle-21-KAT {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-8y9y-FgP .rectangle-22-Fpo {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-g4u1-npj {
  margin: 0rem 19rem 0rem 19.3rem;
  width: calc(100% - 38.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-g4u1-npj .rectangle-23-Wkj {
  margin-right: 4.4rem;
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-yr2f-WKV .auto-group-g4u1-npj .rectangle-24-SuH {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .item--AKV {
  width: 19.4rem;
  height: 4.9rem;
  position: absolute;
  left: 58.5rem;
  top: 227rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .item--qwR {
  width: 22.5rem;
  height: 4.9rem;
  position: absolute;
  left: 56.8rem;
  top: 387.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .item--XJT {
  width: 35.3rem;
  height: 4.9rem;
  position: absolute;
  left: 12.4rem;
  top: 404.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .item--o15 {
  width: 25rem;
  height: 4.9rem;
  position: absolute;
  left: 12.4rem;
  top: 413.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .auto-group-wspm-gqZ {
  box-sizing: border-box;
  padding: 1.3rem 16.6rem 20.1rem 12.4rem;
  width: 144rem;
  height: 35.5rem;
  position: absolute;
  left: 0;
  top: 418.8rem;
}
.main-page-gHy .auto-group-wspm-gqZ .auto-group-hyjp-ndh {
  margin-bottom: 2.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.main-page-gHy .auto-group-wspm-gqZ .auto-group-hyjp-ndh .e-mail-iXM {
  margin: 1.5rem 62.8rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-wspm-gqZ .auto-group-hyjp-ndh .item--deK {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-gHy .auto-group-wspm-gqZ .item--vdR {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .group-8-2wM {
  box-sizing: border-box;
  padding: 4.2rem 5.9rem 4.2rem 8.4rem;
  width: 144rem;
  height: 47.4rem;
  position: absolute;
  left: 0;
  top: 454.3rem;
  display: flex;
  align-items: center;
  background-color: #bebebe;
}
.main-page-gHy .group-8-2wM .auto-group-lnif-8Dh {
  margin: 13.5rem 4.6rem 10.9rem 0rem;
  width: 33.6rem;
  height: calc(100% - 24.4rem);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 {
  margin-right: 4.8rem;
  width: 23rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .auto-group-yyym-udm {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 7.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .rectangle-29-azo {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .rectangle-30-Xf9 {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .rectangle-31-G6w {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .rectangle-32-CWP {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-ahf9-z11 .rectangle-33-LsV {
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d {
  margin-right: 4.6rem;
  width: 23rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .auto-group-qcr7-1yd {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 1.3rem 0.4rem 1.2rem 2.5rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .rectangle-35-Vdu {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .rectangle-36-SZ9 {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .rectangle-37-PDV {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .rectangle-38-vjD {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-kgsm-J3d .rectangle-39-fgo {
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-rvn7-pJo {
  margin: 10rem 5.6rem 13.1rem 0rem;
  width: 30.4rem;
  height: calc(100% - 23.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-rvn7-pJo .auto-group-mtn3-hdV {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 7.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .auto-group-rvn7-pJo .auto-group-ndaj-PFR {
  width: 100%;
  height: 7.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-gHy .group-8-2wM .arrow-1-Hbh {
  margin-top: 0.5rem;
  width: 0.1rem;
  height: 27.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP {
  box-sizing: border-box;
  padding: 6.5rem 5.1rem 6.5rem 4.8rem;
  width: 144rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.main-page-gHy .group-7-bcP .group-1-Hk7 {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP .group-2-aUK {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP .group-3-Upb {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP .group-4-xzf {
  margin-right: 2.2rem;
  width: 18.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP .group-4-xzf .rectangle-6-uuu {
  width: 17.8rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #959595;
}
.main-page-gHy .group-7-bcP .group-4-xzf .item--3mD {
  width: 17.9rem;
  height: 3rem;
  position: absolute;
  left: 0.7rem;
  top: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-gHy .group-7-bcP .group-5-81y {
  margin-right: 6.6rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-gHy .group-7-bcP .auto-group-rhph-RFy {
  margin: 0.5rem 0rem 0.6rem 0rem;
  width: 26.5rem;
  height: calc(100% - 1.1rem);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #614040;
  flex-shrink: 0;
}
