
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.main-page-CA7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main-page-CA7 .auto-group-tygt-KkX {
  width: 100%;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-tygt-KkX .bytesize-menu-fpP {
  width: 2.4rem;
  height: 1.6rem;
  position: absolute;
  left: 27.7rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H {
  box-sizing: border-box;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  width: 32rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #2d59ab;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H .logo-name-gzP {
  margin: 0rem 11.2rem 0.2rem 0rem;
  width: 10.1rem;
  height: 3.1rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H .logo-name-gzP .catch-me-QvP {
  width: 10.1rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2325;
  color: #ffffff;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H .logo-name-gzP .language-school-7Zu {
  width: 8.1rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2325;
  color: #ffffff;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H .bytesize-menu-pUK {
  margin: 0.1rem 1rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-tygt-KkX .component-1-Q1H .frame-7-Y9R {
  margin: 0.6rem 0rem 0.4rem 0rem;
  width: 3.5rem;
  height: calc(100% - 1rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #2d59ab;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-48kt-AwV {
  width: 100%;
  height: 52.8rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-48kt-AwV .rectangle-44-WEf {
  width: 32rem;
  height: 52.1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2d59ab;
}
.main-page-CA7 .auto-group-48kt-AwV .line-1-Su1 {
  width: 29rem;
  height: 0.1rem;
  position: absolute;
  left: 1.5rem;
  top: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV {
  width: 5.4189rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV .line-2-HPq {
  width: 0.2848rem;
  height: 0.3756rem;
  position: absolute;
  left: 2.5729rem;
  top: 2.6035rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV .line-3-ch1 {
  width: 0.4632rem;
  height: 0.6473rem;
  position: absolute;
  left: 2.3239rem;
  top: 2.8258rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV .vector-3-MPh {
  width: 5.3rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV .bulb-2-6cB {
  width: 2.3188rem;
  height: 2.6rem;
  position: absolute;
  left: 1.9rem;
  top: 4.8rem;
  object-fit: cover;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .logo-picture-mRV .line-9-RPZ {
  width: 0.2798rem;
  height: 1.1117rem;
  position: absolute;
  left: 2.8001rem;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.main-page-CA7 .auto-group-48kt-AwV .dear-friend-kgj {
  width: 13.7rem;
  height: 2.9rem;
  position: absolute;
  left: 1.5rem;
  top: 10.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-CA7 .auto-group-48kt-AwV .stairs-f31 {
  width: 32.4001rem;
  height: 19.6rem;
  position: absolute;
  left: 0;
  top: 33.2rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .symbols-PDu {
  width: 18.7852rem;
  height: 26.4793rem;
  position: absolute;
  left: 12.6668rem;
  top: 16.4072rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .slide-X5D {
  width: 5rem;
  height: 1.2rem;
  position: absolute;
  left: 12.4rem;
  top: 48.8rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-48kt-AwV .there-is-no-need-to-put-it-off-sign-up-for-a-trial-lesson-rdH {
  width: 19rem;
  height: 3.4rem;
  position: absolute;
  left: 1.5rem;
  top: 13.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2000000817;
  color: #ffffff;
  font-family: Fraunces, 'Source Sans Pro';
}
.main-page-CA7 .auto-group-48kt-AwV .button-trial-lesson-hover-kCs {
  width: 13.5rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 20.8rem;
}
.main-page-CA7 .auto-group-48kt-AwV .button-trial-lesson-hover-kCs .button-trial-lesson-hover-5F9 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu {
  box-sizing: border-box;
  padding: 4.2rem 0rem 5.3rem 0.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .text-for-block-teaching-methods-jj1 {
  margin: 0rem 1.5rem 4.2rem 0.55rem;
  width: calc(100% - 2.05rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .text-for-block-teaching-methods-jj1 .title-FST {
  margin: 0rem 0rem 3rem 0.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .text-for-block-teaching-methods-jj1 .paragraph-AJX {
  max-width: 29rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB {
  margin: 0rem 4.2rem 5rem 3.15rem;
  width: calc(100% - 7.35rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj {
  margin-bottom: 2rem;
  width: 100%;
  height: 25.2rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .vector-xVH {
  width: 23.7rem;
  height: 20.1rem;
  position: absolute;
  left: 0;
  top: 5.1rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .bottom-standing-skinny-jeans-HnT {
  width: 6.0605rem;
  height: 9.6288rem;
  position: absolute;
  left: 11.1387rem;
  top: 13.0711rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .head-front-rad-cJw {
  width: 2.6583rem;
  height: 3.7545rem;
  position: absolute;
  left: 6.0458rem;
  top: 4.4002rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .vector-5-YTV {
  width: 7.1rem;
  height: 5.7rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .head-front-short-1-Urw {
  width: 1.56rem;
  height: 3.087rem;
  position: absolute;
  left: 13.4134rem;
  top: 5.5781rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .humaaan-12-pA7 {
  width: 8.236rem;
  height: 14.2608rem;
  position: absolute;
  left: 3.6rem;
  top: 6.9398rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .body-turtle-neck-x1R {
  width: 7.7708rem;
  height: 7.2067rem;
  position: absolute;
  left: 10.2843rem;
  top: 7.8344rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .auto-group-f7w9-2Lj .allez-vous-dans-un-club-de-discussion-samedi-t9y {
  width: 5.3rem;
  height: 2.6rem;
  position: absolute;
  left: 10rem;
  top: 1.1rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #000000;
  font-family: Exo, 'Source Sans Pro';
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .communicative-approach-MZM {
  margin: 0rem 0rem 1rem 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-1--6CB .when-a-student-speaks-80-of-the-lesson-5ET {
  margin-left: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .layer-1-bCo {
  margin: 0rem 0.95rem 1.999rem 0rem;
  width: 16.1999rem;
  height: 20.8007rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-2-Jsu {
  margin: 0rem 5.3rem 5rem 4.25rem;
  width: calc(100% - 9.55rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-2-Jsu .only-modern-authentic-aids-are-used-q79 {
  margin: 0rem 0rem 1rem 0.8rem;
  max-width: 15.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-2-Jsu .carefully-designed-textbooks-contain-material-that-you-can-use-in-your-life-XEs {
  max-width: 21.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-3-oy5 {
  margin: 0rem 5.6rem 6rem 4.65rem;
  box-sizing: border-box;
  padding-top: 1.7305rem;
  width: calc(100% - 10.25rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-3-oy5 .unlock-1-vXu {
  margin-bottom: 1.9004rem;
  width: 20.8002rem;
  height: 24.0691rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-3-oy5 .three-stages-of-training-eyh {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .method-3-oy5 .engagement-study-activation-Nuh {
  margin-left: 0.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3999999653;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .header-our-advantages-JHZ {
  margin: 0rem 0.25rem 3rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-01-d4w {
  margin: 0rem 16.9rem 2rem 0rem;
  width: 13.55rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-01-d4w .auto-group-62wd-8nP {
  margin: 0rem 0.15rem 0.2rem 0rem;
  width: calc(100% - 0.15rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-01-d4w .auto-group-62wd-8nP .item-01-S2P {
  margin: 0.3rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #a0c2e0;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-01-d4w .auto-group-62wd-8nP .individual-offline-and-online-classes-LNf {
  margin-bottom: 0.3rem;
  max-width: 10.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-01-d4w .well-help-you-choose-the-perfect-option-Eiw {
  max-width: 10.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-02-9qu {
  margin: 0rem 1.6rem 2rem 15.55rem;
  width: calc(100% - 17.15rem);
  height: 9.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-02-9qu .item-02-rkK {
  margin: 0.3rem 0.2rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #a0c2e0;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-02-9qu .auto-group-6lsx-aAX {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-02-9qu .auto-group-6lsx-aAX .we-are-located-in-the-heart-of-kyiv-jJK {
  margin-bottom: 0.1rem;
  max-width: 10.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-02-9qu .auto-group-6lsx-aAX .between-lva-tolstogo-metro-station-and-palats-sporta-metro-station-TEK {
  max-width: 10.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-6-MqV {
  margin: 0rem 16.85rem 2rem 0rem;
  width: 14.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-6-MqV .auto-group-f363-VB1 {
  margin: 0rem 1.2rem 0.3rem 0rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-6-MqV .auto-group-f363-VB1 .item-03-1f9 {
  margin: 0.2rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #a0c2e0;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-6-MqV .auto-group-f363-VB1 .native-speakers-as-teachers-vXD {
  margin-bottom: 0.2rem;
  max-width: 9.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-6-MqV .real-stories-about-the-peculiarities-of-french-culture-and-lifestyle-qu5 {
  max-width: 10.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-04-kFM {
  margin: 0rem 3.8rem 2rem 15.5rem;
  width: calc(100% - 19.3rem);
  height: 5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-04-kFM .item-04-fdD {
  margin: 0.3rem 0.55rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #a0c2e0;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-04-kFM .auto-group-flaw-NnX {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-04-kFM .auto-group-flaw-NnX .mini-groups-Kxf {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-04-kFM .auto-group-flaw-NnX .groups-of-up-to-6-people-FrK {
  max-width: 8.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-05-n5Z {
  margin: 0rem 17.1rem 2rem 0rem;
  width: calc(100% - 17.1rem);
  height: 6.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-05-n5Z .item-05-6M9 {
  margin: 0.3rem 0.15rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #a0c2e0;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-05-n5Z .auto-group-e3et-CQB {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-05-n5Z .auto-group-e3et-CQB .conversation-clubs-kgb {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .item-05-n5Z .auto-group-e3et-CQB .every-saturday-at-2-10-pm-offline-at-our-school-gq9 {
  max-width: 10.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-stw9-PzT {
  margin: 0rem 0rem 1rem 1.65rem;
  width: 43.2rem;
  height: 37.4rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-stw9-PzT .hand-uhu {
  width: 36.2rem;
  height: 25.3rem;
  position: absolute;
  left: 7rem;
  top: 12.1rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-stw9-PzT .illustration-near-advantages-EkB {
  width: 8.557rem;
  height: 12.1363rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-stw9-PzT .header-meet-our-teachers-A83 {
  width: 21.5rem;
  height: 6.4rem;
  position: absolute;
  left: 2.6rem;
  top: 24.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6666666667;
  color: #020b2f;
  font-family: Fraunces, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-stw9-PzT .these-people-will-make-learning-enjoyable-interesting-and-engaging-FvB {
  width: 26.8rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 30.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #2d59ab;
  font-family: Ubuntu, 'Source Sans Pro';
}
.main-page-CA7 .auto-group-r3ns-sRu .teacher-hola-8yy {
  margin: 0rem 3.5rem 3rem 2.55rem;
  width: calc(100% - 6.05rem);
  height: 26.5rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .teacher-hola-8yy .rectangle-39-TmM {
  width: 25rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  border: solid 0.1rem #96acd5;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .teacher-hola-8yy .unsplash-ajkyiy6915c-BST {
  width: 13rem;
  height: 13rem;
  position: absolute;
  left: 6rem;
  top: 0;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/unsplash-ajkyiy6915c-bg.png');
  border-radius: 6.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .teacher-hola-8yy .im-margo-i-will-inspire-you-not-only-to-learn-spanish-but-also-to-love-this-country-g8K {
  width: 19.8rem;
  height: 2.8rem;
  position: absolute;
  left: 2.5rem;
  top: 19.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
}
.main-page-CA7 .auto-group-r3ns-sRu .teacher-hola-8yy .hola-YAX {
  width: 3.4rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 15.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj {
  margin: 0rem 3.5rem 3rem 2.55rem;
  width: calc(100% - 6.05rem);
  height: 26.5rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj .teacher-hola-asu {
  width: 25rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  border-radius: 1.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj .teacher-hola-asu .teacher-hola-7N3 {
  box-sizing: border-box;
  padding: 10rem 3rem 2.3rem 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #96acd5;
  border-radius: 1.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj .teacher-hola-asu .teacher-hola-7N3 .bonjour-c3u {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj .teacher-hola-asu .teacher-hola-7N3 .my-name-is-toma-im-french-teacher-always-ready-to-answer-any-questions-to-recommend-french-artists-movies-books-hr3 {
  max-width: 19.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-7n2x-Faj .unsplash-ohkelokq3re-6tB {
  width: 13rem;
  height: 13rem;
  position: absolute;
  left: 6rem;
  top: 0;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/unsplash-ohkelokq3re-bg.png');
  border-radius: 6.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ {
  margin: 0rem 3.5rem 2.5rem 2.55rem;
  width: calc(100% - 6.05rem);
  height: 26.5rem;
  position: relative;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ .teacher-hola-3S3 {
  width: 25rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  border-radius: 1.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ .teacher-hola-3S3 .teacher-hola-MBq {
  box-sizing: border-box;
  padding: 9.1rem 2.9rem 3.2rem 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #96acd5;
  border-radius: 1.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ .teacher-hola-3S3 .teacher-hola-MBq .hallo-freunde-Syy {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #bf192c;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ .teacher-hola-3S3 .teacher-hola-MBq .do-you-want-to-talk-about-young-german-writers-its-up-to-me-im-lola-and-i-am-your-german-teacher-wvj {
  max-width: 19.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .auto-group-xqwh-9bZ .unsplash-p7zgmc33s0u-mum {
  width: 13rem;
  height: 13rem;
  position: absolute;
  left: 6rem;
  top: 0;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/unsplash-p7zgmc33s0u-bg.png');
  border-radius: 6.5rem;
}
.main-page-CA7 .auto-group-r3ns-sRu .button-read-me-gmq {
  margin-left: 16.35rem;
  box-sizing: border-box;
  padding-left: 0.85rem;
  width: 11.7rem;
  height: 2.7rem;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .button-read-me-gmq .button-read-more-Qhq {
  box-sizing: border-box;
  padding-right: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-page-CA7 .auto-group-r3ns-sRu .button-read-me-gmq .button-read-more-Qhq .read-more-MNB {
  margin: 0rem 0.15rem 0.7rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  text-decoration-line: underline;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .auto-group-r3ns-sRu .button-read-me-gmq .button-read-more-Qhq .button-read-more-KiK {
  margin-bottom: 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK {
  box-sizing: border-box;
  padding: 1.7rem 2.6rem 1rem 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2d59ab;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-8ajv-LNX {
  margin: 0rem 3rem 1.4rem 0rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-8ajv-LNX .about-us-GGB {
  margin-right: 9.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-8ajv-LNX .our-courses-xeo {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-ytkb-tHZ {
  margin: 0rem 7.5rem 1.4rem 0rem;
  width: calc(100% - 7.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-ytkb-tHZ .our-teachers-1d5 {
  margin: 0.1rem 7.2rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-ytkb-tHZ .spanish-jJB {
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-wcrh-rtb {
  margin: 0rem 7.3rem 1.4rem 0rem;
  width: calc(100% - 7.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-wcrh-rtb .blog-Bvs {
  margin: 0.1rem 12.5rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-wcrh-rtb .german-7Zd {
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-6jvu-eJf {
  margin-right: 8.1rem;
  width: calc(100% - 8.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-6jvu-eJf .certificates-ay1 {
  margin: 0.1rem 8.1rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-6jvu-eJf .french-hXq {
  margin-bottom: 0.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-zfet-E1y {
  margin-bottom: 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-zfet-E1y .conversation-club-a5q {
  margin-right: 13.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4000000272;
  color: #ffffff;
  font-family: Ubuntu, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-zfet-E1y .button-arrow-J1q {
  width: 3rem;
  height: 5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .do-you-have-a-questions-D8o {
  margin: 0rem 0rem 1.1rem 1.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .button-trial-lesson-hover-vZ1 {
  margin: 0rem 6.6rem 1.8rem 7.8rem;
  width: calc(100% - 14.4rem);
  height: 4rem;
  cursor: pointer;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .button-trial-lesson-hover-vZ1 .button-trial-lesson-hover-3dd {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.main-page-CA7 .footer-3eK .welcomecatchmegmailcom-JZZ {
  margin: 0rem 15.2rem 0.1rem 0rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-1q6f-p27 {
  margin: 0rem 2.8rem 0.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-1q6f-p27 .item-38-096-365-72-21-94P {
  margin-right: 11.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-1q6f-p27 .vector-3vT {
  margin-right: 2.4rem;
  width: 1.8rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .auto-group-1q6f-p27 .group-PjR {
  margin-bottom: 0.2rem;
  width: 0.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .shota-rustaveli-str-kyiv-ukraine-jHV {
  margin: 0rem 13rem 2.5rem 0rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-CA7 .footer-3eK .catch-me-all-right-reserved-Ezw {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
