
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-page-xMH {
  width: 100%;
  height: 501.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.main-page-xMH .auto-group-b86x-h3y {
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 20rem;
  background-color: #bebebe;
}
.main-page-xMH .auto-group-b86x-h3y .group-6-p8b {
  width: 47.3rem;
  height: 7rem;
  position: absolute;
  left: 8rem;
  top: 59.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
}
.main-page-xMH .auto-group-b86x-h3y .rectangle-10-Uyq {
  width: 63.8rem;
  height: 56.8rem;
  position: absolute;
  left: 69.3rem;
  top: 9.9rem;
  background-color: #d9d9d9;
}
.main-page-xMH .auto-group-b86x-h3y .vector-1-1Ty {
  width: 50.65rem;
  height: 46.15rem;
  position: absolute;
  left: 77.1rem;
  top: 14.95rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-xMH .auto-group-b86x-h3y .shuttle-school-wcX {
  width: 78rem;
  height: 13.1rem;
  position: absolute;
  left: 6.3rem;
  top: 25.1rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-xMH .auto-group-cauk-yJK {
  width: 144rem;
  height: 112.2rem;
  position: absolute;
  left: 0;
  top: 105.3rem;
}
.main-page-xMH .auto-group-cauk-yJK .rectangle-18-J5h {
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 32.2rem;
  background-color: #bebebe;
}
.main-page-xMH .auto-group-cauk-yJK .item--2nP {
  width: 4.9rem;
  height: 15.6rem;
  position: absolute;
  left: 16.9rem;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .auto-group-cauk-yJK .item--LYB {
  width: 4.9rem;
  height: 15.6rem;
  position: absolute;
  left: 127.7rem;
  top: 18.4rem;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .auto-group-cauk-yJK .item--eYs {
  width: 79.1rem;
  height: 14.6rem;
  position: absolute;
  left: 35.9rem;
  top: 8.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-xMH .auto-group-cauk-yJK .item-2020--TWK {
  width: 125rem;
  height: 17rem;
  position: absolute;
  left: 10.1rem;
  top: 49.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-xMH .auto-group-cauk-yJK .item--HJK {
  width: 119.4rem;
  height: 14.6rem;
  position: absolute;
  left: 12.2rem;
  top: 76.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-xMH .auto-group-cauk-yJK .vector-146-Jo5 {
  width: 128.0743rem;
  height: 34.2127rem;
  position: absolute;
  left: 4.9584rem;
  top: 68.9094rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-xMH .auto-group-cauk-yJK .vector-147-zvo {
  width: 29.8061rem;
  height: 24.3633rem;
  position: absolute;
  left: 80.6645rem;
  top: 69.7805rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-xMH .auto-group-cauk-yJK .vector-148-jdV {
  width: 9.9388rem;
  height: 3.3077rem;
  position: absolute;
  left: 72.852rem;
  top: 98.3563rem;
  object-fit: contain;
  vertical-align: top;
}
.main-page-xMH .auto-group-1ca7-T3h {
  box-sizing: border-box;
  padding: 14.7rem 19.9rem 21.7rem 15.2rem;
  width: 144rem;
  height: 80rem;
  position: absolute;
  left: 0;
  top: 294.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #bebebe;
}
.main-page-xMH .auto-group-1ca7-T3h .item--LNP {
  margin: 0rem 3.9rem 12.6rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-f5pp-eP5 {
  margin-bottom: 4.9rem;
  width: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-f5pp-eP5 .rectangle-20-B87 {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-f5pp-eP5 .rectangle-21-KVD {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-f5pp-eP5 .rectangle-22-4xb {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-hqbm-cjD {
  margin: 0rem 19rem 0rem 19.3rem;
  width: calc(100% - 38.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-hqbm-cjD .rectangle-23-9j9 {
  margin-right: 4.4rem;
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-1ca7-T3h .auto-group-hqbm-cjD .rectangle-24-uCX {
  width: 33.1rem;
  height: 10.6rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .item--qby {
  width: 19.4rem;
  height: 4.9rem;
  position: absolute;
  left: 58.5rem;
  top: 227rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .item--L2w {
  width: 22.5rem;
  height: 4.9rem;
  position: absolute;
  left: 56.8rem;
  top: 387.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .item--RaB {
  width: 35.3rem;
  height: 4.9rem;
  position: absolute;
  left: 12.4rem;
  top: 404.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .item--Jdy {
  width: 25rem;
  height: 4.9rem;
  position: absolute;
  left: 12.4rem;
  top: 413.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .auto-group-cnbd-PfR {
  box-sizing: border-box;
  padding: 1.3rem 16.6rem 20.1rem 12.4rem;
  width: 144rem;
  height: 35.5rem;
  position: absolute;
  left: 0;
  top: 418.8rem;
}
.main-page-xMH .auto-group-cnbd-PfR .auto-group-3g3v-hg7 {
  margin-bottom: 2.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.main-page-xMH .auto-group-cnbd-PfR .auto-group-3g3v-hg7 .e-mail-Fhd {
  margin: 1.5rem 62.8rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-cnbd-PfR .auto-group-3g3v-hg7 .item--ytX {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-page-xMH .auto-group-cnbd-PfR .item--H8X {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .group-8-PxF {
  box-sizing: border-box;
  padding: 4.2rem 5.9rem 4.2rem 8.4rem;
  width: 144rem;
  height: 47.4rem;
  position: absolute;
  left: 0;
  top: 454.3rem;
  display: flex;
  align-items: center;
  background-color: #bebebe;
}
.main-page-xMH .group-8-PxF .auto-group-teaf-6bm {
  margin: 13.5rem 4.6rem 10.9rem 0rem;
  width: 33.6rem;
  height: calc(100% - 24.4rem);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX {
  margin-right: 4.8rem;
  width: 23rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .auto-group-xfw9-Vto {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 7.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .rectangle-29-yoy {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .rectangle-30-XKh {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .rectangle-31-sPZ {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .rectangle-32-DTR {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-qa91-ArX .rectangle-33-ZXH {
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT {
  margin-right: 4.6rem;
  width: 23rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .auto-group-ouou-4D9 {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 1.3rem 0.4rem 1.2rem 2.5rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .rectangle-35-Yu1 {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .rectangle-36-J7V {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .rectangle-37-eSF {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .rectangle-38-Cif {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-4nf5-KWT .rectangle-39-kEP {
  width: 100%;
  height: 5.4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-kbdd-6Z9 {
  margin: 10rem 5.6rem 13.1rem 0rem;
  width: 30.4rem;
  height: calc(100% - 23.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-kbdd-6Z9 .auto-group-j8tt-RLX {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 7.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .auto-group-kbdd-6Z9 .auto-group-cvyu-6Bm {
  width: 100%;
  height: 7.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-page-xMH .group-8-PxF .arrow-1-Byu {
  margin-top: 0.5rem;
  width: 0.1rem;
  height: 27.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-page-xMH .zoom-6-3-4--WmH {
  width: 85.1rem;
  height: 53.4rem;
  position: absolute;
  left: 17.4rem;
  top: 234.6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.main-page-xMH .group-7-Zd5 {
  box-sizing: border-box;
  padding: 6.5rem 5.1rem 6.5rem 4.8rem;
  width: 144rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.main-page-xMH .group-7-Zd5 .group-1-s7y {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-xMH .group-7-Zd5 .group-2-mDM {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-xMH .group-7-Zd5 .group-3-4y9 {
  margin-right: 3rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-xMH .group-7-Zd5 .group-4-Zuu {
  margin-right: 2.2rem;
  width: 18.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-page-xMH .group-7-Zd5 .group-4-Zuu .rectangle-6-vEf {
  width: 17.8rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #959595;
}
.main-page-xMH .group-7-Zd5 .group-4-Zuu .item--4rf {
  width: 17.9rem;
  height: 3rem;
  position: absolute;
  left: 0.7rem;
  top: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.main-page-xMH .group-7-Zd5 .group-5-Ymq {
  margin-right: 6.6rem;
  width: 17.8rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #959595;
  flex-shrink: 0;
}
.main-page-xMH .group-7-Zd5 .auto-group-zyku-f5m {
  margin: 0.5rem 0rem 0.6rem 0rem;
  width: 26.5rem;
  height: calc(100% - 1.1rem);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #614040;
  flex-shrink: 0;
}
