.payment-section {
  text-align: center;
  margin: 0 auto;
  padding: 8rem 5.6%;
  font-family: "Exo 2", sans-serif;
}

.payment-section h2 {
  font-size: 3.9rem;
  font-weight: 700;
  color: black;
  margin-bottom: 5.5rem;
}

.payment-section .flex-row {
  margin-top: 5rem;
  border-top: 4px solid #5a808a;
  padding-top: 3rem;
  width: 100%;
  justify-content: center;
}

.payment-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.payment-card {
  box-sizing: inherit;
  border: 3px solid #5a808a;
  border-radius: 5px;
  background-color: #edecea;
  padding: 3.5rem;
  flex-basis: calc(33.333% - 2rem);
  box-sizing: border-box; /* Включает внутренние отступы и границы в общую ширину элемента */
  /* margin-bottom: 2rem; */
  font-family: "Exo 2", sans-serif;
  cursor: pointer;
}

.payment-card:hover {
  background-color: #dee6e8;
}

.payment-card .discount-note {
  margin: 1rem 0;
}

.payment-card .name {
  font-size: 1.9rem;
}
.payment-card .price {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 4.1rem;
  margin-bottom: 0.5rem;
}
.payment-card .duration {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.payment-card .quantity {
  font-size: 1.9rem;
}

/* Стили для обертки и текста */
.custom-checkbox {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  user-select: none;
  font-size: 2.4rem;
  text-align: left;
}

/* Скрываем стандартный чекбокс */
.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

/* Создаем кастомный чекбокс */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: 4px;
}

/* Стиль для чекбокса при наведении */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Стиль для чекбокса, когда он выбран */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Создаем индикатор галочки в чекбоксе */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Отображаем галочку, когда чекбокс выбран */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Стили для галочки */
.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .payment-section {
    padding: 6rem 5.6%;
  }
  .payment-card {
    flex-basis: calc(
      50% - 3rem
    ); /* Для меньших экранов, делаем карточки шире */
  }
}

@media (max-width: 480px) {
  .payment-section {
    padding: 3rem 5.6%;
  }
  .payment-section h2 {
    margin-bottom: 3rem;
  }
  .payment-card {
    flex-basis: 100%; /* На очень маленьких экранах, карточка занимает всю ширину */
    padding: 2rem;
  }
  .payment-cards {
    gap: 2rem;
  }
}
