.payment-section {
  text-align: center;
  margin: 5rem auto;
  padding: 0 5.6%;
  font-family: "Exo", sans-serif;
}

.payment-section h2 {
  font-size: 3.6rem;
  color: black;
  margin-bottom: 5rem;
}

.payment-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.payment-card {
  box-sizing: inherit;
  border: 3px solid #5a808a;
  border-radius: 5px;
  background-color: #edecea;
  padding: 2rem;
  flex-basis: calc(
    33.333% - 3rem
  ); /* Определяет начальный размер карточки, минус зазор */
  box-sizing: border-box; /* Включает внутренние отступы и границы в общую ширину элемента */
  margin-bottom: 2rem;
  font-family: "Exo", sans-serif;
  cursor: pointer;
}

.payment-card:hover {
  background-color: #dee6e8;
}

.payment-card p {
  margin: 1rem 0;
}

.payment-card .name {
  font-size: 1.8rem;
}
.payment-card .price {
  font-weight: 700;
  font-size: 4rem;
}
.payment-card .duration {
  font-size: 1.2rem;
}
.payment-card .quantity {
  font-size: 1.8rem;
}

.discount-note {
  border-top: 3px solid #5a808a;
  margin-top: 5rem;
  padding-top: 3rem;
  font-family: Helvetica Neue, "Source Sans Pro";
  font-size: 2.4rem;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .payment-card {
    flex-basis: calc(
      50% - 3rem
    ); /* Для меньших экранов, делаем карточки шире */
  }
}

@media (max-width: 480px) {
  .payment-card {
    flex-basis: 100%; /* На очень маленьких экранах, карточка занимает всю ширину */
  }
}
