
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.pop-up-form-for-registration-for-a-trial-lesson-UQK {
  width: 100%;
  height: 58rem;
  position: relative;
  background-color: #ffffff;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 {
  width: 30rem;
  height: 50.5rem;
  position: absolute;
  left: 2rem;
  top: 7.5rem;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .plant-LSX {
  width: 28rem;
  height: 45.2rem;
  position: absolute;
  left: 2rem;
  top: 5.3rem;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .signing-up-for-a-trial-lesson-59D {
  width: 20.5rem;
  height: 8.4rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .input-your-name-MMd {
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 1.2rem 2.8rem;
  width: 28rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 21.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #78a8d3;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .input-your-name-MMd .your-name-S8B {
  margin-right: 14.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .input-your-name-MMd .vector-ZTh {
  margin-top: 0.1rem;
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .input-your-name-U4s {
  box-sizing: border-box;
  padding: 1.1rem 2.8rem 1.2rem 2.8rem;
  width: 28rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 15.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #78a8d3;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .auto-group-gegb-D71 .button-trial-lesson-hover-uvs {
  width: 28rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 28.4rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d59ab;
  border-radius: 0.5rem;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .input-your-name-Abu {
  box-sizing: border-box;
  padding: 1.1rem 2.8rem 1.2rem 2.8rem;
  width: 28rem;
  height: 4rem;
  position: absolute;
  left: 2rem;
  top: 17.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #020b2f;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #78a8d3;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.pop-up-form-for-registration-for-a-trial-lesson-UQK .clarity-window-close-line-CoV {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 27.9934rem;
  top: 2.0055rem;
  object-fit: contain;
  vertical-align: top;
}
