.promo {
  display: flex;
  padding-bottom: 5rem;
  gap: 5rem;
  padding-left: 5.6%;
  margin: 0;
}

.promo-content {
  flex-basis: 50%;
}

.promo-content h1 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.promo-content h2 {
  font-family: Helvetica Neue, "Source Sans Pro";
  color: #5a808a;
  font-size: 3rem;
  font-weight: 700; /* Жирное начертание */
  margin-bottom: 2rem;
}

.promo-content p {
  font-family: Helvetica Neue, "Source Sans Pro";
  color: black;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.promo .trial-button {
  box-sizing: border-box;
  background-color: #ff9bab;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 5px;
  width: 45rem;
  height: 8rem;
  margin-top: 2rem;
}

.promo .trial-button:hover {
  background-color: #f4667d;
}

.promo-img-desktop {
  width: 65%;
  height: auto;
}
.promo-img-desktop img {
  max-width: 110%;
  height: auto;
  margin-left: -15%;
}

.promo-img-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.promo-img-mobile img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.promo-img-desktop {
  display: block; /* Показываем на больших экранах */
}

.promo-img-mobile {
  display: none; /* Скрываем на больших экранах */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .promo {
    flex-direction: column; /* Элементы в колонку на маленьких экранах */
    padding: 3rem 1rem;
    gap: 2rem;
    margin-top: 0rem;
    background-image: url("../assets/promo/promo_background_mobile.png");
    background-position: center 8rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo-content {
    display: flex;
    flex-direction: column; /* Элементы в колонку на маленьких экранах */
  }

  .promo-content,
  .promo-img {
    flex-basis: 100%; /* Элементы занимают всю ширину */
  }

  .promo-content h1 {
    font-size: 2.6rem; /* Уменьшаем размер заголовка */
    margin-bottom: 2rem;
    text-align: center;
    order: 1;
  }

  .promo-content h2 {
    font-size: 1.8rem; /* Уменьшаем размер подзаголовка */
    margin-bottom: 2rem;
    order: 3;
  }

  .promo-content p {
    font-size: 1.6rem; /* Уменьшаем размер текста */
    order: 4;
  }

  .promo .trial-button {
    width: 80%; /* Кнопка на всю ширину */
    height: auto;
    font-size: 1.5rem; /* Уменьшаем размер шрифта кнопки */
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }

  .promo-img-desktop {
    display: none; /* Показываем на больших экранах */
  }

  .promo-img-mobile {
    display: flex; /* Скрываем на больших экранах */
    order: 1;
  }
}

@media (max-width: 470px) {
  .promo {
    background-size: contain;
  }

  .promo-content h1 {
    font-size: 2.2rem; /* Уменьшаем размер заголовка */
  }

  .promo-content h2 {
    font-size: 1.5rem; /* Уменьшаем размер подзаголовка */
    text-align: center;
    font-weight: 700;
  }

  .promo-content p {
    font-size: 1.5rem; /* Уменьшаем размер текста */
  }
}
