.promo {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: -3px;
}

.promo .breadcrumb-nav {
  text-align: left;
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: black;
  margin: 1rem 0;
  position: absolute;
  left: 5.6%;
  top: 4rem;
}

.promo .breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.promo .breadcrumb-item {
  margin-right: 1rem; /* Расстояние между элементами, необходимо уточнить */
}

.promo .breadcrumb-item a {
  text-decoration: none;
  color: inherit;
}

.promo .breadcrumb-item--active {
  font-weight: normal;
  pointer-events: none;
}

/* Добавляем стрелку для всех элементов кроме последнего */
.promo .breadcrumb-item:not(:last-child)::after {
  content: "›";
  font-size: 1.8rem;
  margin-left: 1rem; /* Расстояние до стрелки, необходимо уточнить */
  color: black; /* Цвет стрелки, необходимо уточнить */
}

.promo-content {
  position: relative;
}

.promo-content h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 3.5vw;
  line-height: 4.3vw;
  position: absolute;
  top: 19%;
  left: 5.6%;
}

.promo-content .promo-prefer-list {
  position: absolute;
  top: 35%;
  left: 5.6%;
}

.promo-content .promo-prefer-item {
  font-weight: 400;
  color: #5a808a;
  font-size: 1.6vw;
  margin-top: 0.6rem;
}

.promo-content .text-desktop {
  color: black;
  font-size: 1.7vw;
  font-weight: 400;
  line-height: 2vw;
  position: absolute;
  top: 49%;
  left: 5.6%;
}

.promo-content .text-mobile {
  display: none;
}

.promo .trial-button {
  box-sizing: border-box;
  background-color: #ff9bab;
  color: black;
  font-size: 1.7vw;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 5px;
  width: 31vw;
  height: 5.5vw;
  margin-top: 2rem;
  position: absolute;
  top: 61%;
  left: 5.6%;
}

.promo .trial-button:hover {
  background-color: #f4667d;
}

.promo-img-desktop {
  width: 100%;
  height: auto;
  display: block; /* Показываем на больших экранах */
}
.promo-img-desktop img {
  width: 100%;
  height: auto;
}

.promo-img-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Скрываем на больших экранах */
}
.promo-img-mobile img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .promo .breadcrumb-nav {
    display: none;
  }
  .promo-img-desktop {
    display: none;
  }

  .promo-img-mobile {
    display: block;
  }

  .promo-content h1 {
    font-size: 2.3rem;
    position: relative;
    text-align: center;
    margin-top: 3rem;
    top: 0;
    left: 0;
    line-height: normal;
  }

  .promo-content .promo-prefer-list {
    display: none;
  }

  .promo-content .text-desktop {
    display: none;
  }

  .promo-content .text-mobile {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #5a808a;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 5.6%;
    line-height: 1.4;
  }

  .promo .trial-button {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    width: 80%;
    height: 4rem;
    margin-top: 2rem;
    position: relative;
    top: 0;
    left: 0;
    display: flex; /* Сделать контейнер flex */
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
    margin: 3rem auto;
  }
}
