.quote {
  background-color: #edecea; /* Цвет фона для секции отзывов */
  text-align: center; /* Выравнивание текста по центру */
  padding: 3rem 5.6%;
  /* padding-bottom: 14rem; */
}

.quote .quote-box {
  margin: 0 auto; /* Центрирование отзывов */
  max-width: 100rem; /* Максимальная ширина блока отзыва */
}

.quote blockquote {
  color: black; /* Цвет текста отзыва */
  margin: 2rem 0; /* Отступы сверху и снизу отзыва */
}

.quote .quotation-mark {
  position: relative;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  line-height: 18rem;
  font-size: 13rem;
  color: #ff9bab;
  margin-bottom: -10rem;
  margin-top: -5rem;
}

.quote .text-quote {
  position: relative;
  margin-bottom: 3rem;
  font-family: Helvetica Neue, "Source Sans Pro";
  font-weight: 400;
  line-height: 4.2rem;
  font-size: 3rem;
}
.quote .text-quote::after {
  content: "";
  position: absolute;
  bottom: -1.5rem; /* Положение линии под текстом цитаты */
  left: 50%; /* Центрирование линии */
  transform: translateX(-50%);
  width: 50%; /* Ширина линии */
  height: 3px; /* Толщина линии */
  background: #ff9bab; /* Цвет линии */
}

.quote cite {
  font-style: normal;
  display: block; /* Блочное отображение для имени автора */
  margin-top: 1rem; /* Отступ сверху для имени автора */
  font-size: 2.4rem;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .quote {
    padding-top: 0rem;
  }

  .quote .text-quote {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .quote cite {
    font-size: 1.4rem;
  }

  .quote .quotation-mark {
    font-size: 10rem;
  }
}
