/* Устанавливаем box-sizing для всех элементов */
.rates {
  margin: 0 auto;
  padding: 5rem 5.6%;
  padding-top: 20rem; /* Замените на реальное значение */
  margin-top: -12rem; /* Такое же значение, но с отрицательным знаком */
}

.rates-title {
  font-family: "Exo 2", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 1.5rem;
}

.rates-description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 6rem;
  text-align: center;
}

.rates-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem; /* Расстояние между карточками */
  margin: 0 auto;
  max-width: 100%; /* Максимальная ширина контейнера для центровки */
  box-sizing: border-box; /* Учитываем padding и border в ширине элемента */
}

.rate-card {
  background: #edecea;
  border-radius: 5px;
  padding: 2.5rem 3.6rem;
  padding-bottom: 3.5rem;
  width: 100%;
  color: black;
  margin: 0 auto;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
}

.rate-header {
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
  background: #7eb5c3;
  border-radius: 5px;
  padding: 5rem 1rem;
}

.rate-title {
  font-size: 1.9rem;
  font-weight: 500;
}

.rate-price {
  font-family: "Exo 2", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.rate-duration {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.rate-details {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.rate-details li {
  margin-bottom: 0.9rem;
  padding: 1rem;
  padding-left: 4rem;
  text-align: left; /* Выравнивает текст элементов списка по левому краю */
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
}

.rate-details li::before {
  content: ""; /* Указываем путь к вашей иконке */
  display: block; /* Делаем псевдоэлемент строчно-блочным элементом */
  position: absolute;
  width: 1.9rem; /* Задаем ширину иконки */
  height: 1.9rem; /* Задаем высоту иконки */
  background-image: url("../assets/list-marker.svg");
  background-size: contain; /* Масштабируем изображение, чтобы оно занимало всю доступную площадь */
  background-repeat: no-repeat; /* Запрещаем повторение изображения */
  left: 0rem;
  top: 1rem;
  align-items: center;
}

.rate-signup {
  background: #d9ae4f;
  color: black;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  font-weight: 500;
  width: 75%;
  height: 5.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -1rem;
}

.rate-signup:hover {
  background: #cd961c;
}

.payment {
  margin-top: 5rem;
}

.rates .button {
  font-size: 1.8rem;
  max-width: 25rem;
  height: 5.5rem;
  color: #000000;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  border: none; /* Убирает границу */
  margin-left: auto;
  margin-right: auto;
  text-decoration: none; /* Убирает подчеркивание текста */
}

.rates .pay-button {
  background-color: #ff9bab;
  color: #000;
}

.rates .pay-button:hover {
  background-color: #f4667d;
}

.rates .icon-mastercard {
  width: 2.5rem; /* или другой размер, который подходит */
  height: auto;
  vertical-align: middle;
}

.rates .icon-visa {
  width: 4rem; /* или другой размер, который подходит */
  height: auto;
  vertical-align: middle;
  margin-left: 1rem;
}

.rates .icon-mastercard {
  margin-left: 1rem;
}

/* Добавьте сюда любые медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  .rates {
    padding-bottom: 0;
    padding-top: 13rem; /* Замените на реальное значение */
    margin-top: -8rem; /* Такое же значение, но с отрицательным знаком */
  }

  .rate-card {
    max-width: 100%;
  }

  .payment {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .rates {
    padding-top: 9rem; /* Замените на реальное значение */
    margin-top: -6rem; /* Такое же значение, но с отрицательным знаком */
  }

  .rate-card {
    padding: 2rem;
  }
  .rates-title {
    font-size: 2.2rem;
  }
  .rates-description {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .rate-header {
    padding: 3rem 1rem;
  }
  .rate-title {
    font-size: 1.5rem;
  }

  .rate-price {
    font-size: 3.2rem;
  }

  .rate-duration {
    font-size: 1.2rem;
  }

  .rate-details {
    margin-bottom: 0.5rem;
  }

  .rate-details li {
    font-size: 1.2rem;
  }
  .rate-signup {
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 0;
  }

  .rates .button {
    display: none;
  }
}
