/* Устанавливаем box-sizing для всех элементов */
.rates {
  margin: 5rem auto;
  padding: 0 5.6%;
}

.rates-title {
  font-family: "Exo", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}

.rates-description {
  font-family: Helvetica Neue, "Source Sans Pro";
  font-size: 1.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.rates-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem; /* Расстояние между карточками */
  margin: 0 auto;
  max-width: 100%; /* Максимальная ширина контейнера для центровки */
  box-sizing: border-box; /* Учитываем padding и border в ширине элемента */
}

.rate-card {
  background: #edecea;
  border-radius: 5px;
  padding: 3rem;
  width: 100%;
  color: black;
  margin: 0 auto;
  margin-bottom: 1rem; /* Отступ снизу для всех карточек */
  display: flex;
  flex-direction: column;
}

.rate-header {
  font-family: "Exo", sans-serif;
  text-align: center;
  margin: 1rem 0;
  background: #7eb5c3;
  border-radius: 5px;
  padding: 5rem 1rem;
}

.rate-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.rate-price {
  font-size: 4rem;
  font-weight: bold;
}

.rate-duration {
  font-size: 1.2rem;
}

.rate-details {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.rate-details li {
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left; /* Выравнивает текст элементов списка по левому краю */
  font-size: 1.8rem;
}

.rate-details li::before {
  content: url("../assets/list-marker.png"); /* Указываем путь к вашей иконке */
  display: inline-block; /* Делаем псевдоэлемент строчно-блочным элементом */
  width: 1.8rem; /* Задаем ширину иконки */
  height: 1.8rem; /* Задаем высоту иконки */
  margin-right: 2rem; /* Добавляем отступ справа для текста */
  vertical-align: middle; /* Выравнивание иконки по центру относительно текста */
}

/* Пример пути к иконке: url('/images/list-icon.png') */

.rate-signup {
  background: #d9ae4f;
  color: black;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  font-weight: 400;
  width: 75%;
  height: 5rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.rate-signup:hover {
  background: #cd961c;
}

.payment {
  margin-top: 5rem;
}

.rates .button {
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica Neue, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
  border: none; /* Убирает границу */
  margin-left: auto;
  margin-right: auto;
  text-decoration: none; /* Убирает подчеркивание текста */
}

.rates .pay-button {
  background-color: #ff9bab;
  color: #000;
}

.rates .pay-button:hover {
  background-color: #f4667d;
}

.rates .icon-mastercard {
  width: 2.5rem; /* или другой размер, который подходит */
  height: auto;
  vertical-align: middle;
}

.rates .icon-visa {
  width: 4rem; /* или другой размер, который подходит */
  height: auto;
  vertical-align: middle;
  margin-left: 1rem;
}

.rates .icon-mastercard {
  margin-left: 1rem;
}

/* Добавьте сюда любые медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  .rate-card {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .rate-card {
    padding: 2rem;
  }
  .rates-title {
    font-size: 2.2rem;
  }
  .rates-description {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .rate-header {
    padding: 3rem 1rem;
  }
  .rate-title {
    font-size: 1.5rem;
  }

  .rate-price {
    font-size: 3.2rem;
  }

  .rate-duration {
    font-size: 1.2rem;
  }

  .rate-details {
    margin-bottom: 0.5rem;
  }

  .rate-details li {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .rate-signup {
    font-size: 1.5rem;
    height: 4rem;
  }
}
