
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82.2rem;
}.screenshot-2023-07-21-at-1458-jVd {
  width: 100%;
  height: 37.2rem;
  object-fit: cover;
  vertical-align: top;
}
