
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.typography-bKy {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #cdcbc9;
}
.typography-bKy .auto-group-teu1-8ao {
  width: 106.2083rem;
  height: 88.5744rem;
  position: absolute;
  left: 16.64rem;
  top: 17.954rem;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--2RH {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 0.1345rem;
  top: 53.5313rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--rv7 {
  width: 7.2rem;
  height: 11.7rem;
  position: absolute;
  left: 0;
  top: 46.7087rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--udV {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 0.6906rem;
  top: 39.6119rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--k8K {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 2.4156rem;
  top: 33.138rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--6Lb {
  width: 5.8rem;
  height: 11.7rem;
  position: absolute;
  left: 4.9992rem;
  top: 27.6319rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--YyH {
  width: 7.3rem;
  height: 11.7rem;
  position: absolute;
  left: 7.833rem;
  top: 22.3764rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--DZd {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 12.0838rem;
  top: 17.1181rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--HpP {
  width: 9.5rem;
  height: 11.7rem;
  position: absolute;
  left: 16.9262rem;
  top: 11.9952rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--mDm {
  width: 7.2rem;
  height: 11.7rem;
  position: absolute;
  left: 23.9029rem;
  top: 7.4425rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--Ed9 {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 31.0174rem;
  top: 4.1808rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--7B9 {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 37.8473rem;
  top: 1.953rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--BB1 {
  width: 6.7rem;
  height: 11.7rem;
  position: absolute;
  left: 52.8292rem;
  top: 0;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--FRm {
  width: 6.7rem;
  height: 11.7rem;
  position: absolute;
  left: 64.9628rem;
  top: 1.8776rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--vH1 {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 70.5771rem;
  top: 4.039rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--PgP {
  width: 7.2rem;
  height: 11.7rem;
  position: absolute;
  left: 75.6571rem;
  top: 6.9352rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--4Xd {
  width: 5.3rem;
  height: 11.7rem;
  position: absolute;
  left: 80.6921rem;
  top: 10.2699rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--WuR {
  width: 8.1rem;
  height: 11.7rem;
  position: absolute;
  left: 84.3625rem;
  top: 14.3201rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--aeP {
  width: 7.2rem;
  height: 11.7rem;
  position: absolute;
  left: 88.6654rem;
  top: 19.6275rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--qqD {
  width: 6.3rem;
  height: 11.7rem;
  position: absolute;
  left: 92.5582rem;
  top: 25.2041rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--WwM {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 95.162rem;
  top: 30.8379rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--awD {
  width: 7.2rem;
  height: 11.7rem;
  position: absolute;
  left: 97.2577rem;
  top: 37.2494rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--TVD {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 98.8543rem;
  top: 44.4666rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--Xjy {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 99.2083rem;
  top: 51.2115rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .copy-10--zdZ {
  width: 4.5rem;
  height: 11.7rem;
  position: absolute;
  left: 98.7316rem;
  top: 56.3576rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM {
  width: 79.8254rem;
  height: 40.1239rem;
  position: absolute;
  left: 12.7832rem;
  top: 17.9794rem;
  display: flex;
  align-items: center;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb {
  margin: 0.59rem 0.023rem 1.718rem 0rem;
  width: 38.8133rem;
  height: calc(100% - 2.3079rem);
  position: relative;
  flex-shrink: 0;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--FT1 {
  width: 4.1rem;
  height: 11.7rem;
  position: absolute;
  left: 0;
  top: 26.116rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--YBD {
  width: 5rem;
  height: 11.7rem;
  position: absolute;
  left: 1.2813rem;
  top: 22.3509rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--26P {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 5.232rem;
  top: 15.0314rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--WGT {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 9.3904rem;
  top: 10.5681rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--CQB {
  width: 7.5rem;
  height: 11.7rem;
  position: absolute;
  left: 14.2623rem;
  top: 6.6869rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--h63 {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 19.9516rem;
  top: 3.6019rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--C2o {
  width: 6.3rem;
  height: 11.7rem;
  position: absolute;
  left: 25.7727rem;
  top: 1.4406rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-sja7-YYb .copy-10--VGo {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 31.7133rem;
  top: 0;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ {
  width: 40.9887rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--jS3 {
  width: 8.8rem;
  height: 11.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--dXR {
  width: 6.8rem;
  height: 11.7rem;
  position: absolute;
  left: 6.7079rem;
  top: 0.6272rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--KQF {
  width: 6.4rem;
  height: 11.7rem;
  position: absolute;
  left: 14.3504rem;
  top: 3.2001rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--1H5 {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 18.3952rem;
  top: 5.7696rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--ge7 {
  width: 6.7rem;
  height: 11.7rem;
  position: absolute;
  left: 22.7653rem;
  top: 9.3384rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--N19 {
  width: 7rem;
  height: 11.7rem;
  position: absolute;
  left: 26.653rem;
  top: 13.4767rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--qQX {
  width: 6.2rem;
  height: 11.7rem;
  position: absolute;
  left: 29.8197rem;
  top: 17.9419rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--KqV {
  width: 7.1rem;
  height: 11.7rem;
  position: absolute;
  left: 32.2653rem;
  top: 22.8567rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .auto-group-teu1-8ao .linked-path-group-2KM .auto-group-yy4t-zDZ .copy-10--d5V {
  width: 6.7rem;
  height: 11.7rem;
  position: absolute;
  left: 34.2887rem;
  top: 28.4239rem;
  display: flex;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.4550000191;
  letter-spacing: 1.56rem;
  color: #000000;
  font-family: Allan, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-bKy .item-10-Wf5 {
  width: 98.7rem;
  height: 145.5rem;
  position: absolute;
  left: 32.8rem;
  top: 0;
  display: flex;
  font-size: 100rem;
  font-weight: 400;
  line-height: 1.455;
  letter-spacing: 19.5rem;
  color: rgba(244, 198, 77, 0.4399999976);
  font-family: Amatic SC, 'Source Sans Pro';
  white-space: nowrap;
}
